Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, tsc, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

tsc:
  name: tsc
  entry: node
  args:
  - --max-old-space-size=4096
  - shared/node_modules/.bin/tsc
  - -p
  - shared/tsconfig.json
  language: node
  pass_filenames: false

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

fix bug
  shared/ios/KeybaseShare/FilesViewController.m
Due: none

add some comments
  shared/ios/KeybaseShare/FilesViewController.m
  shared/ios/KeybaseShare/ShareViewController.m
Due: none

listing sort of works
  go/bind/extension.go
  shared/ios/KeybaseShare/FilesViewController.m
Due: none

add some variables we'll need
  shared/ios/KeybaseShare/FilesViewController.m
Due: none

implement ExtensionListPath
  go/bind/extension.go
  go/bind/keybase.go
Due: none

switch to the memory minimal mode
  go/bind/extension.go
Due: none

w00t showing private/public/team
  shared/ios/KeybaseShare/FilesViewController.m
  shared/ios/KeybaseShare/ShareViewController.m
Due: none

add KBFS initialization to the share extension
  go/bind/extension.go
Due: none

send the path back up to the main controller
  shared/ios/KeybaseShare/FilesViewController.m
  shared/ios/KeybaseShare/ShareViewController.m
Due: none

Add colors and allow navigation back up
  go/bind/extension.go
  shared/ios/KeybaseShare/FilesViewController.h
  shared/ios/KeybaseShare/FilesViewController.m
  shared/ios/KeybaseShare/ShareViewController.m
Due: none

fixes to catch up with master
  go/bind/extension.go
  shared/ios/Keybase.xcodeproj/project.pbxproj
Due: none

Add Take Video on Android in Chat (#18810)
  shared/chat/conversation/input-area/filepicker-popup/index.native.tsx
Due: eslint, tsc, prettier

WIP
  shared/actions/git.tsx
  shared/constants/entities.tsx
  shared/constants/git.tsx
  shared/constants/types/entities.tsx
  shared/git/delete-repo/container.tsx
  shared/git/delete-repo/index.stories.tsx
  shared/git/delete-repo/index.tsx
  shared/git/index.stories.tsx
  shared/git/routes.tsx
Due: eslint, tsc, prettier

WIP
  shared/chat/conversation/messages/wrapper/long-pressable/index.native.tsx
Due: eslint, tsc, prettier

Add contentContainerStyle to success too
  shared/wallets/airdrop/qualify/index.tsx
Due: eslint, tsc, prettier

GetVerifiedConv shouldnt get stuck on localizer suspend
  go/chat/globals/context.go
  go/chat/utils/utils.go
Due: none

WIP
  shared/actions/typed-actions-gen.tsx
Due: eslint, tsc, prettier

GetVerifiedConv shouldnt get stuck on localizer suspend (#18817)
  go/chat/globals/context.go
  go/chat/utils/utils.go
Due: none

Revert "GetVerifiedConv shouldnt get stuck on localizer suspend (#18817)"
  go/chat/globals/context.go
  go/chat/utils/utils.go
Due: none

Revert "Revert "GetVerifiedConv shouldnt get stuck on localizer suspend (#18817)""
  go/chat/globals/context.go
  go/chat/utils/utils.go
Due: none

check val too
  go/chat/globals/context.go
Due: none

GetVerifiedConv shouldnt get stuck on localizer suspend (#18820)
  go/chat/globals/context.go
  go/chat/utils/utils.go
Due: none

WIP
  shared/common-adapters/floating-menu/menu-layout/index.desktop.tsx
  shared/common-adapters/list-item2.tsx
  shared/router-v2/account-switcher/container.tsx
  shared/router-v2/account-switcher/index.tsx
  shared/router-v2/tab-bar/index.desktop.tsx
Due: eslint, tsc, prettier

WIP
  shared/common-adapters/list-item2.css
Due: none

proto
  go/kbtest/chat.go
  go/protocol/chat1/remote.go
  protocol/avdl/chat1/remote.avdl
  protocol/json/chat1/remote.json
Due: none

WIP
  shared/rn-css-transformer.js
Due: eslint, prettier

WIP
  shared/index.ios.js
Due: eslint, prettier

WIP
  shared/actions/devices.tsx
  shared/actions/fs/platform-specific.desktop.tsx
Due: eslint, tsc, prettier

address ayoubd feedback, add tooltip
  shared/settings/account/index.tsx
Due: eslint, tsc, prettier

chainAction2 (#18679)
  shared/actions/devices.tsx
  shared/actions/fs/platform-specific.desktop.tsx
  shared/actions/platform-specific/index.native.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/actions/settings.tsx
  shared/actions/typed-actions-gen.tsx
  shared/desktop/yarn-helper/action-creator-creator.tsx
  shared/util/saga.tsx
Due: eslint, tsc, prettier

proto (#18686)
  go/kbtest/chat.go
  go/protocol/chat1/remote.go
  protocol/avdl/chat1/remote.avdl
  protocol/json/chat1/remote.json
Due: none

golangci-lint: disable `ifElseChain`
  go/.golangci.yml
Due: none

Path conditions:
  rn-story-mode: any of: shared/ios/Keybase/Storybook.m
  eslint: any of: \.(js|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
  prettier: any of: \.(js|ts|tsx)$
