Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, tsc, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet
  - --resolve-plugins-relative-to shared

tsc:
  name: tsc
  entry: node
  args:
  - --max-old-space-size=4096
  - shared/node_modules/.bin/tsc
  - -p
  - shared/tsconfig.json
  language: node
  pass_filenames: false

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

use proper flush mode for local metadata
  go/chat/inboxsource.go
  go/chat/server.go
  go/chat/types/interfaces.go
Due: none

squash test flake (#19505)
  go/systests/ephemeral_test.go
Due: none

always get tlfname summary in localize (#19498)
  go/chat/localizer.go
Due: none

Initial find/replace for closures (i'm so sorry)
  shared/fs/banner/reset-banner/index.tsx
  shared/fs/filepreview/text-view.desktop.tsx
Due: eslint, tsc, prettier

fix upload and path-item-icon styles
  shared/fs/footer/upload.native.tsx
Due: eslint, tsc, prettier

move style objects to stylesheetcreate
  shared/fs/filepreview/default-view.tsx
Due: eslint, tsc, prettier

fix prettier issues
  shared/fs/banner/reset-banner/index.tsx
  shared/fs/filepreview/text-view.desktop.tsx
Due: eslint, tsc, prettier

fix prettier errors
  shared/fs/common/kbfs-path.tsx
  shared/fs/common/path-info.tsx
  shared/fs/simple-screens/oops.tsx
Due: eslint, tsc, prettier

simplefs: correctly filter syncing paths by base name
  go/kbfs/simplefs/simplefs.go
Due: none

client: tweak uploads output text
  go/client/cmd_simplefs_uploads.go
Due: none

client: new `fs uploads` command
  go/client/cmd_simplefs.go
  go/client/cmd_simplefs_uploads.go
Due: none

Jenkinsfile: always run the full deadcode linter
  Jenkinsfile
Due: none

Jenkinsfile: don't fail if there are no packages to lint
  Jenkinsfile
Due: none

use proper flush mode for local metadata (#19507)
  go/chat/inboxsource.go
  go/chat/server.go
  go/chat/types/interfaces.go
Due: none

Revert storybook mobile change
  shared/ios/Keybase/Storybook.m
Due: rn-story-mode

Change the 'Continue' button label to 'Add' once there's at least one participant
  shared/team-building/continue-button.tsx
  shared/team-building/email-input/index.stories.tsx
  shared/team-building/email-input/index.tsx
  shared/team-building/index.stories.tsx
  shared/team-building/index.tsx
  shared/team-building/phone-search.tsx
Due: eslint, tsc, prettier

send by name nonblock
  go/teams/chatmessaging.go
Due: none

get rid of double parens in contact resolution notifications
  go/contacts/phonebook.go
Due: none

fs: fix bug where a soft error (no-access, non-existent) never gets cleared
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier

remove location status message
  go/chat/commands/location.go
Due: none

em dash
  go/contacts/phonebook.go
Due: none

get rid of double parens in contact resolution notifications (#19514)
  go/contacts/phonebook.go
Due: none

update lodash.template
  shared/package.json
  shared/yarn.lock
Due: none

More tweaks for PlainInput and Chat Input styles
  shared/chat/conversation/input-area/normal/platform-input.native.tsx
  shared/common-adapters/plain-input.native.tsx
Due: eslint, tsc, prettier

Cleanup
  shared/chat/conversation/input-area/normal/platform-input.native.tsx
Due: eslint, tsc, prettier

select first country result onEnterKeyDown
  shared/signup/phone-number/phone-input.tsx
Due: eslint, tsc, prettier

focus input on choosing country
  shared/signup/phone-number/phone-input.tsx
Due: eslint, tsc, prettier

move contacts transform into constants
  shared/actions/platform-specific/index.native.tsx
  shared/constants/settings.tsx
Due: eslint, tsc, prettier

WIP
  shared/actions/platform-specific/index.native.tsx
  shared/constants/push.tsx
  shared/constants/types/push.tsx
Due: eslint, tsc, prettier

Change the 'Continue' button label to 'Add' once there's at least one participant (#19509)
  shared/team-building/continue-button.tsx
  shared/team-building/email-input/index.stories.tsx
  shared/team-building/email-input/index.tsx
  shared/team-building/index.stories.tsx
  shared/team-building/index.tsx
  shared/team-building/phone-search.tsx
Due: eslint, tsc, prettier

Fix updateAccessibility call
  go/libkb/secret_store_darwin.go
Due: none

Remove unsafe update in sentVerificationEmail reducer (#19364)
  shared/reducers/settings.tsx
Due: eslint, tsc, prettier

rollback engine dispatch batching. make input monitor passive
  shared/actions/platform-specific/input-monitor.desktop.tsx
  shared/engine/index-impl.tsx
Due: eslint, tsc, prettier

go to people tab on notif tapped
  shared/actions/platform-specific/index.native.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/constants/push.tsx
Due: eslint, tsc, prettier

WIP
  shared/package.json
  shared/yarn.lock
Due: none

Path conditions:
  rn-story-mode: any of: shared/ios/Keybase/Storybook.m
  eslint: any of: \.(js|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
  prettier: any of: \.(js|ts|tsx)$
