Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/ios/Keybase/git-hook
        language: script
        files: shared/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.(js|ts|tsx)$
        args: [
            '--quiet'
        ]
    -   id: tsc
        name: tsc
        entry: node
        args: ['--max-old-space-size=4096', 'shared/node_modules/.bin/tsc', '-p', 'shared/tsconfig.json']
        language: node
        files: \.(ts|tsx)$
        pass_filenames: false
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.(js|ts|tsx)$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: b8194ff9d85455a702480677ada13ac4dbe94146
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

misc cleanup
  shared/settings/account/container.tsx
  shared/settings/account/index.tsx
Due: eslint, tsc, prettier

reduce instead of sorting to prevent superseded/non conflicts
  shared/actions/settings.tsx
Due: eslint, tsc, prettier

delete superseded number on add
  go/phonenumbers/user.go
  go/phonenumbers/user_test.go
Due: none

delete superseded in add if exists WIP
  go/phonenumbers/user.go
  go/phonenumbers/user_test.go
Due: none

Start the 4.4.0 cycle
  go/libkb/version.go
  shared/android/app/build.gradle
  shared/ios/Keybase/Info.plist
  shared/ios/KeybaseShare/Info.plist
Due: none

Start the 4.4.0 cycle (#18860)
  go/libkb/version.go
  shared/android/app/build.gradle
  shared/ios/Keybase/Info.plist
  shared/ios/KeybaseShare/Info.plist
Due: none

simply change password if performing legacy recovery while logged in
  go/engine/passphrase_recover.go
Due: none

WIP
  shared/ios/Keybase/Storybook.m
  shared/stories/index.desktop.tsx
  shared/storybook/index.native.js
  shared/storybook/webpack.config.js
  shared/util/feature-flags.native.tsx
Due: rn-story-mode, eslint, tsc, prettier

WIP
  shared/ios/Keybase/Storybook.m
Due: rn-story-mode

Add users program to make users
  go/tools/users/users.go
Due: none

remove proxy
  shared/styles/colors.tsx
Due: eslint, tsc, prettier

simply change password if performing legacy recovery while logged in (#18861)
  go/engine/passphrase_recover.go
Due: none

fix test maybe
  go/service/identify.go
Due: none

Contact token client support
  go/contacts/cache.go
  go/contacts/cache_test.go
  go/contacts/interface.go
  go/contacts/lookup.go
  go/contacts/mocks.go
  go/service/contacts.go
  go/service/usersearch_test.go
Due: none

teams: check "parent" links from hidden to visible team links (#18857)
  go/teams/ftl.go
  go/teams/hidden/errors.go
  go/teams/hidden/loader.go
  go/teams/loader.go
Due: none

message drafts (#18831)
  go/chat/inboxsource.go
  go/chat/localizer.go
  go/chat/server.go
  go/chat/server_test.go
  go/chat/storage/basebox.go
  go/chat/storage/inbox.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/local.json
  shared/actions/chat2/index.tsx
  shared/chat/conversation/input-area/normal/container.tsx
  shared/chat/inbox/row/big-team-channel/container.tsx
  shared/chat/inbox/row/big-team-channel/index.tsx
  shared/chat/inbox/row/small-team/bottom-line.tsx
  shared/chat/inbox/row/small-team/container.tsx
  shared/chat/inbox/row/small-team/index.tsx
  shared/constants/chat2/index.tsx
  shared/constants/chat2/meta.tsx
  shared/constants/types/chat2/index.tsx
  shared/constants/types/chat2/meta.tsx
  shared/constants/types/rpc-chat-gen.tsx
  shared/reducers/chat2.tsx
Due: eslint, tsc, prettier

vet
  go/systests/contacts_test.go
Due: none

new stellar logo, image optim
  shared/images/icons/icon-dns-48.png
  shared/images/icons/icon-dns-48@2x.png
  shared/images/icons/icon-dns-48@3x.png
  shared/images/icons/icon-dns-64.png
  shared/images/icons/icon-dns-64@2x.png
  shared/images/icons/icon-dns-64@3x.png
  shared/images/icons/icon-file-txt-48.png
  shared/images/icons/icon-file-txt-48@2x.png
  shared/images/icons/icon-file-txt-48@3x.png
  shared/images/icons/icon-file-txt-64.png
  shared/images/icons/icon-file-txt-64@2x.png
  shared/images/icons/icon-file-txt-64@3x.png
  shared/wallets/transaction/index.tsx
  shared/wallets/wallet/settings/container.tsx
  shared/wallets/wallet/settings/index.stories.tsx
Due: eslint, tsc, prettier

image optim again
  shared/images/icons/icon-email-add-48.png
  shared/images/icons/icon-email-add-48@2x.png
  shared/images/icons/icon-email-add-48@3x.png
  shared/images/icons/icon-email-add-64.png
  shared/images/icons/icon-email-add-64@2x.png
  shared/images/icons/icon-email-add-64@3x.png
  shared/images/icons/icon-email-add-96.png
  shared/images/icons/icon-email-add-96@2x.png
  shared/images/icons/icon-email-add-96@3x.png
Due: none

image optim
  shared/images/icons/icon-dns-48@2x.png
  shared/images/icons/icon-dns-48@3x.png
Due: none

use 5.0.1
  shared/ios/Podfile.lock
  shared/ios/Pods/Local Podspecs/EXAV.podspec.json
  shared/ios/Pods/Manifest.lock
  shared/package.json
  shared/yarn.lock
Due: none

😢
  shared/android/app/build.gradle
  shared/android/app/src/main/java/io/keybase/ossifrage/generated/BasePackageList.java
  shared/android/settings.gradle
Due: none

remove rnvideo pod
  shared/ios/Podfile
  shared/ios/Podfile.lock
  shared/ios/Pods/Headers/Private/react-native-video/RCTVideo.h
  shared/ios/Pods/Headers/Private/react-native-video/RCTVideoManager.h
  shared/ios/Pods/Headers/Private/react-native-video/RCTVideoPlayerViewController.h
  shared/ios/Pods/Headers/Private/react-native-video/RCTVideoPlayerViewControllerDelegate.h
  shared/ios/Pods/Headers/Private/react-native-video/UIView+FindUIViewController.h
  shared/ios/Pods/Headers/Public/react-native-video/RCTVideo.h
  shared/ios/Pods/Headers/Public/react-native-video/RCTVideoManager.h
  shared/ios/Pods/Headers/Public/react-native-video/RCTVideoPlayerViewController.h
  shared/ios/Pods/Headers/Public/react-native-video/RCTVideoPlayerViewControllerDelegate.h
  shared/ios/Pods/Headers/Public/react-native-video/UIView+FindUIViewController.h
  shared/ios/Pods/Manifest.lock
  shared/ios/Pods/Pods.xcodeproj/project.pbxproj
  shared/ios/Pods/Target Support Files/Pods-Keybase/Pods-Keybase-acknowledgements.markdown
  shared/ios/Pods/Target Support Files/Pods-Keybase/Pods-Keybase-acknowledgements.plist
  shared/ios/Pods/Target Support Files/Pods-Keybase/Pods-Keybase.debug.xcconfig
  shared/ios/Pods/Target Support Files/Pods-Keybase/Pods-Keybase.release.xcconfig
  shared/ios/Pods/Target Support Files/Pods-KeybaseShare/Pods-KeybaseShare.debug.xcconfig
  shared/ios/Pods/Target Support Files/Pods-KeybaseShare/Pods-KeybaseShare.release.xcconfig
  shared/ios/Pods/Target Support Files/react-native-video/react-native-video-dummy.m
  shared/ios/Pods/Target Support Files/react-native-video/react-native-video-prefix.pch
  shared/ios/Pods/Target Support Files/react-native-video/react-native-video.xcconfig
Due: none

fix android
  shared/common-adapters/av.native.tsx
  shared/common-adapters/av.shared.tsx
Due: eslint, tsc, prettier

review feedback from jzila
  shared/chat/conversation/messages/attachment/image/image-render.native.tsx
Due: eslint, tsc, prettier

remove rnvideo
  shared/android/app/src/main/java/io/keybase/ossifrage/MainApplication.java
Due: none

postinstall patch
  shared/desktop/yarn-helper/index.tsx
Due: eslint, tsc, prettier

teams: vendor in new teamchain test vectors
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/compile.sh
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_bad_ptk_type.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_bad_ratchet_blind.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_bad_ratchet_seqno.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_bad_signer_kid.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_conflicting_ratchet.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_conflicting_ratchet_2.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_ignore_if_unsupported.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_missing_ptk_gen.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_missing_ratchet_blinding_key.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_parent_bad_seqtype.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_parent_not_found.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_repeated_ptk_gen.json
  go/vendor/github.com/keybase/keybase-test-vectors/teamchains/hidden_wrong_seq_type.json
  go/vendor/vendor.json
Due: none

chain actions tracker
  shared/actions/tracker2.tsx
Due: eslint, tsc, prettier

WIP
  shared/chat/conversation/attachment-fullscreen/index.native.tsx
  shared/common-adapters/mobile.native.tsx
  shared/common-adapters/zoomable-image.native.tsx
Due: eslint, tsc, prettier

state wip
  shared/actions/recover-password.tsx
  shared/constants/recover-password.tsx
  shared/constants/types/recover-password.tsx
  shared/login/recover-password/device-selector/container.tsx
  shared/reducers/index.tsx
  shared/reducers/recover-password.tsx
Due: eslint, tsc, prettier
