Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

use a different arg for cache
  go/service/identify.go
Due: none

simplify cachearg
  go/service/user.go
Due: none

WIP
  shared/chat/conversation/list-area/normal/index.native.js
  shared/chat/conversation/messages/react-button/emoji-picker/index.js
  shared/common-adapters/section-list.desktop.js
  shared/common-adapters/section-list.js.flow
  shared/engine/index.platform.native.js
Due: eslint, flow, prettier

wip
  go/chat/flipmanager.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/chat/conversation/messages/coinflip/errors.js
  shared/chat/conversation/messages/coinflip/index.stories.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

stories
  shared/chat/conversation/messages/coinflip/errors.js
  shared/chat/conversation/messages/coinflip/index.stories.js
Due: eslint, flow, prettier

fix
  go/chat/flipmanager.go
  shared/chat/conversation/messages/coinflip/errors.js
Due: eslint, flow, prettier

very clean
  shared/chat/conversation/messages/coinflip/errors.js
Due: eslint, flow, prettier

Review feedback.
  shared/chat/conversation/messages/coinflip/container.js
  shared/chat/conversation/messages/coinflip/index.js
  shared/chat/conversation/messages/coinflip/index.stories.js
  shared/chat/conversation/messages/coinflip/participants.js
Due: eslint, flow, prettier

loadUserPlusKeysV2 via offline cache (#16404)
  go/protocol/keybase1/user.go
  go/service/main.go
  go/service/random_pw_test.go
  go/service/user.go
  go/systests/rpc_test.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
Due: none

Center username and timestamp when there's no bottom line on small teams in the inbox. (#16417)
  shared/chat/inbox/container/remote.js
  shared/chat/inbox/row/small-team/container.js
  shared/chat/inbox/row/small-team/index.js
Due: eslint, flow, prettier

red
  shared/chat/conversation/messages/coinflip/errors.js
Due: eslint, flow, prettier

delay error report from replay contingent on a status showing up during delay (#16419)
  go/chat/flipmanager.go
Due: none

Review feedback.
  shared/team-building/service-tab-bar.js
Due: eslint, flow, prettier

WIP
  shared/common-adapters/section-list.desktop.js
  shared/common-adapters/section-list.js.flow
Due: eslint, flow, prettier

not present in this branch
  go/chat/flipmanager.go
Due: none

Alert JS when engine has reset so it can reconnect (#15878)
  shared/engine/index.platform.native.js
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/KeybaseEngine.java
  shared/react-native/ios/Keybase/Engine.m
Due: eslint, flow, prettier

Fix C c accepting keybase prove warnings (#16405)
  go/engine/prove.go
Due: none

WIP
  shared/desktop/CHANGELOG.txt
Due: none

add giphy
  shared/desktop/CHANGELOG.txt
Due: none

Fix list-following failing to print out due to server's aggressive stubbing (#16362)
  go/client/cmd_list_following.go
  go/engine/list_tracking.go
  go/engine/list_tracking_test.go
  go/engine/track_test.go
  go/libkb/loaduser.go
  go/libkb/loaduser_test.go
  go/libkb/sig_chain.go
  go/libkb/user.go
Due: none

resolveIdentifyImplicitTeam via offline cache (#16403)
  go/protocol/keybase1/identify.go
  go/service/identify.go
  go/systests/rpc_test.go
  protocol/avdl/keybase1/identify.avdl
  protocol/json/keybase1/identify.json
Due: none

just ignore updates from the past
  go/chat/flipmanager.go
Due: none

feedback
  shared/chat/payments/confirm/index.js
Due: eslint, flow, prettier

Kill newTeamBuildingForChat flag (#16324)
  shared/__mocks__/feature-flags.js
  shared/actions/chat2/index.js
  shared/chat/inbox/container/index.js
  shared/chat/inbox/row/chat-filter-row/container.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.js.flow
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

Navigate up on new wallet creation with new router (#16396)
  shared/wallets/create-account/container.js
Due: eslint, flow, prettier

Fix a bunch of missing error checks
  go/stellar/build.go
  go/stellar/global.go
  go/stellar/inflation.go
  go/stellar/loader.go
  go/stellar/seqno.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

Add DetailsPlusPayments to remote protocol
  go/protocol/stellar1/remote.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

A little more cleanup
  go/stellar/bundle/boxer.go
  go/stellar/bundle/boxer_test.go
  go/stellar/note.go
  go/stellar/note_test.go
  go/stellar/relays/relays.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/service.go
Due: none
