Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

fix blackbar on no userinfo (#14094)
  shared/actions/tracker.js
Due: eslint, flow

fix missing desktop import (#14096)
  shared/actions/platform-specific/index.desktop.js
Due: eslint, flow

css hover
  shared/wallets/wallet-list/index.js
Due: eslint, flow

WIP (#14062)
  shared/unlock-folders/remote-serializer.desktop.js
Due: eslint, flow

Fix Windows release script (#14080)
  packaging/prerelease/release_windows_aws.sh
Due: none

[KBFS-3370]: Show widget [PUBLIC] tag for public TLFs in file update list (#14058)
  shared/menubar/files.desktop.js
Due: eslint, flow

use getBalanceChangeColor in message menu
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow

fix send to federated address (#14074)
  shared/actions/wallets.js
Due: eslint, flow

better logging on responses. provisionmanager done on provision flows. on maybe nav always take us to the root immediately. nav to final error page on top of root and dont navigate append
  shared/actions/provision.js
  shared/engine/transport-shared.js
Due: eslint, flow

use better cancel value
  shared/actions/provision.js
  shared/constants/provision.js
Due: eslint, flow

fix badge number on TlfType rows
  shared/fs/row/tlf-type-container.js
Due: eslint, flow

fix tests
  shared/actions/__tests__/provision.test.js
Due: eslint, flow

provision fixes
  shared/actions/__tests__/provision.test.js
  shared/actions/provision.js
  shared/constants/provision.js
  shared/engine/transport-shared.js
Due: eslint, flow

use getBalanceChangeColor in message menu (#14114)
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow

keybase_service_base: on an identify error, notify user breaks
  libkbfs/identify_util.go
  libkbfs/keybase_service_base.go
Due: none

Provisioning fixes (#14113)
  shared/actions/__tests__/provision.test.js
  shared/actions/provision.js
  shared/constants/provision.js
  shared/engine/transport-shared.js
Due: eslint, flow

Update button border radii.
  browser/css/style.css
  browser/manifest.json
  browser/yarn.lock
Due: none

profile search indexing cli (#14100)
  go/chat/search/indexer.go
  go/chat/search/indexer_test.go
  go/chat/search/profiling.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/client/cmd_chat_indexsearch.go
  go/client/cmd_chat_search.go
  go/client/commands_devel.go
  go/protocol/chat1/local.go
  go/service/main.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

Don't remove that.
  browser/manifest.json
Due: none

add balanceChangeSign and rename fcns
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/constants/wallets.js
Due: eslint, flow

Update button border radii. (#14115)
  browser/css/style.css
  browser/manifest.json
  browser/yarn.lock
Due: none

renames from review
  go/teams/ftl.go
Due: none

optionally prepend to balanceChange
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/constants/wallets.js
Due: eslint, flow

WIP
  shared/common-adapters/plain-input.stories.js
Due: eslint, flow

Add balanceChangeSign in constants (#14116)
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/constants/wallets.js
Due: eslint, flow

Phone numbers RPC and cli commands (#14102)
  go/client/cmd_phone_number.go
  go/client/cmd_phone_number_add.go
  go/client/cmd_phone_number_list.go
  go/client/cmd_phone_number_verify.go
  go/client/commands_devel.go
  go/phonenumbers/user.go
  go/phonenumbers/user_test.go
  go/protocol/keybase1/extras.go
  go/protocol/keybase1/user.go
  go/service/user.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

tokenize fix
  go/chat/search/tokenize_test.go
  go/chat/search/tokenizer.go
Due: none

search cli
  go/chat/search/indexer.go
  go/chat/search/profiling.go
  go/chat/server.go
  go/chat/server_test.go
  go/chat/types/interfaces.go
  go/client/chat_ui.go
  go/client/cmd_chat_inboxsearch.go
  go/client/cmd_chat_indexsearch.go
  go/client/commands_devel.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

escape
  go/chat/search/tokenize_test.go
  go/chat/search/tokenizer.go
Due: none

fix test
  go/chat/server_test.go
Due: none

swap names
  shared/actions/wallets.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
