Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

cleanup tmp files when listing all keys (#15009)
  go/ephemeral/device_ek_storage.go
  go/erasablekv/erasable_kv_store.go
  go/erasablekv/erasable_kv_store_test.go
Due: none

update yarn.lock for protocol (#15018)
  protocol/diff_test.sh
  protocol/yarn.lock
Due: none

WIP
  shared/chat/conversation/messages/wrapper/unfurl/generic/container.js
  shared/chat/conversation/messages/wrapper/unfurl/giphy/container.js
  shared/chat/conversation/messages/wrapper/unfurl/unfurl-list/container.js
Due: eslint, flow

on deprovision ensure we ignore the just revoked name (#14980)
  shared/reducers/config.js
Due: eslint, flow

Fix hint text placeholder on Android passphrase prompt (#14986)
  shared/provision/passphrase/index.native.js
Due: eslint, flow

Render ExplodingMeta in the case where we're exploding the message, since it's responsible for the boom animation
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

Change PaymentInfo to an array, load payments in TEXT msgs
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

dont upgrade kbfs if not logged in
  go/tlfupgrade/tlfupgrade.go
Due: none

disk lru implicit team lookup
  go/libkb/constants.go
  go/libkb/db.go
  go/libkb/globals.go
  go/protocol/keybase1/extras.go
  go/teams/conflicts.go
  go/teams/implicit.go
  go/teams/init.go
  go/teams/resolve.go
Due: none

nil cacher in engine tests
  go/teams/implicit.go
Due: none

allow exploded boom area to change size while transitioning
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

add exploding key too
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

return the correct offline value on markasread
  go/chat/server.go
Due: none

js side
  shared/actions/chat2/index.js
  shared/constants/chat2/message.js
Due: eslint, flow

fix josh crash
  shared/common-adapters/icon.shared.js
Due: eslint, flow

use in memory cache, logout hook
  go/libkb/db.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/lru/lru.go
  go/teams/implicit.go
Due: none

just replace what has changed for edit/attachment
  go/chat/supersedes.go
Due: none

Singleflight accountState.Refresh
  go/stellar/wallet_state.go
Due: none

add matchDimension prop to relative popup
  shared/common-adapters/floating-box/index.desktop.js
  shared/common-adapters/floating-box/index.types.js.flow
  shared/common-adapters/overlay/index.desktop.js
  shared/common-adapters/overlay/index.js.flow
  shared/common-adapters/relative-popup-hoc.desktop.js
  shared/common-adapters/relative-popup-hoc.types.js.flow
Due: eslint, flow

have relativePopupHOC always push back onto screen if not fully in
  shared/chat/conversation/messages/message-popup/attachment/index.js
  shared/chat/conversation/messages/message-popup/exploding/index.js
  shared/chat/conversation/messages/message-popup/payment/index.js
  shared/chat/conversation/messages/message-popup/text/index.js
  shared/common-adapters/relative-popup-hoc.desktop.js
Due: eslint, flow

memory lru implicit team lookup (#14990)
  go/libkb/constants.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/lru/lru.go
  go/protocol/keybase1/extras.go
  go/teams/conflicts.go
  go/teams/implicit.go
  go/teams/init.go
  go/teams/resolve.go
Due: none

feedback
  go/client/chat_ui.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

dkjskdskdjs
  shared/actions/chat2/index.js
Due: eslint, flow

mentions
  go/chat/supersedes.go
Due: none

Change PaymentInfo to an array, load payments in TEXT msgs (#15025)
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/chat2/index.js
  shared/constants/chat2/message.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

Singleflight accountState.Refresh (#15028)
  go/stellar/wallet_state.go
Due: none

just replace what has changed for edit/attachment (#15027)
  go/chat/supersedes.go
Due: none

WIP
  shared/chat/conversation/messages/set-channelname/index.js
  shared/chat/conversation/messages/set-description/index.js
  shared/chat/conversation/messages/system-joined/index.js
  shared/chat/conversation/messages/wrapper/container.js
  shared/constants/chat2/message.js
Due: eslint, flow

Actually implement setting bundle back to "AllDevices" mode
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service_test.go
Due: none

Style mobile only setting differently for mobile vs desktop
  shared/wallets/wallet/settings/index.js
Due: eslint, flow

Initial commit
  go/stellar/stellarsvc/frontend.go
  protocol/bin/enabled-calls.json
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/rpc-stellar-gen.js
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.js
  shared/wallets/wallet/settings/index.stories.js
Due: eslint, flow

Change protocol to add `enabled` argument to setAccountMobileOnlyLocal
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/wallets/wallet/settings/index.js
Due: eslint, flow

Added action to checkbox
  go/stellar/stellarsvc/frontend.go
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.js
  shared/wallets/wallet/settings/index.stories.js
Due: eslint, flow

background poller for home announcements
  go/home/home.go
  go/protocol/keybase1/home.go
  go/service/home.go
  go/service/main.go
  protocol/avdl/keybase1/home.avdl
  protocol/json/keybase1/home.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

review
  shared/wallets/send-form/choose-asset/index.js
Due: eslint, flow

WIP
  shared/actions/login.js
Due: eslint, flow

tweak currency list spacing in mobile send (#14928)
  shared/wallets/send-form/choose-asset/index.js
Due: eslint, flow

dont upgrade kbfs if not logged in (#15024)
  go/tlfupgrade/tlfupgrade.go
Due: none
