Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

move wallet spinner if we already have accounts (#17581)
  shared/people/index.native.js
  shared/wallets/wallet-list/index.js
Due: eslint, flow, prettier

remove fast image view. adjust fresco memory. add clip subview for android
  shared/chat/conversation/list-area/normal/index.native.js
  shared/common-adapters/native-image.native.js
  shared/react-native/android/app/build.gradle
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/CustomBitmapMemoryCacheParamsSupplier.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/MainApplication.java
  shared/react-native/android/settings.gradle
Due: eslint, flow, prettier

separate headline decoration into a separate field (#17582)
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/chat/header.desktop.js
  shared/constants/chat2/meta.js
  shared/constants/types/chat2/meta.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

teams: add exception for a rotate-after-revoke bug in the wild (#17583)
  go/teams/loader2.go
Due: none

fs/shared: fix error parse bug
  shared/actions/fs/shared.js
Due: eslint, flow, prettier

WIP
  shared/router-v2/header/index.desktop.js
Due: eslint, flow, prettier

turn off active chat reconnect logic
  go/chat/active.go
  go/chat/active_test.go
  go/chat/sender.go
  go/service/gregor.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/connection.go
  go/vendor/vendor.json
Due: none

cleanup
  shared/actions/fs/index.js
  shared/constants/fs.js
Due: eslint, flow, prettier

reorder and retry loading for new transactions in payment notifications
  go/stellar/global.go
  go/stellar/loader.go
Due: none

Handle source asset, amount in PaymentSummaryStellar transformations (#17564)
  go/protocol/stellar1/remote.go
  go/stellar/transform.go
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

turn off active chat reconnect logic (#17588)
  go/chat/active.go
  go/chat/active_test.go
  go/chat/sender.go
  go/service/gregor.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/connection.go
  go/vendor/vendor.json
Due: none

fix audio. clean up and unused file
  shared/react-native/ios/Keybase/AppDelegate.m
  shared/styles/status-bar.android.js
  shared/styles/status-bar.ios.js
  shared/styles/status-bar.js.flow
Due: eslint, flow, prettier

pegboard
  go/chat/globals/globals.go
  go/chat/localizer.go
  go/chat/teams.go
  go/chat/utils/utils.go
  go/engine/track_token.go
  go/identify3/service.go
  go/libkb/globals.go
  go/libkb/pegboard.go
  go/teams/chain.go
  go/teams/service_helper.go
  go/teams/teams.go
Due: none

feedback
  go/libkb/pegboard.go
Due: none

update
  go/chat/teams.go
  go/libkb/pegboard.go
Due: none

use libkb.BackoffPolicy and reduce number of attempted runs
  go/stellar/loader.go
Due: none

wip
  go/chat/giphy/search.go
Due: none

reorder and retry loading for new transactions in payment notifications (#17590)
  go/stellar/global.go
  go/stellar/loader.go
Due: none

text input fix
  shared/common-adapters/kb-text-input.native.js
  shared/common-adapters/native-wrappers.native.js
  shared/react-native/android/app/build.gradle
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/components/KBTextInput.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/components/KBTextInputManager.java
Due: eslint, flow, prettier

phone icon if on computer
  shared/constants/people.js
  shared/images/icons/icon-onboarding-phone-48.png
  shared/images/icons/icon-onboarding-phone-48@2x.png
  shared/images/icons/icon-onboarding-phone-48@3x.png
Due: eslint, flow, prettier

memory pressure changes
  shared/chat/conversation/list-area/normal/index.native.js
  shared/common-adapters/native-image.native.js
  shared/react-native/android/app/build.gradle
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/CustomBitmapMemoryCacheParamsSupplier.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/MainApplication.java
  shared/react-native/android/settings.gradle
Due: eslint, flow, prettier

icon constants
  shared/common-adapters/icon.constants.js
Due: eslint, flow, prettier

use asset client for giphy in url srv
  go/chat/attachment_httpsrv.go
Due: none

count for "tlf.conflict" in the updateTlf optimization
  shared/reducers/fs.js
Due: eslint, flow, prettier

test
  Jenkinsfile
Due: none

WIP
  shared/react-native/android/app/build.gradle
Due: none

escape dollar
  Jenkinsfile
Due: none

update rn to 598 webview to 582 (#17527)
  shared/package.json
  shared/yarn.lock
Due: none

WIP
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/Keybase.xcworkspace/contents.xcworkspacedata
  shared/react-native/ios/Podfile
  shared/react-native/ios/Podfile.lock
Due: none

working
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/Podfile
  shared/react-native/ios/Podfile.lock
Due: none

build script
  packaging/ios/build_and_publish.sh
Due: none

test
  packaging/ios/build_and_publish.sh
Due: none

Copy tweak
  shared/chat/conversation/maybe-mention/unknown.js
Due: eslint, flow, prettier

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
