Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Commit before refactor
  go/service/main.go
  go/stellar/global.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/wallet_state.go
Due: none

Add SendMiniChatPayments to stellar global chat interface
  go/libkb/interfaces.go
  go/libkb/stellar_stub.go
  go/service/debugging_devel.go
  go/stellar/global.go
  go/stellar/stellar.go
Due: none

SendMiniChatPayments works via debugging script
  go/chat/wallet/parser.go
  go/service/debugging_devel.go
  go/service/main.go
  go/service/wallet.go
  go/stellar/seqno.go
  go/stellar/stellar.go
Due: none

Moved wallet_state.go to stellar
  go/service/debugging_devel.go
  go/service/main.go
  go/stellar/global.go
  go/stellar/seqno.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/service.go
  go/stellar/wallet_state.go
Due: none

Add accountStateRefresh, fix tests
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

Replace SeqnoProvider with one that uses WalletState
  go/service/main.go
  go/service/wallet.go
  go/stellar/autoclaim.go
  go/stellar/global.go
  go/stellar/remote/remote.go
  go/stellar/seqno.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

Fix after rebase
  go/stellar/remote/remote.go
  go/stellar/stellar.go
  go/stellar/wallet_state.go
Due: none

Fix test
  go/chat/wallet/parser_test.go
Due: none

feedback
  go/client/cmd_email_add.go
  go/client/cmd_email_delete.go
  go/client/cmd_email_edit.go
  go/client/cmd_email_list.go
  go/client/cmd_email_set_primary.go
  go/client/cmd_email_set_visibility.go
  go/phonenumbers/user.go
  go/protocol/keybase1/phone_numbers.go
  go/pvl/interp.go
  go/service/emails.go
  protocol/avdl/keybase1/common.avdl
  protocol/avdl/keybase1/phone_numbers.avdl
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/phone_numbers.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Fix after rebase
  go/stellar/send.go
Due: none

use buildCounter to decide whether to accept built payments / requests
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

unneeded if
  shared/actions/wallets.js
Due: eslint, flow

testfix
  go/engine/prove_help_test.go
  go/jsonhelpers/json_helpers_test.go
  go/phonenumbers/user_test.go
Due: none

WIP (#14923)
  shared/.flowconfig
  shared/menubar/index.desktop.js
  shared/package.json
  shared/yarn.lock
Due: eslint, flow

cmd_launchd: don't silently fail on incorrect name
  go/launchd/launchd.go
Due: none

autogit: open .kbfs_git directory as read-only
  libfs/fs.go
  libgit/autogit_node_wrappers.go
Due: none

test
  go/chat/inboxsource.go
  go/chat/inboxsource_test.go
  go/chat/storage/inbox.go
Due: none

more
  go/chat/inboxsource_test.go
Due: none

testflush
  go/chat/inboxsource.go
  go/chat/inboxsource_test.go
Due: none

comments
  go/stellar/stellarsvc/service_test.go
Due: none

compile
  go/chat/storage/inbox_test.go
Due: none

don't highlight 'reveal' in copytext
  shared/common-adapters/copy-text.js
Due: eslint, flow

use buildCounter to decide whether to accept built payments / requests (#14924)
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

Refresh wallet state on reconnect
  go/libkb/interfaces.go
  go/libkb/stellar_stub.go
  go/service/gregor.go
  go/stellar/global.go
Due: none

set-visibility all
  go/client/cmd_email_set_visibility.go
  go/client/cmd_phone_number_set_visibility.go
  go/emails/user.go
  go/phonenumbers/user.go
  go/protocol/keybase1/emails.go
  go/protocol/keybase1/phone_numbers.go
  go/service/emails.go
  go/service/phone_numbers.go
  protocol/avdl/keybase1/emails.avdl
  protocol/avdl/keybase1/phone_numbers.avdl
  protocol/json/keybase1/emails.json
  protocol/json/keybase1/phone_numbers.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

tweak currency list spacing in mobile send
  shared/wallets/send-form/choose-asset/index.js
Due: eslint, flow

Add test for autoclaim loop using mocks (#14901)
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service_test.go
Due: none

write to the inbox cache in the background CORE-9566 (#14926)
  go/chat/helper.go
  go/chat/identify.go
  go/chat/inboxsource.go
  go/chat/inboxsource_test.go
  go/chat/storage/inbox.go
  go/chat/storage/inbox_test.go
  go/chat/sync_test.go
Due: none

new thread stale type: convupdate
  go/chat/convsource.go
  go/protocol/chat1/notify.go
  protocol/avdl/chat1/notify.avdl
  protocol/json/chat1/notify.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

Add SendMiniChatPayments for wallet in chat sends (#14922)
  go/chat/wallet/parser.go
  go/chat/wallet/parser_test.go
  go/libkb/interfaces.go
  go/libkb/stellar_stub.go
  go/service/debugging_devel.go
  go/service/gregor.go
  go/service/main.go
  go/service/wallet.go
  go/stellar/autoclaim.go
  go/stellar/global.go
  go/stellar/remote/remote.go
  go/stellar/send.go
  go/stellar/seqno.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

cmd_launchd: don't silently fail on incorrect name (#14925)
  go/launchd/launchd.go
Due: none

new text info for payments
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

tweaks
  shared/profile/container.js
  shared/profile/index.desktop.js
  shared/profile/index.native.js
Due: eslint, flow

wip
  go/chat/giphy/search.go
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/giphy/container.js
  shared/chat/conversation/giphy/index.js
  shared/chat/conversation/input-area/normal/container.js
  shared/reducers/chat2.js
Due: eslint, flow

Revert this change afterwards
  .eslintrc
Due: none
