Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

fix boxer tests
  go/chat/boxer_test.go
Due: none

revert locktab in storage
  go/chat/storage/inbox.go
  go/chat/storage/outbox.go
  go/chat/storage/storage.go
  go/chat/storage/version.go
Due: none

chat unfurl
  shared/actions/json/settings.json
  shared/actions/settings-gen.js
  shared/actions/settings.js
  shared/constants/settings.js
  shared/constants/types/settings.js
  shared/reducers/settings.js
  shared/settings/chat/container.js
Due: eslint, flow, prettier

CtxFactory
  go/chat/boxer.go
  go/chat/boxer_test.go
  go/chat/ctx_factory.go
  go/chat/globals/context.go
  go/chat/globals/globals.go
  go/chat/keyfinder.go
  go/chat/sender_test.go
  go/chat/server_test.go
  go/chat/types/interfaces.go
  go/chat/upgrade_test.go
  go/service/main.go
Due: none

remove debug
  shared/settings/delete-confirm/container.js
Due: eslint, flow, prettier

tidy up
  shared/actions/settings.js
Due: eslint, flow, prettier

wip
  shared/chat/conversation/header-area/normal/index.native.js
  shared/chat/conversation/list-area/normal/index.native.js
  shared/chat/conversation/search/index.desktop.js
  shared/chat/conversation/search/index.js.flow
  shared/chat/conversation/search/index.native.js
  shared/chat/conversation/search/index.types.js.flow
Due: eslint, flow, prettier

invites
  shared/actions/settings.js
  shared/constants/settings.js
  shared/settings/invites/container.js
Due: eslint, flow, prettier

wip
  shared/chat/conversation/header-area/normal/index.native.js
  shared/chat/conversation/list-area/normal/index.native.js
  shared/chat/conversation/normal/container.js
  shared/chat/conversation/normal/index.native.js
  shared/chat/conversation/search/index.js
  shared/chat/conversation/search/index.js.flow
  shared/chat/conversation/search/index.native.js
  shared/chat/conversation/search/index.types.js.flow
Due: eslint, flow, prettier

remove todo
  shared/chat/conversation/header-area/container.js
Due: eslint, flow, prettier

unneeded
  shared/chat/conversation/header-area/container.js
Due: eslint, flow, prettier

cleanup
  shared/chat/header.desktop.js
Due: eslint, flow, prettier

comment
  shared/chat/header.desktop.js
Due: eslint, flow, prettier

positional arg
  go/client/cmd_account_reset_start.go
Due: none

custom passphrase prompt
  go/engine/account_reset.go
  go/libkb/passphrase_helper.go
  go/libkb/passphrase_login.go
  go/service/account.go
  go/systests/account_reset_test.go
Due: none

enter reset pipeline with passphrase
  go/client/cmd_account_reset_start.go
  go/engine/account_reset.go
  go/kbtest/kbtest.go
  go/kbtest/ui.go
  go/libkb/api.go
  go/libkb/apiarg.go
  go/libkb/errors.go
  go/libkb/reset_delete.go
  go/protocol/keybase1/account.go
  go/service/account.go
  go/systests/account_reset_test.go
  go/systests/teams_test.go
  protocol/avdl/keybase1/account.avdl
  protocol/json/keybase1/account.json
Due: none

Update buttons sizes and add an icon option.
  shared/chat/conversation-filter-input.js
  shared/common-adapters/button.js
  shared/git/row/index.js
  shared/profile/user/actions/index.js
  shared/wallets/wallet/header/index.js
Due: eslint, flow, prettier

use arg instead
  go/client/cmd_account_reset_start.go
  go/engine/account_reset.go
  go/libkb/passphrase_helper.go
  go/libkb/passphrase_login.go
Due: none

Fix desktop sectionlist rendering nothing sometimes
  shared/common-adapters/section-list.desktop.js
Due: eslint, flow, prettier

Removed DisplayAmount, DisplayCurrency from Op
  go/protocol/stellar1/remote.go
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Fix mock
  go/stellar/stellarsvc/remote_mock_test.go
Due: none

fix test
  go/service/gregor_test.go
Due: none

sep
  shared/chat/conversation/list-area/normal/index.native.js
  shared/chat/conversation/normal/index.types.js.flow
  shared/chat/conversation/search/container.js
  shared/chat/conversation/search/index.js
  shared/chat/conversation/search/index.stories.js
Due: eslint, flow, prettier

on search, add metas instead of unhiding
  go/chat/server.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

fix test
  go/chat/boxer_test.go
Due: none

enter reset pipeline with passphrase (#16705)
  go/client/cmd_account_reset_start.go
  go/engine/account_reset.go
  go/kbtest/kbtest.go
  go/kbtest/ui.go
  go/libkb/api.go
  go/libkb/apiarg.go
  go/libkb/errors.go
  go/libkb/passphrase_helper.go
  go/libkb/passphrase_login.go
  go/libkb/reset_delete.go
  go/protocol/keybase1/account.go
  go/service/account.go
  go/systests/account_reset_test.go
  go/systests/teams_test.go
  protocol/avdl/keybase1/account.avdl
  protocol/json/keybase1/account.json
Due: none

Use multi payments for batch api (#16728)
  go/client/wallet_api_handler.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/batch_multi.go
  go/stellar/relays/relays.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service.go
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/github.com/keybase/stellarnet/amounts.go
  go/vendor/github.com/keybase/stellarnet/errors.go
  go/vendor/github.com/keybase/stellarnet/fee.go
  go/vendor/github.com/keybase/stellarnet/keys.go
  go/vendor/github.com/keybase/stellarnet/tx.go
  go/vendor/vendor.json
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

works
  shared/chat/conversation/messages/wrapper/index.js
  shared/chat/conversation/search/index.js
Due: eslint, flow, prettier

better
  shared/chat/conversation/list-area/normal/index.native.js
  shared/chat/conversation/normal/index.native.js
Due: eslint, flow, prettier

More button changes.
  shared/common-adapters/button.js
  shared/devices/index.js
  shared/teams/team/header/index.js
Due: eslint, flow, prettier

More button changes.
  shared/common-adapters/button.js
  shared/git/row/index.js
Due: eslint, flow, prettier

More changes.
  shared/common-adapters/button.js
  shared/profile/user/actions/index.js
Due: eslint, flow, prettier

stop chat modules in tests
  go/chat/ephemeral_purger.go
  go/kbtest/chat.go
Due: none

fix test
  go/chat/types/types.go
Due: none

ShouldUseParameterizedProofs -> true (#16721)
  go/libkb/constants.go
  go/libkb/globals.go
  go/libkb/identify_outcome.go
Due: none

Retain nav1 on mobile for now
  shared/chat/conversation/header-area/container.js
Due: eslint, flow, prettier
