Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

shorter
  go/chat/inboxsource.go
Due: none

feedback
  go/chat/inboxsource.go
  go/chat/server.go
Due: none

format
  go/chat/inboxsource.go
Due: none

onResend
  shared/signup/phone-number/index.stories.js
  shared/signup/phone-number/verify.js
Due: eslint, flow, prettier

allow unhighlighted matches
  go/chat/search/indexer.go
  go/chat/search_test.go
Due: none

another test fix
  go/engine/login.go
  go/engine/login_test.go
Due: none

EmptyStruct2
  go/chat/search/utils.go
  go/chat/search/utils_test.go
Due: none

Squash tls conn closed/protocol shutdown errors
  go/chat/errors.go
Due: none

comment
  go/chat/errors.go
Due: none

block_tree: use a fixed number of goroutines when readying blocks
  go/kbfs/data/block_tree.go
Due: none

block_tree: parallelize block-readying
  go/kbfs/data/block_tree.go
Due: none

Squash tls conn closed/protocol shutdown errors (#16896)
  go/chat/errors.go
Due: none

update iconfont
  shared/common-adapters/icon.constants.js
  shared/common-adapters/icon.css
  shared/fonts/kb.ttf
  shared/images/iconfont/123-kb-iconfont-heads-16.svg
  shared/images/iconfont/123-kb-iconfont-reload-16.svg
Due: eslint, flow, prettier

Update iconfont readme
  shared/images/iconfont/README.md
  shared/images/iconfont/zeplin-settings.png
Due: none

fix ctl stop
  go/kbfs/libfuse/mounter.go
  go/kbfs/libkbfs/init.go
  go/service/ctl.go
  go/service/main.go
  go/systests/device_common_test.go
  go/systests/multiuser_common_test.go
  go/systests/rekey_test.go
  go/systests/teams_test.go
  shared/actions/platform-specific/index.desktop.js
  shared/desktop/app/menu-helper.desktop.js
  shared/menubar/index.desktop.js
  shared/menubar/remote-container.desktop.js
  shared/router-v2/tab-bar/container.js
  shared/router-v2/tab-bar/index.desktop.js
  shared/router-v2/tab-bar/index.js.flow
Due: eslint, flow, prettier

bcache: specify hash behavior on Put
  go/kbfs/data/bcache.go
  go/kbfs/data/bcache_test.go
  go/kbfs/data/block_tree.go
  go/kbfs/data/data_types.go
  go/kbfs/data/dir_data_test.go
  go/kbfs/data/file_data_test.go
  go/kbfs/data/interfaces.go
  go/kbfs/libkbfs/block_retrieval_queue.go
  go/kbfs/libkbfs/data_mocks_test.go
  go/kbfs/libkbfs/folder_branch_ops.go
  go/kbfs/libkbfs/kbfs_ops_test.go
  go/kbfs/libkbfs/md_util_test.go
Due: none

Fixes to reset banner (#16868)
  go/client/cmd_account_reset_timetravel.go
  go/client/warnings.go
  go/protocol/keybase1/notify_badges.go
  protocol/avdl/keybase1/notify_badges.avdl
  protocol/json/keybase1/notify_badges.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fixed engine tests
  go/engine/login_test.go
Due: none

wtf
  shared/actions/engine-gen-gen.js
Due: eslint, flow, prettier

add conversation name search to SearchInbox CORE-10556 (#16921)
  go/chat/inboxsource.go
  go/chat/search_test.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/utils/dummy_chat_ui.go
  go/chat/utils/utils.go
  go/client/chat_cli_ui.go
  go/client/cmd_chat_search_inbox.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/common.go
  go/protocol/chat1/local.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/common.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/common.json
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/actions/engine-gen-gen.js
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

add textContentType to PlainInput
  shared/common-adapters/plain-input.js.flow
  shared/common-adapters/plain-input.native.js
  shared/signup/phone-number/verify.js
Due: eslint, flow, prettier

new approach, as suggested by reviewer:
  go/libkb/upak_loader.go
  go/protocol/keybase1/extras.go
Due: none

review feedback
  go/kbfs/libkbfs/keybase_service_base.go
  go/kbfs/simplefs/simplefs.go
  shared/__mocks__/feature-flags.js
  shared/actions/fs/index.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.js.flow
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

temp
  go/libkb/upak_loader.go
Due: none

wip
  go/libkb/upak_loader.go
Due: none

prettier
  shared/router-v2/tab-bar/container.js
  shared/util/close-window.desktop.js
  shared/util/close-window.js.flow
  shared/util/close-window.native.js
Due: eslint, flow, prettier

block_types: fix data race during `FileBlock.Set()`
  go/kbfs/data/block_types.go
Due: none

build with go1.10.8
  go/protocol/chat1/notify.go
  go/protocol/keybase1/constants.go
  go/protocol/keybase1/git.go
  go/protocol/keybase1/upk.go
Due: none

Update shared/common-adapters/switch.stories.js
  shared/common-adapters/switch.stories.js
Due: eslint, flow, prettier

use new style for Kb.Checkbox on mobile
  shared/common-adapters/checkbox.native.js
Due: eslint, flow, prettier

bugfix
  go/libkb/upak_loader.go
Due: none

polish
  go/libkb/upak_loader.go
Due: none

more polish
  go/libkb/upak_loader.go
Due: none

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
