Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

jenkins: Enable -race flag on linux KBFS tests.
  Jenkinsfile
Due: none

jenkins: If the Jenkinsfile changes, run all go tests no matter what.
  Jenkinsfile
Due: none

REVERT BEFORE MERGE: test Jenkins changes
  go/kbfs/simplefs/simplefs.go
Due: none

Got initial support working
  shared/common-adapters/list.native.js
  shared/wallets/wallet/header/wallet-switcher/container.js
  shared/wallets/wallet/header/wallet-switcher/index.js.flow
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

rowheight
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

remove selected account
  shared/wallets/wallet/header/wallet-switcher/container.js
  shared/wallets/wallet/header/wallet-switcher/index.js.flow
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Revert list change
  shared/common-adapters/list.js.flow
  shared/common-adapters/list.native.js
Due: eslint, flow

More tweaks
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix indent
  shared/wallets/wallet/header/wallet-switcher/index.js.flow
Due: flow

Fix list
  shared/common-adapters/list.js.flow
  shared/common-adapters/list.native.js
Due: eslint, flow

Font tweaks
  shared/styles/colors.js
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Add comment
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

calculate
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Pull out cancel
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix box
  shared/wallets/wallet/header/wallet-switcher/wallet-row/index.js
Due: eslint, flow

Progress
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Correct height
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix style
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Use max-height 100%
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix bug
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix text type
  shared/wallets/wallet/header/wallet-switcher/index.native.js
  shared/wallets/wallet/header/wallet-switcher/wallet-row/index.js
Due: eslint, flow

Put margin on last item
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix stellar
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix padding
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Plumb row props properly
  shared/wallets/wallet/header/wallet-switcher/index.native.js
Due: eslint, flow

Fix vert alignment
  shared/wallets/wallet/header/wallet-switcher/wallet-row/index.js
Due: eslint, flow

block_retrieval_queue: use infinite channel for work channels
  go/kbfs/libkbfs/block_retrieval_queue.go
  go/kbfs/libkbfs/block_retrieval_queue_test.go
  go/kbfs/libkbfs/block_retrieval_worker.go
Due: none

better props naming for Oops suggested by jzila
  shared/fs/oops/container.js
  shared/fs/oops/index.js
  shared/fs/oops/index.stories.js
Due: eslint, flow

prefetcher: refactor parent apply logic and add comment
  go/kbfs/libkbfs/prefetcher.go
Due: none

prefetcher: track wait channels of parent prefetches
  go/kbfs/libkbfs/prefetcher.go
Due: none

Update react-native-image-picker
  shared/yarn.lock
Due: none

Make EK logging less verbose & perf improvements
  go/ephemeral/device_ek_storage.go
  go/ephemeral/lib.go
  go/ephemeral/team_ek.go
  go/ephemeral/team_ek_box_storage.go
  go/ephemeral/user_ek.go
  go/ephemeral/user_ek_box_storage.go
Due: none
