Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

truncate ats
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/service.go
  go/stellar/transform.go
Due: none

disable send button on each recipient change (#14659)
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/reducers/wallets.js
  shared/wallets/send-form/participants/container.js
  shared/wallets/send-form/participants/index.stories.js
  shared/wallets/send-form/participants/to-field.js
Due: eslint, flow

Navigate to conversation after making request
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
Due: eslint, flow

Call buildPayment when we receive display currency for the send form
  shared/actions/wallets.js
Due: eslint, flow

export other xdg variables to service
  packaging/linux/run_keybase
Due: none

comment
  go/chat/convsource.go
Due: none

config_local: shutdown disk md cache
  libkbfs/config_local.go
  libkbfs/disk_md_cache.go
Due: none

Chat svc: convert System and Headline messages
  go/client/chat_svc_handler.go
Due: none

WIP
  shared/app/nav.native.js
  shared/wallets/send-form/participants/container.js
Due: eslint, flow

unfurling: add unfurls to messages returned to the UI CORE-9250 (#14658)
  go/chat/attachment_httpsrv.go
  go/chat/convsource.go
  go/chat/sender.go
  go/chat/server_test.go
  go/chat/supersedes.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/unfurl/display/display.go
  go/chat/unfurl/packager.go
  go/chat/unfurl/unfurler.go
  go/chat/unfurl_test.go
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  go/protocol/chat1/notify.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/notify.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/local.json
  protocol/json/chat1/notify.json
  protocol/json/chat1/unfurl.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

review feedback from jzila
  go/libkb/notify_router.go
  go/protocol/keybase1/notify_ctl.go
  protocol/avdl/keybase1/notify_ctl.avdl
  protocol/json/keybase1/notify_ctl.json
  shared/actions/notifications.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

Gold coins (#14655)
  shared/images/icons/icon-fancy-stellar-receiving-desktop-98-86.png
  shared/images/icons/icon-fancy-stellar-receiving-desktop-98-86@2x.png
  shared/images/icons/icon-fancy-stellar-receiving-desktop-98-86@3x.png
  shared/images/icons/icon-fancy-stellar-receiving-mobile-149-129.png
  shared/images/icons/icon-fancy-stellar-receiving-mobile-149-129@2x.png
  shared/images/icons/icon-fancy-stellar-receiving-mobile-149-129@3x.png
  shared/images/icons/icon-fancy-stellar-sending-desktop-98-86.png
  shared/images/icons/icon-fancy-stellar-sending-desktop-98-86@2x.png
  shared/images/icons/icon-fancy-stellar-sending-desktop-98-86@3x.png
  shared/images/icons/icon-fancy-stellar-sending-mobile-149-129.png
  shared/images/icons/icon-fancy-stellar-sending-mobile-149-129@2x.png
  shared/images/icons/icon-fancy-stellar-sending-mobile-149-129@3x.png
  shared/images/icons/icon-illustration-stellar-payments-183-188.png
  shared/images/icons/icon-illustration-stellar-payments-183-188@2x.png
  shared/images/icons/icon-illustration-stellar-payments-183-188@3x.png
  shared/images/icons/icon-stellar-coins-flying-48.png
  shared/images/icons/icon-stellar-coins-flying-48@2x.png
  shared/images/icons/icon-stellar-coins-flying-48@3x.png
Due: none

Chat svc: convert System and Headline messages (#14657)
  go/client/chat_svc_handler.go
Due: none

fix tests
  go/stellar/stellar_test.go
Due: none

fix markdown color issue
  shared/common-adapters/markdown/index.native.js
  shared/markdown/parser.js
Due: eslint, flow

start
  go/chat/server.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

pr feedback. switch to federated address
  shared/common-adapters/qr-not-authorized.js
  shared/provision/code-page/index.stories.js
  shared/provision/code-page/qr-scan/index.native.js
  shared/wallets/qr-scan/container.js
  shared/wallets/qr-scan/index.js.flow
  shared/wallets/qr-scan/index.native.js
  shared/wallets/receive-modal/index.js
Due: eslint, flow

wip
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/unfurl/unfurler.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
Due: none

test
  go/chat/types/types.go
  go/chat/unfurl_test.go
Due: none

WIP
  shared/settings/landing/container.js
  shared/settings/payment/container.js
Due: eslint, flow

disable FSActivity on mobile and move unused things to legacy (#14654)
  go/libkb/notify_router.go
  go/protocol/keybase1/notify_ctl.go
  protocol/avdl/keybase1/notify_ctl.avdl
  protocol/json/keybase1/notify_ctl.json
  shared/actions/notifications.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

move
  go/chat/server.go
Due: none

WIP
  shared/common-adapters/safe-area-view.native.js
Due: eslint, flow

protocol: add PrefetchStatus to Dirent for SimpleFSStat
  go/protocol/keybase1/simple_fs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

simpleFS: expose prefetch status in `keybase fs stat`
  go/client/cmd_simplefs_stat.go
Due: none

review
  shared/wallets/wallet/settings/container.js
Due: eslint, flow

up to version 2.11.0
  shared/react-native/android/app/build.gradle
  shared/react-native/ios/Keybase/Info.plist
  shared/react-native/ios/KeybaseShare/Info.plist
Due: none

up to version 2.11.0
  go/libkb/version.go
Due: none

Fix crasher
  shared/chat/conversation/messages/message-popup/header.js
Due: eslint, flow

store url alongside unfurl to dedup
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/unfurl/unfurler.go
  go/chat/utils/utils.go
  go/protocol/chat1/local.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/local.json
  protocol/json/chat1/unfurl.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

WIP
  shared/teams/add-people/container.js
  shared/teams/container.js
  shared/teams/edit-team-description/container.js
  shared/teams/invite-by-email/container.desktop.js
  shared/teams/invite-by-email/container.native.js
  shared/teams/join-team/container.js
  shared/teams/new-team/container.js
  shared/teams/really-leave-team/container-chat.js
  shared/teams/really-leave-team/container.js
  shared/teams/role-picker/container.js
  shared/teams/role-picker/controlled-container.js
  shared/teams/team/container.js
  shared/teams/team/custom-title/container.js
  shared/teams/team/header/add-people-how/container.js
  shared/teams/team/header/container.js
  shared/teams/team/invites-tab/invite-row/container.js
  shared/teams/team/invites-tab/request-row/container.js
  shared/teams/team/member/container.js
  shared/teams/team/members-tab/member-row/container.js
  shared/teams/team/menu-container.js
  shared/teams/team/really-remove-member/container.js
  shared/teams/team/settings-tab/container.js
  shared/teams/team/settings-tab/retention/container.js
  shared/teams/team/subteams-tab/add-row/container.js
  shared/teams/team/subteams-tab/intro-row/container.js
  shared/teams/team/subteams-tab/team-row/container.js
  shared/teams/team/tabs/container.js
Due: eslint, flow

get in loop too
  go/chat/unfurl/unfurler.go
Due: none

WIP (#14668)
  shared/common-adapters/safe-area-view.native.js
Due: eslint, flow

fix text in non text node
  shared/chat/conversation/messages/message-popup/header.js
Due: eslint, flow

Fix mobile crasher (#14672)
  shared/chat/conversation/messages/message-popup/header.js
Due: eslint, flow

Set lastSentXLM on making requests and log everything (#14662)
  shared/actions/config/index.js
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

test that doesn't work
  go/chat/server.go
  go/chat/unfurl_test.go
Due: none

test works
  go/chat/unfurl_test.go
Due: none
