Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

improve test and fix bugs
  go/chat/sender.go
  go/chat/server_test.go
  go/chat/unfurl/unfurler.go
  go/chat/unfurl_test.go
Due: none

more
  go/chat/unfurl_test.go
Due: none

longer
  go/chat/unfurl_test.go
Due: none

strip
  go/chat/sender.go
Due: none

use complete
  go/chat/convsource.go
  go/chat/types/interfaces.go
  go/chat/unfurl/unfurler_test.go
  go/chat/unfurl_test.go
Due: none

owntypes for git, some simplifications
  shared/git/container.js
  shared/git/delete-repo/container.js
  shared/git/new-repo/container.js
  shared/git/new-repo/index.js
  shared/git/new-repo/index.stories.js
  shared/git/row/container.js
  shared/git/select-channel/container.js
Due: eslint, flow

owntypes for login. fix a connect bug with name error
  shared/login/join-or-login/container.js
  shared/login/loading/container.js
  shared/login/relogin/container.js
  shared/login/routes.js
  shared/login/signup/device-name/container.js
  shared/login/signup/error/container.js
  shared/login/signup/invite-code/container.js
  shared/login/signup/passphrase/container.js
  shared/login/signup/request-invite-success/container.js
  shared/login/signup/request-invite/container.js
  shared/login/signup/username-email/container.js
Due: eslint, flow

use AssertLoggedinUID throughout chat local server (#14610)
  go/chat/server.go
  go/client/chat_cli_fetchers.go
  go/client/chat_cli_flag_utils.go
  go/client/cmd_chat_read.go
Due: none

Boost search results with RegexpSearcher (#14601)
  go/chat/search/constants.go
  go/chat/search/indexer.go
  go/chat/search/utils.go
  go/chat/search/utils_test.go
  go/chat/search_test.go
  go/chat/server.go
  go/chat/utils/utils.go
  go/chat/utils/utils_test.go
Due: none

clean
  go/chat/unfurl/unfurler.go
  go/chat/unfurl/utils.go
Due: none

fix tests
  go/chat/sender_test.go
  go/chat/server_test.go
  go/chat/types/types.go
Due: none

start
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/local.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/local.json
  protocol/json/chat1/unfurl.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

super
  go/chat/sender.go
  go/chat/supersedes.go
  go/chat/unfurl/unfurler.go
  go/chat/utils/utils.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

Specific styling for inbox snippets for simple-markdown
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

Update number
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

wip
  go/chat/attachment_httpsrv.go
  go/chat/convsource.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/unfurl/utils.go
  go/chat/utils/utils.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/unfurl.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

WIP
  shared/people/container.js
  shared/people/task/container.js
Due: eslint, flow

Specific styling for inbox snippets for simple-markdown (#14612)
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

WIP
  shared/people/task/container.js
Due: eslint, flow

owntypes for remotes
  shared/pinentry/remote-container.desktop.js
  shared/pinentry/remote-proxy.desktop.js
  shared/tracker/index.desktop.js
  shared/tracker/remote-container.desktop.js
Due: eslint, flow

WIP
  shared/profile/add-to-team/container.js
  shared/profile/confirm-or-pending/container.js
  shared/profile/container.js
  shared/profile/edit-avatar-placeholder/container.js
  shared/profile/edit-avatar/container.js
  shared/profile/edit-profile/container.js
  shared/profile/edit-profile/index.js.flow
  shared/profile/edit-profile/index.stories.js
  shared/profile/folders/container.js
  shared/profile/non-user-profile/container.js
  shared/profile/pgp/index.js
  shared/profile/post-proof/container.js
  shared/profile/prove-enter-username/container.js
  shared/profile/prove-website-choice/container.js
  shared/profile/revoke/container.js
  shared/profile/search/container.js
  shared/profile/showcase-team-offer/container.js
  shared/profile/showcased-team-info/container.js
Due: eslint, flow

Remove \b from the url req
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

WIP
  shared/profile/non-user-profile/container.js
Due: eslint, flow

Remove \b from the url req (#14621)
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

WIP
  shared/profile/pgp/index.js
  shared/profile/post-proof/container.js
Due: eslint, flow

Revert "Remove \b from the url req (#14621)"
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

WIP
  shared/profile/edit-profile/container.js
  shared/profile/prove-enter-username/container.js
  shared/profile/prove-website-choice/container.js
  shared/profile/revoke/container.js
  shared/profile/search/container.js
  shared/profile/showcase-team-offer/container.js
Due: eslint, flow

Revert "Remove \b from the url req (#14621)" (#14622)
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

tlf_history: treat files to ignore as prefixes
  kbfsedits/tlf_history.go
  kbfsedits/tlf_history_test.go
Due: none

owntypes for provision
  shared/chat/conversation/rekey/enter-paper-key.js
  shared/provision/code-page/container.js
  shared/provision/code-page/qr-scan/container.js
  shared/provision/error/container.js
  shared/provision/error/index.js
  shared/provision/gpg-sign/container.js
  shared/provision/paper-key/container.js
  shared/provision/paper-key/index.js
  shared/provision/passphrase/container.js
  shared/provision/select-other-device/container.js
  shared/provision/set-public-name/container.js
  shared/provision/username-or-email/container.js
  shared/provision/username-or-email/index.js.flow
Due: eslint, flow

owntypes for search
  shared/search/result-row/container.js
  shared/search/results-list/container.js
  shared/search/user-input/container.js
Due: eslint, flow

Boooool.
  shared/chat/conversation/input-area/normal/platform-input.desktop.js
Due: eslint, flow

Fix black bar in choose-asset performing a request from chat
  shared/wallets/send-form/choose-asset/container.js
Due: eslint, flow

Fix black bar in choose-asset performing a request from chat (#14631)
  shared/wallets/send-form/choose-asset/container.js
Due: eslint, flow
