Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: b8194ff9d85455a702480677ada13ac4dbe94146
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

better
  shared/common-adapters/section-list.desktop.js
Due: eslint, flow, prettier

WIP
  shared/chat/conversation/info-panel/menu/index.tsx
  shared/chat/conversation/input-area/suggestors/index.tsx
  shared/chat/conversation/maybe-mention/unknown.tsx
  shared/chat/conversation/messages/attachment/container.tsx
  shared/chat/conversation/messages/coinflip/index.stories.tsx
  shared/chat/conversation/messages/coinflip/index.tsx
  shared/chat/conversation/messages/coinflip/participants.tsx
  shared/chat/conversation/messages/message-popup/attachment/container.tsx
  shared/chat/conversation/messages/message-popup/index.tsx
  shared/chat/conversation/messages/message-popup/payment/index.stories.tsx
  shared/chat/conversation/messages/message-popup/payment/index.tsx
  shared/chat/conversation/messages/reaction-tooltip/index.stories.tsx
  shared/chat/conversation/messages/special-bottom-message.tsx
  shared/chat/conversation/messages/special-top-message.tsx
  shared/chat/conversation/messages/text/index.tsx
  shared/chat/inbox/container/remote.tsx
Due: none

WIP
  shared/native/log-send.android.tsx
  shared/native/log-send.d.ts
  shared/native/log-send.ios.tsx
  shared/native/log/logui.js
  shared/native/log/logui.tsx
  shared/native/logger.d.ts
  shared/native/logger.desktop.tsx
  shared/native/logger.native.tsx
  shared/native/notifications.d.ts
  shared/native/notifications.desktop.tsx
  shared/native/notifications.native.tsx
  shared/native/screenprotector.android.tsx
  shared/native/screenprotector.d.ts
  shared/native/screenprotector.ios.tsx
  shared/native/tab-bar.android.js
Due: eslint, flow, prettier

rename stellar exchange urls -> stellar partner urls
  go/libkb/constants.go
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_test.go
  go/systests/stellar_client_test.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

WIP
  shared/chat/conversation/info-panel/index.tsx
  shared/chat/conversation/input-area/normal/types.tsx
  shared/chat/index.stories.tsx
  shared/chat/manage-channels/edit-channel.tsx
  shared/package.json
Due: none

WIP
  shared/profile/edit-avatar/container.tsx
  shared/provision/code-page/container.tsx
  shared/provision/error/container.tsx
  shared/provision/forgot-username/container.tsx
  shared/provision/gpg-sign/container.tsx
  shared/provision/paper-key/container.tsx
  shared/provision/password/container.tsx
  shared/provision/select-other-device/container.tsx
  shared/provision/set-public-name/container.tsx
  shared/provision/username-or-email/container.tsx
  shared/route-tree/render-route.js
  shared/route-tree/render-route.tsx
Due: eslint, flow, prettier

WIP
  shared/router-v2/header/index.d.ts
  shared/router-v2/header/index.desktop.tsx
  shared/router-v2/header/index.native.tsx
  shared/router-v2/header/syncing-folders.tsx
  shared/router-v2/modal-helper.tsx
  shared/router-v2/router.d.ts
  shared/router-v2/router.desktop.tsx
  shared/router-v2/router.js.flow
  shared/router-v2/router.native.tsx
  shared/router-v2/router.shared.tsx
  shared/router-v2/routes.tsx
  shared/router-v2/shim.d.ts
  shared/router-v2/shim.desktop.tsx
  shared/router-v2/shim.native.tsx
  shared/router-v2/shim.shared.tsx
  shared/router-v2/switcheroo.tsx
  shared/router-v2/tab-bar/container.desktop.tsx
  shared/router-v2/tab-bar/index.desktop.tsx
  shared/router-v2/util.tsx
Due: flow

comment
  shared/common-adapters/section-list.desktop.js
Due: eslint, flow, prettier

fix desktop section list sticky calc (#17709)
  shared/common-adapters/section-list.desktop.js
Due: eslint, flow, prettier

WIP
  shared/router-v2/header/index.desktop.tsx
  shared/router-v2/header/syncing-folders.tsx
  shared/router-v2/modal-helper.tsx
  shared/router-v2/router.d.ts
  shared/router-v2/router.desktop.tsx
  shared/router-v2/router.native.tsx
  shared/router-v2/router.shared.tsx
  shared/router-v2/routes.tsx
  shared/router-v2/shim.d.ts
  shared/router-v2/switcheroo.tsx
  shared/router-v2/tab-bar/container.desktop.tsx
  shared/router-v2/tab-bar/index.desktop.tsx
  shared/router-v2/util.tsx
Due: none

WIP
  shared/settings/routes.d.ts
Due: none

updated the vendored package
  go/vendor/github.com/keybase/saltpack/classify_and_decrypt.go
  go/vendor/vendor.json
Due: none

WIP
  shared/git/delete-repo/container.tsx
  shared/git/new-repo/container.tsx
  shared/git/select-channel/container.tsx
  shared/login/routes.tsx
  shared/people/container.tsx
  shared/profile/add-to-team/container.tsx
  shared/profile/non-user-profile/container.tsx
  shared/profile/revoke/container.tsx
  shared/profile/showcase-team-offer/container.tsx
Due: none

WIP
  shared/logger/__test__/native-logger.test.js
  shared/logger/action-transformer.js
  shared/logger/console-logger.js
  shared/logger/dump-periodically-logger.js
  shared/logger/index.js
  shared/logger/native-logger.js
  shared/logger/null-logger.js
  shared/logger/ring-logger.js
  shared/logger/tee-logger.js
  shared/logger/types.js
Due: eslint, flow, prettier

Bust passphrase stream cache if it's outdated in places prone to failure (#17705)
  go/engine/kex2_provisioner.go
  go/engine/login_test.go
  go/engine/paperkey_gen.go
  go/libkb/active_device.go
  go/libkb/passphrase_stream.go
Due: none

updated the vendored package (#17723)
  go/vendor/github.com/keybase/saltpack/classify_and_decrypt.go
  go/vendor/vendor.json
Due: none

WIP
  shared/logger/__test__/native-logger.test.tsx
  shared/logger/action-transformer.tsx
  shared/logger/console-logger.tsx
  shared/logger/dump-periodically-logger.tsx
  shared/logger/index.tsx
  shared/logger/native-logger.tsx
  shared/logger/null-logger.tsx
  shared/logger/ring-logger.tsx
  shared/logger/tee-logger.tsx
  shared/logger/types.tsx
  shared/settings/feedback/container.native.tsx
Due: none

WIP
  shared/chat/inbox/index.native.tsx
Due: none

more fixups
  shared/wallets/nav-header/add-account.tsx
  shared/wallets/nav-header/container.tsx
  shared/wallets/send-form/asset-input/index.stories.tsx
  shared/wallets/send-form/index.stories.tsx
  shared/wallets/wallets-and-details/container.tsx
Due: none

fixup connects
  shared/wallets/airdrop/banner/container.tsx
  shared/wallets/airdrop/container.tsx
  shared/wallets/airdrop/qualify/container.tsx
  shared/wallets/asset/container.tsx
  shared/wallets/common/account-reloader.tsx
  shared/wallets/confirm-form/container.tsx
  shared/wallets/confirm-form/participants/container.tsx
  shared/wallets/create-account/container.tsx
  shared/wallets/export-secret-key/container.tsx
  shared/wallets/link-existing/container.tsx
  shared/wallets/onboarding/container.tsx
  shared/wallets/qr-scan/container.tsx
  shared/wallets/receive-modal/container.tsx
  shared/wallets/send-form/asset-input/container.tsx
  shared/wallets/send-form/available/container.tsx
  shared/wallets/send-form/body/container.tsx
  shared/wallets/send-form/choose-asset/container.tsx
  shared/wallets/send-form/container.tsx
  shared/wallets/send-form/footer/container.tsx
  shared/wallets/send-form/note-and-memo/container.tsx
  shared/wallets/send-form/participants/container.tsx
  shared/wallets/transaction-details/container.tsx
  shared/wallets/transaction/container.tsx
  shared/wallets/wallet-list/container.tsx
  shared/wallets/wallet-list/wallet-row/container.tsx
  shared/wallets/wallet/container.tsx
  shared/wallets/wallet/header/container.tsx
  shared/wallets/wallet/header/wallet-switcher/container.tsx
  shared/wallets/wallet/header/wallet-switcher/wallet-row/container.tsx
  shared/wallets/wallet/settings/container.tsx
  shared/wallets/wallet/settings/popups/inflation-destination/container.tsx
  shared/wallets/wallet/settings/popups/really-remove-account/container.tsx
  shared/wallets/wallet/settings/popups/remove-account/container.tsx
  shared/wallets/wallet/settings/popups/rename-account/container.tsx
  shared/wallets/wallet/settings/popups/set-default/container.tsx
Due: none

WIP
  shared/reducers/__tests__/chat2.tsx
  shared/reducers/__tests__/fs.tsx
  shared/reducers/__tests__/teams.tsx
  shared/reducers/chat2.tsx
  shared/reducers/config.tsx
  shared/reducers/dev.tsx
  shared/reducers/devices.tsx
  shared/reducers/entities.tsx
  shared/reducers/fs.tsx
  shared/reducers/git.tsx
  shared/reducers/gregor.tsx
  shared/reducers/index.tsx
  shared/reducers/login.tsx
  shared/reducers/notifications.tsx
  shared/reducers/people.tsx
  shared/reducers/pinentry.tsx
  shared/reducers/plan-billing.tsx
  shared/reducers/profile.tsx
  shared/reducers/provision.tsx
  shared/reducers/push.tsx
  shared/reducers/settings.tsx
  shared/reducers/signup.tsx
  shared/reducers/team-building.tsx
  shared/reducers/teams.tsx
  shared/reducers/tracker2.tsx
  shared/reducers/unlock-folders.tsx
  shared/reducers/users.tsx
  shared/reducers/waiting.tsx
  shared/reducers/wallets.tsx
Due: none

stick a 1px placeholder in desktop blank sections
  shared/common-adapters/section-list.desktop.js
Due: eslint, flow, prettier

typo
  shared/common-adapters/section-list.desktop.js
Due: eslint, flow, prettier

piping urls from the server to the front end (#17706)
  go/externals/init.go
  go/libcmdline/cmdline.go
  go/libkb/config.go
  go/libkb/constants.go
  go/libkb/env.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/libkb/merkle_client.go
  go/protocol/stellar1/local.go
  go/service/main.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_test.go
  go/systests/stellar_client_test.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

WIP
  shared/stories/README.md
  shared/stories/__tests__/Storyshots.test.tsx
  shared/stories/index.desktop.tsx
  shared/stories/mock-react-redux.tsx
  shared/stories/platform-stories.desktop.tsx
  shared/stories/platform-stories.native.tsx
  shared/stories/prop-providers.tsx
  shared/stories/shared-stories.tsx
  shared/stories/storybook.desktop.tsx
  shared/stories/storybook.native.tsx
  shared/stories/storybook.shared.tsx
Due: none

TS reducers
  shared/reducers/__tests__/chat2.tsx
  shared/reducers/__tests__/fs.tsx
  shared/reducers/__tests__/teams.tsx
  shared/reducers/chat2.tsx
  shared/reducers/config.tsx
  shared/reducers/dev.tsx
  shared/reducers/devices.tsx
  shared/reducers/entities.tsx
  shared/reducers/fs.tsx
  shared/reducers/git.tsx
  shared/reducers/gregor.tsx
  shared/reducers/index.tsx
  shared/reducers/login.tsx
  shared/reducers/notifications.tsx
  shared/reducers/people.tsx
  shared/reducers/pinentry.tsx
  shared/reducers/plan-billing.tsx
  shared/reducers/profile.tsx
  shared/reducers/provision.tsx
  shared/reducers/push.tsx
  shared/reducers/settings.tsx
  shared/reducers/signup.tsx
  shared/reducers/team-building.tsx
  shared/reducers/teams.tsx
  shared/reducers/tracker2.tsx
  shared/reducers/unlock-folders.tsx
  shared/reducers/users.tsx
  shared/reducers/waiting.tsx
  shared/reducers/wallets.tsx
Due: none

TS logger (#17724)
  shared/logger/__test__/native-logger.test.tsx
  shared/logger/action-transformer.tsx
  shared/logger/console-logger.tsx
  shared/logger/dump-periodically-logger.tsx
  shared/logger/index.tsx
  shared/logger/native-logger.tsx
  shared/logger/null-logger.tsx
  shared/logger/ring-logger.tsx
  shared/logger/tee-logger.tsx
  shared/logger/types.tsx
  shared/settings/feedback/container.native.tsx
Due: none

TS: route tree (#17721)
  shared/git/delete-repo/container.tsx
  shared/git/new-repo/container.tsx
  shared/git/select-channel/container.tsx
  shared/login/routes.tsx
  shared/people/container.tsx
  shared/profile/add-to-team/container.tsx
  shared/profile/edit-avatar/container.tsx
  shared/profile/non-user-profile/container.tsx
  shared/profile/revoke/container.tsx
  shared/profile/showcase-team-offer/container.tsx
  shared/provision/code-page/container.tsx
  shared/provision/error/container.tsx
  shared/provision/forgot-username/container.tsx
  shared/provision/gpg-sign/container.tsx
  shared/provision/paper-key/container.tsx
  shared/provision/password/container.tsx
  shared/provision/select-other-device/container.tsx
  shared/provision/set-public-name/container.tsx
  shared/provision/username-or-email/container.tsx
  shared/route-tree/render-route.js
  shared/route-tree/render-route.tsx
Due: eslint, flow, prettier

TS routerv2 (#17722)
  shared/router-v2/header/index.d.ts
  shared/router-v2/header/index.desktop.tsx
  shared/router-v2/header/index.native.tsx
  shared/router-v2/header/syncing-folders.tsx
  shared/router-v2/modal-helper.tsx
  shared/router-v2/router.d.ts
  shared/router-v2/router.desktop.tsx
  shared/router-v2/router.js.flow
  shared/router-v2/router.native.tsx
  shared/router-v2/router.shared.tsx
  shared/router-v2/routes.tsx
  shared/router-v2/shim.d.ts
  shared/router-v2/shim.desktop.tsx
  shared/router-v2/shim.js.flow
  shared/router-v2/shim.native.tsx
  shared/router-v2/shim.shared.tsx
  shared/router-v2/switcheroo.tsx
  shared/router-v2/tab-bar/container.desktop.tsx
  shared/router-v2/tab-bar/index.desktop.tsx
  shared/router-v2/util.tsx
  shared/settings/routes.d.ts
Due: flow

WIP
  shared/__mocks__/electron.tsx
  shared/__mocks__/empty.tsx
  shared/__mocks__/engine-saga.js
  shared/__mocks__/engine-saga.tsx
  shared/__mocks__/engine.tsx
  shared/__mocks__/feature-flags.tsx
  shared/__mocks__/file-mock.tsx
  shared/__mocks__/global-image-stub.js
  shared/__mocks__/global-image-stub.tsx
  shared/__mocks__/hidden-string.tsx
  shared/__mocks__/hoc-timers.tsx
  shared/__mocks__/local-debug.tsx
  shared/__mocks__/platform.tsx
  shared/__mocks__/react-list.tsx
  shared/__mocks__/react-redux.tsx
  shared/__mocks__/react-virtualized-auto-sizer.tsx
  shared/__mocks__/resolve-root.tsx
  shared/__mocks__/saga.tsx
Due: eslint, flow, prettier

proof of concept fix
  go/engine/login.go
  go/engine/login_provision.go
  go/libkb/globals.go
Due: none

log casing cleanup
  go/engine/login.go
Due: none

prefetcher: fire new requests if the block refnonce is different
  go/kbfs/libkbfs/prefetcher.go
Due: none

WIP
  shared/stories/__tests__/Storyshots.test.tsx
Due: none

remove testing import
  go/stellar/global.go
  go/systests/stellar_test.go
Due: none

WIP
  shared/stories/__tests__/Storyshots.test.js
Due: eslint, flow, prettier
