Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

deps again...
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
Due: none

rework addpeoplehow
  shared/chat/conversation/info-panel/add-people.js
Due: eslint, flow, prettier

Create fonts.txt
  packaging/licenses/fonts.txt
Due: none

deps...
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
Due: none

modern style
  shared/chat/inbox/index.desktop.js
Due: eslint, flow, prettier

wip
  go/chat/types/interfaces.go
Due: none

move to reducer
  shared/actions/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow, prettier

build-actions
  shared/actions/engine-gen-gen.js
Due: eslint, flow, prettier

WIP
  shared/fs/routes.js
  shared/settings/routes.desktop.js
Due: eslint, flow, prettier

Try default electron-spellchecker.
  shared/desktop/app/spellcheck.desktop.js
  shared/desktop/renderer/main.desktop.js
  shared/desktop/webpack.config.babel.js
  shared/desktop/yarn-helper/index.js
  shared/package.json
  shared/yarn.lock
Due: eslint, flow, prettier

dismiss giphy preview on click
  shared/reducers/chat2.js
Due: eslint, flow, prettier

send through the hash of commitment complete on reveal
  go/chat/flip/chat_test.go
  go/chat/flip/dealer.go
  go/chat/flip/dealer_test.go
  go/chat/flip/errors.go
  go/chat/flip/prot.avdl
  go/chat/flip/prot.go
  go/chat/flip/secret.go
  go/chat/flip/types.go
Due: none

WIP
  shared/package.json
Due: none

WIP
  shared/desktop/app/spellchecker.desktop.js
Due: eslint, flow, prettier

packaging: Resolve tocttou issue by checking that process still exists before restarting
  packaging/linux/post_install.sh
Due: none

fixes
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
  go/chat/flip/prot.avdl
Due: none

Don't call getInbox while filtering & simplify initial load (#15989)
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/inbox/container/index.js
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/index.native.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/index.types.js.flow
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow, prettier

send through the hash of commitment complete on reveal (#16032)
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
  go/chat/flip/chat_test.go
  go/chat/flip/dealer.go
  go/chat/flip/dealer_test.go
  go/chat/flip/errors.go
  go/chat/flip/prot.avdl
  go/chat/flip/prot.go
  go/chat/flip/secret.go
  go/chat/flip/types.go
Due: none

packaging: Resolve tocttou issue by checking that process still exists before restarting (#16034)
  packaging/linux/post_install.sh
Due: none

libgit: unwrap the error properly when checking for a timeout
  go/kbfs/libgit/repo.go
Due: none

WIP
  shared/router-v2/router.desktop.js
  shared/settings/routes.desktop.js
  shared/wallets/routes.js
  shared/wallets/transaction-details/container.js
  shared/wallets/wallets-and-details/container.js
  shared/wallets/wallets-and-details/index.js
Due: eslint, flow, prettier

WIP
  shared/router-v2/shim.js.flow
Due: flow

Revendor gomobile (#15850)
  go/vendor/golang.org/x/mobile/bind/gen.go
  go/vendor/golang.org/x/mobile/bind/genjava.go
  go/vendor/golang.org/x/mobile/bind/genobjc.go
  go/vendor/golang.org/x/mobile/bind/genobjcw.go
  go/vendor/golang.org/x/mobile/cmd/gomobile/bind_iosapp.go
  go/vendor/golang.org/x/mobile/cmd/gomobile/build.go
  go/vendor/golang.org/x/mobile/cmd/gomobile/dex.go
  go/vendor/golang.org/x/mobile/cmd/gomobile/doc.go
  go/vendor/golang.org/x/mobile/cmd/gomobile/env.go
  go/vendor/golang.org/x/mobile/cmd/gomobile/main.go
  go/vendor/golang.org/x/mobile/internal/importers/java/java.go
  go/vendor/golang.org/x/mobile/internal/importers/objc/objc.go
  go/vendor/vendor.json
Due: none

switchUserMu becomes a VerboseLock
  go/ephemeral/lib.go
  go/libkb/context.go
  go/libkb/globals.go
  go/libkb/vlock.go
Due: none

Update go/ephemeral/lib.go
  go/ephemeral/lib.go
Due: none

update test
  go/systests/profile_test.go
Due: none

include number of files in cache dirs
  go/client/cmd_status.go
  go/libkb/util.go
  go/protocol/keybase1/config.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

hide deleted team members from Details
  go/teams/service_helper.go
Due: none

fix tests
  go/systests/multiuser_common_test.go
  go/systests/team_reset_test.go
  go/teams/member_test.go
Due: none

wip
  go/chat/commands/giphy.go
  go/chat/commands/me.go
  go/chat/commands/msg.go
  go/chat/commands/shrug.go
  go/chat/flip/dealer.go
  go/chat/flipmanager.go
  go/chat/helper.go
  go/git/put.go
  go/libkb/interfaces.go
  go/protocol/chat1/local.go
  go/stellar/stellar.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

feedback
  go/teams/service_helper.go
Due: none

Only scroll to selected convo if the filter is focused
  shared/chat/inbox/container/index.js
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/index.types.js.flow
Due: eslint, flow, prettier

include number of files in cache dirs (#16036)
  go/client/cmd_status.go
  go/libkb/util.go
  go/protocol/keybase1/config.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Add SeqnoLock()
  go/stellar/batch.go
  go/stellar/inflation.go
  go/stellar/seqno.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/batch_test.go
  go/stellar/stellarsvc/minichat_test.go
  go/stellar/stellarsvc/seqno_test.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

Fix inuseSeqno clearing
  go/stellar/wallet_state.go
Due: none

Add debug logging for seqno
  go/stellar/stellar.go
Due: none
