Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

use syscall instead of sys/unix
  go/kbfs/libkbfs/disk_limits_unix.go
Due: none

clarify in comment suggested by strib
  go/kbfs/libkbfs/disk_limits_unix.go
Due: none

use syscall instead of sys/unix (#16917)
  go/kbfs/libkbfs/disk_limits_unix.go
Due: none

android: Clean up sharing a bit more, including loading the name of the shared file from the content resolver.
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/IntentHandler.java
Due: none

android: Allow sharing other types of binary files other than PDF.
  shared/react-native/android/app/src/main/AndroidManifest.xml
Due: none

android: Remove getCurrentActivity from getShareLocalPath, and rename getShareLocalPath to getShareData
  shared/actions/platform-specific/index.native.js
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/IntentHandler.java
Due: eslint, flow, prettier

build_number 66
  shared/react-native/ios/fastlane/Fastfile
Due: none

sigh
  shared/chat/conversation/reply-preview/index.js
  shared/chat/conversation/reply-preview/index.stories.js
Due: eslint, flow, prettier

nicer
  shared/chat/conversation/messages/text/index.js
Due: eslint, flow, prettier

Fix invalid username permaspinner in generic proofs (#16914)
  shared/profile/generic/enter-username/index.js
Due: eslint, flow, prettier

wip
  go/chat/types/interfaces.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

wip
  go/chat/inboxsource.go
Due: none

works
  go/chat/inboxsource.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/utils/utils.go
  go/client/chat_cli_ui.go
  go/client/cmd_chat_search_inbox.go
  go/protocol/chat1/common.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/common.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/common.json
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

wip
  go/chat/server.go
  go/chat/utils/utils.go
Due: none

wip
  go/chat/inboxsource.go
  go/chat/utils/dummy_chat_ui.go
  go/client/chat_cli_ui.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

Freshness
  go/teams/create.go
  go/teams/teams.go
Due: none

only navigate to profileGenericEnterUsername once
  shared/actions/profile/proofs.js
Due: eslint, flow, prettier

further engine fixes
  go/engine/account_reset.go
  go/engine/login_provision.go
  go/engine/login_test.go
Due: none

m -> mctx
  go/engine/account_reset.go
Due: none

fix adding PGP from prooflist on nav1
  shared/actions/profile/proofs.js
Due: eslint, flow, prettier

changes according to review
  go/client/ui.go
  go/engine/account_reset.go
  go/engine/login.go
  go/engine/login_provision.go
  go/libkb/constants.go
Due: none

Fixes to reset banner
  go/client/cmd_account_reset_timetravel.go
  go/client/warnings.go
  go/protocol/keybase1/notify_badges.go
  protocol/avdl/keybase1/notify_badges.avdl
  protocol/json/keybase1/notify_badges.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

new label right side
  shared/common-adapters/button.js
  shared/profile/user/index.js
Due: eslint, flow, prettier

libkbfs: address jzila review feedback on data reformat
  go/kbfs/libkbfs/cr_chains.go
  go/kbfs/libkbfs/kbfs_ops_test.go
  go/kbfs/libkbfs/md_util.go
  go/kbfs/test/clocktest/clock.go
Due: none

decent
  go/chat/inboxsource.go
Due: none

remove boost and disable bkg loader during search (#16894)
  go/chat/search/indexer.go
  go/chat/search_test.go
  go/chat/server.go
Due: none

implement subTitle for floating-menu (#16875)
  shared/common-adapters/floating-menu/menu-layout/index.js.flow
  shared/common-adapters/floating-menu/menu-layout/index.native.js
Due: eslint, flow, prettier

tests
  go/chat/inboxsource.go
  go/chat/search_test.go
  go/kbtest/chat.go
Due: none

fix adding PGP from prooflist on nav1 (#16919)
  shared/actions/profile/proofs.js
Due: eslint, flow, prettier
