Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

unfurling: extract URLs and classify action against settings CORE-9245 (#14569)
  go/chat/unfurl/extractor.go
  go/chat/unfurl/extractor_test.go
  go/chat/unfurl/settings.go
  go/chat/unfurl/settings_test.go
  go/protocol/chat1/extras.go
  go/vendor/github.com/mvdan/xurls/LICENSE
  go/vendor/github.com/mvdan/xurls/README.md
  go/vendor/github.com/mvdan/xurls/go.mod
  go/vendor/github.com/mvdan/xurls/go.sum
  go/vendor/github.com/mvdan/xurls/schemes.go
  go/vendor/github.com/mvdan/xurls/tlds.go
  go/vendor/github.com/mvdan/xurls/tlds_pseudo.go
  go/vendor/github.com/mvdan/xurls/xurls.go
  go/vendor/vendor.json
Due: none

dont amplify filtered convID list (#14575)
  go/chat/storage/inbox.go
Due: none

fix js test
  shared/constants/chat2/__test__/message.test.js
Due: eslint, flow

Add Status to InboxQuery (#14577)
  go/chat/search/indexer.go
Due: none

Display ephemeral unboxing error message (#14559)
  go/chat/errors.go
  shared/constants/chat2/message.js
Due: eslint, flow

ellipsize long teamnames in inbox
  shared/chat/inbox/row/big-team-header/index.js
  shared/common-adapters/box-grow.js
  shared/common-adapters/index.js
Due: eslint, flow

Update some deps (#14552)
  shared/package.json
  shared/provision/code-page/index.js
  shared/yarn.lock
Due: eslint, flow

add new unfurl chat message type CORE-9247 (#14576)
  go/chat/msgchecker/boxed_checker.go
  go/chat/msgchecker/constants.go
  go/chat/msgchecker/plaintext_checker.go
  go/chat/sender.go
  go/protocol/chat1/common.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/common.avdl
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/common.json
  protocol/json/chat1/local.json
  protocol/json/chat1/unfurl.json
  shared/actions/chat2/index.js
  shared/constants/chat2/__test__/message.test.js
  shared/constants/chat2/message.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

banner
  go/stellar/bpc.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
Due: none

Display config for all proof types
  go/externals/services.go
  go/externals/services_test.go
  go/libkb/remote_proof_links.go
  go/protocol/keybase1/prove_common.go
  protocol/avdl/keybase1/prove_common.avdl
  protocol/json/keybase1/prove_common.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

check domain = display key
  go/externals/services.go
Due: none

test
  go/stellar/stellarsvc/frontend_test.go
Due: none

allow specifying an android device ID during push (#14444)
  shared/react-native/pushAndroid.sh
Due: none

Accept a styleOverride for markdown
  shared/chat/conversation/info-panel/header.js
  shared/chat/conversation/messages/text/index.js
  shared/common-adapters/markdown/index.js.flow
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
  shared/wallets/common/markdown-memo.js
Due: eslint, flow

fix downloads on Android
  shared/actions/fs/index.js
  shared/constants/fs.js
Due: eslint, flow

fix stories
  shared/fs/index.stories.js
Due: eslint, flow

PR feedback
  shared/constants/fs.js
  shared/fs/index.stories.js
Due: eslint, flow

Adding ownprops: wallet settings (#14564)
  shared/flow-typed/npm/fs-extra_v7.x.x.js
  shared/flow-typed/npm/jest_v23.x.x.js
  shared/flow-typed/npm/moment_v2.x.x.js
  shared/flow-typed/npm/prettier_v1.x.x.js
  shared/util/typed-connect.js.flow
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/popups/really-remove-account/container.js
  shared/wallets/wallet/settings/popups/remove-account/container.js
  shared/wallets/wallet/settings/popups/rename-account/container.js
  shared/wallets/wallet/settings/popups/rename-account/index.js
  shared/wallets/wallet/settings/popups/set-default/container.js
  shared/wallets/wallets-and-details/container.js
Due: eslint, flow

fix android
  shared/app/global-errors/index.native.js
  shared/app/nav.native.js
  shared/chat/conversation/attachment-fullscreen/index.native.js
  shared/chat/conversation/attachment-video-fullscreen/index.native.js
  shared/common-adapters/index.js
  shared/common-adapters/mobile.native.js
  shared/common-adapters/safe-area-view.desktop.js
  shared/common-adapters/safe-area-view.js.flow
  shared/common-adapters/safe-area-view.native.js
  shared/profile/index.native.js
  shared/provision/code-page/index.js
Due: eslint, flow

make to stellar address field expand with error message
  shared/wallets/send-form/participants/to-field.js
Due: eslint, flow

favorites: expire cache after 1 week
  libkbfs/favorites.go
Due: none

libkbfs: actually invalidate favorites cache
  libkbfs/favorites.go
  libkbfs/keybase_daemon_rpc.go
Due: none

favorites: shorten cache on refresh error
  libkbfs/favorites.go
Due: none

WIP
  shared/app/nav.native.js
  shared/provision/code-page/index.js
Due: eslint, flow

oops
  shared/actions/fs/index.js
Due: eslint, flow

[KBFS-3561] Fix downloads on Android (#14585)
  shared/actions/fs/index.js
  shared/fs/index.stories.js
Due: eslint, flow

flow 85 fixes
  shared/app/global-errors/container.js
  shared/app/main.native.js
  shared/app/nav.desktop.js
  shared/app/nav.native.js
  shared/app/nav.types.js.flow
  shared/app/push-prompt.native.js
  shared/app/tab-bar/container.js
Due: eslint, flow

Revert "favorites: shorten cache on refresh error"
  libkbfs/favorites.go
Due: none

Revert "libkbfs: actually invalidate favorites cache"
  libkbfs/favorites.go
  libkbfs/keybase_daemon_rpc.go
Due: none

Revert "favorites: expire cache after 1 week"
  libkbfs/favorites.go
Due: none

Add error handling for markdown
  shared/common-adapters/markdown/index.stories.js
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

ellipsize long teamnames in inbox (#14579)
  shared/chat/inbox/row/big-team-header/index.js
  shared/common-adapters/box-grow.js
  shared/common-adapters/index.js
Due: eslint, flow

don't try FindNextMerkleRootAfter with Seqnos < 835903
  go/libkb/merkle_tools.go
Due: none

flow 85 fixes (#14588)
  shared/app/global-errors/container.js
  shared/app/main.native.js
  shared/app/nav.desktop.js
  shared/app/nav.native.js
  shared/app/nav.types.js.flow
  shared/app/push-prompt.native.js
  shared/app/tab-bar/container.js
Due: eslint, flow

Proper support for nested block quotes
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

don't try FindNextMerkleRootAfter with Seqnos < 835903 (#14589)
  go/libkb/merkle_tools.go
Due: none

PR comments
  shared/chat/conversation/messages/text/index.js
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

Handle urls without httpt push -f
  shared/common-adapters/markdown/react.js
Due: eslint, flow

fix styles for widget team items
  shared/chat/inbox/row/small-team/top-line.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
