Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

fix tests
  go/chat/convsource_test.go
  go/kbtest/chat.go
Due: none

Scroll inbox to top when filter changes
  shared/chat/inbox/container/filtered.js
  shared/chat/inbox/container/index.js
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/index.types.js.flow
Due: eslint, flow, prettier

only suggest emojis if there's an alphanumeric in the filter (#16065)
  shared/chat/conversation/input-area/normal/index.js
Due: eslint, flow, prettier

calc selected index when we need it
  shared/chat/inbox/container/index.js
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/index.types.js.flow
Due: eslint, flow, prettier

servernow rpc (#16060)
  go/chat/convsource_test.go
  go/kbtest/chat.go
  go/protocol/chat1/remote.go
  protocol/avdl/chat1/remote.avdl
  protocol/json/chat1/remote.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

WIP
  shared/chat/inbox-and-conversation-2.desktop.js
  shared/chat/inbox/container/index.js
  shared/common-adapters/header-hoc/index.desktop.js
  shared/constants/config.js
  shared/desktop/app/main-window.desktop.js
  shared/git/container.js
  shared/people/container.js
  shared/people/index.shared.js
  shared/profile/container.js
  shared/profile/user/container.js
  shared/route-tree/render-route.js
  shared/router-v2/header/index.desktop.js
  shared/router-v2/router.native.js
  shared/router-v2/routes.js
  shared/router-v2/switcheroo.js
  shared/router-v2/tab-bar/container.js
  shared/router-v2/tab-bar/index.desktop.js
  shared/router-v2/tab-bar/index.js.flow
  shared/settings/feedback-container.native.js
  shared/teams/routes.js
  shared/teams/team/container.js
  shared/wallets/routes.js
Due: eslint, flow, prettier

WIP
  shared/router-v2/router.js.flow
Due: flow

Scroll inbox to top when filter changes (#16073)
  shared/chat/inbox/container/filtered.js
  shared/chat/inbox/container/index.js
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/index.types.js.flow
Due: eslint, flow, prettier

skip remote calls when fully read
  go/chat/convsource.go
  go/chat/server_test.go
  go/chat/storage/storage.go
  go/protocol/chat1/extras.go
Due: none

WIP
  shared/router-v2/header/index.desktop.js
  shared/router-v2/router.desktop.js
  shared/router-v2/router.native.js
  shared/router-v2/router.shared.js
  shared/router-v2/routes.js
  shared/router-v2/shim.desktop.js
  shared/router-v2/shim.shared.js
  shared/router-v2/switcheroo.js
Due: eslint, flow, prettier

Add animated component.
  shared/common-adapters/animated.js
  shared/common-adapters/animated.js.flow
  shared/common-adapters/animated.stories.js
  shared/common-adapters/index.js
  shared/common-adapters/index.stories.js
  shared/libs/flow-interface.js.flow
  shared/package.json
  shared/yarn.lock
Due: eslint, flow, prettier

Revert "Revert "Update circleci image (new one with python2)""
  .circleci/config.yml
Due: none

better error msg
  go/engine/login_provision.go
Due: none

better err msg
  go/engine/login_provision.go
Due: none

better
  go/engine/login_provision.go
Due: none

normalize device name for dup check
  go/engine/login_provision.go
  go/libkb/checkers.go
  go/libkb/checkers_test.go
  go/libkb/interfaces.go
  go/protocol/keybase1/extras.go
  shared/reducers/provision.js
Due: eslint, flow, prettier

remove old test
  shared/actions/__tests__/provision.test.js
Due: eslint, flow, prettier

Remove Babel runtime change.
  shared/yarn.lock
Due: none

WIP
  shared/actions/platform-specific/index.native.js
  shared/chat/routes.js
  shared/constants/router2.js
  shared/local-debug.native.js
  shared/profile/container.js
  shared/profile/index.native.js
  shared/react-native/ios/Keybase/Info.plist
  shared/react-native/ios/KeybaseShare/Info.plist
  shared/router-v2/tab-bar/index.native.js
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

Add stricter typing.
  shared/common-adapters/animated.js.flow
Due: flow

avoid stale bootstrap info with one more try
  go/engine/bootstrap.go
  go/protocol/keybase1/config.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/actions/config-gen.js
  shared/actions/config/index.js
  shared/actions/json/config.json
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

cleanup
  shared/actions/config/index.js
Due: eslint, flow, prettier

Use 'View signature' instead of 'View proof' for zcash, as with btc (#16046)
  shared/constants/tracker.js
  shared/profile/index.desktop.js
  shared/profile/index.native.js
  shared/tracker2/assertion/index.js
Due: eslint, flow, prettier

Use showusername logic to decide which username to go to when clicked on (#16047)
  shared/chat/conversation/messages/wrapper/container.js
Due: eslint, flow, prettier

WIP
  shared/wallets/routes.js
Due: eslint, flow, prettier

Change the text but not the button type, when moving between Following/Unfollow on profile (#16048)
  shared/profile/follow-button/index.js
Due: eslint, flow, prettier

Babel runtime resolution.
  shared/package.json
  shared/yarn.lock
Due: none

Normalize Device Names when checking duplicates (#16066)
  go/engine/login_provision.go
  go/libkb/checkers.go
  go/libkb/checkers_test.go
  go/libkb/interfaces.go
  go/protocol/keybase1/extras.go
  shared/actions/__tests__/provision.test.js
  shared/reducers/provision.js
Due: eslint, flow, prettier

Fix proof row spacing on mobile
  shared/profile/user/index.js
  shared/profile/user/teams/index.js
Due: eslint, flow, prettier

comment
  go/teams/transactions.go
Due: none

Revert "cleanup"
  shared/actions/config/index.js
Due: eslint, flow, prettier

Revert "avoid stale bootstrap info with one more try"
  go/engine/bootstrap.go
  go/protocol/keybase1/config.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/actions/config-gen.js
  shared/actions/config/index.js
  shared/actions/json/config.json
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

New kb_ua format to make URLs prettier (#16058)
  go/externals/proof_service_generic_social.go
  go/libkb/constants.go
Due: none

initial impl
  go/client/cmd_show_notifications.go
  go/engine/merkle_audit.go
  go/engine/merkle_audit_test.go
  go/kbfs/libkbfs/keybase_service_base.go
  go/libkb/notify_router.go
  go/protocol/keybase1/notify_audit.go
  go/protocol/keybase1/notify_ctl.go
  protocol/avdl/keybase1/notify_audit.avdl
  protocol/avdl/keybase1/notify_ctl.avdl
  protocol/json/keybase1/notify_audit.json
  protocol/json/keybase1/notify_ctl.json
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
