Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

ws
  go/chat/sync.go
Due: none

count context cancled in bkg loader
  go/chat/convloader.go
Due: none

dont clear on cancel
  go/chat/inboxsource.go
Due: none

preview mode requires a content field
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

preview mode requires a content field (#15385)
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

only put styles on if the badge should be visible
  shared/chat/inbox/row/big-team-header/index.js
Due: eslint, flow

jenkins: Ensure the change target has been fetched even for JS tests.
  Jenkinsfile
Due: none

expand rpc canceling mechanism to backgrounding the app, and use on chat CORE-9768 (#15375)
  go/chat/convloader.go
  go/chat/errors.go
  go/chat/inboxsource.go
  go/chat/server.go
  go/chat/sync.go
  go/libkb/appstate.go
  go/libkb/globals.go
  go/libkb/rpccanceler.go
  go/libkb/rpccanceler_test.go
  go/libkb/rpccanceller.go
  go/service/canceling.go
  go/service/main.go
Due: none

only put styles on if the badge should be visible (#15386)
  shared/chat/inbox/row/big-team-header/index.js
Due: eslint, flow

fix show in finder for image attachments
  shared/chat/conversation/messages/attachment/image/index.js
Due: eslint, flow

fix show in finder for image attachments (#15388)
  shared/chat/conversation/messages/attachment/image/index.js
Due: eslint, flow

removed Boom icon from snippet, message box
  shared/chat/conversation/input-area/normal/platform-input.desktop.js
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

tweaked message popups
  shared/chat/conversation/messages/message-popup/exploding/index.js
  shared/chat/conversation/messages/message-popup/header.js
  shared/chat/conversation/messages/message-popup/payment/index.js
Due: eslint, flow

added padding to exploded tag
  shared/chat/conversation/messages/wrapper/exploding-height-retainer/index.desktop.js
  shared/chat/conversation/messages/wrapper/exploding-height-retainer/index.native.js
Due: eslint, flow

Tweaked search boxes
  shared/chat/inbox/row/chat-filter-row/index.js
  shared/people/index.desktop.js
  shared/people/index.native.js
  shared/people/index.shared.js
  shared/profile/index.desktop.js
  shared/profile/index.native.js
Due: eslint, flow

copy fix
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

remove stale comment
  shared/common-adapters/list2.desktop.js
Due: eslint, flow

WIP
  shared/common-adapters/header-hoc/index.native.js
Due: eslint, flow

WIP
  shared/profile/user/teams/container.js
  shared/profile/user/teams/index.js
Due: eslint, flow

Add "(approximately $X.XX ABC)" to direct payments without display currencies (#15354)
  go/protocol/chat1/chat_ui.go
  go/protocol/stellar1/local.go
  go/stellar/loader.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/transform.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/stellar1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/stellar1/local.json
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/chat/conversation/messages/account-payment/index.stories.js
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/chat/conversation/messages/message-popup/payment/index.js
  shared/chat/conversation/messages/message-popup/payment/index.stories.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction-details/index.js
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/container.js
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Move fetching build ID into openSendRequestForm
  shared/actions/wallets.js
Due: eslint, flow

add temp right spacing to header hoc (#15379)
  shared/common-adapters/header-hoc/index.native.js
Due: eslint, flow

call buildPayment after getting an ID
  shared/actions/wallets.js
Due: eslint, flow

race in payment details
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction-details/index.js
Due: eslint, flow

folder_branch_ops: use background context to commit MD
  go/kbfs/libkbfs/folder_branch_ops.go
Due: none

bail on buildPayment with no bid
  shared/actions/wallets.js
Due: eslint, flow

cleanup
  go/chat/push.go
Due: none

find correct orange line message
  go/chat/server.go
  shared/constants/chat2/meta.js
  shared/constants/types/chat2/meta.js
  shared/reducers/chat2.js
Due: eslint, flow

test
  go/chat/server.go
  go/chat/server_test.go
Due: none

wip
  go/chat/server.go
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/local.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/chat2.js
Due: eslint, flow

max visible msg id
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/extras.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

fix loop
  go/chat/server.go
Due: none

Fix note length check
  go/chat/msgchecker/constants.go
  go/chat/msgchecker/plaintext_checker.go
  go/chat/server_test.go
  go/client/wallet_api_handler.go
Due: none

refactor
  go/client/cmd_chat_api_listen.go
  go/client/wallet_api_handler.go
  go/protocol/chat1/extras.go
Due: none

WIP
  shared/desktop/webpack.config.babel.js
  shared/package.json
  shared/yarn.lock
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
