Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

add assetsearch to stellard rpc interface (#17018)
  go/protocol/stellar1/remote.go
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

wip
  shared/chat/conversation/reply-preview/index.js
Due: eslint, flow, prettier

WIP
  shared/app/global-errors/container.js
  shared/package.json
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/router-v2/router.native.js
  shared/yarn.lock
Due: eslint, flow, prettier

protocol: add a way to communicate the bytes synced by a TLF
  go/protocol/keybase1/kbfs_common.go
  protocol/avdl/keybase1/kbfs_common.avdl
  protocol/json/keybase1/kbfs_common.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

simplefs: print total stored bytes for synced TLFs and overall
  go/client/cmd_simplefs_sync_show.go
  go/kbfs/simplefs/simplefs.go
Due: none

disk_block_cache: add a way to get the bytes used by a TLF
  go/kbfs/libkbfs/disk_block_cache.go
  go/kbfs/libkbfs/disk_block_cache_remote.go
  go/kbfs/libkbfs/disk_block_cache_wrapped.go
  go/kbfs/libkbfs/interfaces.go
Due: none

work on nav, hook up actions
  shared/signup/device-name/container.js
  shared/signup/email/index.js
  shared/signup/phone-number/container.js
  shared/signup/routes.js
  shared/signup/username/container.js
Due: eslint, flow, prettier

Update follow button on profiles to reflect their following status of you.
  shared/profile/user/actions/container.js
  shared/profile/user/actions/follow-button.js
  shared/profile/user/actions/index.js
Due: eslint, flow, prettier

Add phone formatter JS back in
  shared/actions/signup.js
  shared/package.json
  shared/signup/device-name/container.js
  shared/signup/phone-number/container.js
  shared/signup/phone-number/index.js
  shared/util/phone-numbers/index.js
  shared/yarn.lock
Due: eslint, flow, prettier

cmd_simplefs_sync_show: Avoid a NaN in the output to user.
  go/client/cmd_simplefs_sync_show.go
Due: none

Go1.12 symlink detection vs Dokan issue, pass test for now
  go/kbfs/libdokan/mount_test.go
Due: none

WIP
  go/protocol/stellar1/extras.go
Due: none

Fix stellarRetryClient for new APIs
  go/systests/stellar_client_test.go
Due: none

Add ChangeTrustlineLimitLocal, add tests
  go/protocol/stellar1/extras.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/trustlines.go
Due: none

Improve tests
  go/stellar/stellarsvc/frontend_test.go
Due: none

Add change-limit command, add limit/balance checks
  go/client/cmd_wallet.go
  go/client/cmd_wallet_trustline.go
  go/stellar/trustlines.go
Due: none

WIP
  go/client/cmd_wallet.go
  go/client/cmd_wallet_trustline.go
  go/libkb/stellar.go
  go/protocol/stellar1/common.go
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/trustlines.go
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/github.com/keybase/stellarnet/assets.go
  go/vendor/github.com/keybase/stellarnet/tx.go
  go/vendor/vendor.json
  protocol/avdl/stellar1/common.avdl
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/common.json
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Use primary account by default in trustline ops
  go/client/cmd_wallet_trustline.go
  go/stellar/trustlines.go
Due: none

Revendor stellarnet, adapt trustlines to string amount
  go/stellar/trustlines.go
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/github.com/keybase/stellarnet/amounts.go
  go/vendor/github.com/keybase/stellarnet/assets.go
  go/vendor/github.com/keybase/stellarnet/pages.go
  go/vendor/github.com/keybase/stellarnet/tx.go
  go/vendor/vendor.json
Due: none

fix eslint
  shared/profile/generic/proofs-list/index.js
Due: eslint, flow, prettier

use enums instead of messages
  go/client/ui.go
  go/engine/account_reset.go
  go/engine/login_provision.go
  go/engine/login_provisioned_device.go
  go/protocol/keybase1/login_ui.go
  protocol/avdl/keybase1/login_ui.avdl
  protocol/json/keybase1/login_ui.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

resetPending var rework
  go/engine/account_reset.go
  go/engine/login.go
  go/engine/login_provision.go
  go/engine/login_provisioned_device.go
Due: none

regenerated proto on go1.12.4
  go/protocol/chat1/notify.go
  go/protocol/keybase1/constants.go
  go/protocol/keybase1/git.go
  go/protocol/keybase1/upk.go
Due: none

preview preview string
  shared/teams/rename-team/index.js
Due: eslint, flow, prettier

search session (#17107)
  go/chat/search/indexer.go
  go/chat/search/session.go
Due: none

mobile
  shared/chat/conversation/messages/text/index.js
  shared/chat/conversation/reply-preview/index.js
Due: eslint, flow, prettier

Nav2 devices header
  shared/constants/devices.js
  shared/devices/container.js
  shared/devices/index.js
  shared/devices/nav-header/container.js
  shared/devices/nav-header/index.js
Due: eslint, flow, prettier

not middot
  shared/devices/nav-header/index.js
Due: eslint, flow, prettier

flash
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/list-area/normal/container.js
  shared/chat/conversation/messages/text/container.js
  shared/chat/conversation/messages/wrapper/container.js
  shared/chat/conversation/messages/wrapper/index.js
  shared/chat/conversation/reply-preview/index.js
  shared/chat/conversation/search/container.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow, prettier

fs: hide syncing folders when offline
  shared/fs/common/index.stories.js
  shared/router-v2/header/syncing-folders.js
Due: eslint, flow, prettier

* as Styles
  shared/common-adapters/button.js
Due: eslint, flow, prettier

Styles.classNames
  shared/common-adapters/button.js
Due: eslint, flow, prettier

fixes from the latest review
  go/client/ui.go
  go/engine/login_provision.go
  go/protocol/keybase1/login_ui.go
  protocol/avdl/keybase1/login_ui.avdl
  protocol/json/keybase1/login_ui.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

Add instructions for setting channel descriptions
  shared/chat/header.desktop.js
Due: eslint, flow, prettier
