Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

conflict_resolver: refactor `isStuck` and rename fail mode var
  go/kbfs/libkbfs/conflict_resolver.go
  go/kbfs/libkbfs/folder_branch_ops.go
  go/kbfs/libkbfs/test_common.go
Due: none

protocol: add simplefs method for forcing a stuck conflict
  go/client/simplefs_test.go
  go/kbfs/simplefs/simplefs.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

folder_branch_ops: add a test method for forcing a stuck conflict
  go/kbfs/libkbfs/conflict_resolver.go
  go/kbfs/libkbfs/folder_branch_ops.go
  go/kbfs/libkbfs/interfaces.go
  go/kbfs/libkbfs/kbfs_cr_test.go
  go/kbfs/libkbfs/kbfs_ops.go
  go/kbfs/libkbfs/libkbfs_mocks_test.go
Due: none

Don't hold ActiveDevice write lock during api call (#17420)
  go/libkb/active_device.go
  go/stellar/transform.go
Due: none

plumb CheckReachability for OS network changes; fast forwards on online
  go/client/simplefs_test.go
  go/kbfs/libkbfs/mdserver_remote.go
  go/kbfs/simplefs/simplefs.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/bin/enabled-calls.json
  protocol/json/keybase1/simple_fs.json
  shared/actions/config-gen.js
  shared/actions/fs/index.js
  shared/actions/json/config.json
  shared/actions/platform-specific/index.desktop.js
  shared/actions/platform-specific/index.native.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

WIP
  shared/actions/tracker2.js
  shared/common-adapters/reload.js
  shared/profile/user/index.js
  shared/tracker2/assertion/container.js
  shared/tracker2/assertion/index.js
Due: eslint, flow, prettier

upgrade a couple and fix some buttons
  shared/wallets/airdrop/container.js
  shared/wallets/confirm-form/index.js
  shared/wallets/routes.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.js
Due: eslint, flow, prettier

all shared routes
  shared/wallets/routes.js
  shared/wallets/transaction-details/container.js
Due: eslint, flow, prettier

airdrop and create/link
  shared/wallets/airdrop/qualify/container.js
  shared/wallets/create-account/container.js
  shared/wallets/create-account/index.js
  shared/wallets/link-existing/container.js
  shared/wallets/link-existing/index.js
  shared/wallets/link-existing/index.stories.js
  shared/wallets/routes.js
  shared/wallets/send-form/participants/container.js
Due: eslint, flow, prettier

export secret key and delete it correctly
  shared/wallets/export-secret-key/container.js
  shared/wallets/export-secret-key/index.js
  shared/wallets/export-secret-key/index.stories.js
  shared/wallets/routes.js
Due: eslint, flow, prettier

really remove account and same secret key fix
  shared/wallets/routes.js
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/really-remove-account/container.js
  shared/wallets/wallet/settings/popups/really-remove-account/index.js
Due: eslint, flow, prettier

receive modal
  shared/wallets/receive-modal/container.js
  shared/wallets/routes.js
Due: eslint, flow, prettier

wallet main mobile
  shared/wallets/routes.js
  shared/wallets/wallet/container.js
  shared/wallets/wallet/header/container.js
  shared/wallets/wallet/index.js
Due: eslint, flow, prettier

wip
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

vendor
  go/vendor/github.com/mvdan/xurls/README.md
  go/vendor/github.com/mvdan/xurls/go.mod
  go/vendor/github.com/mvdan/xurls/schemes.go
  go/vendor/github.com/mvdan/xurls/tlds.go
  go/vendor/vendor.json
Due: none

w
  go/client/cmd_signup.go
  go/libkb/user.go
Due: none

Disallow cmd_signup while in a nopw state
  go/client/cmd_signup.go
Due: none

w
  go/client/cmd_signup.go
  go/libkb/globals.go
Due: none

w
  go/client/cmd_logout.go
  go/client/cmd_signup.go
Due: none

rev
  go/libkb/globals.go
Due: none

work
  go/client/cmd_passphrase_change.go
  go/client/util.go
Due: none

the rest
  shared/wallets/onboarding/container.js
  shared/wallets/routes.js
  shared/wallets/wallet/settings/popups/inflation-destination/container.js
  shared/wallets/wallet/settings/popups/remove-account/container.js
  shared/wallets/wallet/settings/popups/rename-account/container.js
  shared/wallets/wallet/settings/popups/set-default/container.js
Due: eslint, flow, prettier

WIP
  shared/actions/tracker2.js
  shared/profile/profile.stories.js
Due: eslint, flow, prettier

libkb: experiment with merkle checkpoints
  go/engine/merkle_audit.go
  go/engine/merkle_client_historical_test.go
  go/libkb/apiarg.go
  go/libkb/delegatekey.go
  go/libkb/errors.go
  go/libkb/features.go
  go/libkb/merkle_checkpoint.go
  go/libkb/merkle_client.go
  go/libkb/merkle_tools.go
  go/merklestore/store.go
  go/teams/audit.go
  go/teams/box_audit.go
  go/teams/loader_ctx.go
  go/teams/loader_ctx_test.go
  go/teams/proofs.go
Due: none

send/request routes
  shared/wallets/confirm-form/container.js
  shared/wallets/qr-scan/container.js
  shared/wallets/routes-send-request-form.js
  shared/wallets/send-form/choose-asset/container.js
  shared/wallets/send-form/container.js
Due: eslint, flow, prettier

packaging: Add libgtk-3-0 to debian dependencies
  packaging/linux/deb/package_binaries.sh
Due: none

check filter in filtered container (#17410)
  shared/chat/inbox/container/filtered.js
Due: eslint, flow, prettier

Add mtime to server response for kbfs favorites
  go/protocol/keybase1/favorite.go
  protocol/avdl/keybase1/favorite.avdl
  protocol/json/keybase1/favorite.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fix teammentionload npe
  go/chat/teammentionloader.go
Due: none

review feedback from jzila
  go/kbfs/libkbfs/kbfs_ops.go
  shared/actions/fs/index.js
Due: eslint, flow, prettier

WIP
  shared/local-debug.native.js
  shared/router-v2/shim.native.js
Due: eslint, flow, prettier

WIP
  shared/local-debug.native.js
Due: eslint, flow, prettier

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
