Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: b8194ff9d85455a702480677ada13ac4dbe94146
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

libkbfs: More concurrency fixes in tests
  go/kbfs/libkbfs/block_retrieval_queue.go
  go/kbfs/libkbfs/block_retrieval_queue_test.go
  go/kbfs/libkbfs/block_retrieval_worker_test.go
  go/kbfs/libkbfs/kbfs_ops_test.go
Due: none

go1.12.4 fmt
  go/chat/flip/prot.go
  go/chat/push.go
  go/chat/sender.go
  go/client/chat_cli_rendering.go
  go/client/wallet_api_listen_display.go
  go/engine/identify2_test.go
  go/engine/pgp_keyfinder.go
  go/engine/saltpack_user_keyfinder.go
  go/git/get.go
  go/kbfs/kbfssync/leveled_mutex.go
  go/kbfs/libkbfs/block_ops.go
  go/kbfs/libkbfs/folder_block_manager.go
  go/kbfs/libkbfs/init.go
  go/kbfs/libkbfs/kbfs_ops.go
  go/kbfs/libkbfs/ops.go
  go/libkb/errors.go
  go/libkb/secret_store_upgradeable.go
  go/protocol/chat1/notify.go
  go/protocol/keybase1/constants.go
  go/protocol/keybase1/git.go
  go/protocol/keybase1/upk.go
  go/teams/list.go
  go/teams/list_fast.go
  go/teams/loader2.go
  go/teams/service_helper.go
Due: none

block_retrieval_queue: protect doneCh
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

update pre-commit rev again
  .pre-commit-config.yaml
Due: none

block_ops: Block when the block retrieval queue shuts down
  go/kbfs/libkbfs/block_ops.go
  go/kbfs/libkbfs/block_retrieval_queue.go
  go/kbfs/libkbfs/block_retrieval_worker.go
Due: none

kbfs_ops_test: close conflicts db and shutdown brq
  go/kbfs/libkbfs/kbfs_ops_test.go
Due: none

kbhttp: Add synchronization on shutdown so tests can know when there will be no more logging
  go/kbhttp/srv.go
  go/kbhttp/srv_test.go
Due: none

block_retrieval_queue: fix
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

Go1.12 symlink detection vs Dokan issue, pass test for now
  go/kbfs/libdokan/mount_test.go
Due: none

block on shutdown in id3
  go/libkb/identify3.go
Due: none

libkbfs: Fix logging race in rekey_fsm
  go/kbfs/libkbfs/rekey_fsm.go
Due: none

disk_block_cache_test: fix syntax error
  go/kbfs/libkbfs/disk_block_cache_test.go
Due: none

fmt again
  go/kbfs/libkbfs/block_ops.go
Due: none

PR feedback
  go/kbhttp/srv.go
Due: none

tests: Remove extraneous FIXMEs
  go/kbfs/libkbfs/block_retrieval_worker_test.go
  go/kbfs/libkbfs/kbfs_ops_test.go
Due: none

kbhttp: PR feedback to correctly return a done channel if there is no server
  go/kbhttp/srv.go
Due: none

prefetcher: Fix unbuffered almostDoneCh
  go/kbfs/libkbfs/prefetcher.go
Due: none

libkbfs: More synchronization fixes for terminating tests
  go/kbfs/libkbfs/block_retrieval_queue_test.go
  go/kbfs/libkbfs/block_retrieval_worker_test.go
  go/kbfs/libkbfs/disk_block_cache_test.go
  go/kbfs/libkbfs/kbfs_ops_test.go
  go/kbfs/libkbfs/prefetcher.go
Due: none

block_ops: shutdown using ctx and an error
  go/kbfs/libkbfs/block_ops.go
  go/kbfs/libkbfs/block_ops_test.go
  go/kbfs/libkbfs/config_local.go
  go/kbfs/libkbfs/interfaces.go
  go/kbfs/libkbfs/kbfs_ops_test.go
  go/kbfs/libkbfs/libkbfs_mocks_test.go
Due: none

update pre-commit config
  .pre-commit-config.yaml
Due: none

block_retrieval_queue: a data race fix for the heap on shutdown
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

kbhttp: Fix panic close of nil channel
  go/kbhttp/srv.go
Due: none

fix go vet
  go/chat/signencrypt/example/main.go
  go/libkb/passphrase_stream.go
  go/libkb/passphrase_stream_test.go
  go/service/account.go
Due: none

Revendor stellarnet to master commit
  go/vendor/vendor.json
Due: none

Add protocol for FindPaymentPath local and remote
  go/protocol/stellar1/common.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/common.avdl
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/common.json
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Make SourceAsset required
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/stellar.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Working on making the tx in client
  go/protocol/stellar1/local.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/service.go
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/vendor.json
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Use PaymentPathLocal for display strings
  go/protocol/stellar1/common.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/common.avdl
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/common.json
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Include from/source accountID
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Change endpoint URL
  go/stellar/remote/remote.go
Due: none

Refactor for stellarnet api change
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/stellar/assets.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/github.com/keybase/stellarnet/assets.go
  go/vendor/github.com/keybase/stellarnet/pages.go
  go/vendor/github.com/keybase/stellarnet/tx.go
  go/vendor/vendor.json
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
Due: none

cleanup
  go/chat/search/session.go
Due: none

indexer size method
  go/chat/search/indexer.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

fix logo key generation panicking if a service has been removed (#17171)
  go/identify3/adapter.go
Due: none

optimize disk attempt
  go/chat/search/storage.go
  go/protocol/chat1/common.go
  protocol/avdl/chat1/common.avdl
  protocol/json/chat1/common.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

tweaked Turn into team btn
  shared/chat/conversation/info-panel/channel-utils.js
  shared/chat/conversation/info-panel/index.js
Due: eslint, flow, prettier

reset stellar state on logout
  go/stellar/global.go
Due: none

bump idx version
  go/chat/search/constants.go
  go/chat/search/storage.go
Due: none
