Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

ignore fresh incoming deleted messages
  shared/actions/chat2/index.js
Due: eslint, flow

WIP
  shared/actions/chat2/index.js
Due: eslint, flow

better sign out / sign in (#14211)
  shared/actions/chat2/index.js
  shared/reducers/config.js
  shared/reducers/index.js
Due: eslint, flow

use default display currency in payment
  shared/reducers/wallets.js
  shared/wallets/send-form/asset-input/container.js
  shared/wallets/send-form/asset-input/index.js
Due: eslint, flow

Integrate UPAKLite into the team loader.
  go/chat/convsource_test.go
  go/client/cmd_upak.go
  go/engine/upak_loader_test.go
  go/libkb/upak_loader.go
  go/protocol/keybase1/extras.go
  go/service/debugging_devel.go
  go/systests/teams_test.go
  go/systests/tracking_test.go
  go/teams/chatmessaging.go
  go/teams/handler.go
  go/teams/loader.go
  go/teams/loader_ctx.go
  go/teams/loadkeycache.go
  go/teams/member_set.go
  go/teams/service_helper.go
  go/teams/teams.go
Due: none

tests
  go/engine/upak_loader_lite_test.go
  go/protocol/keybase1/extras.go
Due: none

tests get lowkeys
  go/engine/upak_loader_test.go
  go/service/debugging_devel.go
  go/systests/teams_test.go
Due: none

...
  go/protocol/keybase1/extras.go
Due: none

WIP layout
  shared/wallets/receive-modal/container.js
  shared/wallets/receive-modal/index.js
  shared/wallets/receive-modal/index.stories.js
Due: eslint, flow

WIP new layout
  shared/wallets/common/wallet-popup.js
  shared/wallets/receive-modal/container.js
  shared/wallets/receive-modal/index.js
Due: eslint, flow

upper area padding
  shared/wallets/receive-modal/index.js
Due: eslint, flow

WIP more styling
  shared/common-adapters/copy-text.js
  shared/wallets/receive-modal/index.js
Due: eslint, flow

josh wants admins to see this on desktop (#14217)
  shared/util/feature-flags.desktop.js
Due: eslint, flow

fix lint
  shared/reducers/index.js
Due: eslint, flow

fix lint (#14223)
  shared/reducers/index.js
Due: eslint, flow

Update icon font.
  shared/fonts/kb.ttf
Due: none

Update Reddit and add contact card to icon font.
  shared/common-adapters/icon.constants.js
  shared/fonts/kb.ttf
  shared/images/iconfont/110-kb-iconfont-contact-card-16.svg
  shared/images/iconfont/51-kb-iconfont-identity-reddit-16.svg
Due: eslint, flow

assume all accounts have names
  shared/constants/wallets.js
  shared/wallets/confirm-form/participants/container.js
  shared/wallets/receive-modal/container.js
  shared/wallets/send-form/participants/container.js
  shared/wallets/wallet/header/container.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/popups/remove-account/container.js
  shared/wallets/wallet/settings/popups/rename-account/container.js
Due: eslint, flow

show today for timestamp
  shared/util/timestamp.js
Due: eslint, flow

use lodash partition
  shared/wallets/wallet/container.js
Due: eslint, flow

fix test
  go/stellar/stellarsvc/service_test.go
Due: none

Add PaymentStatus_Canceled and use for relay payments that have been yanked
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/stellar/transform.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js
  shared/constants/types/rpc-stellar-gen.js.flow
Due: eslint, flow

show today for timestamp (#14225)
  shared/util/timestamp.js
Due: eslint, flow

shorter
  go/chat/server.go
  shared/reducers/chat2.js
Due: eslint, flow

wip
  go/chat/server.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

works
  go/chat/sender.go
  go/chat/server.go
  go/chat/storage/outbox.go
  go/chat/storage/outbox_files.go
  go/chat/types/interfaces.go
  go/protocol/chat1/extras.go
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/reducers/chat2.js
Due: eslint, flow

test
  go/chat/server_test.go
Due: none

fix test
  go/chat/server_test.go
Due: none

rework
  go/chat/sender.go
  go/chat/server.go
  go/chat/server_test.go
  go/chat/types/interfaces.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

move
  go/chat/sender.go
Due: none

fixes from review and CI
  go/libkb/chain_link.go
Due: none

reverts commit 3d549c370eb597948f622d315c4e12e74b6aff01.
  go/libkb/chain_link.go
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
