Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

Revert "bust team cache for TeamData.activeInvites"
  go/teams/storage_std.go
Due: none

cli trackbreak handling
  go/chat/teams.go
Due: none

remove unsupported default-values from protocol
  protocol/avdl/keybase1/identify.avdl
  protocol/json/keybase1/identify.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

remove unused IdentifyUIIsDelegated
  go/libkb/context.go
Due: none

wip
  go/sigchain3/prot.go
Due: none

More mobile only lockdown explanations
  shared/wallets/common/buttons/container.js
  shared/wallets/common/buttons/index.js
  shared/wallets/wallet/header/container.js
  shared/wallets/wallet/header/index.js
  shared/wallets/wallet/settings/index.js
Due: eslint, flow, prettier

use gifs for search on mobile
  go/chat/giphy/search.go
  go/chat/giphy/types.go
Due: none

serve images for mobile giphy gallery
  go/chat/attachment_httpsrv.go
  go/chat/giphy/search.go
Due: none

purge
  go/chat/utils/utils.go
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow, prettier

skip prefixes
  go/chat/utils/utils.go
Due: none

better
  go/chat/utils/utils.go
  go/chat/utils/utils_test.go
Due: none

test
  go/chat/utils/utils_test.go
Due: none

Don't show "Publish the teams you're in" on profile if user has no teams
  shared/profile/user/teams/container.js
Due: eslint, flow, prettier

Make some more system message texts selectable
  shared/chat/conversation/messages/set-channelname/index.js
  shared/chat/conversation/messages/set-description/index.js
  shared/chat/conversation/messages/system-change-retention/index.js
Due: eslint, flow, prettier

Fix desktop nav2 bar 'Settings' link not doing anything (#17450)
  shared/router-v2/tab-bar/container.desktop.js
Due: eslint, flow, prettier

Don't show "Publish the teams you're in" on profile if user has no teams (#17440)
  shared/profile/user/teams/container.js
Due: eslint, flow, prettier

Make some more system message texts selectable (#17442)
  shared/chat/conversation/messages/set-channelname/index.js
  shared/chat/conversation/messages/set-description/index.js
  shared/chat/conversation/messages/system-change-retention/index.js
Due: eslint, flow, prettier

Disable the password Save button if passphrases don't match and there's an empty confirm (#17452)
  shared/settings/password/index.js
Due: eslint, flow, prettier

revert gradle
  shared/react-native/android/build.gradle
  shared/react-native/android/gradle/wrapper/gradle-wrapper.properties
Due: none

revert gradle harder
  shared/react-native/android/build.gradle
Due: none

skip feedback if provided in a flag
  go/client/cmd_log_send.go
Due: none

effective log location
  go/client/cmd_status.go
  go/libkb/status.go
  go/protocol/keybase1/config.go
  go/service/main.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

didn't save
  go/service/main.go
Due: none

override cmd usage if running in standalone mode
  go/libkb/globals.go
  go/service/main.go
Due: none

bot autolog support (#17460)
  go/client/cmd_log_send.go
  go/client/cmd_status.go
  go/libkb/status.go
  go/protocol/keybase1/config.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

bring back client status
  go/libkb/client_status.go
  go/service/config.go
  go/status/status.go
Due: none

refactor to status pkg
  go/bind/keybase.go
  go/client/cmd_log_send.go
  go/client/cmd_signup.go
  go/client/cmd_status.go
  go/client/cmd_status_nix.go
  go/client/cmd_status_osx.go
  go/client/cmd_status_windows.go
  go/client/versionfix.go
  go/libkb/rpc_exim.go
  go/libkb/util.go
  go/protocol/keybase1/config.go
  go/service/config.go
  go/status/log_send.go
  go/status/log_send_desktop.go
  go/status/log_send_mobile.go
  go/status/log_send_test.go
  go/status/status.go
  go/status/status_nix.go
  go/status/status_osx.go
  go/status/status_test.go
  go/status/status_windows.go
  go/status/utils.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

cleanup & copyright
  go/libkb/client_status.go
  go/service/config.go
  go/status/log_send.go
  go/status/log_send_test.go
  go/status/status.go
  go/status/status_nix.go
  go/status/status_osx.go
  go/status/status_test.go
  go/status/status_windows.go
  go/status/utils.go
Due: none

debug not warning
  go/status/status_darwin.go
  go/status/status_nix.go
  go/status/status_windows.go
Due: none

don't skip logs in standalone
  go/status/status.go
Due: none

effective log file
  go/client/cmd_status.go
  go/libkb/status.go
  go/protocol/keybase1/config.go
  go/status/status.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

skip TestEmailHappyPath
  go/emails/user_test.go
Due: none

Skip TestSetPhoneNumber
  go/phonenumbers/user_test.go
Due: none

refactor to status pkg (#17464)
  go/bind/keybase.go
  go/client/cmd_log_send.go
  go/client/cmd_signup.go
  go/client/cmd_status.go
  go/client/cmd_status_nix.go
  go/client/cmd_status_osx.go
  go/client/cmd_status_windows.go
  go/client/versionfix.go
  go/libkb/client_status.go
  go/libkb/rpc_exim.go
  go/libkb/status.go
  go/libkb/util.go
  go/protocol/keybase1/config.go
  go/service/config.go
  go/status/log_send.go
  go/status/log_send_desktop.go
  go/status/log_send_mobile.go
  go/status/log_send_test.go
  go/status/status.go
  go/status/status_darwin.go
  go/status/status_nix.go
  go/status/status_test.go
  go/status/status_windows.go
  go/status/utils.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Test for cached provider
  go/contacts/cache.go
  go/contacts/cache_test.go
Due: none

WIP support for new endpoint for bulk lookups
  go/client/cmd_apicall.go
  go/contacts/cache.go
  go/contacts/lookup.go
  go/libkb/db.go
Due: none

Use two loops over contacts to get intended order and dedup
  go/contacts/contacts.go
Due: none

WIP simplified ResolveContacts for new provider API
  go/contacts/cache.go
  go/contacts/contacts.go
  go/service/contacts.go
Due: none

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
