Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

roll parser
  go/chat/wallet/parser.go
Due: none

Use the reloadable waitingKey for Stellar disclaimer checks
  shared/actions/wallets.js
Due: eslint, flow, prettier

Fix chat links in system messages
  shared/chat/conversation/messages/system-added-to-team/container.js
  shared/chat/conversation/messages/system-change-retention/container.js
  shared/chat/conversation/messages/system-joined/container.js
  shared/chat/conversation/messages/system-simple-to-complex/container.js
Due: eslint, flow, prettier

WIP
  go/chat/flipmanager.go
  shared/chat/conversation/messages/coinflip/cards.js
  shared/chat/conversation/messages/coinflip/index.js
Due: eslint, flow, prettier

Use goroutines for all IBM handlers (#16285)
  go/stellar/stellargregor/stellargregor.go
Due: none

fix tricky roll bug
  go/chat/wallet/parser.go
Due: none

fix
  shared/actions/wallets.js
Due: eslint, flow, prettier

show generic proof types behind a feature flag
  go/libkb/features.go
  go/libkb/globals.go
  go/libkb/services.go
Due: none

changed coin flip help texts
  go/chat/commands/flip.go
Due: none

call RPC and waiting state, nav on success
  protocol/bin/enabled-calls.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/info-panel/add-to-channel/container.js
  shared/chat/conversation/info-panel/add-to-channel/index.js
  shared/chat/conversation/info-panel/add-to-channel/index.stories.js
  shared/constants/chat2/index.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

simplefs: add RPC and CLI flag for getting team quota usage
  go/client/cmd_simplefs_quota.go
  go/client/simplefs_test.go
  go/kbfs/simplefs/simplefs.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

libdokan: Log start options
  go/kbfs/libdokan/start.go
Due: none

changed coin flip help texts (#16294)
  go/chat/commands/flip.go
Due: none

show reload on error and plumb through more errros
  shared/actions/tracker2.js
  shared/profile/user/actions/index.js
Due: eslint, flow, prettier

Show error in dialog
  shared/actions/chat2/index.js
  shared/chat/conversation/info-panel/add-to-channel/container.js
  shared/chat/conversation/info-panel/add-to-channel/index.js
  shared/chat/conversation/info-panel/add-to-channel/index.stories.js
  shared/util/container.js
Due: eslint, flow, prettier

wip
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

small tweak
  shared/chat/conversation/info-panel/add-to-channel/index.js
Due: eslint, flow, prettier

libdokan: Log start options (#16293)
  go/kbfs/libdokan/start.go
Due: none

wip
  go/chat/flipmanager.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

fix
  go/chat/flipmanager.go
Due: none

simplefs: add RPC and CLI flag for getting team quota usage (#16295)
  go/client/cmd_simplefs_quota.go
  go/client/simplefs_test.go
  go/kbfs/simplefs/simplefs.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

constants n types
  shared/chat/conversation/messages/wrapper/index.js
  shared/constants/chat2/__test__/message.test.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
Due: eslint, flow, prettier

journal_manager: suppress popups when enabling existing journals
  go/kbfs/libkbfs/journal_manager.go
  go/protocol/keybase1/extras.go
  go/protocol/keybase1/tlf_keys.go
  protocol/avdl/keybase1/tlf_keys.avdl
  protocol/json/keybase1/tlf_keys.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

fix code gen
  protocol/bin/flow.js
Due: eslint, flow, prettier

wip
  go/chat/flipmanager.go
Due: none

wip
  go/chat/flipmanager.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

wip
  protocol/bin/flow.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

fix
  protocol/bin/flow.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

Fix chat links in system messages (#16291)
  shared/chat/conversation/messages/system-added-to-team/container.js
  shared/chat/conversation/messages/system-change-retention/container.js
  shared/chat/conversation/messages/system-joined/container.js
  shared/chat/conversation/messages/system-simple-to-complex/container.js
Due: eslint, flow, prettier

Show errors when adding to teams from profile view (#16276)
  shared/actions/json/teams.json
  shared/actions/teams-gen.js
  shared/actions/teams.js
  shared/constants/teams.js
  shared/constants/types/teams.js
  shared/profile/add-to-team/container.js
  shared/profile/add-to-team/index.js
  shared/profile/add-to-team/index.js.flow
  shared/profile/container.js
  shared/profile/index.desktop.js
  shared/profile/index.js.flow
  shared/profile/index.native.js
  shared/profile/profile.stories.js
  shared/reducers/teams.js
Due: eslint, flow, prettier

send up better result type for custom flip UI (#16297)
  go/chat/flipmanager.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/bin/flow.js
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

Handle error properly
  shared/actions/teams.js
Due: eslint, flow, prettier

Use windows.NewLazySystemDLL consistently
  go/install/winversion.go
  go/libkb/pipeowner_windows.go
Due: none

WIP
  shared/chat/conversation/messages/coinflip/index.js
Due: eslint, flow, prettier

Team sigchain stricter checks on owner invites (#15997)
  go/teams/chain.go
  go/teams/loader_types.go
  go/tools/teamchain/main.go
Due: none

show reload on error and plumb through more errros (#16296)
  shared/actions/tracker2.js
  shared/profile/user/actions/index.js
Due: eslint, flow, prettier
