Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

wip
  shared/settings/chat/index.js
  shared/settings/chat/index.stories.js
  shared/settings/index.stories.js
Due: eslint, flow

wip
  shared/settings/chat/index.js
Due: eslint, flow

state
  shared/settings/chat/index.js
  shared/settings/chat/index.stories.js
Due: eslint, flow

Only cache team folders for kbfs favorites (#14733)
  go/engine/favorite_list.go
Due: none

wip
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/constants/settings.js
  shared/constants/types/settings.js
  shared/settings/chat/container.js
Due: eslint, flow

wip
  go/chat/server.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

hooked
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/unfurl/unfurler.go
Due: none

test start
  go/chat/types/types.go
  go/chat/unfurl_test.go
Due: none

WIP
  shared/chat/conversation/conversation.css
  shared/chat/conversation/messages/wrapper/wrapper-author/index.js
  shared/chat/conversation/messages/wrapper/wrapper-message/index.js
  shared/chat/conversation/messages/wrapper/wrapper-message/long-pressable.desktop.js
  shared/chat/conversation/messages/wrapper/wrapper-message/long-pressable.js.flow
  shared/chat/conversation/messages/wrapper/wrapper-message/long-pressable.native.js
Due: eslint, flow

works
  go/chat/server.go
  go/chat/unfurl_test.go
  go/protocol/chat1/local.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/local.json
  protocol/json/chat1/unfurl.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

oops
  go/chat/server.go
Due: none

Use a spinner on team creation, move to a WaitingKey
  shared/actions/json/teams.json
  shared/actions/teams-gen.js
  shared/actions/teams.js
  shared/chat/new-team-dialog-container.js
  shared/constants/teams.js
  shared/constants/types/teams.js
  shared/reducers/teams.js
  shared/teams/new-team/container.js
  shared/teams/new-team/index.js
Due: eslint, flow

Bugfix on use of <Input disabled={}>
  shared/teams/new-team/index.js
Due: eslint, flow

Stellar: Transaction viewer link on the details page (#14600)
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/wallets/transaction-details/container.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/wrapper/wrapper-author/index.js
  shared/chat/conversation/messages/wrapper/wrapper-message/index.js
  shared/common-adapters/box.desktop.js
  shared/common-adapters/box.js.flow
  shared/common-adapters/box.native.js
  shared/common-adapters/index.js
Due: eslint, flow

unfurling: RPCs for setting and getting settings intended for UI CORE-9399 (#14795)
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/unfurl/unfurler.go
  go/chat/unfurl_test.go
  go/protocol/chat1/local.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/local.json
  protocol/json/chat1/unfurl.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

Only stop search on permanent errors (#14778)
  go/chat/boxer.go
  go/chat/boxer_test.go
  go/chat/errors.go
  go/chat/localizer.go
  go/chat/search/indexer.go
  go/chat/types/interfaces.go
  go/chat/utils/utils.go
Due: none

WIP
  shared/chat/conversation/messages/wrapper/wrapper-author/index.js
  shared/chat/conversation/messages/wrapper/wrapper-message/long-pressable.js.flow
Due: eslint, flow

Show an explanation when you try to add to a team when you aren't in any
  shared/profile/add-to-team/index.js
Due: eslint, flow

wip
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/actions/json/settings.json
  shared/actions/settings-gen.js
  shared/constants/settings.js
  shared/constants/types/settings.js
  shared/reducers/settings.js
  shared/settings/chat/container.js
Due: eslint, flow

vendor rpc master
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/codec.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/dispatch.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/message.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/request.go
  go/vendor/vendor.json
Due: none

revendor
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/message.go
  go/vendor/vendor.json
Due: none

protocol: add partial sync mode to simplefs sync config
  go/protocol/keybase1/simple_fs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

systemd pid fix
  go/systemd/systemd_linux.go
Due: none

change wording for ignore team access requests
  shared/teams/team/settings-tab/index.js
Due: eslint, flow

Switch to DropdownButton
  shared/profile/add-to-team/index.js
Due: eslint, flow

Use the waitingKey RPC arg
  shared/actions/teams.js
Due: eslint, flow

fix
  packaging/linux/systemd/keybase.service
Due: none

revendor rpc (#1927)
  vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/message.go
  vendor/vendor.json
Due: none

fix comment
  packaging/linux/systemd/keybase.service
Due: none

revert systemd xdgcachehome
  packaging/linux/systemd/keybase.service
Due: none

Make close behavior better for send attachment dialog
  shared/chat/conversation/attachment-get-titles/container.js
  shared/chat/conversation/attachment-get-titles/index.js
Due: eslint, flow

works
  protocol/bin/enabled-calls.json
  shared/actions/json/settings.json
  shared/actions/settings-gen.js
  shared/actions/settings.js
  shared/constants/settings.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/settings.js
  shared/settings/chat/container.js
  shared/settings/chat/index.js
  shared/settings/chat/index.stories.js
  shared/settings/nav/index.desktop.js
  shared/settings/routes.desktop.js
Due: eslint, flow

vendor rpc master (#14794)
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/codec.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/dispatch.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/message.go
  go/vendor/github.com/keybase/go-framed-msgpack-rpc/rpc/request.go
  go/vendor/vendor.json
Due: none

bserver_remote: don't cache archived data
  libkbfs/bserver_remote.go
Due: none

bserver_remote: small fix
  libkbfs/bserver_remote.go
Due: none

mdserver_remote: better err when no revision is found by timestamp
  libkbfs/mdserver_remote.go
Due: none

protocol: add partial sync mode to simplefs sync config (#14780)
  go/protocol/keybase1/simple_fs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow
