Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

hotfix for rn storybook being broken: https://github.com/storybooks/storybook/issues/4063. we just turn off the webserver
  shared/package.json
  shared/storybook/index.native.js
  shared/yarn.lock
Due: eslint, flow

Correct style prop for userinput
  shared/search/user-input/container.js
  shared/search/user-input/index.desktop.js
  shared/search/user-input/index.js.flow
  shared/search/user-input/index.native.js
  shared/search/user-input/index.stories.js
  shared/wallets/send-form/participants/search.js
Due: eslint, flow

Better height styling
  shared/wallets/send-form/participants/search.js
Due: eslint, flow

added banner desktop
  shared/profile/prove-enter-username/index.desktop.js
Due: eslint, flow

Position the bottom text of send form absolutely
  shared/wallets/send-form/index.js
Due: eslint, flow

WIP
  shared/actions/platform-specific/push.native.js
Due: eslint, flow

Height changes
  shared/wallets/send-form/participants/search.js
Due: eslint, flow

show title and filename properly for pending attachment uploads CORE-8701 (#13503)
  go/chat/server.go
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/constants/chat2/message.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

Style the button padding a little better
  shared/wallets/send-form/footer/index.js
Due: eslint, flow

fix up show in finder after attachment download (#13504)
  shared/chat/conversation/messages/attachment/image/index.js
Due: eslint, flow

Add chainCache so it only repolls parent chain once
  go/teams/loader.go
  go/teams/loader2.go
Due: none

work in progress
  go/systests/subteams_test.go
  go/teams/loader.go
Due: none

Don't crash when we don't get a fullname
  shared/wallets/confirm-form/participants/container.js
  shared/wallets/confirm-form/participants/index.js
Due: eslint, flow

anddress
  shared/wallets/send-form/participants/to-field.js
Due: eslint, flow

fix section list being crazy with small windowsize. also cleaned up some styles / made a pure item for rows so its quicker
  shared/profile/index.native.js
Due: eslint, flow

Prettify, skip test, remove printfs
  go/systests/subteams_test.go
  go/teams/loader.go
  go/teams/loader2.go
Due: none

2.5.1
  go/libkb/version.go
Due: none

Add more notification types to listen to and reload accounts on
  shared/actions/notifications.js
Due: eslint, flow

Make account ID/name selectable in the wallet header
  shared/wallets/wallet/header/index.js
Due: eslint, flow

Add local cache for TeamData of parent chain during subteam loading (#13440)
  go/systests/subteams_test.go
  go/teams/loader.go
  go/teams/loader2.go
Due: none

This is 2.5.2 for Windows
  go/libkb/version.go
Due: none

throw up an error for new conversation
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/list-area/start-conversation/container.js
  shared/chat/conversation/list-area/start-conversation/index.js
  shared/chat/conversation/list-area/start-conversation/index.stories.js
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow

fix share on mobile
  shared/fs/common/path-item-action.js
Due: eslint, flow

fix buttons on the default view
  shared/fs/filepreview/default-view-container.js
  shared/fs/filepreview/default-view.js
Due: eslint, flow

use keybase pub for electron downloads
  shared/README.md
  shared/package.json
  shared/yarn.lock
Due: none

changed style to infonote style + moved both below input
  shared/common-adapters/info-note.js
  shared/profile/prove-enter-username/index.desktop.js
  shared/profile/prove-enter-username/index.native.js
Due: eslint, flow

WIP
  shared/README.md
Due: none

fix share on mobile (#13524)
  shared/fs/common/path-item-action.js
Due: eslint, flow

work
  go/client/terminal.go
  go/minterm/minterm.go
Due: none

escaping
  go/client/terminal.go
Due: none

typo
  go/client/terminal.go
Due: none

fix
  go/client/terminal.go
Due: none

do not newline on empty desc
  go/client/terminal.go
Due: none

show prompt for secrets
  go/minterm/minterm.go
Due: none

bugfix
  go/protocol/keybase1/config.go
  go/service/config.go
  protocol/avdl/keybase1/config.avdl
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
