Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

more riit debug
  go/service/identify.go
Due: none

Remove Checkbox's shouldComponentUpdate, which was misfiring
  shared/common-adapters/checkbox.native.js
Due: eslint, flow, prettier

remove listener on errors during startflip
  go/chat/flipmanager.go
Due: none

remove listener on errors during startflip (#16439)
  go/chat/flipmanager.go
Due: none

more riit debug (#16438)
  go/service/identify.go
Due: none

no loadflip on send
  go/chat/utils/utils.go
Due: none

no loadflip on send (#16440)
  go/chat/utils/utils.go
Due: none

Add extra data to the favorites cache so it can serve queries from the app (#15952)
  go/client/simplefs_test.go
  go/kbfs/libdokan/folderlist.go
  go/kbfs/libfuse/folderlist.go
  go/kbfs/libkbfs/favorites.go
  go/kbfs/libkbfs/favorites_test.go
  go/kbfs/libkbfs/interfaces.go
  go/kbfs/libkbfs/kbfs_ops.go
  go/kbfs/libkbfs/kbfs_ops_test.go
  go/kbfs/libkbfs/kbpki_client.go
  go/kbfs/libkbfs/keybase_daemon_local.go
  go/kbfs/libkbfs/keybase_service_base.go
  go/kbfs/libkbfs/keybase_service_measured.go
  go/kbfs/libkbfs/keybase_service_util.go
  go/kbfs/libkbfs/mocks_test.go
  go/kbfs/libkbfs/tlf_handle.go
  go/kbfs/simplefs/simplefs.go
  go/protocol/keybase1/favorite.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  go/service/team_handler.go
  protocol/avdl/keybase1/favorite.avdl
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/favorite.json
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Remove the set-passphrase screen from the signup flow completely
  shared/actions/__tests__/signup.test.js
  shared/actions/signup.js
  shared/login/signup/routes.js
Due: eslint, flow, prettier

Enable passwordless signups by default
  shared/actions/signup.js
Due: eslint, flow, prettier

Show lockdown mode as enabled if you have a random password
  shared/settings/advanced/index.js
Due: eslint, flow, prettier

Show (but disable) the remember my passphrase option if you don't have a password
  shared/settings/landing/index.desktop.js
Due: eslint, flow, prettier

last cleanups
  go/client/cmd_chat_api_listen.go
Due: none

Filter arguments for `chat api-listen` (#16364)
  go/client/chat_api_listen_display.go
  go/client/chat_api_listen_display_test.go
  go/client/cmd_chat_api_listen.go
Due: none

comment fix
  go/offline/rpc_cache.go
Due: none

WIP: android nav hack workaround (#16433)
  shared/app/nav.native.js
  shared/common-adapters/checkbox.native.js
Due: eslint, flow, prettier

quick error workaround
  shared/chat/conversation/messages/wrapper/container.js
Due: eslint, flow, prettier

local inbox version per conv (#16372)
  go/chat/convsource.go
  go/chat/ephemeral_purger_test.go
  go/chat/localizer.go
  go/chat/sender_test.go
  go/chat/storage/inbox.go
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/common.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/common.avdl
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/common.json
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

use inbox localVersion to break updateMeta ties
  shared/constants/chat2/meta.js
  shared/constants/types/chat2/meta.js
Due: eslint, flow, prettier

Add bold italic font. (#16424)
  shared/desktop/renderer/main.desktop.js
  shared/desktop/renderer/style.css
  shared/fonts/keybase-bold-italic.otf
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/Keybase/Info.plist
Due: eslint, flow, prettier

use inbox localVersion to break updateMeta ties (#16446)
  shared/constants/chat2/meta.js
  shared/constants/types/chat2/meta.js
Due: eslint, flow, prettier

simplefs,favorites: fix lint errors
  go/kbfs/libkbfs/favorites.go
  go/kbfs/simplefs/simplefs.go
Due: none

Add RefreshAsync, have MarkAsRead call it
  go/stellar/wallet_state.go
Due: none

3.2.0
  go/libkb/version.go
  shared/react-native/android/app/build.gradle
  shared/react-native/ios/Keybase/Info.plist
  shared/react-native/ios/KeybaseShare/Info.plist
Due: none

Use DetailsPlusPayments for wallet refresh (#16427)
  go/protocol/stellar1/remote.go
  go/stellar/build.go
  go/stellar/bundle/boxer.go
  go/stellar/bundle/boxer_test.go
  go/stellar/global.go
  go/stellar/inflation.go
  go/stellar/loader.go
  go/stellar/note.go
  go/stellar/note_test.go
  go/stellar/relays/relays.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/seqno.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

3.2.0 (#16448)
  go/libkb/version.go
  shared/react-native/android/app/build.gradle
  shared/react-native/ios/Keybase/Info.plist
  shared/react-native/ios/KeybaseShare/Info.plist
Due: none

fix trace msg
  go/chat/flipmanager.go
Due: none

fix trace msg (#16451)
  go/chat/flipmanager.go
Due: none

widget: Implement PR feedback to link to the user page when you click an avatar
  shared/menubar/files-container.desktop.js
  shared/menubar/files.desktop.js
Due: eslint, flow, prettier

widget: Fix avatars for file activity to represent the writer, not the team.
  shared/menubar/files.desktop.js
Due: eslint, flow, prettier

Catch errors in the reloadable wallet disclaimer check
  shared/actions/wallets.js
Due: eslint, flow, prettier

Deprecate a bunch of engine things (#16244)
  protocol/bin/enabled-calls.json
  protocol/bin/flow.js
  shared/actions/config-gen.js
  shared/actions/config/index.js
  shared/actions/engine-gen-gen.js
  shared/actions/json/config.json
  shared/actions/json/engine-gen.json
  shared/actions/pinentry.js
  shared/actions/platform-specific/index.desktop.js
  shared/actions/platform-specific/index.native.js
  shared/actions/tracker.js
  shared/actions/unlock-folders.js
  shared/constants/types/pinentry.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/constants/types/rpc-gen.js.flow
  shared/constants/types/rpc-gregor-gen.js.flow
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/engine/__mocks__/index.js
  shared/engine/__mocks__/require.js
  shared/engine/index.js
  shared/engine/index.js.flow
  shared/engine/request.js
  shared/engine/session.js
  shared/reducers/config.js
Due: eslint, flow, prettier

reduce deadlock chance
  go/chat/flipmanager.go
Due: none
