Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Tighten up props
  shared/wallets/link-existing/enter-key.js
  shared/wallets/link-existing/index.js
  shared/wallets/link-existing/index.stories.js
Due: eslint, flow

onClose -> onCancel
  shared/wallets/common/enter-name-popup/index.js
  shared/wallets/common/enter-name-popup/index.stories.js
  shared/wallets/link-existing/index.js
Due: eslint, flow

Refactor stellar chat integration for send payments (#13587)
  go/chat/globals/globals.go
  go/chat/types/interfaces.go
  go/chat/utils/utils.go
  go/libkb/notify_router.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/notify.go
  go/service/main.go
  go/stellar/loader.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/transform.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/notify.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/notify.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

Tighten up more props
  shared/wallets/common/enter-name-popup/index.js
  shared/wallets/create-account/index.js
Due: eslint, flow

Upgrade to MPMessagePack 1.5.1
  osx/Helper/Info.plist
  osx/Helper/KBHelper.m
  osx/Helper/KBHelperTest.m
  osx/Installer/Info.plist
  osx/KBKit/KBKit/Component/KBHelperTool.m
  osx/Podfile.lock
  packaging/desktop/kbfuse.sh
  packaging/desktop/package_darwin.sh
Due: none

Upgrade to MPMessagePack 1.5.1 (#13605)
  osx/Helper/Info.plist
  osx/Helper/KBHelper.m
  osx/Helper/KBHelperTest.m
  osx/Installer/Info.plist
  osx/KBKit/KBKit/Component/KBHelperTool.m
  osx/Podfile.lock
  packaging/desktop/kbfuse.sh
  packaging/desktop/package_darwin.sh
Due: none

Remove onclick handler from remove account if this is the default
  shared/wallets/wallet/settings/index.js
Due: eslint, flow

Remove a console.log
  shared/wallets/wallet/settings/popups/really-remove-account/container.js
Due: eslint, flow

Revendor chat1 (#1783)
  libkbfs/chat_rpc.go
  vendor/github.com/keybase/client/go/protocol/chat1/chat_ui.go
  vendor/github.com/keybase/client/go/protocol/chat1/notify.go
  vendor/vendor.json
Due: none

Add a loading prop
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/really-remove-account/container.js
  shared/wallets/wallet/settings/popups/really-remove-account/index.js
Due: eslint, flow

Will -> Did
  shared/wallets/export-secret-key/index.js
  shared/wallets/transaction-details/index.js
  shared/wallets/wallet/settings/popups/really-remove-account/index.js
Due: eslint, flow

comments from review
  go/teams/audit.go
  protocol/avdl/keybase1/teams.avdl
Due: none

comments from review comments
  protocol/avdl/keybase1/teams.avdl
Due: none

comments from review
  go/teams/audit.go
Due: none

first implementation of the teamchain auditor
  go/libkb/db.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/libkb/merkle_client.go
  go/libkb/team_stub.go
  go/protocol/keybase1/teams.go
  go/teams/audit.go
  go/teams/errors.go
  go/teams/ftl.go
  go/teams/init.go
  go/vendor/github.com/keybase/pipeliner/LICENSE
  go/vendor/github.com/keybase/pipeliner/README.md
  go/vendor/github.com/keybase/pipeliner/pipeliner.go
  go/vendor/vendor.json
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

comments from review about comments
  go/teams/audit.go
  go/teams/ftl.go
Due: none

fix lint
  go/teams/audit.go
Due: none

first implementation of the teamchain auditor (#13544)
  go/libkb/db.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/libkb/merkle_client.go
  go/libkb/team_stub.go
  go/protocol/keybase1/teams.go
  go/teams/audit.go
  go/teams/errors.go
  go/teams/ftl.go
  go/teams/init.go
  go/vendor/github.com/keybase/pipeliner/LICENSE
  go/vendor/github.com/keybase/pipeliner/README.md
  go/vendor/github.com/keybase/pipeliner/pipeliner.go
  go/vendor/vendor.json
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fix seqtype checking to work without seqtypes in links
  go/protocol/keybase1/common.go
  go/teams/ftl.go
  protocol/avdl/keybase1/common.avdl
  protocol/json/keybase1/common.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

get chat encryption and decryption to work via FTL
  go/chat/errors.go
  go/chat/teams.go
  go/protocol/keybase1/extras.go
Due: none

wips
  go/teams/ftl.go
Due: none

add a CLI tester for testing caching
  go/client/cmd_team.go
  go/client/cmd_team_ftl.go
  go/protocol/keybase1/teams.go
  go/service/teams.go
  go/teams/ftl.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

comments and clarify
  go/chat/teams.go
Due: none

plumb through updates to latest seqno
  go/chat/teams.go
  go/libkb/interfaces.go
  go/libkb/team_stub.go
  go/teams/ftl.go
  go/teams/handler.go
  go/teams/teams.go
Due: none

do not go to server if no keys needed
  go/teams/ftl.go
Due: none

better debug
  go/teams/ftl.go
Due: none

cleanup
  go/teams/ftl_test.go
Due: none

more test coverage
  go/teams/ftl_test.go
Due: none

fix broken tests
  go/teams/ftl_test.go
Due: none

fix some fix
  go/teams/ftl.go
Due: none

more test coverage; key case was broken
  go/teams/ftl_test.go
Due: none

fix a bug that came up on the live app
  go/protocol/keybase1/teams.go
  go/teams/ftl.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fix another bug that i found when playing with real data
  go/chat/subteam_rename_test.go
  go/teams/ftl.go
Due: none

small cleanups
  go/teams/ftl.go
Due: none
