Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

WIP
  shared/actions/config/index.js
  shared/actions/platform-specific/push.native.js
  shared/app/main.native.js
  shared/constants/types/push.js
  shared/reducers/push.js
Due: eslint, flow

add animation to newreactbutton
  shared/chat/conversation/messages/react-button/index.js
  shared/chat/conversation/messages/wrapper/wrapper-author/index.js
Due: eslint, flow

use visibility hidden for newreactionbutton in reactionsrow
  shared/chat/conversation/messages/reactions-row/index.js
Due: eslint, flow

animate transform instead of left
  shared/chat/conversation/messages/react-button/index.js
Due: eslint, flow

briefly delay start of interval
  shared/chat/conversation/messages/react-button/delay-interval.js
  shared/chat/conversation/messages/react-button/index.js
Due: eslint, flow

WIP half good
  shared/chat/conversation/messages/react-button/index.js
  shared/chat/conversation/messages/reactions-row/index.js
Due: eslint, flow

don't apply classes until we've started animating
  shared/chat/conversation/messages/react-button/index.js
  shared/chat/conversation/messages/reactions-row/index.js
Due: eslint, flow

import * as Styles
  shared/chat/conversation/messages/react-button/index.js
Due: eslint, flow

WIP
  shared/actions/platform-specific/push.native.js
  shared/app/push-prompt.native.js
  shared/stories/platform-stories.native.js
Due: eslint, flow

WIP
  shared/app/index.stories.native.js
Due: eslint, flow

Match emoji picker styles from normal message input box.
  shared/chat/conversation/messages/react-button/index.js
Due: eslint, flow

Add emoji button to encrypted note
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

Use `blue5` and keep the message highlighted when the menu is visible.
  shared/chat/conversation/messages/wrapper/wrapper-timestamp/index.js
Due: eslint, flow

Remove unused style.
  shared/chat/conversation/messages/wrapper/wrapper-timestamp/index.js
Due: eslint, flow

WIP
  shared/app/push-prompt.native.js
Due: eslint, flow

WIP
  shared/common-adapters/scroll-view.js.flow
Due: flow

Finesse some margins
  shared/wallets/send-form/index.stories.js
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

keep highlighted while emoji picker is open
  shared/chat/conversation/messages/react-button/container.js
  shared/chat/conversation/messages/react-button/index.js
  shared/chat/conversation/messages/wrapper/wrapper-timestamp/index.js
Due: eslint, flow

Better scrolling of textareas
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

add a very rough emoji picker
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

WIP
  shared/actions/platform-specific/push.native.js
Due: eslint, flow

Only send reaction update notification on change
  go/chat/server_test.go
  go/chat/storage/storage.go
Due: none

Better emoji picker overlay, just with a bad zindex
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

fastloader skeleton and resolveIDToName implemenation (#13232)
  go/protocol/keybase1/teams.go
  go/teams/errors.go
  go/teams/fast.go
  protocol/avdl/keybase1/teams.avdl
  protocol/js/rpc-gen.js
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js
Due: eslint, flow

WIP
  shared/local-debug.native.js
Due: eslint, flow

protect new keyfinder caches properly
  go/chat/keyfinder.go
Due: none

fix up android storybook & add to readme
  shared/README.md
  shared/index.android.js
  shared/stories/README.md
  shared/stories/setup-app.native.js
Due: eslint, flow

protect new keyfinder caches properly (#13235)
  go/chat/keyfinder.go
Due: none

first working version
  protocol/bin/enabled-calls.json
  protocol/js/rpc-stellar-gen.js
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/rpc-stellar-gen.js
  shared/constants/types/wallets.js
  shared/wallets/send-form/asset-input/index.js
  shared/wallets/send-form/body/container.js
  shared/wallets/send-form/body/index.js
  shared/wallets/send-form/footer/index.js
  shared/wallets/send-form/participants/container.js
  shared/wallets/send-form/participants/index.js
Due: eslint, flow

canonicalize subteam names so we can handle renames properly
  go/chat/inboxsource.go
Due: none

fix up android storybook & add to readme (#13236)
  shared/README.md
  shared/index.android.js
  shared/stories/README.md
  shared/stories/setup-app.native.js
Due: eslint, flow

remove comment
  shared/chat/conversation/messages/index.js
Due: eslint, flow

Emoji insertion works, but with a couple caveats that will probably be removed.
  shared/common-adapters/plain-input.desktop.js
  shared/common-adapters/popup-dialog.desktop.js
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

wip
  go/chat/server.go
  go/chat/supersedes.go
  go/chat/utils/utils.go
Due: none

debug
  go/chat/server.go
Due: none
