Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: b8194ff9d85455a702480677ada13ac4dbe94146
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

w
  shared/common-adapters/icon.constants.js
  shared/constants/platform.desktop.js
  shared/fonts/kb.ttf
Due: eslint, flow, prettier

use bio icon for now
  shared/constants/people.js
Due: eslint, flow, prettier

add email todo support
  go/protocol/keybase1/home.go
  protocol/avdl/keybase1/home.avdl
  protocol/json/keybase1/home.json
  shared/constants/people.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/people/todo/container.js
Due: eslint, flow, prettier

icon
  shared/constants/people.js
Due: eslint, flow, prettier

--wip-- [skip ci]
  shared/constants/platform.desktop.js
Due: eslint, flow, prettier

icons
  shared/images/icons/icon-onboarding-email-add-32.png
  shared/images/icons/icon-onboarding-email-add-32@2x.png
  shared/images/icons/icon-onboarding-email-add-32@3x.png
  shared/images/icons/icon-onboarding-email-add-48.png
  shared/images/icons/icon-onboarding-email-add-48@2x.png
  shared/images/icons/icon-onboarding-email-add-48@3x.png
  shared/images/icons/icon-onboarding-email-searchable-32.png
  shared/images/icons/icon-onboarding-email-searchable-32@2x.png
  shared/images/icons/icon-onboarding-email-searchable-32@3x.png
  shared/images/icons/icon-onboarding-email-searchable-48.png
  shared/images/icons/icon-onboarding-email-searchable-48@2x.png
  shared/images/icons/icon-onboarding-email-searchable-48@3x.png
  shared/images/icons/icon-onboarding-email-verify-32.png
  shared/images/icons/icon-onboarding-email-verify-32@2x.png
  shared/images/icons/icon-onboarding-email-verify-32@3x.png
  shared/images/icons/icon-onboarding-email-verify-48.png
  shared/images/icons/icon-onboarding-email-verify-48@2x.png
  shared/images/icons/icon-onboarding-email-verify-48@3x.png
  shared/images/icons/icon-onboarding-number-new-32.png
  shared/images/icons/icon-onboarding-number-new-32@2x.png
  shared/images/icons/icon-onboarding-number-new-32@3x.png
  shared/images/icons/icon-onboarding-number-new-48.png
  shared/images/icons/icon-onboarding-number-new-48@2x.png
  shared/images/icons/icon-onboarding-number-new-48@3x.png
  shared/images/icons/icon-onboarding-number-verify-32.png
  shared/images/icons/icon-onboarding-number-verify-32@2x.png
  shared/images/icons/icon-onboarding-number-verify-32@3x.png
  shared/images/icons/icon-onboarding-number-verify-48.png
  shared/images/icons/icon-onboarding-number-verify-48@2x.png
  shared/images/icons/icon-onboarding-number-verify-48@3x.png
Due: none

--wip-- [skip ci]
  go/protocol/keybase1/home.go
  protocol/avdl/keybase1/home.avdl
  protocol/json/keybase1/home.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

changes according to the review
  go/client/cmd_passphrase_recover.go
  go/client/ui.go
  go/engine/passphrase_recover.go
Due: none

review feedback from jakob223
  shared/actions/fs-gen.js
  shared/actions/fs/index.js
  shared/actions/json/fs.json
  shared/fs/common/load-path-metadata-when-needed.js
  shared/fs/row/load-files-when-needed.js
  shared/reducers/fs.js
Due: eslint, flow, prettier

offline data plumbing
  protocol/bin/enabled-calls.json
  shared/actions/fs/index.js
  shared/constants/fs.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/fs/common/index.stories.js
  shared/fs/common/load-path-metadata-when-needed.js
  shared/fs/row/index.stories.js
  shared/fs/row/load-files-when-needed.js
  shared/reducers/fs.js
Due: eslint, flow, prettier

narrower check for throwing out events that trigger visibility check
  shared/chat/conversation/list-area/normal/index.desktop.js
Due: eslint, flow, prettier

deduplicated functions
  go/engine/passphrase_recover_test.go
Due: none

client: `fs clear-conflicts` requires an argument
  go/client/cmd_simplefs_clear_conflicts.go
Due: none

changelog 400
  shared/desktop/CHANGELOG.txt
Due: none

Fix batch signup with no-email
  go/client/cmd_signup.go
Due: none

narrower check for throwing out events that trigger visibility check (#17393)
  shared/chat/conversation/list-area/normal/index.desktop.js
Due: eslint, flow, prettier

const it up
  shared/constants/signup.js
  shared/login/signup/username-email/index.js
  shared/signup/username/index.js
Due: eslint, flow, prettier

fix
  go/chat/push.go
  go/chat/sender.go
  go/chat/sender_test.go
Due: none

Make sure hasRandomPW is in the store before showing signout screens
  shared/settings/logout/container.js
  shared/settings/logout/index.js
Due: eslint, flow, prettier

Fix batch signup with no-email (#17396)
  go/client/cmd_signup.go
Due: none

offline data plumbing (#17268)
  protocol/bin/enabled-calls.json
  shared/actions/fs-gen.js
  shared/actions/fs/index.js
  shared/actions/json/fs.json
  shared/constants/fs.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/fs/common/index.stories.js
  shared/fs/common/load-path-metadata-when-needed.js
  shared/fs/row/index.stories.js
  shared/fs/row/load-files-when-needed.js
  shared/reducers/fs.js
Due: eslint, flow, prettier

Make sure hasRandomPW is in the store before showing signout screens (#17400)
  shared/settings/logout/container.js
  shared/settings/logout/index.js
Due: eslint, flow, prettier

retry pkg/check api call (#17391)
  go/service/config.go
Due: none

cleaner-config cli
  go/client/cmd_db.go
  go/libkb/db.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/libkb/leveldb.go
  go/libkb/leveldb_cleaner.go
  go/libkb/leveldb_test.go
  go/libkb/memdb.go
  go/protocol/keybase1/ctl.go
  go/service/ctl.go
  protocol/avdl/keybase1/ctl.avdl
  protocol/json/keybase1/ctl.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

prefetcher: send status notification right away when out of space
  go/kbfs/libkbfs/prefetcher.go
  go/kbfs/libkbfs/util.go
  go/kbfs/simplefs/simplefs.go
Due: none

disk_block_cache: really check sync cache space limit
  go/kbfs/libkbfs/disk_block_cache.go
  go/kbfs/libkbfs/prefetcher_test.go
Due: none

client: show out-of-sync-space errors in `fs sync show`
  go/client/cmd_simplefs_sync_show.go
Due: none

protocol: add out-of-sync-space bool to sync status
  go/protocol/keybase1/kbfs_common.go
  protocol/avdl/keybase1/kbfs_common.avdl
  protocol/json/keybase1/kbfs_common.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

util: enforce prefetch status when filling in disk stats
  go/kbfs/libkbfs/prefetcher.go
  go/kbfs/libkbfs/util.go
  go/kbfs/simplefs/simplefs.go
Due: none

simplefs: subscribe to empty TLFs after they are created
  go/kbfs/simplefs/simplefs.go
  go/kbfs/simplefs/simplefs_test.go
Due: none

libkb.ShutdownChanDefaultSize
  go/chat/convloader.go
  go/chat/inboxsource.go
  go/chat/search/indexer.go
  go/chat/sender.go
  go/chat/teammentionloader.go
  go/gregor/client/client.go
  go/libkb/constants.go
  go/libkb/identify3.go
Due: none

stop chat modules on g shutdown, shutdown g in systests
  go/chat/inboxsource.go
  go/service/main.go
  go/systests/ctl_test.go
Due: none

InboxSource: block until fully shutdown
  go/chat/inboxsource.go
Due: none

errgroups instead
  go/chat/convloader.go
  go/chat/inboxsource.go
  go/chat/search/indexer.go
  go/chat/sender.go
  go/chat/teammentionloader.go
  go/gregor/client/client.go
  go/libkb/constants.go
  go/libkb/identify3.go
Due: none
