Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

Pending
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

More
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Add TODO
  shared/wallets/transaction/index.js
Due: eslint, flow

experimental config
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Tweak more params
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Plumb through reference time
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Use markdown memo
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Use relative dates
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Fix pending
  shared/wallets/transaction/index.js
Due: eslint, flow

make mixprops and set same defaultprops on newinput
  shared/common-adapters/new-input.js
  shared/common-adapters/plain-input.desktop.js
  shared/common-adapters/plain-input.js.flow
Due: eslint, flow

Fix ref
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Remove avatar file when clearing cache
  go/avatars/fullcaching.go
  go/avatars/fullcaching_test.go
Due: none

support restart of kbfs
  go/libkb/notify_router.go
  go/protocol/keybase1/notify_service.go
  protocol/avdl/keybase1/notify_service.avdl
  protocol/js/rpc-gen.js
  protocol/json/keybase1/notify_service.json
  shared/constants/types/rpc-gen.js
  shared/native/notification-listeners.desktop.js
Due: eslint, flow

prettier
  shared/profile/add-to-team/index.js
Due: eslint, flow

flow flow
  shared/common-adapters/new-input.js
  shared/common-adapters/plain-input.desktop.js
  shared/common-adapters/plain-input.js.flow
  shared/common-adapters/plain-input.native.js
Due: eslint, flow

don't export copytoDownload
  shared/actions/fs-platform-specific.ios.js
  shared/actions/fs-platform-specific.js.flow
  shared/actions/fs/index.js
  shared/actions/fs/platform-specific.android.js
  shared/actions/fs/platform-specific.desktop.js
  shared/actions/fs/platform-specific.ios.js
  shared/actions/fs/platform-specific.js.flow
  shared/util/saga.js
Due: eslint, flow

update comment
  shared/common-adapters/plain-input.js.flow
Due: flow

show local file as preview when sending
  shared/chat/conversation/messages/message-popup/attachment/container.js
  shared/chat/conversation/messages/message-popup/attachment/index.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
Due: eslint, flow

Revert "disable test that was failing"
  go/systests/ephemeral_test.go
Due: none

use wordWrap
  shared/chat/conversation/info-panel/header.js
Due: eslint, flow

review
  go/libkb/pipeowner_windows.go
  go/libkb/security_windows.go
  go/libkb/socket_windows.go
  go/libkb/socket_windows_test.go
  go/libkb/testfixtures/npipe/main.go
Due: none

styleSheetCreate and markdown
  shared/chat/conversation/info-panel/header.js
Due: eslint, flow

WIP
  shared/actions/config.js
  shared/common-adapters/icon.desktop.js
Due: eslint, flow

show local file as preview when sending (#11858)
  shared/chat/conversation/messages/message-popup/attachment/container.js
  shared/chat/conversation/messages/message-popup/attachment/index.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
Due: eslint, flow

restart kbfs
  shared/actions/fs-platform-specific.desktop.js
  shared/actions/kbfs.desktop.js
Due: eslint, flow

send watchdog logs
  go/client/cmd_ctl_watchdog2.go
  go/client/cmd_log_send.go
  go/install/install_darwin.go
  go/install/install_unix.go
  go/install/install_windows.go
  go/libcmdline/cmdline.go
  go/libkb/config.go
  go/libkb/env.go
  go/libkb/interfaces.go
  go/libkb/log_send.go
  packaging/windows/WIXInstallers/KeybaseApps/KeybaseApps.wxs
  shared/desktop/app/start-win-service.js
Due: eslint, flow

arg order
  go/install/install_darwin.go
  go/install/install_unix.go
  packaging/windows/WIXInstallers/KeybaseApps/KeybaseApps.wxs
  shared/actions/fs/platform-specific.desktop.js
  shared/actions/kbfs.desktop.js
  shared/desktop/app/start-win-service.js
Due: eslint, flow

js changes
  shared/actions/fs/platform-specific.desktop.js
  shared/actions/kbfs.desktop.js
Due: eslint, flow

startup shortcut change
  packaging/windows/WIXInstallers/KeybaseApps/KeybaseApps.wxs
Due: none

WIP
  go/client/cmd_ctl_watchdog2.go
  go/libkb/util_nix.go
  go/libkb/util_windows.go
Due: none

formatting, somehow
  go/client/cmd_log_send.go
  go/install/install_windows.go
  go/libkb/log_send.go
Due: none

working on windows
  go/client/cmd_ctl_watchdog2.go
  go/libkb/util_windows.go
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
