Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

escaping
  go/client/terminal.go
Due: none

fix
  go/client/terminal.go
Due: none

AppStatusCode
  go/git/settings.go
Due: none

TeamWritePermDeniedError
  go/git/settings.go
  go/libkb/constants.go
  go/libkb/errors.go
  go/libkb/rpc_exim.go
  go/protocol/keybase1/constants.go
  protocol/avdl/keybase1/constants.avdl
  protocol/json/keybase1/constants.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

WIP
  shared/babel.config.js
  shared/package.json
  shared/test/setupTestFrameworkScriptFile.js
Due: eslint, flow

do not newline on empty desc
  go/client/terminal.go
Due: none

typo
  go/client/terminal.go
Due: none

Always show avatar for requestPayment and sendPayment messages
  shared/constants/chat2/message.js
Due: eslint, flow

WIP
  shared/package.json
  shared/react-native/android/app/build.gradle
  shared/react-native/android/build.gradle
  shared/yarn.lock
Due: none

Fixed fonts and spacings on wallet settings page
  shared/wallets/wallet/index.js
  shared/wallets/wallet/settings-popup/index.js
Due: eslint, flow

tweaked desktop
  shared/common-adapters/dropdown.js
  shared/common-adapters/dropdown.stories.js
  shared/git/new-repo/index.js
Due: eslint, flow

Fix bind
  go/bind/keybase.go
Due: none

decrement pipeCheckFail handshake wait on success
  shared/actions/platform-specific/index.desktop.js
Due: eslint, flow

throw on pipeowner fail
  shared/actions/platform-specific/index.desktop.js
Due: eslint, flow

undo wait on success
  shared/actions/platform-specific/index.desktop.js
Due: eslint, flow

maybe fix jest not actually workking (cache issue)
  shared/package.json
  shared/yarn.lock
Due: none

WIP: Add some helpers, create the team box + go button
  shared/common-adapters/desktop-style.desktop.js
  shared/common-adapters/desktop-style.js.flow
  shared/common-adapters/desktop-style.native.js
  shared/common-adapters/hover-hoc.js
  shared/common-adapters/index.js
  shared/common-adapters/with-tooltip.desktop.js
  shared/common-adapters/with-tooltip.js.flow
  shared/constants/team-building.js
  shared/constants/types/team-building.js
  shared/stories/index.desktop.js
  shared/stories/shared-stories.js
  shared/team-building/go-button.js
  shared/team-building/index.js
  shared/team-building/index.stories.js
  shared/team-building/input.js
  shared/team-building/team-box.js
  shared/team-building/user-bubble.js
Due: eslint, flow

fixed font-size in more menu
  shared/settings/nav/settings-item.js
Due: eslint, flow

Remove unused fields and simplify RequestDetails
  go/client/chat_cli_rendering.go
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service_test.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/constants/wallets.js
Due: eslint, flow

Add additional test case for thousand sep. and decimal pt
  go/stellar/stellar_test.go
Due: none

tweaked dropdown
  shared/common-adapters/dropdown.js
  shared/profile/add-to-team/index.js
  shared/teams/invite-by-email/index.desktop.js
  shared/teams/role-picker/index.js
  shared/wallets/wallet/settings-popup/index.js
Due: eslint, flow

Remove TxID from SendPaymentResLocal
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Add test that simulates chat previews of transactions
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service_test.go
Due: none

Add TxID to SendPaymentLocal result, because why not?
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Make accountID optional in getPaymentDetailsLocal
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

always show a message no matter what
  shared/actions/platform-specific/index.desktop.js
Due: eslint, flow

WIP
  shared/app/globals.native.js
Due: eslint, flow

WIP
  shared/react-native/android/app/build.gradle
  shared/test/setupTestFrameworkScriptFile.js
Due: eslint, flow

Add the tracker on click
  shared/common-adapters/name-with-icon.js
  shared/wallets/send-form/participants/container.js
  shared/wallets/send-form/participants/to-field.js
Due: eslint, flow

only log error when an error happens
  go/chat/teams.go
Due: none

Always show avatar for requestPayment and sendPayment messages (#13480)
  shared/constants/chat2/message.js
Due: eslint, flow
