Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

wip
  go/chat/attachments/uploader.go
  go/chat/server.go
  go/chat/types/interfaces.go
Due: none

ws
  go/chat/server.go
Due: none

better result chan stuff
  go/chat/attachments/uploader.go
Due: none

test
  go/chat/attachments/uploader_test.go
Due: none

let caller wait, most dont
  go/chat/attachments/uploader.go
  go/chat/attachments/uploader_test.go
  go/chat/server.go
  go/chat/types/interfaces.go
Due: none

wip
  go/chat/attachments/stash.go
  go/chat/attachments/store.go
  go/chat/attachments/uploader.go
Due: none

change tests
  go/chat/attachments/store_test.go
Due: none

dont use previous if we cant listparts
  go/chat/attachments/s3.go
Due: none

all sizes in64
  go/chat/attachments/crypt.go
  go/chat/attachments/store.go
  go/chat/attachments/uploader.go
  go/chat/signencrypt/codec.go
Due: none

Revendor go-crypto
  go/libkb/pgp_gen.go
  go/vendor/github.com/keybase/go-crypto/cast5/cast5.go
  go/vendor/github.com/keybase/go-crypto/curve25519/const_amd64.h
  go/vendor/github.com/keybase/go-crypto/curve25519/const_amd64.s
  go/vendor/github.com/keybase/go-crypto/curve25519/cswap_amd64.s
  go/vendor/github.com/keybase/go-crypto/curve25519/curve25519.go
  go/vendor/github.com/keybase/go-crypto/curve25519/doc.go
  go/vendor/github.com/keybase/go-crypto/curve25519/freeze_amd64.s
  go/vendor/github.com/keybase/go-crypto/curve25519/ladderstep_amd64.s
  go/vendor/github.com/keybase/go-crypto/curve25519/mul_amd64.s
  go/vendor/github.com/keybase/go-crypto/curve25519/square_amd64.s
  go/vendor/github.com/keybase/go-crypto/ed25519/ed25519.go
  go/vendor/github.com/keybase/go-crypto/openpgp/ecdh/ecdh.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/encrypted_key.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/packet.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/private_key.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/public_key.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/public_key_v3.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/signature.go
  go/vendor/github.com/keybase/go-crypto/openpgp/packet/symmetric_key_encrypted.go
  go/vendor/github.com/keybase/go-crypto/rsa/pkcs1v15.go
  go/vendor/github.com/keybase/go-crypto/rsa/pss.go
  go/vendor/github.com/keybase/go-crypto/rsa/rsa.go
  go/vendor/vendor.json
Due: none

oops
  go/vendor/github.com/keybase/go-crypto/openpgp/keys.go
  go/vendor/github.com/keybase/go-crypto/openpgp/write.go
  go/vendor/vendor.json
Due: none

feedback
  shared/chat/conversation/input-area/filepicker-popup/index.native.js
  shared/chat/conversation/input-area/filepicker-popup/index.types.js.flow
Due: eslint, flow

type
  shared/chat/conversation/input-area/filepicker-popup/index.types.js.flow
Due: flow

use floating menu exclusively for selecting attachment type (#13146)
  shared/chat/conversation/input-area/filepicker-popup/index.native.js
  shared/chat/conversation/input-area/filepicker-popup/index.types.js.flow
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow

feedback
  shared/people/task/container.js
Due: eslint, flow

separate IncomingMessage by ChatActivitySource
  go/chat/sbs_test.go
  go/chat/server_test.go
Due: none

cleanup
  go/chat/sender_test.go
Due: none

wip
  go/chat/push_test.go
  go/chat/sender_test.go
Due: none

reenable TestChatSrvSetConvMinWriterRole
  go/chat/server_test.go
Due: none

Fix orange line logic on entering a conversation with no orange line (#13122)
  shared/chat/conversation/messages/wrapper/wrapper-author/container.js
  shared/chat/conversation/messages/wrapper/wrapper-timestamp/container.js
  shared/constants/chat2/index.js
  shared/constants/chat2/meta.js
  shared/constants/types/chat2/index.js
  shared/constants/types/chat2/meta.js
  shared/reducers/chat2.js
Due: eslint, flow

Fix test
  go/chat/server_test.go
Due: none

fix crash with change password being controlled
  shared/settings/passphrase/container.js
  shared/settings/passphrase/index.js
Due: eslint, flow

WIP
  shared/settings/passphrase/index.js
Due: eslint, flow

fix provision long pass
  shared/login/signup/passphrase/index.js
Due: eslint, flow

WIP
  shared/common-adapters/input.native.js
Due: eslint, flow

WIP
  shared/actions/chat2/index.js
Due: eslint, flow

Polish NoteAndMenu
  shared/wallets/send-form/confirm/index.js
  shared/wallets/send-form/confirm/index.stories.js
  shared/wallets/send-form/memo/container.js
  shared/wallets/send-form/memo/index.js
Due: eslint, flow

Remove memo props in confirm screen
  shared/wallets/send-form/confirm/index.js
Due: eslint, flow

Add props for conversion/amount
  shared/wallets/send-form/confirm/index.js
  shared/wallets/send-form/confirm/index.stories.js
Due: eslint, flow

Updated vendored keybase/saltpack
  go/vendor/github.com/keybase/saltpack/armor.go
  go/vendor/github.com/keybase/saltpack/armor62.go
  go/vendor/github.com/keybase/saltpack/armor62_decrypt.go
  go/vendor/github.com/keybase/saltpack/armor62_signcrypt.go
  go/vendor/github.com/keybase/saltpack/armor62_verify.go
  go/vendor/github.com/keybase/saltpack/classify_and_decrypt.go
  go/vendor/github.com/keybase/saltpack/const.go
  go/vendor/github.com/keybase/saltpack/errors.go
  go/vendor/github.com/keybase/saltpack/frame.go
  go/vendor/github.com/keybase/saltpack/msgpack.go
  go/vendor/vendor.json
Due: none

Add waiting prop
  shared/wallets/send-form/confirm/index.js
  shared/wallets/send-form/confirm/index.stories.js
Due: eslint, flow

Style back button
  shared/wallets/send-form/confirm/index.js
Due: eslint, flow

remove 2 deepcopy calls
  go/teams/loader.go
  go/teams/loader2.go
Due: none

removed some logic which was moved to the saltpack repo
  go/libkb/saltpack_dec.go
  go/libkb/saltpack_verify.go
  go/libkb/stream_classifier.go
  go/libkb/stream_classifier_test.go
Due: none

WIP
  shared/actions/__tests__/signup.test.js
  shared/actions/config-gen.js
  shared/actions/config/index.js
  shared/actions/json/config.json
  shared/actions/login.js
  shared/actions/provision.js
  shared/constants/config.js
  shared/constants/types/config.js
  shared/login/forms/index.js
  shared/login/forms/index.stories.js
  shared/login/forms/intro/container.js
  shared/login/forms/intro/index.js
  shared/login/forms/splash/container.js
  shared/login/forms/splash/index.js
  shared/login/index.stories.js
  shared/login/login/container.js
  shared/login/login/dropdown.native.js
  shared/login/login/index.desktop.js
  shared/login/login/index.js.flow
  shared/login/login/index.native.js
  shared/login/login/index.stories.js
  shared/login/login/routes.js
  shared/login/routes.js
  shared/login/signup/routes.js
  shared/reducers/config.js
Due: eslint, flow

WIP
  shared/login/join-or-login/container.js
  shared/login/join-or-login/index.js
  shared/login/loading/container.js
  shared/login/loading/index.js
  shared/login/relogin/container.js
  shared/login/relogin/dropdown.native.js
  shared/login/relogin/index.desktop.js
  shared/login/relogin/index.js.flow
  shared/login/relogin/index.native.js
  shared/login/relogin/index.stories.js
Due: eslint, flow

don't compute a plaintext hash anymore for uploads, use outboxID for stash CORE-8432 (#13148)
  go/chat/attachments/s3.go
  go/chat/attachments/stash.go
  go/chat/attachments/store.go
  go/chat/attachments/store_test.go
  go/chat/attachments/uploader.go
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
