Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

Fix type
  shared/stories/storybook.js.flow
Due: flow

Just use createPropProvider
  shared/chat/conversation/info-panel/index.stories.js
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/chat/conversation/input-area/user-mention-hud/index.stories.js
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/message-popup/index.stories.js
  shared/chat/create-channel/index.stories.js
  shared/chat/inbox/row/index.stories.js
  shared/common-adapters/name-with-icon.stories.js
  shared/git/new-repo/index.stories.js
  shared/login/login/index.stories.js
  shared/people/follow-notification/index.stories.js
  shared/people/follow-suggestions/index.stories.js
  shared/search/result-row/index.stories.js
  shared/settings/delete-confirm/index.stories.js
  shared/stories/prop-providers.js
  shared/stories/storybook.js.flow
  shared/stories/storybook.shared.js
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/index.stories.js
  shared/wallets/wallet-list/index.stories.js
Due: eslint, flow

Use default
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/chat/conversation/input-area/user-mention-hud/index.stories.js
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/message-popup/index.stories.js
  shared/chat/create-channel/index.stories.js
  shared/login/login/index.stories.js
  shared/people/follow-notification/index.stories.js
  shared/people/follow-suggestions/index.stories.js
  shared/search/result-row/index.stories.js
  shared/settings/delete-confirm/index.stories.js
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Rename to composeAndCreate
  shared/chat/conversation/info-panel/index.stories.js
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/chat/conversation/input-area/user-mention-hud/index.stories.js
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/message-popup/index.stories.js
  shared/chat/create-channel/index.stories.js
  shared/chat/inbox/row/index.stories.js
  shared/common-adapters/name-with-icon.stories.js
  shared/git/new-repo/index.stories.js
  shared/login/login/index.stories.js
  shared/people/follow-notification/index.stories.js
  shared/people/follow-suggestions/index.stories.js
  shared/search/result-row/index.stories.js
  shared/settings/delete-confirm/index.stories.js
  shared/stories/prop-providers.js
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/index.stories.js
  shared/wallets/wallet-list/index.stories.js
Due: eslint, flow

Have defaults
  shared/chat/conversation/info-panel/index.stories.js
  shared/stories/prop-providers.js
Due: eslint, flow

Fix
  shared/common-adapters/name-with-icon.stories.js
Due: eslint, flow

Use real data
  shared/stories/prop-providers.js
Due: eslint, flow

Cleanup
  shared/chat/conversation/input-area/user-mention-hud/index.stories.js
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/message-popup/index.stories.js
  shared/chat/create-channel/index.stories.js
  shared/login/login/index.stories.js
  shared/people/follow-notification/index.stories.js
  shared/people/follow-suggestions/index.stories.js
  shared/search/result-row/index.stories.js
  shared/settings/delete-confirm/index.stories.js
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Cleanup
  shared/common-adapters/name-with-icon.stories.js
Due: eslint, flow

Fix more types
  shared/stories/prop-providers.js
Due: eslint, flow

Put back loadOperations
  shared/chat/conversation/info-panel/menu/container.js
  shared/stories/prop-providers.js
Due: eslint, flow

Fix bug
  shared/stories/storybook.shared.js
Due: eslint, flow

Cleanup
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/git/new-repo/index.stories.js
  shared/stories/prop-providers.js
Due: eslint, flow

always sort inbox before writing to disk
  go/chat/storage/inbox.go
Due: none

Fix avatar
  shared/common-adapters/avatar.stories.js
  shared/stories/prop-providers.js
Due: eslint, flow

Fix namewithicon
  shared/common-adapters/name-with-icon.stories.js
  shared/stories/prop-providers.js
Due: eslint, flow

Fix more storyshots
  shared/common-adapters/name-with-icon.stories.js
  shared/stories/prop-providers.js
Due: eslint, flow

Fix one more
  shared/people/follow-suggestions/index.stories.js
Due: eslint, flow

move more actions into platform specific. split out avatar stuff
  shared/actions/config/avatar.js
  shared/actions/config/index.js
  shared/actions/platform-specific.native.js
Due: eslint, flow

test: unflushed edit history test
  test/edit_history_test.go
Due: none

folder_branch_ops: managed the unflushed edit history
  libkbfs/folder_branch_ops.go
Due: none

kbfsedits: support unflushed notifications
  kbfsedits/tlf_history.go
  kbfsedits/tlf_history_test.go
Due: none

keybase_service_util: don't make FBOs if journal err'd
  libkbfs/keybase_service_util.go
Due: none

test: fix unflushed edit history test, create TLF first
  test/edit_history_test.go
Due: none

journal_server: make FBOs for unflushed journals on startup
  libkbfs/config_local.go
  libkbfs/folder_branch_ops.go
  libkbfs/journal_server.go
  libkbfs/keybase_service_util.go
Due: none

just sort the result again to de-flake
  go/chat/server_test.go
Due: none

Fetch SENDPAYMENT messages
  go/client/chat_cli_flag_utils.go
  go/client/chat_svc_handler.go
Due: none

dont do any canonicalize step in JSON API (#12678)
  go/client/chat_svc_handler.go
Due: none

just sort the result again to de-flake (#12687)
  go/chat/server_test.go
Due: none

kbfsedits: handle renames of parent directories
  kbfsedits/tlf_history.go
  kbfsedits/tlf_history_test.go
Due: none

folder_branch_ops: revert renames when making edit notifications
  libkbfs/cr_chains.go
  libkbfs/folder_branch_ops.go
Due: none

test: edit history tests for renaming parents
  test/edit_history_test.go
Due: none

Cleanup + note
  go/client/chat_cli_rendering.go
Due: none

Chat CLI rendering of SENDPAYMENT messages (#12688)
  go/chat/msgchecker/boxed_checker.go
  go/chat/msgchecker/constants.go
  go/chat/msgchecker/plaintext_checker.go
  go/client/chat_cli_flag_utils.go
  go/client/chat_cli_rendering.go
  go/client/chat_svc_handler.go
Due: none

Fix ReAddMemberAfterReset so it finds invite superseding membership (#12615)
  go/teams/implicit_test.go
  go/teams/service_helper.go
Due: none

Only your primary account has a federated address
  shared/wallets/receive-modal/index.js
  shared/wallets/receive-modal/index.stories.js
Due: eslint, flow

Hook up routing for the receive modal
  shared/wallets/container.js
  shared/wallets/index.js
  shared/wallets/routes.js
  shared/wallets/wallet/container.js
  shared/wallets/wallet/header-container.js
  shared/wallets/wallet/header.js
  shared/wallets/wallet/index.js
  shared/wallets/wallet/index.stories.js
Due: eslint, flow

Finish hooking up props
  shared/constants/wallets.js
  shared/wallets/receive-modal/index.js
Due: eslint, flow

clean up debugging
  shared/wallets/receive-modal/index.js
  shared/wallets/wallet/container.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
