Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/ios/Keybase/git-hook
        language: script
        files: shared/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.(js|ts|tsx)$
        args: [
            '--quiet',
            '--resolve-plugins-relative-to shared'
        ]
    -   id: tsc
        name: tsc
        entry: node
        args: ['--max-old-space-size=4096', 'shared/node_modules/.bin/tsc', '-p', 'shared/tsconfig.json']
        language: node
        files: \.(ts|tsx)$
        pass_filenames: false
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.(js|ts|tsx)$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: 314766a2c26b7f32641addbdb0e7e451320ff1f0
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Update icon font.
  shared/common-adapters/icon.constants-gen.tsx
  shared/common-adapters/icon.css
  shared/fonts/kb.ttf
  shared/images/iconfont/162-kb-iconfont-coin-flip-16.svg
  shared/images/iconfont/163-kb-iconfont-location-16.svg
  shared/images/iconfont/86-kb-iconfont-stellar-request-16.svg
  shared/images/iconfont/92-kb-iconfont-stellar-send-16.svg
Due: eslint, tsc, prettier

journeycard changes
  go/chat/convsource.go
  go/chat/globals/globals.go
  go/chat/journey_card_checker.go
  go/chat/sender.go
  go/chat/server_test.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/protocol/chat1/extras.go
  go/service/main.go
Due: none

Update spacing on the +. (#20608)
  shared/signup/phone-number/phone-input.tsx
Due: eslint, tsc, prettier

engine: backout kex2 upgrade, but keep bugfix (#20543)
  go/engine/device_add.go
  go/engine/login_provision.go
Due: none

lint
  shared/chat/conversation/audio-recorder/index.native.tsx
Due: eslint, tsc, prettier

engine: fix linting error intro'ed into PGP push (#20553)
  go/engine/pgp_push_private.go
Due: none

teams: fix for a broken team (#20511)
  go/teams/loader2.go
Due: none

ts 3.7rc1
  shared/chat/conversation/messages/wrapper/long-pressable/index.native.tsx
  shared/common-adapters/icon.native.tsx
  shared/common-adapters/index.d.ts
  shared/common-adapters/maybe-popup.tsx
  shared/common-adapters/oriented-image.desktop.tsx
  shared/common-adapters/reload.stories.tsx
  shared/common-adapters/section-list.desktop.tsx
  shared/common-adapters/section-list.stories.tsx
  shared/constants/types/team-building.tsx
  shared/package.json
  shared/reducers/chat2.tsx
  shared/router-v2/header/index.desktop.tsx
  shared/router-v2/router.desktop.tsx
  shared/router-v2/router.native.tsx
  shared/router-v2/shim.native.tsx
  shared/stories/storybook.shared.tsx
  shared/util/container.tsx
  shared/wallets/send-form/participants/container.tsx
  shared/yarn.lock
Due: eslint, tsc, prettier

fix TestProofSuggestions
  go/systests/profile_test.go
Due: none

Add some explanation to the lockdown mode checkbox
  shared/settings/account/index.tsx
  shared/settings/advanced/index.tsx
Due: eslint, tsc, prettier

delete log line
  go/chat/convsource.go
Due: none

readme
  shared/README.md
Due: none

Fix badge state when no lastSeenVersion exists
  shared/actions/config/index.tsx
  shared/constants/whats-new.tsx
Due: eslint, tsc, prettier

fix lint
  shared/teams/container.tsx
Due: eslint, tsc, prettier

wip
  go/avatars/fullcaching.go
  go/avatars/interfaces.go
  go/avatars/simple.go
  go/avatars/srv.go
  go/avatars/urlcaching.go
  go/chat/maps/maps.go
  go/chat/maps/srv.go
  go/chat/unfurl/packager.go
  go/libkb/globals.go
  go/libkb/interfaces.go
  go/service/avatars.go
  go/service/main.go
Due: none

enable echo command
  shared/desktop/app/menu-bar.desktop.tsx
  shared/desktop/remote/store.desktop.tsx
  shared/desktop/renderer/main2.desktop.tsx
  shared/engine/index-impl.tsx
Due: eslint, tsc, prettier

kbfs: always delete journal test dir after shutting down
  go/kbfs/kbfsgit/runner_test.go
  go/kbfs/libkbfs/kbfs_cr_test.go
Due: none

Hide commands from restrictedbots who won't be keyed for commands (#20538)
  go/chat/botcommands_test.go
  go/chat/bots/commands.go
  go/chat/inboxsource.go
  go/chat/server_test.go
  go/chat/types/interfaces.go
  go/protocol/keybase1/extras.go
  go/teams/service_helper.go
Due: none

Add some constructors
  go/protocol/stellar1/extras.go
Due: none

add team ID to UI inbox types
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.tsx
Due: eslint, tsc, prettier

Fix badge state when no lastSeenVersion exists (#20609)
  shared/actions/config/index.tsx
  shared/constants/whats-new.tsx
Due: eslint, tsc, prettier

fix flake
  go/chat/uiinboxloader_test.go
Due: none

WIP
  shared/constants/chat2/index.tsx
  shared/constants/types/team-building.tsx
  shared/reducers/teams.tsx
  shared/reducers/users.tsx
  shared/styles/colors.tsx
  shared/util/container.tsx
  shared/util/make-reducer.tsx
Due: eslint, tsc, prettier

delete log line (#20614)
  go/chat/convsource.go
Due: none

exclude convs with no topic name
  go/chat/sender.go
Due: none

lint
  go/systests/profile_test.go
Due: none

clean
  go/chat/sender.go
Due: none

Enable usertimings for systrace
  shared/index.android.js
Due: eslint, prettier

scale avatar, use avatar on loc popup
  go/chat/maps/maps.go
  go/chat/maps/srv.go
  go/chat/unfurl/packager.go
  shared/chat/conversation/input-area/normal/location-popup.tsx
Due: eslint, tsc, prettier

Getting outbox id passed in to send...
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
Due: none

wip
  protocol/bin/enabled-calls.json
  shared/actions/chat2/index.tsx
  shared/chat/conversation/audio-recorder/amptracker.tsx
  shared/chat/conversation/audio-recorder/index.native.tsx
  shared/constants/types/rpc-chat-gen.tsx
Due: eslint, tsc, prettier

lint
  go/chat/journey_card_checker.go
Due: none

add team ID to UI inbox types (#20616)
  go/chat/utils/utils.go
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.tsx
Due: eslint, tsc, prettier

fs/gui: fix makeUUID (#20593)
  shared/constants/fs.tsx
  shared/fs/common/hooks.tsx
  shared/package.json
  shared/yarn.lock
Due: eslint, tsc, prettier

don't explicitly load folderList on success of creating new folder (#20594)
  shared/actions/fs/index.tsx
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier
