Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

govendor update github.com/keybase/stellarnet/...
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/github.com/keybase/stellarnet/errors.go
  go/vendor/vendor.json
Due: none

use random memo ID in claim transactions
  go/stellar/stellar.go
Due: none

BuildPayment shows error banner for would-be relays from non-primary account (#14580)
  go/stellar/bpc.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/service.go
Due: none

move log
  go/stellar/autoclaim.go
Due: none

Display config for all proof types (#14562)
  go/externals/services.go
  go/externals/services_test.go
  go/libkb/remote_proof_links.go
  go/protocol/keybase1/prove_common.go
  protocol/avdl/keybase1/prove_common.avdl
  protocol/json/keybase1/prove_common.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Kick autoclaim runner after creating wallet (#14565)
  go/stellar/autoclaim.go
  go/stellar/global.go
  go/stellar/stellar.go
Due: none

dont nav if we didn't actually cancel anything
  shared/actions/provision.js
Due: eslint, flow

first payment transfer copy
  go/stellar/stellarsvc/frontend.go
Due: none

Mark as read on reaction updates
  shared/actions/chat2/index.js
Due: eslint, flow

have wallet popup help more with platform split
  shared/wallets/common/account-page-header.js
  shared/wallets/common/enter-name-popup/index.js
  shared/wallets/common/enter-name-popup/index.stories.js
  shared/wallets/common/wallet-popup.js
  shared/wallets/create-account/index.js
  shared/wallets/export-secret-key/container.js
  shared/wallets/export-secret-key/index.js
  shared/wallets/export-secret-key/index.stories.js
  shared/wallets/link-existing/enter-key-popup.js
  shared/wallets/link-existing/index.js
  shared/wallets/onboarding/disclaimer.js
  shared/wallets/onboarding/intro.js
  shared/wallets/receive-modal/index.js
  shared/wallets/wallet-list/index.stories.js
  shared/wallets/wallet/settings/popups/really-remove-account/index.js
  shared/wallets/wallet/settings/popups/remove-account/index.js
  shared/wallets/wallet/settings/popups/rename-account/index.js
  shared/wallets/wallet/settings/popups/set-default/index.js
Due: eslint, flow

cleanup
  shared/wallets/wallet-list/index.js
Due: eslint, flow

wallet list
  shared/wallets/wallet-list/index.js
Due: eslint, flow

EnterNamePopup -> EnterName
  shared/wallets/common/enter-name/index.js
  shared/wallets/common/enter-name/index.stories.js
  shared/wallets/common/index.js
  shared/wallets/common/index.stories.js
  shared/wallets/create-account/index.js
  shared/wallets/link-existing/index.js
  shared/wallets/wallet/settings/popups/rename-account/index.js
Due: eslint, flow

EnterKeyPopup -> EnterKey
  shared/wallets/link-existing/enter-key.js
  shared/wallets/link-existing/index.js
Due: eslint, flow

dont let typing in user hud trip the selection accidentally
  shared/chat/conversation/input-area/user-mention-hud/index.js
  shared/chat/conversation/input-area/user-mention-hud/mention-hud-container.js
  shared/common-adapters/clickable-box.desktop.js
  shared/common-adapters/clickable-box.js.flow
Due: eslint, flow

WIP
  shared/chat/conversation/input-area/user-mention-hud/index.js
Due: eslint, flow

randbytes
  go/stellar/stellar.go
Due: none

Mark as read on reaction updates (#14597)
  shared/actions/chat2/index.js
Due: eslint, flow

Reaname scripts to update-icon-{font,constants}
  shared/common-adapters/icon.constants.js
  shared/desktop/yarn-helper/font.js
  shared/images/iconfont/README.md
  shared/package.json
Due: eslint, flow

Update README with testing and debugging steps
  shared/images/iconfont/README.md
Due: none

Add updated instructions on Sketch export
  shared/images/iconfont/FONTFORGE.md
  shared/images/iconfont/README.md
  shared/images/iconfont/SKETCH.md
  shared/images/iconfont/z-sketch-combined-layers.png
  shared/images/iconfont/z-sketch-icon-area-fill-rule.png
  shared/images/iconfont/z-sketch-uncombined-layers.png
Due: none

Update comment in icon.constants.js
  shared/desktop/yarn-helper/font.js
Due: eslint, flow

Restore optional webfonts-generator dependency
  shared/desktop/yarn-helper/font.js
Due: eslint, flow

Correct fill-rule and spelling for sketch
  shared/images/iconfont/SKETCH.md
Due: none

Spellchecking
  shared/images/iconfont/README.md
  shared/images/iconfont/SKETCH.md
Due: none

Skip unmatched file name logging correctly
  shared/common-adapters/icon.constants.js
  shared/desktop/yarn-helper/font.js
Due: eslint, flow

Spelling
  shared/images/iconfont/SKETCH.md
Due: none

bulk user add from the CLI
  go/client/cmd_team.go
  go/client/cmd_team_add_members_bulk.go
  go/protocol/keybase1/teams.go
  go/service/teams.go
  go/systests/team_tx_test.go
  go/systests/teams_test.go
  go/teams/errors.go
  go/teams/member_test.go
  go/teams/service_helper.go
  go/teams/transactions.go
  go/teams/transactions_test.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

cleanups
  go/service/teams.go
  go/systests/teams_test.go
  go/teams/errors.go
  go/teams/transactions.go
Due: none

more tests and fix tests
  go/systests/teams_test.go
  go/teams/errors.go
  go/teams/transactions.go
Due: none

better docs
  go/client/cmd_team_add_members_bulk.go
Due: none

comments from review
  go/teams/errors.go
  go/teams/transactions.go
Due: none

Add scrollview
  shared/wallets/transaction-details/index.stories.js
Due: eslint, flow

Remove ehader
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Better divider
  shared/wallets/transaction-details/index.js
Due: eslint, flow

Remove weird fullheight
  shared/wallets/transaction-details/index.js
Due: eslint, flow

Align self
  shared/wallets/transaction-details/index.js
Due: eslint, flow
