Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

only accept account updates if we've loaded them already and load assets as a side effect instead of emitting another action
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

vendor camlistore.org/pkg/images properly
  go/vendor/camlistore.org/COPYING
  go/vendor/camlistore.org/pkg/buildinfo/buildinfo.go
  go/vendor/camlistore.org/pkg/images/fastjpeg/fastjpeg.go
  go/vendor/camlistore.org/pkg/images/images.go
  go/vendor/camlistore.org/pkg/images/resize/resize.go
  go/vendor/github.com/nf/cr2/LICENSE
  go/vendor/github.com/nf/cr2/buffer.go
  go/vendor/github.com/nf/cr2/consts.go
  go/vendor/github.com/nf/cr2/reader.go
  go/vendor/github.com/rwcarlsen/goexif/LICENSE
  go/vendor/github.com/rwcarlsen/goexif/exif/README.md
  go/vendor/github.com/rwcarlsen/goexif/exif/exif.go
  go/vendor/github.com/rwcarlsen/goexif/exif/fields.go
  go/vendor/github.com/rwcarlsen/goexif/exif/sample1.jpg
  go/vendor/github.com/rwcarlsen/goexif/tiff/sample1.tif
  go/vendor/github.com/rwcarlsen/goexif/tiff/tag.go
  go/vendor/github.com/rwcarlsen/goexif/tiff/tiff.go
  go/vendor/go4.org/LICENSE
  go/vendor/go4.org/readerutil/bufreaderat.go
  go/vendor/go4.org/readerutil/countingreader.go
  go/vendor/go4.org/readerutil/fakeseeker.go
  go/vendor/go4.org/readerutil/multireaderat.go
  go/vendor/go4.org/readerutil/readersize.go
  go/vendor/go4.org/readerutil/readerutil.go
  go/vendor/golang.org/x/image/LICENSE
  go/vendor/golang.org/x/image/PATENTS
  go/vendor/golang.org/x/image/draw/draw.go
  go/vendor/golang.org/x/image/draw/impl.go
  go/vendor/golang.org/x/image/draw/scale.go
  go/vendor/golang.org/x/image/math/f64/f64.go
  go/vendor/golang.org/x/image/tiff/buffer.go
  go/vendor/golang.org/x/image/tiff/compress.go
  go/vendor/golang.org/x/image/tiff/consts.go
  go/vendor/golang.org/x/image/tiff/lzw/reader.go
  go/vendor/golang.org/x/image/tiff/reader.go
  go/vendor/golang.org/x/image/tiff/writer.go
  go/vendor/vendor.json
Due: none

add displayCurrency to AccountDetails and WalletAccountLocal
  go/protocol/chat1/notify.go
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/bpc.go
  go/stellar/remote/remote.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/details.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/transform.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

regenerate dependencies
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
Due: none

fix protocol formatting
  go/protocol/chat1/notify.go
Due: none

WIP
  go/protocol/chat1/notify.go
  shared/actions/config/index.js
  shared/actions/json/profile.json
  shared/actions/profile-gen.js
  shared/actions/profile/index.js
  shared/actions/profile/pgp.js
  shared/actions/profile/proofs.js
  shared/constants/config.js
  shared/constants/profile.js
  shared/constants/types/profile.js
  shared/profile/pgp/info.desktop.js
  shared/profile/post-proof/container.js
  shared/profile/post-proof/index.desktop.js
  shared/profile/post-proof/index.js.flow
  shared/profile/post-proof/index.native.js
  shared/profile/prove-enter-username/container.js
  shared/profile/revoke/container.js
  shared/profile/revoke/index.js
  shared/profile/revoke/index.js.flow
  shared/profile/revoke/index.stories.js
  shared/reducers/profile.js
Due: eslint, flow

vendor stellar/go/build package
  go/vendor/vendor.json
Due: none

only accept account updates if we've loaded them already (#15104)
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

cr_chains: update rename infos with changed original pointer
  libkbfs/conflict_resolver.go
  libkbfs/cr_chains.go
  test/cr_basic_conflicts_test.go
Due: none

WIP
  shared/actions/profile/index.js
Due: eslint, flow

wip
  shared/chat/payments/status/details.js
  shared/chat/payments/status/index.stories.js
Due: eslint, flow

WIP
  go/stellar/loader.go
Due: none

Always take remote seqno in ForceSeqnoRefresh
  go/stellar/wallet_state.go
Due: none

WIP
  shared/chat/conversation/rekey/container.js
  shared/chat/conversation/rekey/participant-rekey.types.js.flow
  shared/chat/conversation/rekey/you-rekey.native.js
  shared/common-adapters/header-hoc.types.js.flow
  shared/profile/container.js
  shared/profile/index.desktop.js
  shared/profile/index.js.flow
  shared/profile/index.native.js
  shared/profile/post-proof/container.js
  shared/profile/post-proof/index.desktop.js
  shared/profile/post-proof/index.js.flow
  shared/profile/post-proof/index.native.js
  shared/profile/post-proof/index.stories.js
  shared/profile/profile.stories.js
  shared/profile/prove-enter-username/container.js
  shared/profile/prove-enter-username/index.desktop.js
  shared/profile/prove-enter-username/index.js.flow
  shared/profile/prove-enter-username/index.native.js
  shared/profile/prove-enter-username/index.stories.js
  shared/settings/passphrase/index.js
Due: eslint, flow

add displayCurrency to AccountDetails and WalletAccountLocal (#15056)
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/bpc.go
  go/stellar/remote/remote.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/details.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/transform.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

files were being excluded by exuberant .gitignore rule
  .gitignore
  go/vendor/github.com/stellar/go/build/account_merge.go
  go/vendor/github.com/stellar/go/build/allow_trust.go
  go/vendor/github.com/stellar/go/build/asset.go
  go/vendor/github.com/stellar/go/build/change_trust.go
  go/vendor/github.com/stellar/go/build/create_account.go
  go/vendor/github.com/stellar/go/build/inflation.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/manage_data.go
  go/vendor/github.com/stellar/go/build/manage_offer.go
  go/vendor/github.com/stellar/go/build/operation.go
  go/vendor/github.com/stellar/go/build/payment.go
  go/vendor/github.com/stellar/go/build/set_options.go
  go/vendor/github.com/stellar/go/build/testing.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/github.com/stellar/go/build/transaction_envelope.go
  go/vendor/github.com/stellar/go/build/util.go
  go/vendor/golang.org/x/text/collate/build/builder.go
  go/vendor/golang.org/x/text/collate/build/colelem.go
  go/vendor/golang.org/x/text/collate/build/contract.go
  go/vendor/golang.org/x/text/collate/build/order.go
  go/vendor/golang.org/x/text/collate/build/table.go
  go/vendor/golang.org/x/text/collate/build/trie.go
Due: none

WIP
  shared/actions/profile/pgp.js
  shared/actions/profile/proofs.js
  shared/reducers/profile.js
Due: eslint, flow

WIP
  shared/actions/json/profile.json
  shared/actions/profile-gen.js
  shared/actions/profile/index.js
  shared/common-adapters/user-bio.js.flow
  shared/profile/container.js
  shared/profile/index.desktop.js
  shared/profile/index.js.flow
  shared/profile/index.native.js
  shared/profile/profile.stories.js
  shared/reducers/profile.js
  shared/tracker/index.desktop.js
  shared/tracker/index.js.flow
  shared/tracker/index.stories.desktop.js
Due: eslint, flow

update some more vendoring to the previous version
  go/vendor/camlistore.org/pkg/images/fastjpeg/fastjpeg.go
  go/vendor/github.com/stellar/go/build/bump_sequence.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/vendor.json
Due: none

fix some more vendor dependencies
  go/vendor/github.com/rwcarlsen/goexif/exif/exif.go
  go/vendor/github.com/rwcarlsen/goexif/exif/fields.go
  go/vendor/github.com/rwcarlsen/goexif/tiff/tag.go
  go/vendor/github.com/stellar/go/build/bump_sequence.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/vendor.json
Due: none

WIP
  shared/actions/json/profile.json
  shared/actions/profile-gen.js
  shared/reducers/profile.js
  shared/util/simple-validators.js
Due: eslint, flow

wip
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/chat/conversation/messages/text/container.js
  shared/chat/conversation/messages/text/index.js
  shared/chat/payments/status/container.js
  shared/chat/payments/status/index.js
  shared/common-adapters/markdown/index.js.flow
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/service-decoration.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

fix some stellar vendoring
  go/vendor/github.com/stellar/go/build/bump_sequence.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/github.com/stellar/go/support/http/mutil/LICENSE.txt
  go/vendor/github.com/stellar/go/support/http/mutil/main.go
  go/vendor/github.com/stellar/go/support/http/mutil/writer_proxy.go
  go/vendor/github.com/stellar/go/support/log/doc.go
  go/vendor/github.com/stellar/go/support/log/entry.go
  go/vendor/github.com/stellar/go/support/log/internal.go
  go/vendor/github.com/stellar/go/support/log/loggly_hook.go
  go/vendor/github.com/stellar/go/support/log/main.go
  go/vendor/github.com/stellar/go/support/render/hal/link.go
  go/vendor/github.com/stellar/go/support/render/hal/link_builder.go
  go/vendor/github.com/stellar/go/support/render/hal/main.go
  go/vendor/github.com/stellar/go/support/render/hal/page.go
  go/vendor/github.com/stellar/go/support/render/hal/paging_token.go
  go/vendor/github.com/stellar/go/support/render/problem/main.go
  go/vendor/github.com/stellar/go/support/url/main.go
  go/vendor/github.com/stretchr/testify/LICENSE
  go/vendor/vendor.json
Due: none

wip
  shared/chat/payments/status/details.js
  shared/chat/payments/status/index.stories.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

more vendoring fixup for stellar
  go/vendor/github.com/stellar/go/build/bump_sequence.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/github.com/stellar/go/support/render/hal/main.go
  go/vendor/github.com/stellar/go/support/url/main.go
  go/vendor/vendor.json
Due: none

more attempts to fix stellar vendoring
  go/vendor/github.com/stellar/go/build/bump_sequence.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/github.com/stellar/go/support/render/hal/link.go
  go/vendor/github.com/stellar/go/support/render/hal/link_builder.go
  go/vendor/github.com/stellar/go/support/render/hal/page.go
  go/vendor/github.com/stellar/go/support/render/hal/paging_token.go
  go/vendor/vendor.json
Due: none

protocol: add encryptFavorites and decryptFavorites
  go/protocol/keybase1/kbfs.go
  protocol/avdl/keybase1/kbfs.avdl
  protocol/json/keybase1/kbfs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

service: add KBFS RPC call to encrypt favorites for caching on disk
  go/service/kbfs.go
  go/teams/storage_generic.go
Due: none

service: encrypt favorites using encDB methods
  go/encrypteddb/db.go
  go/encrypteddb/file.go
  go/protocol/keybase1/kbfs.go
  go/service/kbfs.go
Due: none

chat_rpc: only send edit notifications on favorited TLFs
  libkbfs/chat_rpc.go
Due: none

WIP
  shared/actions/profile/proofs.js
  shared/reducers/profile.js
Due: eslint, flow

fix banner height in empty folder
  shared/fs/row/rows.js
Due: eslint, flow

add public box summaries to keyset uploads
  go/teams/box_public_summary.go
  go/teams/chain_parse.go
  go/teams/keys.go
  go/teams/teams.go
Due: none

bugfixes and comments from review
  go/teams/box_public_summary.go
  go/teams/create.go
  go/teams/member_set.go
  go/teams/teams.go
  go/teams/transactions.go
Due: none

more stellar go fix
  go/vendor/github.com/stellar/go/build/bump_sequence.go
  go/vendor/github.com/stellar/go/build/main.go
  go/vendor/github.com/stellar/go/build/transaction.go
  go/vendor/vendor.json
Due: none

fix horizon
  go/vendor/github.com/stellar/go/clients/horizon/client.go
  go/vendor/github.com/stellar/go/clients/horizon/error.go
  go/vendor/github.com/stellar/go/clients/horizon/internal.go
  go/vendor/github.com/stellar/go/clients/horizon/main.go
  go/vendor/github.com/stellar/go/clients/horizon/mocks.go
  go/vendor/github.com/stellar/go/clients/horizon/responses.go
  go/vendor/vendor.json
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
