Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

add tsx files in webpack file resolvers (#17666)
  shared/.storybook/webpack.config.js
  shared/desktop/webpack.config.babel.js
Due: eslint, flow, prettier

WIP
  shared/profile/pgp/routes.d.ts
  shared/profile/profile.stories.tsx
  shared/profile/showcase-team-offer/index.tsx
  shared/profile/user/index.tsx
Due: none

WIP
  shared/profile/add-to-team/index.tsx
  shared/profile/confirm-or-pending/index.tsx
  shared/profile/edit-avatar/index.d.ts
  shared/profile/edit-avatar/index.native.tsx
  shared/profile/folders/index.tsx
  shared/profile/generic/enter-username/index.tsx
  shared/profile/generic/proofs-list/container.tsx
  shared/profile/generic/proofs-list/index.tsx
  shared/profile/generic/shared.tsx
  shared/profile/generic/success/index.tsx
  shared/profile/link-with-icon/index.d.ts
  shared/profile/link-with-icon/index.desktop.tsx
  shared/profile/link-with-icon/index.native.tsx
  shared/profile/modal.tsx
  shared/profile/non-user-profile/container.tsx
  shared/profile/non-user-profile/index.d.ts
  shared/profile/non-user-profile/index.desktop.tsx
  shared/profile/non-user-profile/index.native.tsx
  shared/profile/post-proof/container.tsx
  shared/profile/post-proof/index.tsx
  shared/profile/prove-enter-username/container.tsx
  shared/profile/prove-enter-username/index.tsx
  shared/profile/prove-website-choice/container.tsx
  shared/profile/prove-website-choice/index.tsx
  shared/profile/revoke/container.tsx
  shared/profile/revoke/index.tsx
  shared/profile/search/bar-container.tsx
  shared/profile/search/index.d.ts
  shared/profile/search/index.native.tsx
  shared/profile/search/index.shared.tsx
  shared/profile/showcased-team-info/index.tsx
  shared/profile/user/actions/follow-button.tsx
  shared/profile/user/actions/index.tsx
  shared/profile/user/friend/index.tsx
  shared/profile/user/index.tsx
  shared/profile/user/measure/index.d.ts
  shared/profile/user/measure/index.desktop.tsx
  shared/profile/user/measure/index.native.tsx
  shared/profile/user/teams/index.tsx
  shared/profile/user/teams/openmeta.tsx
Due: none

WIP
  shared/profile/user/teams/index.tsx
Due: none

separate case when there's 0 available funds
  go/stellar/build.go
  go/stellar/stellarsvc/frontend_test.go
Due: none

libkbfs: add more debugging for "cannot open secret box" error
  go/kbfs/libkbfs/key_manager.go
  go/kbfs/libkbfs/md_util.go
Due: none

wip
  shared/chat/conversation/info-panel/attachments/container.js
  shared/chat/conversation/info-panel/attachments/index.js
  shared/chat/conversation/info-panel/container.js
  shared/chat/conversation/info-panel/index.js
Due: eslint, flow, prettier

wip
  shared/chat/conversation/info-panel/container.js
  shared/chat/conversation/info-panel/index.js
Due: eslint, flow, prettier

try to get open-url on windows
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

wrong arg
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

clean path in stringToPath
  shared/constants/types/fs.js
Due: eslint, flow, prettier

fs/reset-banner: small wording change
  shared/fs/banner/reset-banner/index.js
Due: eslint, flow, prettier

fs: CR: implement "begin manual resolution" link
  protocol/bin/enabled-calls.json
  shared/actions/fs-gen.js
  shared/actions/fs/index.js
  shared/actions/json/fs.json
  shared/constants/fs.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/fs/banner/conflict-banner-container.js
  shared/fs/banner/conflict-banner.js
  shared/fs/folder/container.js
  shared/reducers/fs.js
Due: eslint, flow, prettier

force db clean on no space errors
  go/libkb/leveldb.go
  go/libkb/leveldb_cleaner.go
Due: none

fix test
  go/libkb/leveldb_cleaner.go
Due: none

replaced icons
  shared/images/icons/icon-fancy-encrypted-computer-desktop-150-72.png
  shared/images/icons/icon-fancy-encrypted-computer-desktop-150-72@2x.png
  shared/images/icons/icon-fancy-encrypted-computer-desktop-150-72@3x.png
  shared/images/icons/icon-fancy-encrypted-computer-mobile-226-96.png
  shared/images/icons/icon-fancy-encrypted-computer-mobile-226-96@2x.png
  shared/images/icons/icon-fancy-encrypted-computer-mobile-226-96@3x.png
  shared/images/icons/icon-fancy-encrypted-phone-desktop-150-72.png
  shared/images/icons/icon-fancy-encrypted-phone-desktop-150-72@2x.png
  shared/images/icons/icon-fancy-encrypted-phone-desktop-150-72@3x.png
  shared/images/icons/icon-fancy-encrypted-phone-mobile-226-96.png
  shared/images/icons/icon-fancy-encrypted-phone-mobile-226-96@2x.png
  shared/images/icons/icon-fancy-encrypted-phone-mobile-226-96@3x.png
  shared/images/icons/icon-fancy-revoked-computer-desktop-150-72.png
  shared/images/icons/icon-fancy-revoked-computer-desktop-150-72@2x.png
  shared/images/icons/icon-fancy-revoked-computer-desktop-150-72@3x.png
  shared/images/icons/icon-fancy-revoked-computer-mobile-226-96.png
  shared/images/icons/icon-fancy-revoked-computer-mobile-226-96@2x.png
  shared/images/icons/icon-fancy-revoked-computer-mobile-226-96@3x.png
  shared/images/icons/icon-fancy-revoked-phone-mobile-226-96.png
  shared/images/icons/icon-fancy-revoked-phone-mobile-226-96@2x.png
  shared/images/icons/icon-fancy-revoked-phone-mobile-226-96@3x.png
Due: none

updated icons
  shared/images/icons/icon-fancy-encrypted-computer-mobile-226-96@2x.png
  shared/images/icons/icon-fancy-encrypted-computer-mobile-226-96@3x.png
  shared/images/icons/icon-fancy-encrypted-phone-mobile-226-96@3x.png
  shared/images/icons/icon-fancy-revoked-computer-mobile-226-96@3x.png
  shared/images/icons/icon-fancy-revoked-phone-mobile-226-96@3x.png
Due: none

hook up Windows
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

fixup
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

working!
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

remove debugging
  shared/app/index.native.js
  shared/desktop/app/main-window.desktop.js
  shared/desktop/renderer/main.desktop.js
Due: eslint, flow, prettier

Fix tsc errors
  shared/custom-d.ts/rn-fetch-blob.d.ts
  shared/globals.d.ts
  shared/package.json
  shared/tsconfig.json
  shared/util/bootstrapable.tsx
  shared/util/clipboard.desktop.tsx
  shared/util/container.tsx
  shared/util/errors.tsx
  shared/util/feature-flags.desktop.tsx
  shared/util/feature-flags.native.tsx
  shared/util/file.native.tsx
  shared/util/forward-logs.d.ts
  shared/util/forward-logs.desktop.tsx
  shared/util/forward-logs.native.tsx
  shared/util/hidden-string.tsx
  shared/util/idle-callback.tsx
  shared/util/key-handler.desktop.tsx
  shared/util/local-console.tsx
  shared/util/open-url.d.ts
  shared/util/quit-helper.d.ts
  shared/util/quit-helper.desktop.tsx
  shared/util/safe-electron.desktop.tsx
  shared/util/safe-navigation.tsx
  shared/util/safe-submit.tsx
  shared/util/saga.tsx
  shared/util/second-timer.tsx
  shared/util/shared-timers.tsx
  shared/util/teams.tsx
  shared/util/testing.tsx
  shared/util/window-management.d.ts
  shared/yarn.lock
Due: none

WIP
  shared/provision/code-page/container.tsx
  shared/provision/code-page/qr-scan/container.tsx
  shared/provision/error/container.tsx
  shared/provision/forgot-username/container.tsx
  shared/provision/gpg-sign/container.tsx
  shared/provision/paper-key/container.tsx
  shared/provision/password/container.tsx
  shared/provision/password/index.d.ts
  shared/provision/password/index.native.tsx
  shared/provision/select-other-device/container.tsx
  shared/provision/set-public-name/container.tsx
  shared/provision/set-public-name/index.tsx
  shared/provision/username-or-email/container.tsx
  shared/provision/username-or-email/index.tsx
Due: none

WIP
  shared/provision/code-page/container.tsx
  shared/provision/code-page/index.stories.tsx
  shared/provision/code-page/index.tsx
  shared/provision/code-page/qr-image.tsx
  shared/provision/code-page/qr-scan/container.tsx
  shared/provision/code-page/qr-scan/index.d.ts
  shared/provision/code-page/qr-scan/index.desktop.tsx
  shared/provision/code-page/qr-scan/index.native.tsx
  shared/provision/error/container.tsx
  shared/provision/error/index.tsx
  shared/provision/forgot-username/container.tsx
  shared/provision/forgot-username/index.tsx
  shared/provision/gpg-sign/container.tsx
  shared/provision/gpg-sign/index.d.ts
  shared/provision/gpg-sign/index.desktop.tsx
  shared/provision/gpg-sign/row.desktop.tsx
  shared/provision/paper-key/index.tsx
  shared/provision/password/index.d.ts
  shared/provision/password/index.desktop.tsx
  shared/provision/password/index.native.tsx
  shared/provision/select-other-device/index.tsx
Due: none

WIP
  shared/package.json
Due: none

Remove thing from yarn.lock
  shared/yarn.lock
Due: none

Remove extra dist. Add yarn lock change
  shared/tsconfig.json
  shared/yarn.lock
Due: none

WIP
  shared/provision/code-page/index.stories.tsx
  shared/provision/error/index.tsx
  shared/provision/forgot-username/index.tsx
  shared/provision/gpg-sign/row.desktop.tsx
Due: none

WIP
  shared/globals.d.ts
Due: none

TS git
  shared/git/delete-repo/container.tsx
  shared/git/delete-repo/index.stories.tsx
  shared/git/delete-repo/index.tsx
  shared/git/nav-header/container.tsx
  shared/git/nav-header/index.tsx
  shared/git/new-repo/container.tsx
  shared/git/new-repo/index.stories.tsx
  shared/git/new-repo/index.tsx
  shared/git/row/container.tsx
  shared/git/row/index.tsx
  shared/git/select-channel/container.tsx
  shared/git/select-channel/index.tsx
  shared/util/open-url.d.ts
  shared/util/open-url.js.flow
Due: flow

WIP
  shared/provision/code-page/qr-scan/index.d.ts
  shared/provision/error/index.tsx
Due: none

fix moment
  shared/people/follow-notification/index.stories.tsx
  shared/tsconfig.json
Due: none

yarn tsc is ok but pre-commit tsc is not
  shared/people/announcement/container.tsx
  shared/people/container.tsx
  shared/people/follow-notification/index.stories.tsx
  shared/people/follow-notification/index.tsx
  shared/people/follow-suggestions/index.stories.tsx
  shared/people/follow-suggestions/index.tsx
  shared/people/index.d.ts
  shared/people/index.desktop.tsx
  shared/people/index.native.tsx
  shared/people/index.shared.tsx
  shared/people/todo/container.tsx
Due: none

TS wip
  shared/people/announcement/container.tsx
  shared/people/announcement/index.stories.tsx
  shared/people/announcement/index.tsx
  shared/people/container.tsx
  shared/people/follow-notification/index.stories.tsx
  shared/people/follow-notification/index.tsx
  shared/people/follow-suggestions/index.stories.tsx
  shared/people/follow-suggestions/index.tsx
  shared/people/index.desktop.tsx
  shared/people/index.js.flow
  shared/people/index.native.tsx
  shared/people/index.shared.tsx
  shared/people/index.stories.tsx
  shared/people/item/index.tsx
  shared/people/routes.ts
  shared/people/todo/container.tsx
  shared/people/todo/index.stories.tsx
  shared/people/todo/index.tsx
  shared/people/types.d.ts
  shared/util/open-url.desktop.tsx
  shared/util/open-url.native.tsx
Due: flow

moduleResolution node instead
  shared/people/follow-notification/index.stories.tsx
  shared/tsconfig.json
Due: none

review comments
  shared/people/index.shared.tsx
  shared/people/todo/container.tsx
Due: none

fix storyshots
  shared/people/follow-notification/index.stories.tsx
Due: none

Split CI logs into multiple files (#17598)
  Jenkinsfile
Due: none

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
