Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

customResponseIncomingCallMap (#13742)
  .gitattributes
  .prettierrc
  protocol/bin/flow.js
  shared/actions/__tests__/add-new-device.js
  shared/actions/__tests__/provision.test.js
  shared/actions/chat2/index.js
  shared/actions/config/index.js
  shared/actions/devices.js
  shared/actions/gregor.js
  shared/actions/login.js
  shared/actions/platform-specific/index.desktop.js
  shared/actions/provision.js
  shared/actions/signup.js
  shared/actions/teams.js
  shared/actions/tracker.js
  shared/actions/unlock-folders.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/constants/types/rpc-gregor-gen.js.flow
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/engine/index.js
  shared/engine/index.js.flow
  shared/engine/saga.js
  shared/engine/session.js
  shared/engine/session.js.flow
Due: eslint, flow

inner/outer click stuff
  shared/common-adapters/name-with-icon/index.js
  shared/common-adapters/name-with-icon/index.stories.js
Due: eslint, flow

ConnectedNameWithIcon on people/follow-suggestions
  shared/people/follow-suggestions/index.js
  shared/people/follow-suggestions/index.stories.js
  shared/people/index.shared.js
Due: eslint, flow

more flags for linux yarn install
  packaging/linux/build_binaries.sh
Due: none

more flags for linux yarn install (#13766)
  packaging/linux/build_binaries.sh
Due: none

protect against a random duplicate membership update from the server CORE-8883 (#13764)
  go/chat/storage/inbox.go
  go/chat/storage/inbox_test.go
Due: none

Improve logging on Android (#13747)
  shared/actions/config/index.js
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/KeyStore.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/MainApplication.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/KeybaseEngine.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/NativeLogger.java
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/ScreenProtector.java
Due: eslint, flow

remove rooter from static services on prod
  go/externals/proof_checkers.go
  go/externals/proof_checkers_devel.go
  go/externals/proof_checkers_production.go
  go/externals/services.go
Due: none

payment snippets
  go/chat/utils/utils.go
Due: none

test: don't set darwin timeout on overall test context
  test/run_fuse_test.go
Due: none

remove rooter from static services on prod (#13767)
  go/externals/proof_checkers.go
  go/externals/proof_checkers_devel.go
  go/externals/proof_checkers_production.go
  go/externals/services.go
Due: none

keybase_service_base: avoid concurrent map access panic
  libkbfs/data_types.go
  libkbfs/keybase_service_base.go
Due: none

Don't log times
  shared/actions/config/index.js
Due: eslint, flow

Revendor externals (#1806)
  vendor/github.com/keybase/client/go/externals/proof_checkers.go
  vendor/github.com/keybase/client/go/externals/proof_checkers_devel.go
  vendor/github.com/keybase/client/go/externals/proof_checkers_production.go
  vendor/github.com/keybase/client/go/externals/services.go
  vendor/vendor.json
Due: none

Fix breakage
  shared/common-adapters/name-with-icon/container.js
Due: eslint, flow

Don't log times in bootstrap log lines (#13769)
  shared/actions/config/index.js
Due: eslint, flow

Fix bug where function was being evaluated prematurely (#13770)
  shared/common-adapters/name-with-icon/container.js
Due: eslint, flow

First "usable" version on the new conversation builder.
  shared/actions/__tests__/team-building.test.js
  shared/actions/chat2/index.js
  shared/actions/chat2/team-building.js
  shared/actions/json/team-building.json
  shared/actions/team-building-gen.js
  shared/common-adapters/input.desktop.js
  shared/common-adapters/input.js.flow
  shared/common-adapters/input.native.js
  shared/constants/search.js
  shared/constants/team-building.js
  shared/constants/types/team-building.js
  shared/reducers/team-building.js
  shared/team-building/container.js
  shared/team-building/index.js
  shared/team-building/index.stories.js
  shared/team-building/input.js
  shared/team-building/team-box.js
  shared/team-building/user-result.js
Due: eslint, flow

always generate image preview in the extension
  shared/local-debug.native.js
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: eslint, flow

mistake
  shared/local-debug.native.js
Due: eslint, flow

kbfsmd: conflict error can happen when lock expires too
  kbfsmd/server_errors.go
Due: none

kbfsmd: improve `ServerErrorLockConflict` error message
  kbfsmd/server_errors.go
Due: none

move to correct conversation on extension push
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/actions/platform-specific/push.native.js
  shared/constants/push.js
  shared/constants/types/push.js
Due: eslint, flow

move to correct conversation on extension push (#13776)
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/actions/platform-specific/push.native.js
  shared/constants/push.js
  shared/constants/types/push.js
Due: eslint, flow

use MIME typ ein image share extension preview
  go/bind/extension.go
  go/chat/attachments/preprocess.go
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

extension is push
  shared/actions/chat2/index.js
Due: eslint, flow

tweaks on selecting a new conversation after leave
  shared/actions/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow

handle no conversations remaining and log it up
  shared/actions/chat2/index.js
  shared/actions/teams.js
Due: eslint, flow

update deps
  .eslintrc
  shared/.flowconfig
  shared/libs/flow-interface.js.flow
  shared/package.json
  shared/yarn.lock
Due: flow

Reduce black bar frequency on leaving a team (#13760)
  shared/actions/chat2/index.js
  shared/actions/json/route-tree.json
  shared/actions/json/teams.json
  shared/actions/teams-gen.js
  shared/actions/teams.js
  shared/common-adapters/waiting-button.js
  shared/constants/chat2/index.js
  shared/constants/teams.js
  shared/reducers/teams.js
  shared/teams/really-leave-team/container-chat.js
  shared/teams/really-leave-team/container.js
  shared/teams/really-leave-team/index.js
Due: eslint, flow

fix redbox
  shared/teams/invite-by-email/index.native.js
Due: eslint, flow

dont allow dupes in contacts
  shared/teams/invite-by-email/container.native.js
Due: eslint, flow

gifs
  go/bind/extension.go
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

payment snippets (#13768)
  go/chat/utils/utils.go
Due: none

another teams fix
  shared/actions/teams.js
Due: eslint, flow

rocket ship decoration
  go/chat/utils/utils.go
Due: none

need this
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
