Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

WIP
  shared/actions/profile2.js
  shared/constants/types/profile2.js
  shared/profile2/assertion/index.js
Due: eslint, flow

Change default route for wallets on mobile (#15287)
  shared/actions/wallets.js
  shared/wallets/routes.js
  shared/wallets/wallet-list/container.js
  shared/wallets/wallet-list/index.js
  shared/wallets/wallet/container.js
  shared/wallets/wallet/index.js
  shared/wallets/wallet/index.stories.js
  shared/wallets/wallets-and-details/container.js
Due: eslint, flow

WIP
  shared/actions/profile2.js
  shared/constants/profile2.js
  shared/profile2/assertion/index.js
  shared/profile2/tracker/index.desktop.js
Due: eslint, flow

better debugging
  go/identify3/adapter.go
Due: none

better debugging (#15296)
  go/identify3/adapter.go
Due: none

kbfsfuse: create mountdir if it does not exist yet
  kbfsfuse/main.go
Due: none

Add error logging if this fails.
  kbfsfuse/main.go
Due: none

WIP
  shared/common-adapters/standard-screen.js.flow
  shared/common-adapters/standard-screen.native.js
Due: eslint, flow

packaging: Add keybase-redirector systemd unit
  packaging/linux/systemd/keybase-redirector.service
Due: none

packaging: Update dependencies for kbfsfuse systemd unit
  packaging/linux/systemd/kbfs.service
Due: none

libkbfs: Catch and attempt to unmount on SIGTERM
  libkbfs/init.go
Due: none

libfuse: Fix issue where fusermount unmount lazy was not being called correctly
  libfuse/mounter.go
Due: none

libfuse: create mountdir if it does not exist on linux
  kbfsfuse/main.go
  libfuse/mounter.go
Due: none

Support using env var for storybook filter
  shared/stories/index.desktop.js
Due: eslint, flow

libfuse: attempt to delete mountdir after unmount on linux
  libfuse/mounter.go
Due: none

WIP
  shared/actions/chat2/index.js
Due: eslint, flow

Fix mobile avatar margin
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

Fix mobile avatar margin (#15297)
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

WIP
  shared/profile2/tracker/remote-container.desktop.js
Due: eslint, flow

Lookup method with null id ui
  go/client/identify_ui.go
  go/client/wallet_api_handler.go
Due: none

ignore stale paymentReviewed notifications (wip)
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

add reviewID field
  go/protocol/stellar1/local.go
  go/protocol/stellar1/ui.go
  go/stellar/build.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/ui.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/ui.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

s/externalServiceColor/colorOverride
  shared/common-adapters/icon.desktop.js
  shared/common-adapters/icon.js.flow
  shared/common-adapters/icon.native.js
  shared/team-building/user-bubble.js
  shared/team-building/user-result.js
Due: eslint, flow

packaging: Use --use-root-config-file in redirector systemd unit file.
  packaging/linux/systemd/keybase-redirector.service
Due: none

ignore stale paymentReviewed notifications
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

Get/Set inflation working
  go/client/wallet_api_handler.go
Due: none

WIP
  shared/constants/profile2.js
  shared/constants/types/profile2.js
  shared/desktop/remote/component-loader.desktop.js
  shared/profile2/assertion/remote-container.js
  shared/profile2/tracker/container.desktop.js
  shared/profile2/tracker/index.desktop.js
  shared/profile2/tracker/remote-container.desktop.js
Due: eslint, flow

Cancel relay payment working
  go/client/wallet_api_handler.go
Due: none

Update profiling.md
  shared/docs/react-native/profiling.md
Due: none

Basic send working
  go/client/wallet_api_handler.go
Due: none

WIP
  shared/actions/json/profile2.json
  shared/actions/profile2-gen.js
  shared/actions/profile2.js
  shared/constants/profile2.js
  shared/constants/types/profile2.js
  shared/profile2/tracker/container.desktop.js
  shared/profile2/tracker/index.desktop.js
  shared/profile2/tracker/remote-container.desktop.js
  shared/profile2/tracker/remote-proxy.desktop.js
  shared/profile2/tracker/remote-serializer.desktop.js
  shared/reducers/profile2.js
Due: eslint, flow

WIP
  shared/profile2/assertion/container.js
  shared/profile2/assertion/index.js
  shared/profile2/assertion/remote-container.js
Due: eslint, flow

Add Router Switcheroo (#15254)
  shared/__mocks__/feature-flags.js
  shared/actions/config-gen.js
  shared/actions/json/config.json
  shared/app/main.desktop.js
  shared/app/main.native.js
  shared/constants/config.js
  shared/constants/types/config.js
  shared/reducers/config.js
  shared/router-v2/switcheroo.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.js.flow
  shared/util/feature-flags.native.js
Due: eslint, flow

add sendrequestform as shared again
  shared/chat/routes.js
  shared/profile/routes.js
  shared/wallets/routes-send-request-form.js
  shared/wallets/routes.js
Due: eslint, flow

fix undefined return from render
  shared/common-adapters/keyboard-avoiding-view.desktop.js
  shared/common-adapters/safe-area-view.desktop.js
Due: eslint, flow

allow for unsent text to be set in the store and fed into the input box
  go/chat/server.go
  go/client/chat_ui.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/input-area/normal/container.js
  shared/chat/conversation/input-area/normal/index.js
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/chat/conversation/input-area/normal/types.js
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/chat2.js
Due: eslint, flow
