Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

integrated
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/rpc-stellar-gen.js
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.stories.js
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/inflation-destination/container.js
  shared/wallets/wallet/settings/popups/inflation-destination/index.js
Due: eslint, flow

missing
  protocol/bin/enabled-calls.json
Due: none

WIP
  shared/.flowconfig
  shared/chat/conversation/info-panel/notifications/container.js
  shared/chat/conversation/list-area/normal/container.js
  shared/chat/new-team-dialog-container.js
  shared/devices/device-page/index.stories.js
  shared/package.json
  shared/people/index.shared.js
  shared/wallets/transaction/index.js
  shared/yarn.lock
Due: eslint, flow

WIP
  shared/flow-typed/npm/react-hot-loader_v4.x.x.js
  shared/flow-typed/npm/webpack_v4.x.x.js
Due: eslint, flow

block_retrieval_queue: add comment about prefetch cache warning
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

block_retrieval_queue: don't panic then no disk block cache
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

Update react-native-image-picker (#15430)
  shared/yarn.lock
Due: none

recipient's unfinished relays are PENDING
  go/stellar/transform.go
Due: none

Add fromPrimary to PaymentSummaryDirect
  go/protocol/stellar1/remote.go
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

also squash storage aborted request errors to avoid black bars (#15432)
  go/chat/inboxsource.go
  go/chat/server.go
Due: none

ConversationUpdate gregor notif
  go/chat/inboxsource.go
  go/chat/push.go
  go/chat/server_test.go
  go/chat/storage/inbox.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/protocol/chat1/gregor.go
  protocol/avdl/chat1/gregor.avdl
  protocol/avdl/chat1/notify.avdl
  protocol/json/chat1/gregor.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

recipient's unfinished relays are PENDING (#15441)
  go/stellar/transform.go
Due: none

Revert "recipient's unfinished relays are PENDING (#15441)"
  go/stellar/transform.go
Due: none

Revert "Revert "recipient's unfinished relays are PENDING (#15441)""
  go/stellar/transform.go
Due: none

Don't let user navigate up while sending
  shared/wallets/confirm-form/container.js
  shared/wallets/send-form/footer/container.js
Due: eslint, flow

use 1 instead of hairline for orange line
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

update tests
  go/stellar/stellarsvc/service_test.go
Due: none

stray comment
  shared/wallets/confirm-form/container.js
Due: eslint, flow

Move predefined inflation destinations to server
  go/stellar/inflation.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
Due: none

use 1 instead of hairline for orange line (#15446)
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

proof suggestions
  go/externals/services.go
  go/externals/services_test.go
  go/libkb/id_table.go
  go/libkb/interfaces.go
  go/protocol/keybase1/user.go
  go/service/debugging.go
  go/service/debugging_devel.go
  go/service/main.go
  go/service/prove.go
  go/service/user.go
  go/systests/profile_test.go
  go/systests/teams_test.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Cécile tweaks
  shared/common-adapters/radio-button.desktop.js
  shared/common-adapters/radio-button.native.js
  shared/wallets/wallet/settings/popups/inflation-destination/index.js
Due: eslint, flow

better props naming for Oops suggested by jzila
  shared/fs/oops/container.js
  shared/fs/oops/index.js
  shared/fs/oops/index.stories.js
Due: eslint, flow

disk_block_cache_wrapped: prefer prefetch status from sync cache
  go/kbfs/libkbfs/disk_block_cache_wrapped.go
Due: none

disk_block_cache_remote: add an LRU prefetch status cache
  go/kbfs/libkbfs/disk_block_cache_remote.go
Due: none

disk_block_cache: add interface and RPC to get prefetch status
  go/kbfs/genprotocol/kbgitkbfs1-avdl/disk_block_cache.avdl
  go/kbfs/libkbfs/disk_block_cache.go
  go/kbfs/libkbfs/disk_block_cache_helper.go
  go/kbfs/libkbfs/disk_block_cache_remote.go
  go/kbfs/libkbfs/disk_block_cache_service.go
  go/kbfs/libkbfs/disk_block_cache_wrapped.go
  go/kbfs/libkbfs/interfaces.go
  go/kbfs/libkbfs/mocks_test.go
  go/kbfs/protocol/kbgitkbfs1/disk_block_cache.go
Due: none

block_retrieval_queue: don't get full block for prefetch status
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

block_retrieval_queue_test: fix data race while assembling blocks
  go/kbfs/libkbfs/block_retrieval_worker_test.go
Due: none

Recipient's unfinished relays are PENDING (again) (#15444)
  go/stellar/stellarsvc/service_test.go
  go/stellar/transform.go
Due: none

Doesn't need to make a copy to return known destination anymore
  go/stellar/inflation.go
Due: none

fix test
  go/engine/identify2_test.go
Due: none

update icons
  shared/images/icons/icon-fancy-folder-file-inexistant-desktop-153-94.png
  shared/images/icons/icon-fancy-folder-file-inexistant-desktop-153-94@2x.png
  shared/images/icons/icon-fancy-folder-file-inexistant-desktop-153-94@3x.png
  shared/images/icons/icon-fancy-folder-file-inexistant-mobile-188-120.png
  shared/images/icons/icon-fancy-folder-file-inexistant-mobile-188-120@2x.png
  shared/images/icons/icon-fancy-folder-file-inexistant-mobile-188-120@3x.png
Due: none

WIP
  shared/actions/wallets.js
  shared/chat/conversation/input-area/normal/container.js
  shared/constants/chat2/meta.js
  shared/wallets/send-form/footer/container.js
  shared/wallets/wallet/header/container.js
  shared/wallets/wallet/header/index.js
  shared/wallets/wallet/header/index.stories.js
Due: eslint, flow
