Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Added story boards for new non-native asset stuff
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Passing issuerAccountID and issuerDescription with payments
  go/client/stellar_common.go
  go/protocol/stellar1/local.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/transform.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction-details/index.js
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/container.js
  shared/wallets/transaction/index.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Refactor constructing amount in Detail
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction/index.js
Due: eslint, flow

Revert lossy abbrev. from `wallet list` command
  go/client/cmd_wallet_balances.go
Due: none

Change how non-native assets are displayed in cli history
  go/client/stellar_common.go
  go/stellar/stellar.go
Due: none

Refactor issuer description elems in transaction-details
  shared/wallets/transaction-details/index.js
Due: eslint, flow

Update stories to reflect what RPC currently returns
  shared/wallets/transaction-details/index.stories.js
  shared/wallets/transaction/index.stories.js
Due: eslint, flow

Change FormatAmountDescriptionAsset formatting for non-native assets
  go/client/cmd_wallet_detail.go
  go/client/stellar_common.go
  go/stellar/stellar.go
  go/stellar/transform.go
Due: none

Fix tapping outside of search suggestions on mobile send form (#14907)
  shared/common-adapters/floating-box/index.types.js.flow
  shared/wallets/send-form/participants/index.stories.js
  shared/wallets/send-form/participants/search.js
Due: eslint, flow

underNotch for send/confirm screens and safeareaviewtop
  shared/chat/routes.js
  shared/profile/routes.js
  shared/wallets/confirm-form/header.js
  shared/wallets/confirm-form/index.js
  shared/wallets/routes.js
  shared/wallets/send-form/root.js
Due: eslint, flow

underNotch for qrscan and safeareaviewtop
  shared/chat/routes.js
  shared/profile/routes.js
  shared/wallets/qr-scan/index.native.js
  shared/wallets/routes.js
Due: eslint, flow

test phone bulk
  go/emails/user.go
  go/emails/user_test.go
  go/phonenumbers/user.go
  go/phonenumbers/user_test.go
  go/protocol/keybase1/common.go
  go/protocol/keybase1/phone_numbers.go
  go/service/emails.go
  go/service/phone_numbers.go
  go/systests/phone_number_test.go
  protocol/avdl/keybase1/common.avdl
  protocol/avdl/keybase1/phone_numbers.avdl
  protocol/json/keybase1/common.json
  protocol/json/keybase1/phone_numbers.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

add + use 2 coins flying icon in mobile header
  shared/common-adapters/icon.constants.js
  shared/images/icons/icon-stellar-coins-flying-2-48.png
  shared/images/icons/icon-stellar-coins-flying-2-48@2x.png
  shared/images/icons/icon-stellar-coins-flying-2-48@3x.png
  shared/wallets/send-form/header.js
Due: eslint, flow

systests
  go/protocol/keybase1/phone_numbers.go
  go/systests/phone_number_test.go
  protocol/avdl/keybase1/phone_numbers.avdl
  protocol/json/keybase1/phone_numbers.json
Due: none

reuse RegExp obj
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

https://github.com/keybase/client/pull/14911
  go/chat/attachment_httpsrv.go
  shared/chat/conversation/messages/unfurl/image/index.js
Due: eslint, flow

client test for downgrade implicit admin after reset
  go/teams/rotate_test.go
Due: none

reuse RegExp obj (#14913)
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

perf fix, simple back on
  shared/common-adapters/markdown/shared.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.native.js
Due: eslint, flow

WIP
  shared/constants/chat2/meta.js
Due: eslint, flow

[wip] review feedback from ayoubd
  shared/actions/fs/index.js
  shared/chat/conversation/info-panel/header.js
  shared/chat/conversation/messages/text/index.js
  shared/fs/common/open-in-files-tab-hoc.js
  shared/fs/send-link-to-chat/container.js
  shared/fs/send-link-to-chat/index.js
Due: eslint, flow

migrate to V2 bundles (#14710)
  go/client/cmd_wallet_dump.go
  go/libkb/constants.go
  go/libkb/features.go
  go/libkb/interfaces.go
  go/libkb/kbsig.go
  go/libkb/stellar_stub.go
  go/protocol/keybase1/constants.go
  go/protocol/stellar1/bundle.go
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/stellar/acctbundle/acctbundle.go
  go/stellar/acctbundle/acctbundle_test.go
  go/stellar/bundle/boxer_test.go
  go/stellar/global.go
  go/stellar/remote/remote.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_devel.go
  go/stellar/stellarsvc/service_production.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/util.go
  go/systests/stellar_client_test.go
  protocol/avdl/keybase1/constants.avdl
  protocol/avdl/stellar1/bundle.avdl
  protocol/avdl/stellar1/local.avdl
  protocol/json/keybase1/constants.json
  protocol/json/stellar1/bundle.json
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/constants/types/rpc-stellar-gen.js.flow
Due: eslint, flow

Logging, only show plaintext push if inserted
  go/chat/mobilepush.go
  go/chat/server.go
Due: none

type return value
  shared/chat/conversation/info-panel/header.js
  shared/fs/common/open-in-files-tab-hoc.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/unfurl/giphy/container.js
  shared/chat/conversation/messages/unfurl/giphy/index.js
  shared/chat/conversation/messages/unfurl/giphy/index.stories.js
  shared/chat/conversation/messages/unfurl/image/index.js
  shared/chat/conversation/messages/unfurl/image/video.desktop.js
  shared/chat/conversation/messages/unfurl/image/video.js.flow
  shared/chat/conversation/messages/unfurl/image/video.native.js
  shared/chat/conversation/messages/unfurl/image/video.types.js.flow
Due: eslint, flow

WIP
  shared/chat/conversation/messages/wrapper/unfurl/giphy/container.js
  shared/chat/conversation/messages/wrapper/unfurl/giphy/index.js
  shared/chat/conversation/messages/wrapper/unfurl/giphy/index.stories.js
  shared/chat/conversation/messages/wrapper/unfurl/image/index.js
  shared/chat/conversation/messages/wrapper/unfurl/image/video.desktop.js
  shared/chat/conversation/messages/wrapper/unfurl/image/video.js.flow
  shared/chat/conversation/messages/wrapper/unfurl/image/video.native.js
  shared/chat/conversation/messages/wrapper/unfurl/image/video.types.js.flow
Due: eslint, flow

remove send-link-to-chat
  shared/fs/send-link-to-chat/container.js
  shared/fs/send-link-to-chat/index.js
Due: eslint, flow

client test for downgrade implicit admin after reset (#14861)
  go/teams/rotate_test.go
Due: none

fix req paths
  shared/chat/conversation/messages/wrapper/unfurl/giphy/index.stories.js
Due: eslint, flow

lint
  shared/chat/conversation/messages/text/index.js
Due: eslint, flow

Logging, only show plaintext push if inserted (#14914)
  go/chat/mobilepush.go
  go/chat/server.go
Due: none
