Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

Add more stats for batch payments (#15698)
  go/protocol/stellar1/local.go
  go/stellar/batch.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

WIP
  shared/tracker2/index.stories.desktop.js
Due: eslint, flow

fix tests
  go/chat/server_test.go
  go/kbtest/chat.go
Due: none

accountInflationDest record
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
Due: eslint, flow

inflation dests in map
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

settings page + popup + clear error on exit
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/wallets/wallet/settings/index.stories.js
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/inflation-destination/container.js
  shared/wallets/wallet/settings/popups/inflation-destination/index.js
Due: eslint, flow

settings page
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.js
Due: eslint, flow

back to string in settings
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.js
  shared/wallets/wallet/settings/index.stories.js
Due: eslint, flow

always get tlfname message
  go/chat/localizer.go
  go/chat/sbs_test.go
Due: none

just drop this check
  go/chat/localizer.go
Due: none

conflict_resolver: prevent cancellation confusion Issue: KBFS-3726
  go/kbfs/libkbfs/conflict_resolver.go
Due: none

Data is good for 10s
  go/stellar/wallet_state.go
Due: none

refactor how max message summary responses get processed in localization CORE-7158 (#15682)
  go/chat/commands/join.go
  go/chat/helper.go
  go/chat/inboxsource.go
  go/chat/localizer.go
  go/chat/mobilepush.go
  go/chat/sbs_test.go
  go/chat/sender.go
  go/chat/server_test.go
  go/chat/storage/inbox.go
  go/chat/teamchannelsource.go
  go/chat/types/interfaces.go
  go/chat/utils/utils.go
  go/client/chat_cli_rendering.go
  go/client/chat_svc_handler.go
  go/kbtest/chat.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

new size type for icon
  shared/common-adapters/icon.desktop.js
  shared/common-adapters/icon.js.flow
  shared/common-adapters/icon.native.js
  shared/common-adapters/icon.shared.js
  shared/common-adapters/icon.stories.js
Due: eslint, flow

kbp: update mime types from nginx and add application/wasm
  go/kbfs/libmime/mime_types.go
  go/kbfs/libpages/server.go
Due: none

don't folderList in a TLF list
  shared/actions/fs/index.js
  shared/fs/row/files-loading-hoc.js
Due: eslint, flow

WIP
  shared/tracker2/index.desktop.js
Due: eslint, flow

disable enter-to-submit if bio is too long
  shared/common-adapters/form-input.native.js
  shared/profile/edit-profile/index.native.js
Due: eslint, flow

WIP
  shared/jenkins_test.sh
Due: none

Store inflation dests in a map (#15701)
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/inflation-destination/container.js
  shared/wallets/wallet/settings/popups/inflation-destination/index.js
Due: eslint, flow

WIP
  shared/jenkins_test.sh
  shared/profile/user/index.js
  shared/tracker2/index.desktop.js
Due: eslint, flow

fix show in finders on linux and fix tooltip text on non-darwin
  shared/actions/fs/platform-specific.desktop.js
  shared/fs/common/open-in-system-file-manager.desktop.js
  shared/fs/common/path-item-action-container.js
  shared/fs/common/security-prefs-container.desktop.js
  shared/fs/common/security-prefs-prompting-hoc.js
  shared/fs/filepreview/default-view-container.js
Due: eslint, flow

review feedback from chrisnojima
  shared/chat/avatars.js
  shared/chat/conversation-filter-input.js
  shared/chat/inbox/row/chat-filter-row/container.js
  shared/chat/inbox/row/filter-big-team-channel/container.js
  shared/chat/inbox/row/filter-small-team/container.js
  shared/chat/inbox/row/sizes.js
  shared/chat/inbox/row/small-team/index.js
  shared/chat/selectable-big-team-channel-container.js
  shared/chat/selectable-big-team-channel.js
  shared/chat/selectable-small-team-container.js
  shared/chat/selectable-small-team.js
  shared/chat/top-line.js
Due: eslint, flow

review feedback from chrisnojima
  shared/chat/selectable-big-team-channel-container.js
  shared/chat/selectable-small-team-container.js
Due: eslint, flow

split filter rows for reusability
  shared/chat/common/avatars.js
  shared/chat/common/selectable-big-team-channel-container.js
  shared/chat/common/selectable-big-team-channel.js
  shared/chat/common/selectable-small-team-container.js
  shared/chat/common/selectable-small-team.js
  shared/chat/common/top-line.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/row/filter-big-team-channel/container.js
  shared/chat/inbox/row/filter-small-team/container.js
  shared/chat/inbox/row/index.js
  shared/chat/inbox/row/small-team/index.js
Due: eslint, flow

WIP
  shared/jenkins_test.sh
  shared/tracker2/index.desktop.js
Due: eslint, flow

add hook to make sure we don't enable story mode by accident
  .pre-commit-config.yaml
  shared/react-native/ios/Keybase/git-hook
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
