Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

jenkins
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
Due: none

sigh
  go/libkb/identify3_test.go
Due: none

WIP
  shared/app/nav.desktop.js
  shared/common-adapters/button.js
  shared/constants/tracker.js
  shared/constants/types/wallets.js
  shared/profile/container.js
  shared/profile/profile.stories.js
  shared/profile/user-bio.desktop.js
  shared/profile/user-bio.native.js
  shared/settings/airdrop/container.js
  shared/settings/airdrop/qualify/container.js
  shared/settings/airdrop/qualify/index.js
Due: eslint, flow, prettier

flags (#15777)
  go/externals/proof_service_facebook.go
  go/externals/services.go
  go/libkb/globals.go
  go/libkb/id_table.go
  go/libkb/identify_outcome.go
Due: none

bring back Animation to common-adapters
  shared/chat/conversation/input-area/normal/platform-input.desktop.js
  shared/chat/conversation/input-area/normal/platform-input.native.js
  shared/common-adapters/animation.desktop.js
  shared/common-adapters/animation.js.flow
  shared/common-adapters/animation.native.js
  shared/common-adapters/index.js
Due: eslint, flow, prettier

Add AirdropRegisterLocal, AirdropDeregisterLocal, AirdropStatusLocal
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Add batchID and fromAirdrop to Payment records
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Working on plumbing
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Change protocol to use current always
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

user_history: add logging
  go/kbfs/kbfsedits/user_history.go
  go/kbfs/kbfsedits/user_history_test.go
  go/kbfs/libkbfs/config_local.go
  go/kbfs/libkbfs/config_mock_test.go
Due: none

WIP
  shared/constants/types/wallets.js
  shared/react-native/ios/Keybase/Storybook.m
  shared/settings/airdrop/index.js
  shared/settings/airdrop/index.stories.js
  shared/settings/airdrop/qualify/index.js
Due: rn-story-mode, eslint, flow, prettier

kbtest
  go/kbtest/chat.go
Due: none

Use BodyPrimaryLink for link
  shared/settings/landing/index.desktop.js
Due: eslint, flow, prettier

test
  go/chat/commands/join.go
  go/chat/commands_test.go
  go/libkb/interfaces.go
  go/service/ui_router.go
Due: none

Don't try to show a loading line on the left side of the inbox on desktop
  shared/chat/conversation-filter-input.js
Due: eslint, flow, prettier

Add startup states for menubar
  shared/constants/types/config.js
  shared/menubar/index.desktop.js
  shared/menubar/index.stories.desktop.js
  shared/menubar/remote-proxy.desktop.js
  shared/menubar/remote-serializer.desktop.js
Due: eslint, flow, prettier

WIP
  shared/settings/airdrop/banner/index.js
  shared/settings/airdrop/container.js
  shared/settings/airdrop/qualify/index.js
Due: eslint, flow, prettier

What is this JavaScript
  shared/chat/conversation/input-area/normal/typing/index.js
Due: eslint, flow, prettier

WIP
  shared/react-native/ios/Keybase/Storybook.m
Due: rn-story-mode

Reactji bar: increase size 16->18
  shared/chat/conversation/messages/react-button/emoji-row/index.js
Due: eslint, flow, prettier

delegate chat UI (#15771)
  go/libkb/identify3_test.go
  go/libkb/interfaces.go
  go/libkb/uigroup.go
  go/protocol/keybase1/delegate_ui_ctl.go
  go/service/delegate_ui.go
  go/service/ui_router.go
  go/service/ui_router_test.go
  protocol/avdl/keybase1/delegate_ui_ctl.avdl
  protocol/bin/enabled-calls.json
  protocol/json/keybase1/delegate_ui_ctl.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow, prettier

review
  shared/chat/conversation/messages/wrapper/exploding-height-retainer/index.desktop.js
Due: eslint, flow, prettier

Fix initial highlightIndex. Reset highlighted index. Support ,
  shared/team-building/container.js
  shared/team-building/input.js
Due: eslint, flow, prettier

WIP
  shared/app/nav.native.js
  shared/constants/wallets.js
  shared/profile/container.js
  shared/settings/airdrop/container.js
  shared/settings/airdrop/index.js
  shared/settings/nav/settings-item.js
Due: eslint, flow, prettier

Reivew feedback.
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/chat/conversation/input-area/normal/typing/container.js
  shared/chat/conversation/input-area/normal/typing/index.js
Due: eslint, flow, prettier

check that input is focused before showing suggestions
  shared/chat/conversation/input-area/suggestors/index.js
  shared/common-adapters/plain-input.desktop.js
  shared/common-adapters/plain-input.js.flow
  shared/common-adapters/plain-input.native.js
Due: eslint, flow, prettier

Review feedback.
  shared/chat/conversation/input-area/normal/typing/index.js
Due: eslint, flow, prettier

Make unclaimed relay text in Chat padded and less scary
  shared/chat/conversation/messages/message-popup/payment/index.js
Due: eslint, flow, prettier

No-exec v3 (#15660)
  go/kbfs/libdokan/dir.go
  go/kbfs/libdokan/noexec_test.go
Due: none

WIP
  shared/constants/wallets.js
Due: eslint, flow, prettier

fix text messages pushing coins offscreen
  shared/chat/conversation/messages/text/index.js
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow, prettier

typo
  shared/chat/conversation/messages/wrapper/exploding-height-retainer/index.desktop.js
Due: eslint, flow, prettier
