Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

bump kbfuse to 3.8.2
  osx/Fuse/README.md
  osx/Fuse/build.sh
  osx/Fuse/fsbundle.tgz
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.10/kbfuse.kext/Contents/MacOS/kbfuse
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11/kbfuse.kext/Contents/Info.plist
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11/kbfuse.kext/Contents/MacOS/kbfuse
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11/kbfuse.kext/Contents/_CodeSignature/CodeResources
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.13
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.14
  osx/Fuse/kbfuse.bundle/Contents/Info.plist
  osx/Fuse/kbfuse.bundle/Contents/Resources/License.rtf
  osx/Fuse/kbfuse.bundle/Contents/Resources/load_kbfuse
  osx/Fuse/kbfuse.bundle/Contents/Resources/mount_kbfuse
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeDirectory
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeRequirements-1
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeResources
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeSignature
  osx/Fuse/kbfuse.bundle/Contents/version.plist
  osx/Installer/Info.plist
  osx/Keybase.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  osx/Podfile.lock
  osx/Scripts/README.md
  packaging/desktop/kbfuse.sh
  packaging/desktop/package_darwin.sh
Due: none

remove debugging logs
  shared/desktop/app/installer.desktop.js
Due: eslint, flow

review feedback from strib
  go/install/install_darwin.go
  go/install/libnativeinstaller/app.go
  osx/Fuse/README.md
  packaging/desktop/kbfuse.sh
Due: none

Show a spinner instead of 'NOACCOUNTID' if an account hasn't been selected/loaded yet
  shared/constants/wallets.js
  shared/wallets/wallet/header/container.js
  shared/wallets/wallet/header/index.js
Due: eslint, flow

removed .gitignore file
  shared/.gitignore
Due: none

used platformStyles
  shared/common-adapters/name-with-icon.js
Due: eslint, flow

thicker bottom button on desktop
  shared/chat/inbox/row/big-teams-divider/index.js
Due: eslint, flow

darkened search bar
  shared/chat/inbox/row/chat-filter-row/index.js
Due: eslint, flow

removed border, darkened box
  shared/people/index.native.js
  shared/people/index.shared.js
Due: eslint, flow

darkened bit team names
  shared/chat/inbox/row/big-team-header/index.js
Due: eslint, flow

Add return icon to font.
  shared/common-adapters/icon.constants.js
  shared/fonts/kb.ttf
  shared/images/iconfont/107-kb-iconfont-return-16.svg
Due: eslint, flow

removed border, darkened box (#13636)
  shared/people/index.native.js
  shared/people/index.shared.js
Due: eslint, flow

Add set as default waiting key
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/set-default/container.js
  shared/wallets/wallet/settings/popups/set-default/index.js
Due: eslint, flow

Add waiting key to reallyRemoveAccount
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/wallets/wallet/settings/popups/index.stories.js
  shared/wallets/wallet/settings/popups/really-remove-account/container.js
  shared/wallets/wallet/settings/popups/really-remove-account/index.js
Due: eslint, flow

imags
  go/bind/extension.go
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

removed BodyError, BodySuccess, replaced with BodySmallError, BodySmallSuccess
  shared/common-adapters/form-with-checkbox.desktop.js
  shared/common-adapters/input.desktop.js
  shared/common-adapters/input.native.js
  shared/common-adapters/text.meta.desktop.js
  shared/common-adapters/text.meta.native.js
  shared/fs/common/path-item-info.js
  shared/fs/filepreview/view-container.js
  shared/fs/index.js
  shared/fs/row/editing.js
  shared/login/signup/error/index.js
  shared/profile/edit-profile/index.native.js
  shared/profile/error-profile.js
  shared/profile/pgp/add.desktop.js
  shared/provision/gpg-sign/index.desktop.js
  shared/provision/paper-key/index.js
  shared/settings/delete-confirm/index.desktop.js
  shared/settings/feedback.native.js
  shared/settings/plan-details/index.desktop.js
  shared/tracker/error.desktop.js
Due: eslint, flow

Removed flow types
  shared/common-adapters/text.js.flow
Due: flow

Removed story entries
  shared/common-adapters/text.stories.js
Due: eslint, flow

no more InlineLink styles
  shared/chat/conversation/messages/set-explode-popup/index.desktop.js
  shared/chat/conversation/messages/system-added-to-team/index.js
  shared/chat/conversation/messages/system-simple-to-complex/index.js
  shared/common-adapters/text.js.flow
  shared/common-adapters/text.meta.desktop.js
  shared/common-adapters/text.meta.native.js
  shared/folders/row.desktop.js
  shared/wallets/send-form/index.js
Due: eslint, flow

refactor attachment server endpoint into attachment package CORE-8742 (#13629)
  go/chat/attachments/sender.go
  go/chat/server.go
Due: none

WIP
  shared/chat/conversation/input-area/normal/platform-input.desktop.js
  shared/common-adapters/animations/typing/animation-data.json
  shared/common-adapters/animations/typing/index.desktop.js
  shared/common-adapters/animations/typing/index.native.js
  shared/package.json
  shared/yarn.lock
Due: eslint, flow

blue time
  shared/chat/inbox/row/small-team/top-line.js
Due: eslint, flow

UIRequestInfo notification working
  go/chat/globals/globals.go
  go/chat/types/interfaces.go
  go/chat/utils/utils.go
  go/libkb/notify_router.go
  go/service/main.go
  go/stellar/loader.go
  go/stellar/request_loader.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/transform.go
Due: none

Refactor to transform.go func
  go/stellar/stellarsvc/frontend.go
Due: none

Cleanup
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
Due: none

Update deletedAccount description
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
Due: eslint, flow

Navigate to default account on delete
  shared/actions/wallets.js
Due: eslint, flow

Add CORE-8785 comment
  shared/profile/container.js
Due: eslint, flow

Check for nil for some testing path
  go/chat/utils/utils.go
Due: none

Stellar integration in profile page (#13306)
  shared/common-adapters/floating-menu/menu-layout/index.js.flow
  shared/profile/container.js
  shared/profile/index.desktop.js
  shared/profile/index.js.flow
  shared/profile/index.native.js
  shared/profile/profile.stories.js
  shared/profile/routes.js
  shared/profile/user-actions.js
  shared/wallets/send-form/container.js
Due: eslint, flow

comments requested by miles on the auditor
  go/teams/audit.go
Due: none

Danny fixes
  shared/common-adapters/name-with-icon.js
  shared/common-adapters/usernames/index.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
