Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

use port env
  go/chat/attachment_httpsrv.go
  go/libcmdline/cmdline.go
  go/libkb/env.go
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
Due: none

move spinner styling to styles
  shared/wallets/wallet/header/index.js
Due: eslint, flow

reenable ftl tests (#13653)
  go/teams/ftl_test.go
Due: none

Show a spinner instead of 'NOACCOUNTID' if an account hasn't been selected/loaded yet (#13631)
  shared/constants/wallets.js
  shared/wallets/wallet/header/container.js
  shared/wallets/wallet/header/index.js
Due: eslint, flow

manage memory properly in darwin video preview generation (#13654)
  go/chat/attachments/preview_darwin.go
Due: none

bump kbfuse to 3.8.2 (#13599)
  go/install/install_darwin.go
  osx/Fuse/README.md
  osx/Fuse/build.sh
  osx/Fuse/fsbundle.tgz
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.10/kbfuse.kext/Contents/MacOS/kbfuse
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11/kbfuse.kext/Contents/Info.plist
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11/kbfuse.kext/Contents/MacOS/kbfuse
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.11/kbfuse.kext/Contents/_CodeSignature/CodeResources
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.13
  osx/Fuse/kbfuse.bundle/Contents/Extensions/10.14
  osx/Fuse/kbfuse.bundle/Contents/Info.plist
  osx/Fuse/kbfuse.bundle/Contents/Resources/License.rtf
  osx/Fuse/kbfuse.bundle/Contents/Resources/load_kbfuse
  osx/Fuse/kbfuse.bundle/Contents/Resources/mount_kbfuse
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeDirectory
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeRequirements-1
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeResources
  osx/Fuse/kbfuse.bundle/Contents/_CodeSignature/CodeSignature
  osx/Fuse/kbfuse.bundle/Contents/version.plist
  osx/Installer/Info.plist
  osx/Installer/Installer.m
  osx/KBKit/KBKit/Component/KBFuseComponent.m
  osx/KBKit/KBKit/KBDefines.h
  osx/Keybase.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  osx/Podfile.lock
  osx/Scripts/README.md
  packaging/desktop/kbfuse.sh
  packaging/desktop/package_darwin.sh
Due: none

support text
  go/bind/extension.go
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

WIP
  shared/actions/json/team-building.json
  shared/actions/team-building-gen.js
  shared/actions/team-building.js
  shared/actions/typed-actions-gen.js
  shared/constants/chat2/index.js
  shared/constants/search.js
  shared/constants/team-building.js
  shared/constants/types/chat2/index.js
  shared/constants/types/team-building.js
  shared/reducers/team-building.js
  shared/team-building/container.js
  shared/team-building/index.js
  shared/team-building/user-result.js
Due: eslint, flow

ignore link 98 of ajar's sigchain, which was a bad PGP update
  go/libkb/chain_link.go
Due: none

urg, get the name right
  go/libkb/chain_link.go
Due: none

mem fixed
  go/bind/extension.go
  shared/react-native/ios/KeybaseShare/ConversationViewController.m
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

c
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
Due: none

multi
  go/bind/extension.go
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

check file url in preview
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

movie
  go/bind/extension.go
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

remove requestStatusNotification
  shared/actions/notifications.js
Due: eslint, flow

Add more notification types to listen to and reload accounts on (#13520)
  shared/actions/notifications.js
Due: eslint, flow

sendPayment should set quickReturn to true
  shared/actions/wallets.js
Due: eslint, flow

video works
  go/bind/extension.go
  go/chat/attachments/s3.go
  go/chat/attachments/store.go
  go/chat/sender.go
  go/libcmdline/cmdline.go
  go/libkb/config.go
  go/libkb/env.go
  go/libkb/interfaces.go
  go/service/main.go
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

dont read full attachment in putSingle
  go/chat/attachments/s3.go
Due: none

fix small teams
  go/bind/extension.go
  go/chat/storage/inbox.go
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

try and use less memory
  go/bind/extension.go
  go/bind/keybase.go
  go/libkb/db.go
  go/libkb/env.go
  go/libkb/memdb.go
  shared/react-native/ios/KeybaseShare/ConversationViewController.m
Due: none

plumb through the head merkle root
  go/libkb/env.go
  go/libkb/interfaces.go
  go/libkb/team_stub.go
  go/protocol/keybase1/teams.go
  go/teams/audit.go
  go/teams/chain.go
  go/teams/ftl.go
  go/teams/loader.go
  go/teams/loader_test.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

spinner
  shared/react-native/ios/KeybaseShare/ConversationViewController.m
Due: none

decrease
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

config: allow clients to read indirect data blocks
  libkbfs/config_local.go
Due: none

bsplitter_simple: add a way to set dir size based on block size
  libkbfs/bsplitter_simple.go
  libkbfs/test_common.go
  test/engine_common.go
Due: none

folder_branch_ops: only check dir size on direct blocks
  libkbfs/folder_branch_ops.go
  libkbfs/kbfs_ops_test.go
Due: none

test: multi-block dir tests
  test/multi_blocks_test.go
Due: none

test: cr tests for multi-block dirs
  test/cr_complex_test.go
  test/cr_multi_blocks_test.go
  test/journal_test.go
Due: none

flow
  shared/actions/fs/platform-specific.desktop.js
Due: eslint, flow

dont read full attachment in putSingle (#13659)
  go/chat/attachments/s3.go
Due: none

fix mobile shared inbox test
  go/chat/storage/inbox_test.go
Due: none

wips
  go/teams/ftl.go
Due: none

fix seqtype checking to work without seqtypes in links
  go/protocol/keybase1/common.go
  go/teams/ftl.go
  protocol/avdl/keybase1/common.avdl
  protocol/json/keybase1/common.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

plumb through updates to latest seqno
  go/chat/teams.go
  go/libkb/interfaces.go
  go/libkb/team_stub.go
  go/teams/ftl.go
  go/teams/handler.go
  go/teams/teams.go
Due: none

get chat encryption and decryption to work via FTL
  go/chat/errors.go
  go/chat/teams.go
  go/protocol/keybase1/extras.go
Due: none

add a CLI tester for testing caching
  go/client/cmd_team.go
  go/client/cmd_team_ftl.go
  go/protocol/keybase1/teams.go
  go/service/teams.go
  go/teams/ftl.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

do not go to server if no keys needed
  go/teams/ftl.go
Due: none
