Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

skip for now
  go/chat/search_test.go
Due: none

simplefs: add a method and cmd for setting the fs debug level
  go/client/cmd_simplefs.go
  go/client/cmd_simplefs_set_debug_level.go
  go/client/simplefs_test.go
  go/kbfs/simplefs/simplefs.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

vdebug: use an rwmutex to protect the debug level
  go/libkb/vdebug.go
Due: none

vdebug: use constants for the string log levels
  go/libkb/vdebug.go
Due: none

config: make the vlog level configurable for all vlogs
  go/kbfs/libkbfs/config_local.go
  go/kbfs/libkbfs/init.go
  go/kbfs/libkbfs/interfaces.go
Due: none

Fix uses of HeaderHocHeader on nav2
  shared/teams/add-people/index.js
  shared/wallets/wallet/settings/index.js
Due: eslint, flow, prettier

WIP
  shared/package.json
Due: none

Supply secret store to prompt and unlock (#16968)
  go/engine/scankeys.go
Due: none

headline everywhere
  go/chat/commands/source.go
Due: none

Fix a couple people page TODOs in nav2 (#16950)
  shared/actions/people.js
  shared/people/todo/container.js
Due: eslint, flow, prettier

respect feature flag
  shared/fs/nav-header/desktop-banner.js
  shared/fs/nav-header/mobile-header.js
Due: eslint, flow, prettier

Avoid white screens on transition on nav2 (#16972)
  shared/router-v2/shim.native.js
Due: eslint, flow, prettier

fix headline test
  go/chat/commands_test.go
Due: none

fix headline test (#16982)
  go/chat/commands_test.go
Due: none

Fix flake in TestChatSearchInbox
  go/chat/search_test.go
Due: none

squash failed notification for unfurls
  go/bind/keybase.go
  go/chat/sender.go
  go/chat/types/interfaces.go
Due: none

don't query for aliases
  go/chat/search/indexer.go
  go/chat/search_test.go
Due: none

Fix uses of HeaderHocHeader on nav2 (#16978)
  shared/teams/add-people/index.js
  shared/wallets/wallet/settings/index.js
Due: eslint, flow, prettier

Nav deps (#16967)
  shared/package.json
  shared/router-v2/router.shared.js
  shared/yarn.lock
Due: eslint, flow, prettier

installer: Deal with a potential race in zipping up the installer logs.
  shared/desktop/app/installer.desktop.js
Due: eslint, flow, prettier

jenkins: create a Jenkins-level timeout for each test, since the Go timeout sometimes doesn't work.
  Jenkinsfile
Due: none

give Files on mobile a promotion
  shared/constants/settings.js
  shared/constants/types/settings.js
  shared/router-v2/tab-bar/index.native.js
  shared/settings/nav/index.native.js
  shared/teams/routes.js
Due: eslint, flow, prettier

no need to flag in router-v2
  shared/router-v2/tab-bar/index.native.js
Due: eslint, flow, prettier

jenkins: create a Jenkins-level timeout for each test, since the Go timeout sometimes doesn't work. (#16946)
  Jenkinsfile
Due: none

client: fix copyright date
  go/client/cmd_simplefs_set_debug_level.go
Due: none

block_retrieval_queue: don't overwrite non-nil block fetch error
  go/kbfs/libkbfs/block_retrieval_queue.go
Due: none

Fix flake in TestChatSearchInbox, fix don't query for aliases (#16981)
  go/chat/search/indexer.go
  go/chat/search_test.go
Due: none

wip
  shared/chat/conversation/info-panel/menu/container.js
  shared/chat/conversation/info-panel/menu/index.js
  shared/chat/inbox/row/small-team/index.js
  shared/react-native/android/build.gradle
  shared/react-native/android/gradle/wrapper/gradle-wrapper.properties
  shared/stories/prop-providers.js
Due: eslint, flow, prettier

Bring gear icon to adhoc convs too, add Mute option to it
  shared/chat/conversation/info-panel/menu/container.js
  shared/chat/conversation/info-panel/menu/index.js
  shared/chat/inbox/row/small-team/index.js
  shared/chat/inbox/row/small-team/top-line.js
  shared/stories/prop-providers.js
Due: eslint, flow, prettier

WIP
  shared/common-adapters/icon.native.js
Due: eslint, flow, prettier

wip
  shared/chat/header.desktop.js
  shared/chat/inbox-search/container.js
  shared/chat/inbox-search/index.js
  shared/chat/inbox/index.desktop.js
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
Due: eslint, flow, prettier

wip
  shared/chat/inbox-search/index.js
Due: eslint, flow, prettier

remove
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/input-area/normal/container.js
  shared/chat/inbox/container/index.js
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/index.native.js
  shared/chat/inbox/index.stories.js
  shared/chat/inbox/index.types.js.flow
  shared/chat/inbox/row/big-teams-label.js
  shared/chat/inbox/row/chat-inbox-header/container.js
  shared/chat/inbox/row/filter-big-team-channel/container.js
  shared/chat/inbox/row/filter-small-team/container.js
  shared/chat/inbox/row/index.js
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow, prettier
