Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

Add black bar + unreachable banner to nav2 desktop
  shared/router-v2/router.desktop.js
Due: eslint, flow, prettier

w
  go/teams/create.go
  go/teams/sig.go
  go/teams/teams.go
Due: none

android: Ensure startup still works on iOS after Android sharing fixes.
  shared/actions/platform-specific/index.native.js
Due: eslint, flow, prettier

Revert "Revert android share on cold start since it breaks iOS (#16899)"
  shared/actions/config-gen.js
  shared/actions/config/index.js
  shared/actions/json/config.json
  shared/actions/platform-specific/index.native.js
  shared/actions/platform-specific/push.native.js
  shared/constants/config.js
  shared/constants/types/config.js
  shared/react-native/android/app/src/main/java/io/keybase/ossifrage/modules/IntentHandler.java
  shared/reducers/config.js
Due: eslint, flow, prettier

ios build 65
  shared/react-native/ios/fastlane/Fastfile
Due: none

naw
  go/teams/errors.go
  go/teams/handler.go
  go/teams/member_set.go
  go/teams/rename.go
  go/teams/service_helper.go
  go/teams/teams.go
Due: none

moreisnew
  go/protocol/keybase1/user.go
  go/service/user.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Add NEW to add identities button and turn on for everyone
  shared/profile/user/index.js
  shared/util/feature-flags.desktop.js
Due: eslint, flow, prettier

make TestProofSuggestions less picky
  go/systests/profile_test.go
Due: none

Update go/service/user.go
  go/service/user.go
Due: none

recognize from:me
  go/chat/search/utils.go
  go/chat/server.go
Due: none

Fix "Profile->Add to team.." on nav1
  shared/profile/routes.js
Due: eslint, flow, prettier

test
  go/chat/search/utils_test.go
Due: none

recognize from:me (#16909)
  go/chat/search/utils.go
  go/chat/search/utils_test.go
  go/chat/server.go
Due: none

promote new rows
  shared/profile/generic/proofs-list/container.js
Due: eslint, flow, prettier

khoa
  go/teams/create.go
  go/teams/sig.go
  go/teams/teams.go
Due: none

do not show ignore option for my own TLFs
  shared/fs/common/path-item-action/layout.js
  shared/fs/common/path-item-action/menu-container.js
Due: eslint, flow, prettier

feedback
  go/systests/profile_test.go
Due: none

typo
  shared/fs/common/path-item-action/layout.js
Due: eslint, flow, prettier

fancy
  shared/profile/generic/proofs-list/container.js
Due: eslint, flow, prettier

Update profile_test.go
  go/systests/profile_test.go
Due: none

do not show ignore option for my own TLFs (#16912)
  shared/fs/common/path-item-action/layout.js
  shared/fs/common/path-item-action/menu-container.js
Due: eslint, flow, prettier

Fix invalid username permaspinner in generic proofs
  shared/profile/generic/enter-username/index.js
Due: eslint, flow, prettier

cleanup
  go/teams/teams.go
Due: none

feedback
  shared/profile/generic/proofs-list/container.js
Due: eslint, flow, prettier

Fix "Profile->Add to team.." on nav1 (#16910)
  shared/profile/routes.js
Due: eslint, flow, prettier

config_local: debugging for ios statfs
  go/kbfs/libkbfs/config_local.go
Due: none

Make TestProofSuggestions less picky (#16908)
  go/systests/profile_test.go
Due: none

bro
  go/teams/teams.go
Due: none

feedback
  go/teams/loader.go
Due: none

revert statfs
  go/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm.go
Due: none

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
