Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

Social invite support in AddMemberTx
  go/systests/teams_test.go
  go/teams/service_helper.go
  go/teams/transactions.go
Due: none

WIP
  shared/actions/provision.js
Due: eslint, flow

update completion for metacontext doc
  go/doc/context.md
Due: none

better randomization of reaction row in storybook
  shared/chat/conversation/messages/reactions-row/index.stories.js
Due: eslint, flow

use readFileSync
  shared/common-adapters/oriented-image.desktop.js
  shared/common-adapters/oriented-image.types.js.flow
Due: eslint, flow

collapseStyles over spread otherwise we get an error!
  shared/common-adapters/list.native.js
Due: eslint, flow

Use StylesCrossPlatform
  shared/common-adapters/list.js.flow
Due: flow

store reactions with messages
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
Due: eslint, flow

WIP
  shared/common-adapters/image.desktop.js
  shared/common-adapters/image.js.flow
  shared/common-adapters/image.native.js
  shared/common-adapters/index.js
  shared/login/login/routes.js
  shared/provision/code-page/index.js
  shared/provision/code-page/qr-scan.native.js
  shared/react-native/ios/Keybase/Storybook.m
  shared/stories/setup-app.native.js
Due: eslint, flow

WIP
  shared/provision/routes.js
Due: eslint, flow

add action for toggling reaction
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/reducers/chat2.js
Due: eslint, flow

enable postreaction rpc
  protocol/bin/enabled-calls.json
  protocol/js/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js
Due: eslint, flow

cleanup?
  shared/wallets/send-form/asset-input/index.js
Due: eslint, flow

use ordinals in view stuff, don't forget conversationIDKey, action for toggleMessageReaction, and hook up container for ReactionsRow
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/react-button/container.js
  shared/chat/conversation/messages/reaction-tooltip/index.js
  shared/chat/conversation/messages/reaction-tooltip/index.stories.js
  shared/chat/conversation/messages/reactions-row/container.js
  shared/chat/conversation/messages/reactions-row/index.js
  shared/chat/conversation/messages/reactions-row/index.stories.js
  shared/chat/conversation/messages/wrapper/index.types.js.flow
  shared/chat/conversation/messages/wrapper/wrapper-timestamp/container.js
  shared/chat/conversation/messages/wrapper/wrapper-timestamp/index.js
Due: eslint, flow

cr_chains: fill in paths for deleted nodes
  libkbfs/cr_chains.go
  test/edit_history_test.go
Due: none

Only use KeyHandler on desktop.
  shared/app/tab-bar/container.js
Due: eslint, flow

Use collapseStyles on desktop too just to be safe
  shared/common-adapters/list.desktop.js
Due: eslint, flow

Prefer an inner div with margin to padding
  shared/devices/device-revoke/index.js
Due: eslint, flow

have action take ordinal and connect ReactButton
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/messages/react-button/container.js
Due: eslint, flow

WIP
  shared/__mocks__/electron.js
  shared/actions/json/provision.json
  shared/actions/provision-gen.js
  shared/actions/provision.js
  shared/constants/provision.js
  shared/constants/types/provision.js
  shared/provision/error/container.js
  shared/provision/error/index.js
  shared/provision/error/index.js.flow
  shared/provision/error/index.stories.js
  shared/reducers/provision.js
Due: eslint, flow

Add blurb about showDevTools (#12732)
  shared/README.md
Due: none

dump power save block
  shared/desktop/app/index.desktop.js
Due: eslint, flow

Add the stories
  shared/chat/conversation/header-area/normal/index.stories.js
Due: eslint, flow

protocol: add simplefs method for getting quota usage
  go/client/simplefs_test.go
  go/protocol/keybase1/simple_fs.go
  go/service/simplefs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/js/rpc-gen.js
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js
Due: eslint, flow

Rewrite orientation using canvas
  shared/common-adapters/oriented-image.desktop.js
  shared/common-adapters/oriented-image.js.flow
Due: eslint, flow

Remove some comments
  shared/chat/conversation/header-area/normal/index.stories.js
Due: eslint, flow

WIP
  shared/common-adapters/button.js
  shared/common-adapters/clickable-box.js.flow
  shared/common-adapters/clickable-box.native.js
  shared/provision/select-other-device/index.native.js
  shared/react-native/ios/Keybase/Storybook.m
  shared/stories/mock-react-redux.js
  shared/stories/setup-app.native.js
Due: eslint, flow

dump power save block (#12826)
  shared/desktop/app/index.desktop.js
Due: eslint, flow

Remove extra space
  shared/fs/index.stories.js
Due: eslint, flow

review feedback from chrisnojima
  shared/common-adapters/clickable-box.desktop.js
  shared/common-adapters/index.js
  shared/common-adapters/relative-popup-hoc.desktop.js
  shared/common-adapters/tooltip.stories.js
  shared/common-adapters/with-tooltip.desktop.js
  shared/common-adapters/with-tooltip.js.flow
  shared/common-adapters/with-tooltip.native.js
  shared/fs/footer/downloads.js
Due: eslint, flow

kbfs_status: show archived bytes
  libdokan/fs.go
  libfuse/fs.go
  libkbfs/backpressure_disk_limiter.go
  libkbfs/bserver_remote.go
  libkbfs/folder_branch_status.go
  libkbfs/journal_server_test.go
  libkbfs/kbfs_ops.go
  libkbfs/quota_usage.go
Due: none

support positions
  shared/common-adapters/tooltip.desktop.js
  shared/common-adapters/tooltip.stories.js
  shared/common-adapters/with-tooltip.desktop.js
  shared/common-adapters/with-tooltip.js.flow
Due: eslint, flow

working
  protocol/bin/enabled-calls.json
  protocol/js/rpc-stellar-gen.js
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/rpc-stellar-gen.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
  shared/store/configure-store.js
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction-details/index.js
  shared/wallets/transaction/container.js
  shared/wallets/transaction/index.js
Due: eslint, flow

ah oh
  shared/common-adapters/clickable-box.js.flow
Due: flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
