Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

review feedback from jakob223 and jzila; also fix some key warnings
  shared/common-adapters/search-filter.js
  shared/fs/common/folder-view-filter-icon.js
  shared/fs/common/folder-view-filter.js
  shared/fs/common/index.stories.js
  shared/fs/common/path-item-action/menu.js
  shared/fs/common/upload-button.js
  shared/fs/nav-header/mobile-header.js
  shared/fs/top-bar/index.js
  shared/fs/top-bar/sync-toggle.js
Due: eslint, flow, prettier

replace breadcrumb in action popup with tooltip
  shared/fs/common/path-item-action/header.js
Due: eslint, flow, prettier

KBFS-4100: fix selected style in conversation list
  shared/chat/selectable-big-team-channel-container.js
  shared/chat/selectable-small-team-container.js
Due: eslint, flow, prettier

graduuate sendAttachmentToChat
  shared/__mocks__/feature-flags.js
  shared/fs/common/path-item-action/layout.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.js.flow
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

KBFS-4052: use Default icon size; shorter ignore TLF text
  shared/fs/common/open-in-system-file-manager.js
  shared/fs/common/path-item-action/index.js
  shared/fs/common/path-item-action/menu.js
  shared/fs/filepreview/header.js
Due: eslint, flow, prettier

review feedback from jakob223
  shared/fs/common/path-item-action/header.js
Due: eslint, flow, prettier

fix chat inbox search style
  shared/chat/inbox-search/index.js
Due: eslint, flow, prettier

Fix routing error when we show the push prompt
  shared/app/main.native.js
  shared/app/push-prompt.native.js
Due: eslint, flow, prettier

Remove dead code
  shared/app/main.native.js
Due: eslint, flow, prettier

un-feature-flag deleteFolder
  shared/__mocks__/feature-flags.js
  shared/fs/common/path-item-action/layout.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.js.flow
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

fix selectable in SearchFilter on desktop
  shared/common-adapters/search-filter.js
Due: eslint, flow, prettier

use the right shutdown channel
  go/kbhttp/srv.go
Due: none

use the right shutdown channel (#17200)
  go/kbhttp/srv.go
Due: none

drop indexer memory on warning
  go/bind/keybase.go
Due: none

more stuff
  go/chat/search/indexer.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

Update go/chat/search/wrapper.go
  go/chat/search/wrapper.go
Due: none

Update go/chat/search/utils.go
  go/chat/search/utils.go
Due: none

feedback
  go/chat/search/indexer.go
  go/chat/search/utils.go
  go/keybase/main.go
Due: none

feedback
  go/chat/search/constants.go
  go/chat/search/indexer.go
  go/chat/search/storage.go
  go/chat/search/utils.go
  go/chat/types/interfaces.go
  go/service/main.go
Due: none

eat this error
  go/chat/search/session.go
  go/chat/search/storage.go
Due: none

Add comments, traces
  go/contacts/contacts.go
  go/contacts/lookup.go
Due: none

Change label formatting if there are multiple comps
  go/contacts/contacts.go
  go/protocol/keybase1/extras.go
Due: none

Move bulkLookupContactsProvider to service pkg
  go/contacts/lookup.go
  go/service/contacts.go
Due: none

saerch filter to:@mention/--sent-to
  go/chat/search/utils.go
  go/chat/search/utils_test.go
  go/chat/search_test.go
  go/client/chat_api_doc.go
  go/client/chat_api_handler.go
  go/client/chat_cli_flag_utils.go
  go/client/cmd_chat_search_inbox.go
  go/client/cmd_chat_search_regexp.go
  go/protocol/chat1/common.go
  go/protocol/chat1/extras.go
  protocol/avdl/chat1/common.avdl
  protocol/json/chat1/common.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

js
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

search filter to:@mention/--sent-to (#17199)
  go/chat/search/utils.go
  go/chat/search/utils_test.go
  go/chat/search_test.go
  go/client/chat_api_doc.go
  go/client/chat_api_handler.go
  go/client/chat_cli_flag_utils.go
  go/client/cmd_chat_search_inbox.go
  go/client/cmd_chat_search_regexp.go
  go/protocol/chat1/common.go
  go/protocol/chat1/extras.go
  protocol/avdl/chat1/common.avdl
  protocol/json/chat1/common.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

kind of works
  go/chat/search/indexer.go
  go/chat/search/md.go
  go/chat/search/session.go
  go/chat/search/storage.go
  go/chat/search/utils.go
  go/libkb/db.go
  go/protocol/chat1/common.go
  go/protocol/chat1/extras.go
  protocol/avdl/chat1/common.avdl
  protocol/json/chat1/common.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

fix
  go/chat/search/storage.go
Due: none

review feedback from jzila
  shared/common-adapters/search-filter.js
Due: eslint, flow, prettier

works
  go/chat/search/constants.go
  go/chat/search/indexer.go
  go/chat/search/md.go
  go/chat/search/storage.go
  go/chat/search/utils.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/keybase/main.go
  shared/actions/chat2/index.js
  shared/constants/chat2/index.js
Due: eslint, flow, prettier

fix selectable in SearchFilter on desktop (#17198)
  shared/common-adapters/search-filter.js
Due: eslint, flow, prettier

batch
  go/chat/search/md.go
  go/chat/search/storage.go
Due: none

use the right asset for nav2 Fs icon
  shared/router-v2/tab-bar/index.native.js
Due: eslint, flow, prettier

use the right asset for nav2 Fs icon (#17211)
  shared/router-v2/tab-bar/index.native.js
Due: eslint, flow, prettier

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
