Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

don't show time-based sorting options in TLF list
  shared/constants/fs.js
  shared/constants/types/fs.js
  shared/fs/row/sort.js
  shared/fs/sortbar/container.js
  shared/fs/sortbar/sortbar.js
Due: eslint, flow, prettier

disk_block_cache: Another log line for eviction.
  go/kbfs/libkbfs/disk_block_cache.go
Due: none

Revert "Temporarily run against a kbfs-server branch PR to prove it will pass after merge"
  Jenkinsfile
Due: none

generic proofs on for admin builds (#16763)
  shared/constants/tracker2.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

Log logout hook names (#16771)
  go/chat/storage/inbox.go
  go/chat/storage/reacjis.go
  go/chat/storage/storage_blockengine.go
  go/ephemeral/init.go
  go/ephemeral/lib.go
  go/home/home.go
  go/libkb/globals.go
  go/service/main.go
  go/teams/implicit.go
Due: none

mark viewed on tab switch (#16644)
  shared/actions/people.js
  shared/router-v2/tab-bar/container.js
Due: eslint, flow, prettier

factor out SignupScreen and cleanup
  shared/signup/common.js
  shared/signup/join-or-login/index.js
  shared/signup/username/index.js
  shared/signup/username/index.stories.js
Due: eslint, flow, prettier

Remove unused accounts in UpdateAccountEntries
  go/stellar/wallet_state.go
Due: none

nil map null map
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

remove callUntyped
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

improve video display inline
  go/chat/attachment_httpsrv.go
Due: none

WIP add banners
  shared/signup/common.js
  shared/signup/device-name/index.js
  shared/signup/device-name/index.stories.js
  shared/signup/username/index.js
  shared/signup/username/index.stories.js
Due: eslint, flow, prettier

Fix lint
  go/stellar/wallet_state.go
Due: none

fix native Text underline prop
  shared/common-adapters/text.native.js
Due: eslint, flow, prettier

timetravel cli
  go/client/cmd_account_reset_cancel.go
  go/client/cmd_account_reset_timetravel.go
  go/client/commands_devel.go
  go/protocol/keybase1/account.go
  go/service/account.go
  protocol/avdl/keybase1/account.avdl
  protocol/json/keybase1/account.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fix trace stack offset for deferral
  go/libkb/util.go
Due: none

fix
  go/chat/attachment_httpsrv.go
  shared/chat/conversation/messages/attachment/image/container.js
  shared/chat/conversation/messages/wrapper/unfurl/image/index.js
  shared/constants/chat2/index.js
  shared/constants/chat2/message.js
Due: eslint, flow, prettier

enter devicename
  shared/signup/device-name/index.js
  shared/signup/device-name/index.stories.js
  shared/signup/index.stories.js
Due: eslint, flow, prettier

do this on mobile too
  shared/chat/conversation/messages/attachment/image/index.js
Due: eslint, flow, prettier

Make sure all bundle changes update wallet state (#16769)
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/wallet_state.go
Due: none

Fix bad access in previewConversationFindExisting (#16788)
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

enter email
  shared/signup/common.js
  shared/signup/email/index.js
  shared/signup/email/index.stories.js
  shared/signup/index.stories.js
Due: eslint, flow, prettier

display video attachments better on mobile (#16792)
  go/chat/attachment_httpsrv.go
  shared/chat/conversation/messages/attachment/image/container.js
  shared/chat/conversation/messages/attachment/image/index.js
  shared/chat/conversation/messages/wrapper/unfurl/image/index.js
  shared/constants/chat2/index.js
  shared/constants/chat2/message.js
Due: eslint, flow, prettier

dont check this anymore
  go/chat/convsource.go
Due: none

timetravel cli (#16790)
  go/client/cmd_account_reset_cancel.go
  go/client/cmd_account_reset_timetravel.go
  go/client/commands_devel.go
  go/protocol/keybase1/account.go
  go/service/account.go
  protocol/avdl/keybase1/account.avdl
  protocol/json/keybase1/account.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fix native Text underline prop (#16789)
  shared/common-adapters/text.native.js
Due: eslint, flow, prettier

disk_block_cache: try harder to evict during a put
  go/kbfs/libkbfs/disk_block_cache.go
Due: none

use callPromise
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

use half result
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

WIP
  shared/rn-cli.config.js
Due: eslint, flow, prettier

Add contextual logger to util/saga and teams + wallets actions
  shared/actions/chat2/index.js
  shared/actions/teams.js
  shared/actions/wallets.js
  shared/util/saga.js
Due: eslint, flow, prettier

Add some basic template nav2 headers, we can improve them later
  shared/devices/container.js
  shared/git/container.js
  shared/router-v2/header/index.desktop.js
  shared/settings/index.js
  shared/settings/routes.desktop.js
  shared/wallets/routes.js
Due: eslint, flow, prettier

forgot a file
  shared/teams/really-leave-team/index.stories.js
Due: eslint, flow, prettier

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
