Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: b8194ff9d85455a702480677ada13ac4dbe94146
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

fix header title styling
  shared/fs/container.js
  shared/router-v2/header/index.desktop.js
  shared/settings/index.js
  shared/settings/routes.desktop.js
  shared/teams/container.js
Due: eslint, flow, prettier

ui changes to system messages
  shared/chat/conversation/messages/system-added-to-team/container.js
  shared/chat/conversation/messages/system-added-to-team/index.js
  shared/chat/conversation/messages/system-joined/index.js
  shared/chat/conversation/messages/system-simple-to-complex/index.js
Due: eslint, flow, prettier

use preview
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/chat/conversation/team-mention/container.js
Due: eslint, flow, prettier

don't reorder new proof types (#17289)
  shared/profile/generic/proofs-list/container.js
Due: eslint, flow, prettier

call teamList less in new nav
  shared/actions/teams.js
  shared/constants/teams.js
Due: eslint, flow, prettier

Local support for source asset, CLI rendering (#17292)
  go/client/cmd_wallet_send_path_payment.go
  go/client/stellar_common.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/stellar.go
  go/stellar/transform.go
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

fix search delegation (#17291)
  go/chat/search/constants.go
  go/chat/search/regexp_searcher.go
  go/chat/search/utils.go
  go/chat/search_test.go
  go/chat/server.go
  go/client/chat_cli_ui.go
  go/client/cmd_chat_search_inbox.go
  go/protocol/chat1/common.go
  protocol/avdl/chat1/common.avdl
  protocol/json/chat1/common.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/chat2.js
Due: eslint, flow, prettier

call teamList less in new nav (#17313)
  shared/actions/teams.js
  shared/constants/teams.js
Due: eslint, flow, prettier

--wip-- [skip ci]
  go/kbfs/libkbfs/keybase_daemon_rpc.go
  shared/desktop/app/node.desktop.js
  shared/util/quit-helper.desktop.js
Due: eslint, flow, prettier

--wip-- [skip ci]
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

--wip-- [skip ci]
  shared/util/quit-helper.desktop.js
Due: eslint, flow, prettier

--wip-- [skip ci]
  shared/desktop/app/ctl.desktop.js
Due: eslint, flow, prettier

navigate on click on desktop
  shared/chat/conversation/team-mention/index.js
  shared/profile/user/teams/teaminfo.js
Due: eslint, flow, prettier

Highlight new inbox search.
  shared/chat/conversation-filter-input.js
Due: eslint, flow, prettier

Fix previewing team channel via mention
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

various debugging for a UID mismatch that nojima hit
  go/libkb/active_device.go
  go/libkb/nist.go
  go/service/gregor.go
Due: none

various debugging for a UID mismatch that nojima hit (#17317)
  go/libkb/active_device.go
  go/libkb/nist.go
  go/service/gregor.go
Due: none

Highlight new inbox search. (#17315)
  shared/chat/conversation-filter-input.js
Due: eslint, flow, prettier

--wip-- [skip ci]
  packaging/linux/systemd/keybase.gui.service
Due: none

Fix previewing team channel via mention (#17316)
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

Fix block conversation routing
  shared/chat/manage-channels/edit-channel.js
  shared/constants/router2.js
Due: eslint, flow, prettier

use better uid
  go/service/gregor.go
Due: none

fix header overlay issue on iphonex. fix clicks not working on android
  shared/profile/user/index.js
  shared/router-v2/router.native.js
Due: eslint, flow, prettier

Fix widget routing to tabs
  shared/actions/chat2/index.js
  shared/menubar/remote-container.desktop.js
Due: eslint, flow, prettier

make sure gregor cli is correct
  go/chat/utils/utils.go
  go/libkb/active_device.go
  go/libkb/context.go
  go/service/gregor.go
  go/service/gregor_test.go
  go/service/session.go
Due: none

fix chat send styling
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow, prettier

fix
  go/kbfs/libkbfs/keybase_daemon_rpc.go
  shared/desktop/app/node.desktop.js
Due: eslint, flow, prettier

chat button on team mentions (#17312)
  go/chat/teammentionloader.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/utils/utils.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/team-mention/container.js
  shared/chat/conversation/team-mention/index.js
  shared/constants/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/profile/user/teams/teaminfo.js
Due: eslint, flow, prettier

Mark some team read errors as permanent
  go/chat/boxer.go
Due: none

fix header title styling (#17311)
  shared/fs/container.js
  shared/profile/user/index.js
  shared/router-v2/header/index.desktop.js
  shared/router-v2/router.native.js
  shared/settings/index.js
  shared/settings/routes.desktop.js
  shared/teams/container.js
Due: eslint, flow, prettier

fix preview for team mention
  shared/actions/chat2/index.js
Due: eslint, flow, prettier

Make invite type "phone" parseable on prod
  go/protocol/keybase1/extras.go
Due: none

fix chat send styling (#17320)
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow, prettier

Fix adding yourself to a subteam with new role picker
  shared/constants/teams.js
Due: eslint, flow, prettier

doc upgrades
  packaging/linux/run_keybase
Due: none

Fix widget routing to tabs (#17319)
  shared/actions/chat2/index.js
  shared/menubar/remote-container.desktop.js
Due: eslint, flow, prettier
