Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

put a small sleep in to try and get rid of flakes
  go/chat/server_test.go
Due: none

chat_rpc: fix a few chat bugs when hitting a prod chat server
  libkbfs/chat_rpc.go
  libkbfs/kbfs_ops.go
Due: none

folder_branch_ops: fully abort chat monitoring on an error
  libkbfs/folder_branch_ops.go
Due: none

folder_branch_ops: enable notification messages
  libkbfs/folder_branch_ops.go
Due: none

kbfsedits: fix dumb read self-message error
  kbfsedits/read.go
Due: none

chat_rpc: better self channel name
  libkbfs/chat_rpc.go
Due: none

disable message length checks for non-chat convos
  go/chat/msgchecker/boxed_checker.go
  go/chat/msgchecker/plaintext_checker.go
Due: none

use bigger length for dev
  go/chat/msgchecker/boxed_checker.go
  go/chat/msgchecker/constants.go
  go/chat/msgchecker/plaintext_checker.go
Due: none

simplefs: format date in history command to align columns
  go/client/cmd_simplefs_history.go
Due: none

even bigger
  go/chat/msgchecker/constants.go
Due: none

nvm
  go/chat/msgchecker/constants.go
Due: none

fix spinner location on mobile
  shared/chat/conversation/messages/attachment/image/index.js
Due: eslint, flow

finalize api
  shared/common-adapters/badge.js.flow
  shared/common-adapters/badge.native.js
Due: eslint, flow

review feedback
  shared/fs/footer/upload-container.js
  shared/fs/footer/upload.native.js
Due: eslint, flow

client: add an "fs history" command (#12616)
  go/client/cmd_simplefs.go
  go/client/cmd_simplefs_history.go
Due: none

test
  go/chat/sender.go
  go/chat/server_test.go
Due: none

use simple for loadMessages
  shared/actions/chat2/index.js
Due: eslint, flow

use promise for load static config
  shared/actions/chat2/index.js
Due: eslint, flow

fs: PR feedback by songgao implemented
  shared/constants/types/fs.js
  shared/fs/header/container.js
Due: eslint, flow

minor api stuff
  shared/common-adapters/badge.js.flow
  shared/common-adapters/badge.native.js
  shared/common-adapters/badge.stories.js
Due: eslint, flow

raise max size of chat messages in dev channels to 1MB (#12668)
  go/chat/msgchecker/boxed_checker.go
  go/chat/msgchecker/constants.go
  go/chat/msgchecker/plaintext_checker.go
  go/chat/sender.go
  go/chat/server_test.go
Due: none

limit feedback size to 3 rows. opt into metaMap instead of taking whatever is in there
  shared/settings/feedback-container.native.js
  shared/settings/feedback.native.js
Due: eslint, flow

Badge2 for settings
  shared/common-adapters/badge.native.js
  shared/react-native/ios/Keybase/Storybook.m
  shared/settings/nav/index.native.js
Due: eslint, flow

[KBFS-3055] Folder Header Chat Buttons (#12657)
  shared/fs/header/container.desktop.js
  shared/fs/header/container.js
  shared/fs/header/container.native.js
  shared/fs/header/header.desktop.js
  shared/fs/header/header.js.flow
  shared/fs/header/header.native.js
  shared/util/kbfs.js
Due: eslint, flow

Ensure small images fill the editing space.
  shared/profile/edit-avatar/index.native.js
Due: eslint, flow

Zanderz/desktop 7149/chat img progress pt2 (#12671)
  shared/chat/conversation/messages/attachment/image/index.js
Due: eslint, flow

use platforms specific sagas and remove exporting blank implementations that are driven by config
  shared/actions/app.js
  shared/actions/chat2/index.js
  shared/actions/config.js
  shared/actions/platform-specific.desktop.js
  shared/actions/platform-specific.js.flow
  shared/actions/platform-specific.native.js
  shared/settings/advanced/container.js
Due: eslint, flow

First cut at CLI rendering, add checks to msgchecker for SENDPAYMENT
  go/chat/msgchecker/boxed_checker.go
  go/chat/msgchecker/constants.go
  go/chat/msgchecker/plaintext_checker.go
  go/client/chat_cli_rendering.go
Due: none

git hint
  go/client/cmd_git_create.go
Due: none

Fix desktop storyshots
  shared/common-adapters/badge.desktop.js
  shared/common-adapters/badge.stories.js
Due: eslint, flow

merge app actions into config actions
  shared/actions/app-gen.js
  shared/actions/app.js
  shared/actions/chat2/index.js
  shared/actions/config-gen.js
  shared/actions/config.js
  shared/actions/json/app.json
  shared/actions/json/config.json
  shared/actions/login.js
  shared/actions/platform-specific.desktop.js
  shared/actions/platform-specific.native.js
  shared/actions/profile/index.js
  shared/actions/push.js
  shared/app/index.native.js
  shared/desktop/renderer/index.desktop.js
  shared/logger/action-transformer.js
  shared/menubar/remote-container.desktop.js
  shared/reducers/config.js
  shared/store/configure-sagas.js
  shared/tracker/remote-container.desktop.js
Due: eslint, flow

WIP
  shared/actions/platform-specific.native.js
Due: eslint, flow

Fix story
  shared/search/results-list/index.stories.js
Due: eslint, flow

Do the right thing on Android.
  shared/profile/edit-avatar/index.native.js
Due: eslint, flow

Use StylesCrossPlatform
  shared/common-adapters/badge.js.flow
Due: flow

move log dumping into platform actions
  shared/actions/config.js
  shared/actions/platform-specific.desktop.js
  shared/desktop/renderer/index.desktop.js
  shared/logger/dump-log-fs.desktop.js
  shared/logger/dump-log-fs.js.flow
  shared/logger/dump-log-fs.native.js
  shared/native/notification-listeners.desktop.js
Due: eslint, flow

rekey_queue: put queue size into mode, and drop reqs when full
  libkbfs/interfaces.go
  libkbfs/mocks_test.go
  libkbfs/modes.go
  libkbfs/rekey_fsm.go
  libkbfs/rekey_queue.go
Due: none

[KBFS-3125] check for both syncingPaths and totalSyncingBytes before stopping polling
  shared/actions/fs/index.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
