Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

fix mobile blank state
  shared/chat/inbox/index.native.js
  shared/constants/chat2/index.js
Due: eslint, flow, prettier

WIP
  shared/common-adapters/icon.native.js
Due: eslint, flow, prettier

WIP
  shared/local-debug.native.js
  shared/router-v2/tab-bar/index.native.js
Due: eslint, flow, prettier

WIP
  shared/local-debug.native.js
Due: eslint, flow, prettier

WIP
  shared/settings/index.js
Due: eslint, flow, prettier

move selected index on click
  shared/actions/chat2-gen.js
  shared/actions/json/chat2.json
  shared/chat/inbox-search/container.js
  shared/chat/inbox-search/index.js
  shared/reducers/chat2.js
Due: eslint, flow, prettier

fix go tests
  go/chat/search_test.go
  go/chat/sender_test.go
  go/chat/server_test.go
  go/kbtest/chat.go
Due: none

unused
  shared/chat/header.desktop.js
Due: eslint, flow, prettier

add before:date or after:date filters to chat search (#16976)
  go/chat/search/utils.go
  go/chat/search/utils_test.go
Due: none

Override Body's font size instead. (#16992)
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow, prettier

flow issues
  shared/common-adapters/copy-text.js
  shared/common-adapters/list-item.stories.js
  shared/common-adapters/list-item2.stories.js
  shared/fs/banner/reset-banner/index.js
  shared/profile/showcase-team-offer/index.js
  shared/profile/showcased-team-info/index.js
  shared/profile/user/actions/follow-button.js
  shared/signup/common.js
  shared/signup/device-name/index.js
  shared/signup/email/index.js
  shared/signup/index.stories.js
  shared/signup/join-or-login/index.js
  shared/signup/phone-number/index.js
  shared/signup/phone-number/verify.js
  shared/signup/username/index.js
  shared/teams/invite-by-email/container.native.js
  shared/teams/invite-by-email/index.native.js
  shared/wallets/onboarding/disclaimer.js
Due: eslint, flow, prettier

no thick border on mobile secondary nobg
  shared/common-adapters/button.js
Due: eslint, flow, prettier

use css for everything button hover
  shared/common-adapters/button.css
  shared/common-adapters/button.js
  shared/common-adapters/button.stories.js
  shared/desktop/renderer/style.css
Due: eslint, flow, prettier

if there is no cause, do blank
  go/kbcrypto/nacl_sig_info.go
Due: none

if there is no cause, do blank (#17004)
  go/kbcrypto/nacl_sig_info.go
Due: none

partial impl of featureflags
  go/engine/account_reset.go
  go/engine/login_provision.go
  go/engine/login_test.go
  go/libkb/features.go
Due: none

add a merkle debug command
  go/client/commands_common.go
  go/libkb/merkle_client.go
  go/protocol/keybase1/merkle.go
  go/service/merkle.go
  protocol/avdl/keybase1/merkle.avdl
  protocol/json/keybase1/merkle.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

wallet header minwidth undefined
  shared/wallets/wallet/header/index.js
Due: eslint, flow, prettier

showGear is needed for the tray widget
  shared/chat/inbox/row/small-team/top-line.js
Due: eslint, flow, prettier

match spec
  shared/common-adapters/button.css
Due: none

Review from Cécile: add fullname to adhoc popup, fix spacing
  shared/chat/conversation/info-panel/menu/container.js
  shared/chat/conversation/info-panel/menu/index.js
  shared/chat/inbox/row/small-team/index.js
  shared/chat/inbox/row/small-team/top-line.js
  shared/stories/prop-providers.js
Due: eslint, flow, prettier

Add preset colors for iconfont crowns
  shared/common-adapters/icon.shared.js
Due: eslint, flow, prettier

Show /shh/ icon on small team avatars
  shared/chat/conversation/info-panel/menu/index.js
Due: eslint, flow, prettier

Create RolePicker2
  shared/teams/role-picker-2/index.js
  shared/teams/role-picker-2/index.stories.js
Due: eslint, flow, prettier

Use loop
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow, prettier

Add comments
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow, prettier

Dispatch thrice
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow, prettier

Use replace
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow, prettier

prefetcher: track overall prefetch status for synced requests
  go/kbfs/libkbfs/interfaces.go
  go/kbfs/libkbfs/prefetcher.go
  go/kbfs/libkbfs/prefetcher_test.go
Due: none

Re-navigate
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/reducers/wallets.js
Due: eslint, flow, prettier

Move out of component
  shared/actions/wallets.js
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow, prettier

Fix reason
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
Due: eslint, flow, prettier

Add store, saga, reducer for loading phone numbers
  protocol/bin/enabled-calls.json
  shared/actions/json/settings.json
  shared/actions/settings-gen.js
  shared/actions/settings.js
  shared/constants/settings.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
  shared/constants/types/settings.js
  shared/reducers/settings.js
Due: eslint, flow, prettier

add Add and Delete phoneNumber sagas
  shared/actions/json/settings.json
  shared/actions/settings-gen.js
  shared/actions/settings.js
  shared/reducers/settings.js
Due: eslint, flow, prettier

verifyPhoneNumber
  shared/actions/json/settings.json
  shared/actions/settings-gen.js
  shared/actions/settings.js
  shared/reducers/settings.js
Due: eslint, flow, prettier

fix device page revoke btn
  shared/devices/device-page/index.js
Due: eslint, flow, prettier

Add skin tone to reacji store
  go/chat/convsource.go
  go/chat/helper.go
  go/chat/sender.go
  go/chat/server.go
  go/chat/server_test.go
  go/chat/storage/reacjis.go
  go/engine/bootstrap.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
  go/protocol/chat1/local.go
  go/protocol/chat1/notify.go
  go/protocol/keybase1/common.go
  go/protocol/keybase1/config.go
  protocol/avdl/chat1/common.avdl
  protocol/avdl/chat1/local.avdl
  protocol/avdl/chat1/notify.avdl
  protocol/avdl/keybase1/common.avdl
  protocol/avdl/keybase1/config.avdl
  protocol/json/chat1/local.json
  protocol/json/chat1/notify.json
  protocol/json/keybase1/common.json
  protocol/json/keybase1/config.json
  shared/constants/types/rpc-chat-gen.js.flow
  shared/constants/types/rpc-gen.js.flow
Due: flow

client: better santity check for -m and -i at once (#16996)
  go/client/files.go
Due: none

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
