Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

Refactor chat stellar request integration (#13643)
  go/chat/globals/globals.go
  go/chat/types/interfaces.go
  go/chat/utils/utils.go
  go/libkb/notify_router.go
  go/protocol/chat1/chat_ui.go
  go/protocol/chat1/notify.go
  go/service/main.go
  go/stellar/loader.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/transform.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/avdl/chat1/notify.avdl
  protocol/json/chat1/chat_ui.json
  protocol/json/chat1/notify.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

Type changes
  shared/common-adapters/index.js
  shared/common-adapters/name-with-icon.js
  shared/common-adapters/usernames/container.js
  shared/common-adapters/usernames/index.js
  shared/common-adapters/usernames/index.js.flow
Due: eslint, flow

Revendor chat1, implement ChatRequestInfo (#1785)
  libkbfs/chat_rpc.go
  vendor/github.com/keybase/client/go/protocol/chat1/chat_ui.go
  vendor/github.com/keybase/client/go/protocol/chat1/notify.go
  vendor/vendor.json
Due: none

Add flow comment
  shared/common-adapters/usernames/container.js
Due: eslint, flow

test no stub on subchains
  go/libkb/sig_chain.go
  go/systests/teams_test.go
  go/systests/tracking_test.go
Due: none

Use DummyStellarLoader instead of nil check
  go/chat/sender_test.go
  go/chat/server_test.go
  go/chat/types/types.go
  go/chat/utils/utils.go
Due: none

Tighten up some props
  shared/wallets/wallet/settings/index.js
Due: eslint, flow

black bar on unexpected null notif input
  shared/actions/chat2/index.js
Due: eslint, flow

test no stub on subchains (#13614)
  go/libkb/sig_chain.go
  go/systests/teams_test.go
  go/systests/tracking_test.go
Due: none

Plumb through eof counts
  shared/engine/stats.js
  shared/reducers/config.js
  shared/util/errors.js
  shared/util/errors.js.flow
Due: eslint, flow

Show EOF
  shared/app/rpc-stats.js
  shared/engine/stats.js
Due: eslint, flow

Adjust style
  shared/app/rpc-stats.js
Due: eslint, flow

wip
  go/bind/extension.go
  go/chat/attachments/preprocess.go
  go/chat/attachments/preview.go
  go/libkb/memdb.go
  go/protocol/chat1/local.go
  go/vendor/camlistore.org/pkg/images/images.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/KeybaseShare/ConversationViewController.m
  shared/react-native/ios/KeybaseShare/KeybaseShare.entitlements
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: eslint, flow

More tweaks
  shared/app/rpc-stats.js
Due: eslint, flow

Change comparison and name
  shared/app/rpc-stats.js
Due: eslint, flow

Add safeSubmit to Settings popups
  shared/wallets/wallet/settings/popups/really-remove-account/container.js
  shared/wallets/wallet/settings/popups/remove-account/container.js
  shared/wallets/wallet/settings/popups/set-default/container.js
Due: eslint, flow

some tweaking
  shared/actions/fs/platform-specific.desktop.js
  shared/package.json
Due: eslint, flow

Add safeSubmit for currency
  shared/wallets/wallet/settings/container.js
Due: eslint, flow

Add onBack
  shared/wallets/wallet/settings/container.js
Due: eslint, flow

Include full branch name in gitPush msg when it contains slashes
  shared/chat/conversation/messages/system-git-push/index.js
Due: eslint, flow

build payment fromPrimaryAccount arg
  go/protocol/stellar1/local.go
  go/stellar/bpc.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/actions/wallets.js
  shared/constants/types/rpc-stellar-gen.js.flow
Due: eslint, flow

Use onPrimaryClick and add primaryLabel
  shared/wallets/common/enter-name-popup/index.js
  shared/wallets/common/enter-name-popup/index.stories.js
  shared/wallets/create-account/index.js
  shared/wallets/link-existing/index.js
Due: eslint, flow

EnterKeyPopup
  shared/wallets/link-existing/enter-key-popup.js
  shared/wallets/link-existing/index.js
Due: eslint, flow

Call tc.Cleanup
  go/chat/storage/inbox_test.go
Due: none

Call tc.Cleanup (#13651)
  go/chat/storage/inbox_test.go
Due: none

Call tc.Cleanup
  go/chat/storage/inbox_test.go
  go/chat/storage/storage_test.go
Due: none

More tc.Cleanup
  go/chat/storage/outbox_test.go
  go/chat/storage/version_test.go
Due: none

wip
  go/bind/extension.go
  go/libcmdline/cmdline.go
  go/libkb/config.go
  go/libkb/env.go
  go/libkb/interfaces.go
  shared/react-native/ios/Keybase.xcodeproj/project.pbxproj
  shared/react-native/ios/KeybaseShare/Info.plist
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: none

Call tc.Cleanup (#13652)
  go/chat/storage/inbox_test.go
  go/chat/storage/outbox_test.go
  go/chat/storage/storage_test.go
  go/chat/storage/version_test.go
Due: none

disable tests on ftl
  go/teams/ftl_test.go
Due: none

reenable ftl tests
  go/teams/ftl_test.go
Due: none

dedebug
  go/vendor/camlistore.org/pkg/images/images.go
Due: none

manage memory properly in darwin video preview generation
  go/chat/attachments/preview_darwin.go
Due: none

fix a bug found after app wakes up from sleep
  go/teams/ftl.go
Due: none

further cleanups
  go/teams/ftl.go
Due: none

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
