Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/ios/Keybase/git-hook
        language: script
        files: shared/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.(js|ts|tsx)$
        args: [
            '--quiet',
            '--resolve-plugins-relative-to shared'
        ]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.(js|ts|tsx)$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: 314766a2c26b7f32641addbdb0e7e451320ff1f0
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Better image preview (#25200)
  shared/chat/conversation/attachment-fullscreen/index.desktop.tsx
  shared/chat/conversation/attachment-get-titles/index.tsx
  shared/common-adapters/index-impl.tsx
  shared/common-adapters/index.d.ts
  shared/common-adapters/zoomable-image.d.ts
  shared/common-adapters/zoomable-image.desktop.tsx
  shared/common-adapters/zoomable-image.native.tsx
  shared/package.json
  shared/patches/@react-navigation+core+6.4.0.patch
  shared/yarn.lock
Due: eslint, prettier

WIP
  shared/package.json
Due: none

WIP
  rnmodules/react-native-drop-view/android/src/main/java/com/reactnativedropview/DropViewViewManager.java
  shared/common-adapters/drop-view.native.tsx
  shared/metro.config.js
Due: eslint, prettier

podlock
  shared/ios/Podfile.lock
Due: none

WIP
  .gitignore
  rnmodules/react-native-drop-view/android/build.gradle
  rnmodules/react-native-drop-view/android/gradle.properties
  rnmodules/react-native-drop-view/android/gradle/wrapper/gradle-wrapper.jar
  rnmodules/react-native-drop-view/android/gradle/wrapper/gradle-wrapper.properties
  rnmodules/react-native-drop-view/android/gradlew
  rnmodules/react-native-drop-view/android/gradlew.bat
  rnmodules/react-native-drop-view/android/src/main/java/com/reactnativedropview/DropViewPackage.java
  rnmodules/react-native-drop-view/android/src/main/java/com/reactnativedropview/DropViewViewManager.java
  rnmodules/react-native-drop-view/lib/commonjs/index.js
  rnmodules/react-native-drop-view/lib/commonjs/index.js.map
  rnmodules/react-native-drop-view/lib/module/index.js
  rnmodules/react-native-drop-view/lib/module/index.js.map
  rnmodules/react-native-drop-view/lib/typescript/index.d.ts
  rnmodules/react-native-drop-view/package.json
  rnmodules/react-native-drop-view/src/index.tsx
  rnmodules/react-native-drop-view/yarn.lock
Due: eslint, prettier

WIP
  rnmodules/react-native-drop-view/lib/commonjs/index.js
  rnmodules/react-native-drop-view/lib/commonjs/index.js.map
  rnmodules/react-native-drop-view/lib/module/index.js
  rnmodules/react-native-drop-view/lib/module/index.js.map
  rnmodules/react-native-drop-view/lib/typescript/index.d.ts
  rnmodules/react-native-drop-view/package.json
  rnmodules/react-native-drop-view/src/index.tsx
Due: eslint, prettier

check missing error type
  shared/chat/conversation/input-area/normal/platform-input.native.tsx
Due: eslint, prettier

WIP
  shared/chat/conversation/input-area/normal/platform-input.native.tsx
Due: eslint, prettier

WIP
  shared/chat/conversation/input-area/normal/platform-input.native.tsx
  shared/common-adapters/drop-view.native.tsx
Due: eslint, prettier

fix paste into input bar from clipboard (#25203)
  shared/chat/conversation/input-area/normal/platform-input.native.tsx
  shared/common-adapters/drop-view.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-drop-view/lib/module/index.js
  rnmodules/react-native-drop-view/lib/module/index.js.map
  shared/desktop/yarn-helper/index.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/.watchmanconfig
  rnmodules/react-native-kb/android/build.gradle
  rnmodules/react-native-kb/android/gradle.properties
  rnmodules/react-native-kb/android/src/main/AndroidManifest.xml
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbPackage.java
  rnmodules/react-native-kb/babel.config.js
  rnmodules/react-native-kb/ios/Kb.h
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/ios/Kb.xcodeproj/project.pbxproj
  rnmodules/react-native-kb/ios/Kb.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/package.json
  rnmodules/react-native-kb/react-native-kb.podspec
  rnmodules/react-native-kb/src/index.tsx
  rnmodules/react-native-kb/tsconfig.build.json
  rnmodules/react-native-kb/tsconfig.json
  rnmodules/react-native-kb/yarn.lock
  shared/actions/platform-specific/index.native.tsx
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/Engine.m
  shared/ios/Keybase/Utils.h
  shared/ios/Keybase/Utils.m
  shared/ios/Podfile.lock
  shared/react-native.config.js
  shared/teams/common/use-contacts.native.tsx
  shared/tsconfig.base.json
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-drop-view/lib/module/index.d.js
  rnmodules/react-native-drop-view/lib/module/index.d.js.map
  rnmodules/react-native-drop-view/lib/module/index.d.ts.map
  rnmodules/react-native-drop-view/lib/typescript/index.d.ts
  rnmodules/react-native-drop-view/package.json
  rnmodules/react-native-drop-view/src/index.d.ts
  rnmodules/react-native-drop-view/src/index.d.ts.map
  rnmodules/react-native-kb/lib/module/index.d.js
  rnmodules/react-native-kb/lib/module/index.d.js.map
  rnmodules/react-native-kb/lib/module/index.d.ts.map
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/package.json
  rnmodules/react-native-kb/src/index.d.ts
  rnmodules/react-native-kb/src/index.d.ts.map
  shared/common-adapters/drop-view.native.tsx
  shared/desktop/yarn-helper/index.tsx
  shared/override-d.ts/react-native-drop-view/index.d.ts
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/tsconfig.base.json
Due: eslint, prettier

WIP
  shared/common-adapters/drop-view.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/react-native-kb.podspec
  rnmodules/react-native-kb/src/index.tsx
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/AppDelegate.m
  shared/ios/Keybase/LogSend.h
  shared/ios/Keybase/LogSend.m
  shared/ios/Podfile.lock
  shared/native/log-send.android.tsx
  shared/native/log-send.d.ts
  shared/native/log-send.ios.tsx
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/settings/feedback/container.native.tsx
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  .gitignore
  rnmodules/react-native-kb/android/build.gradle
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  shared/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/LogSend.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/Utils.java
  shared/metro.config.js
Due: eslint, prettier

WIP
  rnmodules/react-native-drop-view/android/gradle/wrapper/gradle-wrapper.jar
  rnmodules/react-native-drop-view/android/gradle/wrapper/gradle-wrapper.properties
  rnmodules/react-native-drop-view/android/gradlew
  rnmodules/react-native-drop-view/android/gradlew.bat
Due: none

WIP
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/PushPrompt.h
  shared/ios/Keybase/PushPrompt.m
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/ios/Kb.h
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/AppDelegate.h
  shared/ios/Keybase/AppDelegate.m
  shared/ios/Keybase/NativeLogger.h
  shared/ios/Keybase/NativeLogger.m
  shared/native/logger.native.tsx
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/NativeLogger.java
Due: none

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/index.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/NativeSettings.java
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/ScreenProtector.java
  shared/constants/platform.native.tsx
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/index.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/ShareFiles.java
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/build.gradle
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/Utils.java
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/fs/platform-specific.android.tsx
  shared/actions/platform-specific/index.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/PathResolver.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/Utils.java
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/PathResolver.java
Due: none

WIP
  rnmodules/react-native-kb/android/gradle.properties
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/DarkModePrefHelper.java
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/DarkModePreference.java
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/GuiConfig.java
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/NativeLogger.java
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/ReadFileAsString.java
  rnmodules/react-native-kb/ios/Kb.h
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/lib/module/index.d.js
  rnmodules/react-native-kb/lib/module/index.d.js.map
  rnmodules/react-native-kb/lib/module/index.d.ts.map
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.d.ts
  rnmodules/react-native-kb/src/index.d.ts.map
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/fs/platform-specific.android.tsx
  shared/actions/platform-specific/index.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/KeybaseEngine.java
  shared/constants/platform.native.tsx
  shared/index.android.js
  shared/index.ios.js
  shared/ios/Keybase/AppDelegate.h
  shared/ios/Keybase/AppDelegate.m
  shared/ios/Keybase/Engine.h
  shared/ios/Keybase/Engine.m
  shared/local-debug.native.tsx
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/settings/feedback/container.native.tsx
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  shared/local-debug.native.tsx
Due: eslint, prettier

WIP
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/AppDelegate.m
Due: none

WIP
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/Storybook.h
  shared/ios/Keybase/Storybook.m
Due: rn-story-mode

WIP
  rnmodules/react-native-kb/android/build.gradle
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/index.native.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/KeybaseEngine.java
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/KeybaseEngine.java
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  shared/ios/Keybase/Engine.h
  shared/ios/Keybase/Engine.m
  shared/ios/Keybase/GoJSIBridge.h
  shared/ios/Keybase/GoJSIBridge.mm
Due: none

WIP
  rnmodules/react-native-kb/ios/Kb.h
  rnmodules/react-native-kb/ios/Kb.mm
  shared/ios/Keybase/AppDelegate.h
  shared/ios/Keybase/AppDelegate.m
  shared/ios/Keybase/Engine.h
  shared/ios/Keybase/Engine.m
Due: none

WIP
  rnmodules/react-native-kb/ios/GoJSIBridge.h
  rnmodules/react-native-kb/ios/GoJSIBridge.mm
  rnmodules/react-native-kb/ios/Kb.h
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/react-native-kb.podspec
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/engine/index.platform.native.tsx
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/Engine.h
  shared/ios/Keybase/Engine.m
  shared/ios/Keybase/Pusher.h
  shared/ios/Podfile.lock
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/cpp/cpp-adapter.cpp
  rnmodules/react-native-kb/cpp/rpc.cpp
  rnmodules/react-native-kb/cpp/rpc.h
  rnmodules/react-native-kb/ios/GoJSIBridge.mm
  rnmodules/react-native-kb/react-native-kb.podspec
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Podfile.lock
Due: none

WIP
  rnmodules/react-native-kb/ios/GoJSIBridge.h
  rnmodules/react-native-kb/ios/GoJSIBridge.mm
  rnmodules/react-native-kb/ios/Kb.h
  rnmodules/react-native-kb/ios/Kb.mm
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/index.d.ts
  rnmodules/react-native-kb/src/index.tsx
  shared/actions/platform-specific/push.native.tsx
  shared/engine/index.platform.native.tsx
  shared/override-d.ts/react-native-kb/index.d.ts
  shared/util/native-modules.native.tsx
Due: eslint, prettier

WIP
  rnmodules/react-native-kb/android/src/main/java/com/reactnativekb/KbModule.java
  rnmodules/react-native-kb/cpp/cpp-adapter.cpp
  shared/android/app/src/main/cpp/cpp-adapter.cpp
  shared/android/app/src/main/java/io/keybase/ossifrage/KBReactPackage.java
  shared/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/GoJSIBridge.java
  shared/android/app/src/main/java/io/keybase/ossifrage/modules/KeybaseEngine.java
Due: none

WIP
  rnmodules/react-native-kb/lib/module/NativeKb.js
  rnmodules/react-native-kb/lib/module/NativeKb.js.map
  rnmodules/react-native-kb/lib/module/index.js
  rnmodules/react-native-kb/lib/module/index.js.map
  rnmodules/react-native-kb/lib/typescript/NativeKb.d.ts
  rnmodules/react-native-kb/package.json
  rnmodules/react-native-kb/src/NativeKb.ts
  rnmodules/react-native-kb/src/index.tsx
  rnmodules/react-native-kb/yarn.lock
  shared/ios/Keybase.xcodeproj/project.pbxproj
  shared/ios/Keybase/AppDelegate.mm
  shared/ios/Podfile
  shared/ios/Podfile.lock
  shared/package.json
  shared/patches/@types+react-native+0.66.16.patch
  shared/patches/expo-image-picker+12.0.2.patch
  shared/todo.txt
  shared/yarn.lock
Due: eslint, prettier

WIP
  shared/ios/Podfile.lock
  shared/package.json
Due: none
