Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Prefetch unfurls while typing (#14972)
  go/chat/server.go
  go/chat/types/interfaces.go
  go/chat/types/types.go
  go/chat/unfurl/packager.go
  go/chat/unfurl/scraper.go
  go/chat/unfurl/unfurler.go
  go/chat/unfurl/unfurler_test.go
  go/chat/unfurl/utils.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/input-area/normal/container.js
  shared/chat/conversation/input-area/normal/index.js
  shared/chat/conversation/input-area/normal/types.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

Remove compression from gregor1.outgoing (#14977)
  go/protocol/gregor1/outgoing.go
  protocol/avdl/gregor1/outgoing.avdl
  protocol/json/gregor1/outgoing.json
Due: none

orange line gets cut off on top (#14978)
  shared/chat/conversation/messages/wrapper/index.js
  shared/chat/conversation/messages/wrapper/long-pressable/index.native.js
Due: eslint, flow

minheight for missing favicon
  shared/chat/conversation/messages/wrapper/unfurl/generic/index.js
Due: eslint, flow

WIP (#14966)
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/config-gen.js
  shared/actions/dev-gen.js
  shared/actions/devices-gen.js
  shared/actions/entities-gen.js
  shared/actions/fs-gen.js
  shared/actions/git-gen.js
  shared/actions/gregor-gen.js
  shared/actions/login-gen.js
  shared/actions/notifications-gen.js
  shared/actions/people-gen.js
  shared/actions/pinentry-gen.js
  shared/actions/profile-gen.js
  shared/actions/provision-gen.js
  shared/actions/push-gen.js
  shared/actions/route-tree-gen.js
  shared/actions/search-gen.js
  shared/actions/settings-gen.js
  shared/actions/signup-gen.js
  shared/actions/team-building-gen.js
  shared/actions/teams-gen.js
  shared/actions/tracker-gen.js
  shared/actions/unlock-folders-gen.js
  shared/actions/users-gen.js
  shared/actions/waiting-gen.js
  shared/actions/wallets-gen.js
  shared/desktop/yarn-helper/action-creator-creator.js
  shared/engine/index.js
Due: eslint, flow

Increase header font size on mobile.
  shared/chat/conversation/header-area/normal/index.native.js
  shared/common-adapters/header-hoc.native.js
  shared/common-adapters/usernames/index.js
  shared/fs/header/header.native.js
Due: eslint, flow

Increase header font size on mobile. (#14983)
  shared/chat/conversation/header-area/normal/index.native.js
  shared/common-adapters/header-hoc.native.js
  shared/common-adapters/usernames/index.js
  shared/fs/header/header.native.js
Due: eslint, flow

enable imptofu dev - cli (#14958)
  go/client/cmd_email.go
  go/client/cmd_phone_number.go
  go/client/commands_common.go
  go/client/commands_devel.go
  go/libkb/features.go
  go/libkb/loaduser.go
  go/libkb/resolve.go
Due: none

Better error message on self follow attempt
  go/engine/track.go
  go/engine/track_test.go
Due: none

wip
  go/protocol/chat1/chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/chat/confirm-payment/index.js
  shared/chat/confirm-payment/index.stories.js
  shared/constants/types/chat2/index.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

React redux 6 / strict mode / small deps (#14943)
  shared/desktop/renderer/container.desktop.js
  shared/devices/index.stories.js
  shared/flow-typed/npm/moment_v2.x.x.js
  shared/package.json
  shared/yarn.lock
Due: eslint, flow

previous commit broke pgp behavior for website signups
  go/engine/pgp_import_key.go
Due: none

WIP
  protocol/bin/enabled-calls.json
  shared/actions/profile/pgp.js
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

Fix hint text placeholder on Android passphrase prompt
  shared/provision/passphrase/index.native.js
Due: eslint, flow

Nudge timestamp on mobile.
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

Render canceled Stellar requests
  shared/chat/conversation/messages/account-payment/container.js
  shared/constants/chat2/message.js
Due: eslint, flow

Don't delete the request when it's canceled
  shared/actions/wallets.js
  shared/constants/types/chat2/message.js
Due: eslint, flow

Don't show the send button if the request was canceled
  shared/chat/conversation/messages/account-payment/container.js
Due: eslint, flow

WIP
  shared/constants/types/profile.js
  shared/profile/index.stories.js
  shared/profile/pgp/add.desktop.js
  shared/profile/pgp/add.js.flow
  shared/profile/pgp/add.native.js
  shared/profile/pgp/finished-generating-pgp.desktop.js
  shared/profile/pgp/finished-generating-pgp.js.flow
  shared/profile/pgp/finished-generating-pgp.native.js
  shared/profile/pgp/generating-pgp.desktop.js
  shared/profile/pgp/generating-pgp.js.flow
  shared/profile/pgp/generating-pgp.native.js
  shared/profile/pgp/index.js
  shared/profile/pgp/index.stories.js
  shared/profile/pgp/prove-pgp-choice.desktop.js
  shared/profile/pgp/prove-pgp-choice.js.flow
  shared/profile/pgp/prove-pgp-choice.native.js
  shared/profile/pgp/prove-pgp-import.desktop.js
  shared/profile/pgp/prove-pgp-import.js.flow
  shared/profile/pgp/prove-pgp-import.native.js
  shared/profile/pgp/routes.js
  shared/stories/platform-stories.desktop.js
  shared/stories/storybook.desktop.js
  shared/stories/storybook.js.flow
  shared/stories/storybook.native.js
  shared/stories/storybook.shared.js
Due: eslint, flow

WIP
  shared/profile/pgp/choice.desktop.js
  shared/profile/pgp/finished.desktop.js
  shared/profile/pgp/generate.desktop.js
  shared/profile/pgp/import.desktop.js
  shared/profile/pgp/index.stories.desktop.js
  shared/profile/pgp/info.desktop.js
  shared/profile/pgp/routes.desktop.js
  shared/profile/pgp/routes.js.flow
  shared/profile/pgp/routes.native.js
Due: eslint, flow

Nudge timestamp on mobile. (#14987)
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

works
  go/chat/server.go
  go/client/chat_ui.go
  go/libkb/interfaces.go
  go/protocol/chat1/chat_ui.go
  go/service/remote_chat_ui.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/bin/enabled-calls.json
  protocol/json/chat1/chat_ui.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/confirm-payment/index.js
  shared/chat/routes.js
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/chat2.js
Due: eslint, flow

review
  shared/common-adapters/copy-text.js
  shared/common-adapters/index.js
  shared/profile/index.desktop.js
  shared/profile/index.native.js
  shared/profile/user-actions.js
Due: eslint, flow

Reset wallet state on logout
  go/service/main.go
  go/stellar/wallet_state.go
Due: none

Include Details in WalletState.
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/wallet_state.go
Due: none

Tests pass with page 0 of recent payments in wallet state
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

Attempt to include balances in WalletState
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none

Fix Balances for tests
  go/stellar/wallet_state.go
Due: none

Add update notifications
  go/libkb/notify_router.go
  go/protocol/stellar1/notify.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/notify.avdl
  protocol/json/stellar1/notify.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Comment
  go/stellar/wallet_state.go
Due: none

Send notification when pending payments change
  go/stellar/wallet_state.go
Due: none

Working on notifications
  go/stellar/wallet_state.go
Due: none

Change detection
  go/stellar/wallet_state.go
Due: none

Tests pass with PendingPayments in WalletState
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
Due: none
