Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

Stop using the prerelease CNAME for S3 (#16630)
  packaging/prerelease/build_app.sh
Due: none

WIP
  shared/router-v2/header/index.desktop.js
  shared/router-v2/router.desktop.js
Due: eslint, flow, prettier

more debugging on sending logout notifications (#16650)
  go/libkb/connmgr.go
  go/libkb/notify_router.go
Due: none

Revert "Stop using the prerelease CNAME for S3 (#16630)"
  packaging/prerelease/build_app.sh
Due: none

Remove extra slash
  packaging/prerelease/build_app.sh
Due: none

Stop using cname: Remove extra slash in s3host
  packaging/prerelease/build_app.sh
Due: none

Stop using cname: Remove extra slash in s3host (#16653)
  packaging/prerelease/build_app.sh
Due: none

Always show nav buttons, not only on hover
  shared/desktop/app/main-window.desktop.js
  shared/desktop/remote/sync-browser-window.desktop.js
Due: eslint, flow, prettier

fixes
  shared/router-v2/header/index.desktop.js
  shared/teams/team/container.js
  shared/teams/team/nav-header/index.js
Due: eslint, flow, prettier

WIP
  shared/router-v2/router.desktop.js
Due: eslint, flow, prettier

cleanup
  shared/router-v2/router.desktop.js
  shared/teams/main/header.js
Due: eslint, flow, prettier

picker icons for all types (#16645)
  go/externals/icon.go
  go/service/user.go
Due: none

protect add proof flow (#16651)
  shared/actions/profile/proofs.js
Due: eslint, flow, prettier

Catch errors in the reloadable wallet disclaimer check (#16562)
  shared/actions/wallets.js
Due: eslint, flow, prettier

WIP
  shared/common-adapters/overlay/index.desktop.js
  shared/common-adapters/relative-popup-hoc.desktop.js
  shared/profile/revoke/index.js
  shared/profile/user/index.js
  shared/router-v2/router.desktop.js
Due: eslint, flow, prettier

Add a fail test for PrimeSecretStore
  go/libkb/secret_store.go
  go/libkb/secret_store_file_test.go
Due: none

Add PrimeSecretStore to signup and (self)provisioning engines
  go/engine/login_provision.go
  go/engine/selfprovision.go
  go/engine/signup.go
Due: none

Add libkb.PrimeSecretStore
  go/libkb/secret_store.go
  go/libkb/secret_store_darwin_test.go
Due: none

Changed how clearing is done
  go/libkb/secret_store.go
Due: none

Refactor prime func to operate on SecretStoreAll arg
  go/libkb/secret_store.go
  go/libkb/secret_store_darwin_test.go
  go/libkb/secret_store_file_test.go
  go/libkb/secret_store_test.go
Due: none

fix TLF permission at TLF root in destination-picker
  shared/fs/common/index.js
  shared/fs/common/index.stories.js
  shared/fs/common/load-path-metadata-when-needed.js
  shared/fs/container.js
  shared/fs/destination-picker/index.js
Due: eslint, flow, prettier

fix TLF permission at TLF root in destination-picker (#16657)
  shared/fs/common/index.js
  shared/fs/common/index.stories.js
  shared/fs/common/load-path-metadata-when-needed.js
  shared/fs/container.js
  shared/fs/destination-picker/index.js
Due: eslint, flow, prettier

wip
  shared/chat/conversation/search/index.desktop.js
  shared/chat/conversation/search/index.stories.js
Due: eslint, flow, prettier

wip
  shared/chat/conversation/search/container.js
  shared/chat/conversation/search/index.desktop.js
  shared/chat/conversation/search/index.js.flow
  shared/chat/conversation/search/index.native.js
  shared/chat/conversation/search/index.stories.js
  shared/chat/conversation/search/index.types.js.flow
  shared/chat/index.stories.js
Due: eslint, flow, prettier

start
  shared/chat/conversation/search/container.js
  shared/chat/conversation/search/index.desktop.js
  shared/chat/conversation/search/index.js.flow
  shared/chat/conversation/search/index.native.js
  shared/chat/conversation/search/index.types.js.flow
Due: eslint, flow, prettier

wip
  shared/chat/conversation/search/index.desktop.js
  shared/chat/conversation/search/index.stories.js
  shared/chat/conversation/search/index.types.js.flow
Due: eslint, flow, prettier

enabled
  shared/chat/conversation/search/index.desktop.js
Due: eslint, flow, prettier

flow
  shared/chat/conversation/search/index.desktop.js
Due: eslint, flow, prettier

done
  shared/chat/conversation/search/index.desktop.js
Due: eslint, flow, prettier

feedback
  shared/chat/conversation/search/index.desktop.js
Due: eslint, flow, prettier

dont clear
  shared/chat/conversation/search/index.desktop.js
Due: eslint, flow, prettier

notify for content change and add refreshSubscription to SimpleFSStat
  go/kbfs/libkbfs/reporter_kbpki.go
  go/kbfs/simplefs/simplefs.go
  go/kbfs/simplefs/simplefs_test.go
  go/kbfs/tlf/id.go
  go/protocol/keybase1/simple_fs.go
  protocol/avdl/keybase1/simple_fs.avdl
  protocol/json/keybase1/simple_fs.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

restructure to have the preview component manage all viewing area
  shared/fs/filepreview/default-view.js
  shared/fs/filepreview/image-view.desktop.js
  shared/fs/filepreview/index.stories.js
  shared/fs/filepreview/normal-preview.js
  shared/fs/filepreview/text-view.js
  shared/fs/filepreview/view-container.js
Due: eslint, flow, prettier

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
