Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

use Flow.ifFlowComplainsAboutThisFunctionYouHaventHandledAllCasesInASwitch
  shared/fs/send-link-to-chat/index.js
Due: eslint, flow

WIP
  go/stellar/remote/remote.go
  go/stellar/stellar.go
Due: none

WIP
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
Due: none

only count known TODO categories against badge counts
  go/badges/badgestate.go
  go/protocol/keybase1/home.go
  protocol/avdl/keybase1/home.avdl
  protocol/json/keybase1/home.json
  shared/constants/types/rpc-gen.js
  shared/constants/types/rpc-gen.js.flow
Due: eslint, flow

comment update
  go/badges/badgestate.go
Due: none

revert unbox change
  shared/chat/inbox/container/index.js
Due: eslint, flow

revert unbox change (#15067)
  shared/chat/inbox/container/index.js
Due: eslint, flow

Fix reconnect delay logic
  go/stellar/global.go
Due: none

add extra params for swimlanes
  shared/desktop/yarn-helper/log-to-trace.js
Due: eslint, flow

WIP
  shared/desktop/yarn-helper/log-to-trace.js
Due: eslint, flow

visualize logs w/ chrome tracing (#15048)
  shared/desktop/yarn-helper/log-to-trace.js
  shared/package.json
Due: eslint, flow

Cleanup WalletState refresh (#15061)
  go/libkb/interfaces.go
  go/libkb/stellar_stub.go
  go/protocol/stellar1/common.go
  go/service/main.go
  go/stellar/global.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/common.avdl
  protocol/json/stellar1/common.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

WIP
  shared/chat/conversation/messages/wrapper/container.js
  shared/chat/conversation/messages/wrapper/index.js
  shared/constants/chat2/message.js
Due: eslint, flow

account currency request fragility (#15042)
  go/stellar/remote/remote.go
Due: none

Add context timeout on loadPayment, loadRequest
  go/stellar/loader.go
Due: none

channel suggestions! 📺
  shared/chat/conversation/input-area/normal/container.js
  shared/chat/conversation/input-area/normal/index.js
  shared/chat/conversation/input-area/normal/index.stories.js
  shared/chat/conversation/input-area/normal/types.js
  shared/constants/chat2/index.js
  shared/constants/chat2/meta.js
Due: eslint, flow

Fix test
  go/systests/ephemeral_test.go
Due: none

copy
  go/ephemeral/errors.go
Due: none

device clone test
  go/ephemeral/common_test.go
Due: none

ctime test
  go/ephemeral/common_test.go
  go/libkb/device_with_keys.go
Due: none

fix test
  go/chat/boxer_test.go
  go/ephemeral/errors.go
Due: none

Add ctime to ActiveDevice
  go/ephemeral/device_ek_storage_test.go
  go/ephemeral/lib_test.go
  go/ephemeral/team_ek_box_storage_test.go
  go/ephemeral/user_ek_box_storage_test.go
  go/libkb/active_device.go
  go/libkb/context.go
  go/libkb/device_with_keys.go
Due: none

Pipe contentCtime for ephemeral decryption
  go/chat/boxer.go
  go/chat/convsource_test.go
  go/chat/errors.go
  go/chat/keyfinder.go
  go/chat/teams.go
  go/chat/tlf.go
  go/chat/types/interfaces.go
  go/ephemeral/common.go
  go/ephemeral/errors.go
  go/ephemeral/kex2_test.go
  go/ephemeral/lib.go
  go/ephemeral/lib_test.go
  go/ephemeral/selfprovision_test.go
  go/ephemeral/team_ek_box_storage.go
  go/ephemeral/team_ek_box_storage_test.go
  go/ephemeral/team_ek_test.go
  go/ephemeral/user_ek_box_storage.go
  go/ephemeral/user_ek_box_storage_test.go
  go/ephemeral/user_ek_test.go
  go/kbtest/chat.go
  go/libkb/interfaces.go
Due: none

determine ephemeral error type
  go/ephemeral/device_ek_storage.go
  go/ephemeral/device_ek_storage_test.go
  go/ephemeral/errors.go
  go/ephemeral/team_ek_box_storage.go
  go/ephemeral/user_ek_box_storage.go
Due: none

Drop loads if full
  go/stellar/loader.go
Due: none

WIP
  shared/app/main.desktop.js
  shared/chat/inbox/container/normal.js
  shared/chat/inbox/container/remote.js
  shared/chat/inbox/row/big-teams-divider/container.js
  shared/package.json
  shared/util/memoize.js.flow
  shared/yarn.lock
Due: eslint, flow

WIP
  shared/package.json
Due: none

Check for empty paymentID
  go/stellar/loader.go
Due: none

native list styling
  shared/chat/conversation/input-area/suggestors/index.js
  shared/chat/conversation/input-area/suggestors/suggestion-list.native.js
Due: eslint, flow

Fix traces
  go/stellar/loader.go
Due: none

don't force-repoll on implicit team chat send hot path
  go/teams/handler.go
  go/teams/implicit.go
  go/teams/loader.go
  go/teams/service_helper.go
  go/teams/showcase_helper.go
  go/teams/teams.go
  go/teams/transactions.go
Due: none

better filters and missed hook
  shared/chat/conversation/input-area/normal/index.js
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow

workaround broken test, to be fixed in CORE-9677
  go/teams/loader_test.go
Due: none

there's another buggy test, and fix a bug that miles pointed out
  go/teams/loader_test.go
  go/teams/transactions.go
Due: none

have onChangeText happen more and remove debug autocorrect
  shared/chat/conversation/input-area/normal/index.js
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow

WIP
  go/libkb/notify_router.go
  go/protocol/stellar1/notify.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/transform.go
  go/stellar/wallet_state.go
  protocol/avdl/stellar1/notify.avdl
  protocol/json/stellar1/notify.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

Object value syntax
  shared/actions/wallets.js
  shared/wallets/wallet/settings/container.js
Due: eslint, flow

Transform types
  go/stellar/stellarsvc/frontend.go
  go/stellar/transform.go
  go/stellar/wallet_state.go
Due: none

clean a bunch of inline styles
  shared/chat/conversation/input-area/normal/index.js
  shared/chat/conversation/input-area/suggestors/suggestion-list.desktop.js
Due: eslint, flow
