Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

WIP
  shared/README.md
Due: none

use keybase pub for electron downloads (#13526)
  shared/README.md
  shared/package.json
  shared/yarn.lock
Due: none

Include full branch name in gitPush msg when it contains slashes (#13649)
  shared/chat/conversation/messages/system-git-push/index.js
Due: eslint, flow

Fix HMR in Storybook (#13579)
  shared/.storybook/config.js
  shared/stories/index.desktop.js
  shared/stories/index.native.js
Due: eslint, flow

dont just not start the httpsrv if pinned port is taken, use a different port
  go/chat/attachment_httpsrv.go
  go/kbhttp/srv.go
Due: none

missing
  go/chat/attachment_httpsrv.go
Due: none

action/reducer stuff
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
  shared/wallets/wallet/settings/popups/rename-account/container.js
  shared/wallets/wallet/settings/popups/rename-account/index.js
Due: eslint, flow

Add the waiting key to the promise
  shared/actions/wallets.js
Due: eslint, flow

Disable ephemeral during oneshot (#13647)
  go/ephemeral/lib.go
  go/ephemeral/lib_test.go
Due: none

typeof onUsernameClicked === 'function'
  shared/common-adapters/usernames/container.js
Due: eslint, flow

Move ConnectedProps
  shared/common-adapters/usernames/container.js
  shared/common-adapters/usernames/index.js
  shared/stories/prop-providers.js
Due: eslint, flow

use track info when generating video preview
  go/chat/attachments/preview_darwin.go
Due: none

use track info when generating video preview (#13668)
  go/chat/attachments/preview_darwin.go
Due: none

WIP
  shared/package.json
  shared/yarn.lock
Due: none

run team auditor on slow team loads (#13661)
  go/git/crypto_test.go
  go/libkb/env.go
  go/libkb/interfaces.go
  go/libkb/team_stub.go
  go/protocol/keybase1/teams.go
  go/teams/audit.go
  go/teams/chain.go
  go/teams/ftl.go
  go/teams/loader.go
  go/teams/loader_chain_test.go
  go/teams/loader_test.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Add a semicolon
  shared/desktop/renderer/style.css
Due: none

filter row styling
  shared/chat/inbox/row/filter-small-team/top-line.js
Due: eslint, flow

small team row styling
  shared/chat/inbox/row/small-team/bottom-line.js
  shared/chat/inbox/row/small-team/index.js
  shared/chat/inbox/row/small-team/top-line.js
Due: eslint, flow

WIP styling for avatars
  shared/chat/inbox/row/avatars.js
Due: eslint, flow

bottom line ellipsizing
  shared/chat/inbox/row/small-team/bottom-line.js
  shared/chat/inbox/row/small-team/index.js
Due: eslint, flow

move inboxWidth into sizes file
  shared/chat/inbox/index.desktop.js
  shared/chat/inbox/row/sizes.js
Due: eslint, flow

top line ellipsizing
  shared/chat/inbox/row/small-team/top-line.js
Due: eslint, flow

bottom line w/ meta styling WIP
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

move boom icon up on desktop
  shared/chat/inbox/row/small-team/bottom-line.js
Due: eslint, flow

Bump up relative popup
  shared/common-adapters/popup-dialog.desktop.js
  shared/common-adapters/relative-popup-hoc.desktop.js
Due: eslint, flow

center avatar in filter row
  shared/chat/inbox/row/filter-small-team/index.js
Due: eslint, flow

WIP
  shared/provision/code-page/qr-scan/index.native.js
Due: eslint, flow

ellipsize & center conv name in filter
  shared/chat/inbox/row/filter-small-team/index.js
  shared/chat/inbox/row/filter-small-team/top-line.js
Due: eslint, flow

disallow bg colors
  go/terminalescaper/escaper.go
Due: none

unfortunate
  go/terminalescaper/escaper_test.go
Due: none

Allow colors in escaped output.
  go/terminalescaper/escaper.go
  go/terminalescaper/escaper_test.go
Due: none

allow underline/bold/italics
  go/terminalescaper/escaper.go
Due: none

dont allow inbox call while logged out
  shared/actions/chat2/index.js
Due: eslint, flow

fix blackbar on saving team settings
  shared/actions/teams.js
Due: eslint, flow

flow 80
  shared/.flowconfig
  shared/actions/platform-specific/index.native.js
  shared/package.json
  shared/yarn.lock
Due: eslint, flow

add show to payload of createAccount and linkExisting actions
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/wallets/create-account/container.js
  shared/wallets/link-existing/container.js
  shared/wallets/wallet-list/container.js
Due: eslint, flow

* Allow basic formatting in escaped output
  go/terminalescaper/escaper.go
  go/terminalescaper/escaper_test.go
Due: none

Navigate to account on creation from settings
  shared/actions/wallets.js
  shared/wallets/create-account/container.js
  shared/wallets/link-existing/container.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
