Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

undo actions changes
  shared/actions/wallets.js
Due: eslint, flow

add maxBytes prop to controlled plain input
  shared/common-adapters/plain-input.desktop.js
  shared/common-adapters/plain-input.js.flow
  shared/common-adapters/plain-input.native.js
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

Add max length story
  shared/common-adapters/plain-input.stories.js
Due: eslint, flow

Fix desktop
  shared/common-adapters/plain-input.desktop.js
Due: eslint, flow

Just use Buffer.byteLength
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow

Preliminary changes to rotate during TeamSettings
  go/teams/chain.go
  go/teams/handler.go
  go/teams/rotate_test.go
  go/teams/service_helper.go
  go/teams/teams.go
Due: none

WIP
  shared/chat/conversation/list-area/normal/index.native.js
  shared/chat/conversation/messages/wrapper/exploding-height-retainer/index.native.js
  shared/chat/conversation/messages/wrapper/index.js
  shared/chat/conversation/messages/wrapper/long-pressable/index.native.js
  shared/local-debug.native.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/wrapper/exploding-meta/index.js
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

Add stories
  shared/common-adapters/plain-input.stories.js
Due: eslint, flow

Fix
  shared/react-native/ios/Keybase/Storybook.m
Due: none

WIP
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

wip
  go/chat/unfurl/scrape_generic.go
  go/chat/unfurl/scrape_giphy.go
  go/chat/unfurl/scraper.go
  go/chat/unfurl/utils.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/unfurl.json
Due: none

wip
  shared/chat/conversation/messages/unfurl/giphy/container.js
  shared/chat/conversation/messages/unfurl/giphy/index.js
  shared/chat/conversation/messages/unfurl/giphy/index.stories.js
Due: eslint, flow

works
  go/chat/unfurl/display/display.go
  go/chat/unfurl/packager.go
  go/chat/unfurl/scrape_giphy.go
  go/chat/unfurl/utils.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/unfurl.json
  shared/chat/conversation/messages/unfurl/generic/index.js
  shared/chat/conversation/messages/unfurl/giphy/container.js
  shared/chat/conversation/messages/unfurl/giphy/index.js
  shared/chat/conversation/messages/unfurl/giphy/index.stories.js
  shared/chat/conversation/messages/unfurl/index.stories.js
  shared/chat/conversation/messages/unfurl/unfurl-list/index.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

w
  go/emails/user.go
  go/emails/user_test.go
  go/protocol/keybase1/emails.go
  go/service/emails.go
  protocol/avdl/keybase1/emails.avdl
  protocol/json/keybase1/emails.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

fits
  shared/chat/conversation/messages/unfurl/giphy/container.js
  shared/chat/conversation/messages/unfurl/giphy/index.js
  shared/chat/conversation/messages/unfurl/image/index.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/placeholder/container.js
  shared/chat/conversation/messages/text/index.js
  shared/chat/conversation/messages/wrapper/index.js
  shared/chat/conversation/messages/wrapper/long-pressable/index.native.js
Due: eslint, flow

WIP
  shared/chat/inbox/row/small-team/top-line.js
  shared/constants/chat2/meta.js
  shared/styles/colors.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/wrapper/index.js
  shared/common-adapters/avatar.render.native.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/text/index.js
Due: eslint, flow

video if I am forced to do this
  go/chat/unfurl/display/display.go
  go/chat/unfurl/packager.go
  go/chat/unfurl/scrape_giphy.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/unfurl.json
  shared/chat/conversation/messages/unfurl/giphy/container.js
  shared/chat/conversation/messages/unfurl/giphy/index.js
  shared/chat/conversation/messages/unfurl/image/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

wip
  go/chat/unfurl/display/display.go
  go/chat/unfurl/packager.go
  go/chat/unfurl/scrape_giphy.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/unfurl.go
  protocol/avdl/chat1/unfurl.avdl
  protocol/json/chat1/unfurl.json
  shared/chat/conversation/messages/unfurl/giphy/container.js
  shared/chat/conversation/messages/unfurl/giphy/index.js
  shared/chat/conversation/messages/unfurl/image/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow

Next run
  shared/chat/inbox/index.stories.js
  shared/common-adapters/icon.constants.js
  shared/common-adapters/markdown/index.stories.js
  shared/common-adapters/text.meta.desktop.js
  shared/common-adapters/text.meta.native.js
  shared/constants/chat2/index.js
  shared/fs/common/path-item-action-container.js
Due: eslint, flow

yarn
  shared/yarn.lock
Due: none

simple markdown for all (#14884)
  shared/util/feature-flags.desktop.js
Due: eslint, flow

WIP
  shared/app/nav.native.js
Due: eslint, flow

WIP
  .gitignore
Due: none

only render topmost on android
  shared/app/nav.native.js
Due: eslint, flow

WIP
  shared/local-debug.native.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
