Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/react-native/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

Identify3 on for admins and mobile builds (#15966)
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.native.js
Due: eslint, flow, prettier

what's all this
  protocol/avdl/keybase1/prove_ui.avdl
Due: none

protocol
  go/protocol/keybase1/prove_ui.go
  protocol/avdl/keybase1/prove_ui.avdl
  protocol/json/keybase1/prove_ui.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

st
  go/engine/prove.go
Due: none

server prove parameters, poll for success
  go/engine/prove.go
  go/externals/proof_service_generic_social.go
  protocol/avdl/keybase1/prove_ui.avdl
Due: none

test
  go/engine/prove_help_test.go
  protocol/avdl/keybase1/prove_ui.avdl
Due: none

add checking ui
  go/client/prove_rooter_ui.go
  go/client/ui.go
  go/engine/prove.go
  go/engine/prove_help_test.go
  go/libkb/interfaces.go
  go/protocol/keybase1/prove_ui.go
  go/service/prove.go
  protocol/avdl/keybase1/prove_ui.avdl
  protocol/json/keybase1/prove_ui.json
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

markdown headings rather than mediawiki headings
  packaging/linux/README.md
Due: none

improved usage text, alphabetized options
  packaging/linux/run_keybase
Due: none

move resync to test
  go/badges/badger.go
  go/service/gregor_test.go
Due: none

move chat sync back up
  go/badges/badger.go
  go/service/gregor.go
Due: none

simpler
  go/service/gregor_test.go
Due: none

move badger notify after gregor resync
  go/service/gregor.go
Due: none

gen-deps
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
Due: none

force a sync of active device keys if they arent there in DeviceType()
  go/libkb/active_device.go
  go/stellar/transform.go
Due: none

update linux packaging readme
  CODEOWNERS
  packaging/linux/README.md
  packaging/linux/run_keybase
Due: none

chat system messages for rentetion policy changes (#15953)
  go/chat/helper.go
  go/chat/server.go
  go/chat/server_test.go
  go/client/chat_cli_rendering.go
  go/client/cmd_chat_retention.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/chat2/message.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/util/teams.js
Due: eslint, flow, prettier

WIP
  shared/common-adapters/header-hoc/index.native.js
  shared/devices/routes.js
  shared/fs/routes.js
  shared/git/container.js
  shared/git/routes.js
  shared/local-debug.native.js
  shared/profile/user/index.js
  shared/router-v2/router.native.js
  shared/router-v2/router.shared.js
  shared/router-v2/routes.js
  shared/styles/index.desktop.js
  shared/styles/index.js.flow
  shared/styles/index.native.js
Due: eslint, flow, prettier

Animation for add device options
  shared/devices/add-device/emphasis-box/index.desktop.js
  shared/devices/add-device/emphasis-box/index.js.flow
  shared/devices/add-device/emphasis-box/index.native.js
  shared/devices/add-device/index.js
  shared/people/todo/container.js
Due: eslint, flow, prettier

works
  go/chat/helper.go
  go/chat/server.go
  go/chat/utils/utils.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/bin/enabled-calls.json
  protocol/json/chat1/local.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/chat/conversation/messages/wrapper/unfurl/generic/container.js
  shared/chat/conversation/messages/wrapper/unfurl/generic/index.js
  shared/chat/conversation/messages/wrapper/unfurl/generic/index.stories.js
  shared/chat/conversation/messages/wrapper/unfurl/giphy/container.js
  shared/chat/conversation/messages/wrapper/unfurl/giphy/index.js
  shared/chat/conversation/messages/wrapper/unfurl/giphy/index.stories.js
  shared/chat/conversation/messages/wrapper/unfurl/unfurl-list/container.js
  shared/chat/conversation/messages/wrapper/unfurl/unfurl-list/index.js
  shared/chat/conversation/messages/wrapper/unfurl/unfurl-list/index.stories.js
  shared/constants/types/rpc-chat-gen.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/chat2.js
Due: eslint, flow, prettier

WIP
  shared/profile/user/index.js
Due: eslint, flow, prettier

slashes
  go/chat/commands/base.go
  go/chat/commands/collapse.go
  go/chat/commands/expand.go
  go/chat/commands/source.go
  go/chat/utils/collapses.go
Due: none

collapse test
  go/chat/utils/collapses_test.go
Due: none

force a sync of active device keys if they arent there in DeviceType() (#15970)
  go/libkb/active_device.go
  go/stellar/transform.go
Due: none

WIP
  shared/profile/user/container.js
  shared/profile/user/index.js
Due: eslint, flow, prettier

initial impl
  go/client/cmd_show_notifications.go
  go/engine/merkle_audit.go
  go/engine/merkle_audit_test.go
  go/kbfs/libkbfs/keybase_service_base.go
  go/libkb/notify_router.go
  go/protocol/chat1/notify.go
  go/protocol/keybase1/constants.go
  go/protocol/keybase1/git.go
  go/protocol/keybase1/notify_audit.go
  go/protocol/keybase1/notify_ctl.go
  go/protocol/keybase1/upk.go
  protocol/avdl/keybase1/notify_audit.avdl
  protocol/avdl/keybase1/notify_ctl.avdl
  protocol/json/keybase1/notify_audit.json
  protocol/json/keybase1/notify_ctl.json
  shared/actions/json/engine-gen.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

WIP
  shared/actions/tracker2.js
Due: eslint, flow, prettier

Added audit service to the notifications command
  go/client/cmd_show_notifications.go
Due: none

Use line height instead.
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow, prettier

Compensate for the orange line.
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow, prettier

test
  go/chat/sbs_test.go
Due: none

collapse image attachments
  go/chat/commands/source.go
  shared/chat/conversation/messages/attachment/image/container.js
  shared/chat/conversation/messages/attachment/image/index.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
Due: eslint, flow, prettier

Making frontend aware if account can make a tx, wip
  go/protocol/stellar1/local.go
  go/stellar/stellar.go
  go/stellar/transform.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/wallets/wallet/settings/container.js
  shared/wallets/wallet/settings/index.js
  shared/wallets/wallet/settings/index.stories.js
Due: eslint, flow, prettier

Path conditions:
  rn-story-mode: any of: shared/react-native/ios/Keybase/Storybook.m
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
  prettier: any of: \.js$
