Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, flow, prettier

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rn-story-mode
        name: rn-story-mode
        entry: shared/react-native/ios/Keybase/git-hook
        language: script
        files: shared/react-native/ios/Keybase/Storybook.m
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
    -   id: prettier
        name: prettier
        entry: shared/node_modules/.bin/prettier --write
        language: node
        files: \.js$
-   repo: https://github.com/keybase/pre-commit-golang.git
    rev: b8194ff9d85455a702480677ada13ac4dbe94146
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

wip
  go/chat/boxer.go
Due: none

rekey_queue: fix logging race in tests
  go/kbfs/libkbfs/rekey_queue.go
Due: none

kbfsblock: use a new prefix for temporary block IDs
  go/kbfs/kbfsblock/id.go
  go/kbfs/kbfshash/hash.go
  go/kbfs/libkbfs/block_retrieval_queue_test.go
Due: none

cr_chains: when identifying types, handle self-contained subdirs
  go/kbfs/libkbfs/cr_chains.go
  go/kbfs/test/cr_simple_test.go
Due: none

cr_chains: update comment as suggested by jzila
  go/kbfs/libkbfs/cr_chains.go
Due: none

inject meta from new conversation into map
  go/chat/server.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

inject meta from new conversation into map (#17341)
  go/chat/server.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/actions/chat2/index.js
  shared/constants/types/rpc-chat-gen.js.flow
Due: eslint, flow, prettier

role picker scroll on mobile (#17333)
  shared/teams/role-picker/index.js
Due: eslint, flow, prettier

Re-skip TestProvisionAutoreset due to flakes
  go/engine/login_test.go
Due: none

libkb: IsUserByUsernameOffline (#17334)
  go/libkb/interfaces.go
  go/libkb/loaduser.go
  go/libkb/test_common.go
  go/libkb/upak_loader_test.go
  go/uidmap/hardcoded_uids.go
  go/uidmap/hardcoded_uids_test.go
  go/uidmap/uidmap.go
Due: none

State-derived TestProvisionAutoreset timing
  go/engine/login_test.go
Due: none

Stricter team mention name checking
  go/chat/utils/utils.go
Due: none

styling
  shared/people/todo/index.js
Due: eslint, flow, prettier

fix the rest
  shared/people/todo/container.js
  shared/profile/search/bar.js
Due: eslint, flow, prettier

sync status: minor fix
  shared/constants/fs.js
Due: eslint, flow, prettier

fix showing inbox when coming from push / previous load
  shared/actions/config/index.js
  shared/actions/json/route-tree.json
  shared/actions/platform-specific/push.native.js
  shared/actions/route-tree-gen.js
  shared/router-v2/router.desktop.js
  shared/router-v2/router.native.js
  shared/router-v2/router.shared.js
  shared/router-v2/routes.js
  shared/router-v2/tab-bar/container.desktop.js
Due: eslint, flow, prettier

More linux autorestart fixes CORE-10818 (#17338)
  packaging/linux/post_install.sh
Due: none

Fix wallets navigateToAccount
  shared/actions/wallets.js
  shared/chat/inbox/row/start-new-chat.js
Due: eslint, flow, prettier

Fix wallets navigateToAccount (#17345)
  shared/actions/wallets.js
  shared/chat/inbox/row/start-new-chat.js
Due: eslint, flow, prettier

fix convert to team flow
  shared/actions/teams.js
Due: eslint, flow, prettier

WIP
  shared/actions/teams.js
Due: eslint, flow, prettier

fix convert to team flow (#17346)
  shared/actions/teams.js
Due: eslint, flow, prettier

fix double header on feedback
  shared/settings/feedback-container.native.js
  shared/settings/feedback.native.js
Due: eslint, flow, prettier

UserCard RPC
  go/engine/identify2_with_uid.go
  go/libkb/user_card.go
  go/protocol/keybase1/user.go
  go/service/user.go
  go/teams/list.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

WIP
  shared/settings/feedback-container.native.js
Due: eslint, flow, prettier

RPC with username instead of UID
  go/protocol/keybase1/user.go
  go/service/user.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
Due: none

headerleft null sentry
  shared/login/signup/error/container.js
  shared/router-v2/header/index.desktop.js
Due: eslint, flow, prettier

fix double header on feedback (#17348)
  shared/settings/feedback-container.native.js
  shared/settings/feedback.native.js
Due: eslint, flow, prettier

Feedback for after you hit the Join/Request btn on showcased team popup
  shared/profile/user/teams/teaminfo.js
Due: eslint, flow, prettier

DESKTOP-9594: Fix broken upload menu
  shared/actions/fs/common.native.js
  shared/fs/common/upload-button.js
Due: eslint, flow, prettier

dismiss keyboard when showing a floating box
  shared/common-adapters/floating-box/index.native.js
Due: eslint, flow, prettier

DESKTOP-9594: Fix broken upload menu (#17354)
  shared/actions/fs/common.native.js
  shared/fs/common/upload-button.js
Due: eslint, flow, prettier
