Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: rn-story-mode, eslint, tsc, prettier

rn-story-mode:
  name: rn-story-mode
  entry: shared/ios/Keybase/git-hook
  language: script

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet
  - --resolve-plugins-relative-to shared

tsc:
  name: tsc
  entry: node
  args:
  - --max-old-space-size=4096
  - shared/node_modules/.bin/tsc
  - -p
  - shared/tsconfig.json
  language: node
  pass_filenames: false

prettier:
  name: prettier
  entry: shared/node_modules/.bin/prettier --write
  language: node

remove proxy on styleSheetCreate objects
  shared/styles/style-sheet-proxy.tsx
Due: eslint, tsc, prettier

Add log markers
  shared/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
  shared/android/app/src/main/java/io/keybase/ossifrage/MainApplication.java
  shared/android/c++/TestBinding.cpp
  shared/engine/session-impl.tsx
  shared/index.android.js
Due: eslint, tsc, prettier

add an empty file to fix windows builds (#20768)
  shared/images/releases/.keep
Due: none

Test that chat messages are being sent
  go/stellar/batch_multi.go
  go/stellar/stellarsvc/batch_test.go
  go/stellar/stellarsvc/remote_mock_test.go
Due: none

Unified team details rpc (#20741)
  go/protocol/keybase1/teams.go
  go/service/teams.go
  go/systests/teams_test.go
  go/teams/service_helper.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.tsx
Due: eslint, tsc, prettier

Potential fix for flaky TestServiceMapLookupKnown
  go/uidmap/servicemap_test.go
Due: none

WIP
  shared/reducers/autoreset.tsx
  shared/reducers/config.tsx
Due: eslint, tsc, prettier

Create React Context in Background before Go
  shared/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
Due: none

WIP
  shared/reducers/deeplinks.tsx
  shared/reducers/devices.tsx
Due: eslint, tsc, prettier

Change test name, comment
  go/stellar/stellarsvc/batch_test.go
Due: none

gofmt
  go/service/kbfs.go
Due: none

add encrypteddb GetSecretBoxKeyWithUID (#20779)
  go/bind/extension.go
  go/chat/attachments/pendingpreviews.go
  go/chat/attachments/uploader.go
  go/chat/bots/commands.go
  go/chat/boxer_test.go
  go/chat/maps/trackstorage.go
  go/chat/search/storage.go
  go/chat/sender.go
  go/chat/storage/basebox.go
  go/chat/storage/crypt.go
  go/chat/storage/inbox.go
  go/chat/storage/outbox_files.go
  go/chat/storage/reacjis.go
  go/chat/storage/storage.go
  go/chat/storage/storage_ephemeral_purge.go
  go/contacts/cache.go
  go/contacts/phonebook.go
  go/encrypteddb/secretkeys.go
  go/engine/crypto.go
  go/engine/crypto_test.go
  go/engine/revoke_test.go
  go/libkb/active_device.go
  go/offline/rpc_cache.go
  go/service/crypto.go
  go/service/kbfs.go
  go/teambot/bot_keyer.go
  go/teams/storage/generic.go
Due: none

WIP
  shared/reducers/notifications.tsx
  shared/reducers/push.tsx
  shared/reducers/tracker2.tsx
  shared/reducers/users.tsx
  shared/reducers/waiting.tsx
Due: eslint, tsc, prettier

Create React Context in Background before Go (#20783)
  shared/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
Due: none

lint
  go/chat/convsource.go
Due: none

pin db key to uid
  go/chat/journey_card_manager.go
Due: none

persistence
  go/chat/convsource.go
  go/chat/journey_card_manager.go
  go/chat/journey_card_test.go
  go/chat/sender.go
  go/chat/sender_test.go
  go/chat/server_test.go
  go/chat/types/interfaces.go
  go/encrypteddb/db.go
  go/libkb/db.go
  go/protocol/gregor1/extras.go
  go/service/main.go
Due: none

Potential fix for flaky TestServiceMapLookupKnown (#20781)
  go/uidmap/servicemap_test.go
Due: none

UserBlocking RPC WIP
  go/protocol/keybase1/user.go
  go/service/user.go
  protocol/avdl/keybase1/user.avdl
  protocol/json/keybase1/user.json
  shared/constants/types/rpc-gen.tsx
Due: eslint, tsc, prettier

Link JSI against our Go library
  go/bind/keybase.go
  shared/.gitignore
  shared/android/app/CMakeLists.txt
  shared/android/app/build.gradle
  shared/android/app/src/main/java/io/keybase/ossifrage/MainActivity.java
  shared/android/c++/Binding.cpp
  shared/android/c++/Binding.h
  shared/android/keybaselib/build-c-headers.sh
  shared/react-native/gobuild.sh
Due: none

Add Go interop example
  shared/android/c++/Binding.cpp
  shared/index.android.js
Due: eslint, prettier

journal: return error when local conflict view doesn't exist
  go/kbfs/libkbfs/journal_manager.go
  go/kbfs/libkbfs/journal_md_ops.go
  go/kbfs/simplefs/simplefs_test.go
Due: none

cancel temp file
  go/chat/attachments/uploader.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/constants/types/rpc-chat-gen.tsx
Due: eslint, tsc, prettier

cancel temp on cancel
  protocol/bin/enabled-calls.json
  shared/actions/platform-specific/index.native.tsx
  shared/constants/types/rpc-chat-gen.tsx
Due: eslint, tsc, prettier

safety
  shared/actions/platform-specific/index.native.tsx
Due: eslint, tsc, prettier

cleanup temp files on audio cancel (#20752)
  go/chat/attachments/uploader.go
  go/chat/server.go
  go/chat/types/interfaces.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/bin/enabled-calls.json
  protocol/json/chat1/local.json
  shared/actions/platform-specific/index.native.tsx
  shared/constants/types/rpc-chat-gen.tsx
Due: eslint, tsc, prettier

Chat reducer -> makeReducer and immer 5 cleanup (#20728)
  shared/constants/chat2/meta.tsx
  shared/reducers/chat2.tsx
  shared/store/configure-store.tsx
  shared/util/container.tsx
  shared/util/make-reducer.tsx
Due: eslint, tsc, prettier

immer 5 (#20714)
  shared/constants/chat2/meta.tsx
  shared/package.json
  shared/reducers/chat2.tsx
  shared/store/configure-store.tsx
  shared/util/container.tsx
  shared/util/make-reducer.tsx
  shared/yarn.lock
Due: eslint, tsc, prettier

add missing audio attachment functionality
  shared/chat/conversation/messages/attachment/audio.tsx
  shared/constants/chat2/index.tsx
  shared/constants/chat2/message.tsx
Due: eslint, tsc, prettier

pathItems wip
  shared/actions/fs-gen.tsx
  shared/actions/json/fs.json
  shared/constants/fs.tsx
  shared/constants/types/fs.tsx
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier

immer fs: kbfsDaemonStatus/overallSyncStatus/pathItemActionMenu
  shared/actions/fs/index.tsx
  shared/constants/fs.tsx
  shared/constants/types/fs.tsx
  shared/fs/browser/rows/index.stories.tsx
  shared/fs/common/index.stories.tsx
  shared/menubar/index.stories.desktop.tsx
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier

pathItems and other cleanups
  shared/actions/fs-gen.tsx
  shared/actions/fs/index.tsx
  shared/actions/fs/platform-specific.desktop.tsx
  shared/actions/json/fs.json
  shared/actions/typed-actions-gen.tsx
  shared/constants/fs.tsx
  shared/fs/banner/public-reminder.tsx
  shared/fs/browser/container.tsx
  shared/fs/browser/destination-picker/container.tsx
  shared/fs/browser/rows/rows-container.tsx
  shared/fs/browser/rows/still-container.tsx
  shared/fs/common/folder-view-filter-icon.tsx
  shared/fs/common/folder-view-filter.tsx
  shared/fs/common/hooks.tsx
  shared/fs/common/index.stories.tsx
  shared/fs/common/last-modified-line-container.tsx
  shared/fs/common/new-folder.tsx
  shared/fs/common/open-hoc.tsx
  shared/fs/common/path-item-action/confirm-container.tsx
  shared/fs/common/path-item-action/menu-container.tsx
  shared/fs/common/path-item-icon-container.tsx
  shared/fs/common/path-item-info.tsx
  shared/fs/common/sync-status-container.tsx
  shared/fs/common/upload-button.tsx
  shared/fs/container.tsx
  shared/fs/filepreview/default-view-container.tsx
  shared/fs/filepreview/header-container.tsx
  shared/fs/filepreview/index.stories.tsx
  shared/fs/filepreview/view.tsx
  shared/fs/footer/upload-container.tsx
  shared/fs/top-bar/loading.tsx
  shared/fs/top-bar/sort-container.tsx
  shared/reducers/__tests__/fs.tsx
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier

get rid of fs reducer tests now that we don't try to reuse
  shared/reducers/__tests__/fs.tsx
Due: eslint, tsc, prettier

review feedback from jakob
  shared/fs/filepreview/index.stories.tsx
  shared/reducers/__tests__/fs.tsx
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier

immer fs (#20737)
  shared/actions/fs-gen.tsx
  shared/actions/fs/index.tsx
  shared/actions/fs/platform-specific.desktop.tsx
  shared/actions/json/fs.json
  shared/actions/typed-actions-gen.tsx
  shared/constants/fs.tsx
  shared/constants/types/fs.tsx
  shared/fs/banner/public-reminder.tsx
  shared/fs/browser/container.tsx
  shared/fs/browser/destination-picker/container.tsx
  shared/fs/browser/rows/index.stories.tsx
  shared/fs/browser/rows/rows-container.tsx
  shared/fs/browser/rows/still-container.tsx
  shared/fs/common/folder-view-filter-icon.tsx
  shared/fs/common/folder-view-filter.tsx
  shared/fs/common/hooks.tsx
  shared/fs/common/index.stories.tsx
  shared/fs/common/last-modified-line-container.tsx
  shared/fs/common/new-folder.tsx
  shared/fs/common/open-hoc.tsx
  shared/fs/common/path-item-action/confirm-container.tsx
  shared/fs/common/path-item-action/menu-container.tsx
  shared/fs/common/path-item-icon-container.tsx
  shared/fs/common/path-item-info.tsx
  shared/fs/common/sync-status-container.tsx
  shared/fs/common/upload-button.tsx
  shared/fs/container.tsx
  shared/fs/filepreview/default-view-container.tsx
  shared/fs/filepreview/header-container.tsx
  shared/fs/filepreview/index.stories.tsx
  shared/fs/filepreview/view.tsx
  shared/fs/footer/upload-container.tsx
  shared/fs/top-bar/loading.tsx
  shared/fs/top-bar/sort-container.tsx
  shared/menubar/index.stories.desktop.tsx
  shared/reducers/__tests__/fs.tsx
  shared/reducers/fs.tsx
Due: eslint, tsc, prettier

wip
  go/service/user.go
Due: none

Fixes, add cli command to list blocks
  go/client/cmd_account_lockdown.go
  go/client/cmd_blocks.go
  go/client/commands_common.go
  go/libkb/uid.go
  go/service/user.go
Due: none

Path conditions:
  rn-story-mode: any of: shared/ios/Keybase/Storybook.m
  eslint: any of: \.(js|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
  prettier: any of: \.(js|ts|tsx)$
