Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

Cleanup
  shared/common-adapters/markdown.shared.js
  shared/common-adapters/markdown.stories.js
  shared/package.json
  shared/stories/shared-stories.js
  shared/stories/storybook.shared.js
Due: eslint, flow

WIP
  .eslintrc
Due: none

Fix flow
  shared/common-adapters/text.js.flow
  shared/common-adapters/text.native.js
  shared/stories/storybook.js.flow
Due: eslint, flow

fix lint
  shared/chat/conversation/messages/reaction-tooltip/index.stories.js
  shared/chat/conversation/messages/system-joined/container.js
  shared/chat/conversation/messages/system-left/container.js
  shared/common-adapters/mention-container.js
  shared/common-adapters/oriented-image.desktop.js
  shared/search/helpers.js
  shared/search/user-input/index.desktop.js
  shared/teams/team/members-tab/member-row/container.js
  shared/wallets/send-form/choose-asset/container.js
Due: eslint, flow

WIP
  shared/desktop/app/main-window.desktop.js
Due: eslint, flow

WIP
  shared/desktop/app/main-preload.dev.js
Due: eslint, flow

store and display canceled relays similar to pending ones
  shared/constants/wallets.js
  shared/wallets/transaction/index.js
Due: eslint, flow

add ToAssertion to mock server storage and test vals
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/transform.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

avdl comments
  protocol/avdl/stellar1/local.avdl
Due: none

preserve delta
  go/stellar/transform.go
Due: none

add to PaymentDetailsLocal too
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

add claim button to sendPayment msgs if current user hasnt accepted disclaimer
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/chat/conversation/messages/account-payment/index.stories.js
  shared/constants/wallets.js
Due: eslint, flow

fix up status display
  shared/wallets/transaction/index.js
Due: eslint, flow

'Cancelable' -> 'Pending'
  shared/wallets/transaction/index.js
Due: eslint, flow

counterparty can claim this when theys set up their wallet
  shared/wallets/transaction/index.js
Due: eslint, flow

message view for canceled payments
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/chat/conversation/messages/account-payment/index.stories.js
Due: eslint, flow

icon for canceled in tx details
  shared/wallets/transaction-details/index.js
Due: eslint, flow

more tweaks
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
Due: eslint, flow

cancel + chat button cooperate
  shared/wallets/transaction/index.js
Due: eslint, flow

correct username in cancelButtonInfo and hook up cancel button
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction/container.js
Due: eslint, flow

cancel button and tooltip and service enum typing
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/chat/conversation/messages/account-payment/index.stories.js
  shared/constants/chat2/message.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
Due: eslint, flow

minor wording/color changes and remove image pending icon in favor of iconfont
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/common-adapters/icon.constants.js
  shared/images/icons/icon-transaction-pending-16.png
  shared/images/icons/icon-transaction-pending-16@2x.png
  shared/images/icons/icon-transaction-pending-16@3x.png
  shared/wallets/transaction-details/index.js
Due: eslint, flow

message popup
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/chat/conversation/messages/message-popup/payment/index.js
  shared/chat/conversation/messages/message-popup/payment/index.stories.js
Due: eslint, flow

Fix lint
  shared/common-adapters/markdown.desktop.js
  shared/common-adapters/markdown.shared.js
  shared/common-adapters/markdown.stories.js
  shared/common-adapters/text.native.js
  shared/constants/chat2/message.js
  shared/markdown/generate-emoji-parser.js
  shared/markdown/regex.js
Due: eslint, flow

remove random-seed dep
  shared/yarn.lock
Due: none

Moved markdown files to sep folder
  shared/chat/conversation/messages/react-button/index.js
  shared/chat/conversation/messages/system-added-to-team/index.js
  shared/chat/conversation/messages/system-invite-accepted/index.js
  shared/common-adapters/index.stories.js
  shared/common-adapters/markdown/index.desktop.js
  shared/common-adapters/markdown/index.js.flow
  shared/common-adapters/markdown/index.native.js
  shared/common-adapters/markdown/index.stories.js
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

Revert "Upgrade gradlew"
  shared/react-native/android/gradle/wrapper/gradle-wrapper.jar
  shared/react-native/android/gradle/wrapper/gradle-wrapper.properties
  shared/react-native/android/gradlew
Due: none

prefetcher_test: replace shutdown call with wait channel
  libkbfs/prefetcher_test.go
Due: none

prefetcher: allow caller to wait for a block prefetch to complete
  libkbfs/interfaces.go
  libkbfs/mocks_test.go
  libkbfs/prefetcher.go
  libkbfs/prefetcher_test.go
Due: none

Add drange to yarn.lock
  shared/yarn.lock
Due: none

Cleanup
  shared/common-adapters/markdown/react.js
Due: eslint, flow

redirector: find fusermount on all systems
  redirector/main.go
Due: none

Send chat message on SBS payment
  go/stellar/stellar.go
Due: none

Preliminary changes for email stuff
  go/kbtest/kbtest.go
  go/systests/phone_number_test.go
Due: none
