Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

[KBFS-3235] Connect File Data (#13667)
  shared/actions/fs/index.js
  shared/common-adapters/usernames-remote-container.js
  shared/constants/fs.js
  shared/constants/types/fs.js
  shared/fs/remote-container.js
  shared/menubar/files-container.desktop.js
  shared/menubar/files.desktop.js
  shared/menubar/index.desktop.js
  shared/menubar/remote-proxy.desktop.js
Due: eslint, flow

more logging. fix for errors on device add, go back a level and black bar. after scanning qr code remove scanner so it won't do any callbacks
  shared/actions/provision.js
  shared/provision/code-page/qr-scan/index.native.js
Due: eslint, flow

test case that exercises CORE-8859
  go/teams/ftl_test.go
Due: none

update rn fork
  shared/yarn.lock
Due: none

bump to 2.6.1
  shared/react-native/android/app/build.gradle
Due: none

review suggestion
  shared/actions/wallets.js
Due: eslint, flow

print git log in build script
  packaging/android/build_and_publish.sh
  packaging/ios/build_and_publish.sh
Due: none

print git log in build script (#13788)
  packaging/android/build_and_publish.sh
  packaging/ios/build_and_publish.sh
Due: none

test case that exercises CORE-8859 (#13786)
  go/teams/ftl_test.go
Due: none

WIP
  shared/actions/provision.js
Due: eslint, flow

support other image type in the share extension CORE-8828 (#13778)
  go/bind/extension.go
  go/chat/attachments/preprocess.go
  shared/actions/chat2/index.js
  shared/react-native/ios/KeybaseShare/ShareViewController.m
Due: eslint, flow

one more level of try
  shared/desktop/app/app-state.desktop.js
Due: eslint, flow

straggler feedback from #13667
  shared/menubar/files.desktop.js
Due: eslint, flow

widget feature flag
  shared/chat/inbox/container/remote.js
  shared/menubar/chat-container.desktop.js
  shared/menubar/index.desktop.js
  shared/util/feature-flags.desktop.js
  shared/util/feature-flags.js.flow
Due: eslint, flow

PR feedback
  shared/menubar/chat-container.desktop.js
Due: eslint, flow

fix flow for feature flags
  shared/util/feature-flags.js.flow
Due: flow

fix flow
  shared/common-adapters/usernames-remote-container.js
  shared/common-adapters/usernames/container.js
  shared/common-adapters/usernames/remote-container.js
  shared/menubar/files.desktop.js
Due: eslint, flow

Surya changes
  go/engine/track_token.go
  go/libkb/chain_link.go
  go/libkb/chain_link_v2.go
  go/libkb/delegatekey.go
  go/libkb/errors.go
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
  go/libkb/user.go
  go/teams/chain.go
  go/teams/chain_parse.go
  go/teams/chain_test.go
  go/teams/create.go
  go/teams/loader_types.go
  go/teams/rename.go
  go/teams/sig.go
  go/teams/teams.go
Due: none

Partial traversal for verifying HPrevInfos after initial pass.
  go/engine/revoke_test.go
  go/engine/user_test.go
  go/libkb/chain_link.go
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
  go/libkb/user.go
  go/tools/sigchain/main.go
Due: none

Xgess feedback
  go/libkb/chain_link.go
  go/libkb/chain_link_v2_test.go
  go/libkb/kbsig.go
  go/teams/chain.go
Due: none

hprev_info -> high_skip in the go code
  go/engine/revoke_test.go
  go/engine/user_test.go
  go/libkb/chain_link.go
  go/libkb/chain_link_v2.go
  go/libkb/chain_link_v2_test.go
  go/libkb/errors.go
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
  go/libkb/user.go
  go/teams/chain.go
  go/teams/chain_parse.go
  go/teams/chain_test.go
  go/teams/create.go
  go/teams/loader_types.go
  go/teams/rename.go
  go/teams/sig.go
  go/teams/teams.go
  go/teams/transactions.go
Due: none

Account for hardcode resets and latest-subchain-webservice-eldest
  go/libkb/chain_link.go
Due: none

Handle multisigs for teams properly
  go/systests/team_tx_test.go
  go/teams/chain.go
  go/teams/sig.go
  go/teams/teams.go
  go/teams/transactions.go
Due: none

hprev_info -> high_skip in the JSON
  go/libkb/chain_link.go
  go/libkb/chain_link_v2.go
  go/libkb/kbsig.go
  go/teams/chain_parse.go
Due: none

small fix
  go/engine/revoke_test.go
Due: none

work
  go/libkb/chain_link.go
  go/libkb/chain_link_v2.go
  go/libkb/rpc_exim.go
  go/libkb/sig_chain.go
  go/protocol/keybase1/common.go
  go/teams/chain.go
  protocol/avdl/keybase1/common.avdl
  protocol/json/keybase1/common.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

Use localChain pattern for multisig hprev tracking
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
  go/libkb/user.go
Due: none

RM dead code
  go/libkb/sig_chain.go
Due: none

type cleanup
  go/libkb/chain_link.go
  go/libkb/chain_link_v2.go
  go/libkb/kbsig.go
  go/teams/chain.go
Due: none

Test cleanup.
  go/libkb/chain_link.go
  go/libkb/chain_link_v2_test.go
  go/systests/team_tx_test.go
  go/teams/sig.go
Due: none

Adding env flag to all tcs
  go/libkb/test_common.go
  go/teams/chain_test.go
Due: none

dbg
  go/teams/chain.go
Due: none

Miles feedback
  go/teams/chain_parse.go
  go/teams/loader_types.go
  go/teams/sig.go
Due: none

work
  go/libkb/chain_link.go
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
Due: none

lint
  go/libkb/chain_link.go
  go/teams/errors.go
Due: none

typo
  go/teams/chain.go
  go/teams/loader2.go
Due: none

work
  go/libkb/chain_link.go
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
  go/libkb/user.go
  go/teams/sig.go
  go/tools/sigchain/main.go
Due: none

High skip support for transactions & rollout fixes
  go/libkb/chain_link.go
  go/libkb/chain_link_v2.go
  go/libkb/errors.go
  go/libkb/kbsig.go
  go/libkb/sig_chain.go
  go/systests/team_tx_test.go
  go/teams/chain.go
  go/teams/create.go
  go/teams/errors.go
  go/teams/loader2.go
  go/teams/rename.go
  go/teams/sig.go
  go/teams/teams.go
  go/teams/transactions.go
Due: none

w
  go/engine/cryptocurrency.go
  go/engine/prove.go
  go/engine/track_token.go
  go/engine/untrack.go
  go/libkb/chain_link_v2.go
  go/libkb/chain_link_v2_test.go
  go/libkb/features.go
  go/libkb/kbsig.go
  go/teams/create.go
  go/teams/rename.go
  go/teams/teams.go
Due: none
