Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

icon in gutter of inline payment msgs
  shared/chat/conversation/messages/account-payment/index.js
  shared/chat/conversation/messages/wrapper/index.js
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
Due: eslint, flow

icon changes
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
  shared/common-adapters/icon.constants.js
  shared/images/icons/icon-stellar-coins-stacked-16.png
  shared/images/icons/icon-stellar-coins-stacked-16@2x.png
  shared/images/icons/icon-stellar-coins-stacked-16@3x.png
Due: eslint, flow

no balance change if the payment has not completed
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/account-payment/index.js
Due: eslint, flow

WIP
  shared/yarn.lock
Due: none

fix vendor
  go/vendor/github.com/keybase/go-crypto/sha3/doc.go
  go/vendor/github.com/keybase/go-crypto/sha3/hashes.go
  go/vendor/github.com/keybase/go-crypto/sha3/keccakf.go
  go/vendor/github.com/keybase/go-crypto/sha3/register.go
  go/vendor/github.com/keybase/go-crypto/sha3/sha3.go
  go/vendor/github.com/keybase/go-crypto/sha3/shake.go
  go/vendor/github.com/keybase/go-crypto/sha3/xor.go
  go/vendor/github.com/keybase/go-crypto/sha3/xor_generic.go
  go/vendor/github.com/keybase/go-crypto/sha3/xor_unaligned.go
  go/vendor/vendor.json
Due: none

vendor triplesec 4
  go/engine/passphrase_change.go
  go/engine/signup_join.go
  go/libkb/constants.go
  go/libkb/kbsig.go
  go/libkb/passphrase_stream.go
  go/libkb/skb.go
  go/tools/ssss/main.go
  go/vendor/github.com/keybase/go-triplesec/cpu.out
  go/vendor/github.com/keybase/go-triplesec/errors.go
  go/vendor/github.com/keybase/go-triplesec/triplesec.go
  go/vendor/vendor.json
Due: none

insecure
  go/vendor/github.com/keybase/go-triplesec-insecure/errors.go
  go/vendor/github.com/keybase/go-triplesec-insecure/triplesec.go
  go/vendor/vendor.json
Due: none

w
  go/libkb/skb.go
Due: none

testfix
  go/chat/boxer_test.go
  go/chat/storage/common_test.go
  go/engine/common_test.go
  go/git/crypto_test.go
  go/saltpackkeys/saltpack_recipient_keyfinder_engine_test.go
  go/stellar/stellarsvc/service_test.go
  go/systests/teams_test.go
  go/teams/common_test.go
Due: none

fetch master first
  Jenkinsfile
Due: none

use an explicit commit ID
  Jenkinsfile
Due: none

fetch CHANGE_TARGET before trying to merge
  Jenkinsfile
Due: none

vendor triplesec 4 (#14969)
  go/chat/boxer_test.go
  go/chat/storage/common_test.go
  go/engine/common_test.go
  go/engine/passphrase_change.go
  go/engine/signup_join.go
  go/git/crypto_test.go
  go/libkb/constants.go
  go/libkb/kbsig.go
  go/libkb/passphrase_stream.go
  go/libkb/skb.go
  go/saltpackkeys/saltpack_recipient_keyfinder_engine_test.go
  go/stellar/stellarsvc/service_test.go
  go/systests/teams_test.go
  go/teams/common_test.go
  go/tools/ssss/main.go
  go/vendor/github.com/keybase/go-crypto/sha3/doc.go
  go/vendor/github.com/keybase/go-crypto/sha3/hashes.go
  go/vendor/github.com/keybase/go-crypto/sha3/keccakf.go
  go/vendor/github.com/keybase/go-crypto/sha3/register.go
  go/vendor/github.com/keybase/go-crypto/sha3/sha3.go
  go/vendor/github.com/keybase/go-crypto/sha3/shake.go
  go/vendor/github.com/keybase/go-crypto/sha3/xor.go
  go/vendor/github.com/keybase/go-crypto/sha3/xor_generic.go
  go/vendor/github.com/keybase/go-crypto/sha3/xor_unaligned.go
  go/vendor/github.com/keybase/go-triplesec-insecure/errors.go
  go/vendor/github.com/keybase/go-triplesec-insecure/triplesec.go
  go/vendor/github.com/keybase/go-triplesec/cpu.out
  go/vendor/github.com/keybase/go-triplesec/errors.go
  go/vendor/github.com/keybase/go-triplesec/triplesec.go
  go/vendor/vendor.json
Due: none

don't special-case loadDisplayCurrency
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
Due: eslint, flow

client expects avatar (#15153)
  go/externals/services_test.go
  go/protocol/keybase1/prove_common.go
  protocol/avdl/keybase1/prove_common.avdl
  protocol/json/keybase1/prove_common.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

refresh wallet account details on display currency change (#14975)
  shared/actions/wallets.js
Due: eslint, flow

WIP
  shared/chat/inbox/container/index.js
  shared/chat/inbox/container/normal.js
  shared/constants/chat2/index.js
  shared/constants/types/chat2/index.js
  shared/reducers/chat2.js
Due: eslint, flow

explicitly specify the refspec to fetch and compare for the base commit ID
  Jenkinsfile
Due: none

try again
  Jenkinsfile
Due: none

fetch base branch on every machine so we can diff
  Jenkinsfile
Due: none

return the message to broadcast from ConsumeMessage CORE-9658 (#15155)
  go/gregor/interface.go
  go/gregor/storage/mem_sm.go
Due: none

disk_cache_block_remote: always pretend the cache has space
  libkbfs/disk_block_cache_remote.go
Due: none

update deps
  go/.go_package_deps_darwin
  go/.go_package_deps_linux
  go/.go_package_deps_windows
Due: none

update gobuild.sh
  shared/react-native/gobuild.sh
Due: none

Improve messaging of set-inflation command
  go/client/cmd_wallet_set_inflation.go
Due: none

Stellar: Inflation destination RPC and CLI (#15105)
  go/client/cmd_wallet.go
  go/client/cmd_wallet_get_inflation.go
  go/client/cmd_wallet_set_inflation.go
  go/protocol/stellar1/local.go
  go/protocol/stellar1/remote.go
  go/stellar/inflation.go
  go/stellar/remote/interface.go
  go/stellar/remote/remote.go
  go/stellar/remote/remote_net.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/remote_mock_test.go
  go/systests/stellar_client_test.go
  go/vendor/github.com/keybase/stellarnet/account.go
  go/vendor/vendor.json
  protocol/avdl/stellar1/local.avdl
  protocol/avdl/stellar1/remote.avdl
  protocol/json/stellar1/local.json
  protocol/json/stellar1/remote.json
  shared/constants/types/rpc-stellar-gen.js
  shared/constants/types/rpc-stellar-gen.js.flow
Due: eslint, flow

Fix 'claim lumens' button not showing up (#15156)
  shared/chat/conversation/messages/account-payment/container.js
  shared/chat/conversation/messages/message-popup/payment/container.js
Due: eslint, flow

WIP
  shared/actions/chat2/inbox.js
  shared/actions/chat2/index.js
  shared/chat/inbox/container/index.js
  shared/chat/inbox/row/chat-filter-row/container.js
  shared/chat/inbox/row/chat-inbox-header/container.js
  shared/chat/inbox/row/filter-small-team/container.js
  shared/constants/chat2/index.js
  shared/constants/chat2/meta.js
  shared/constants/reducer.js
  shared/constants/types/chat2/index.js
  shared/reducers/chat-inbox.js
  shared/reducers/chat2.js
  shared/reducers/index.js
Due: eslint, flow

Some more MetaContext conversion (#15169)
  go/stellar/relays/relays.go
  go/stellar/remote/remote.go
  go/stellar/stellar.go
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/frontend_test.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_devel.go
  go/stellar/stellarsvc/service_test.go
  go/stellar/util.go
  go/stellar/wallet_state.go
Due: none

Update deps (#15151)
  shared/chat/conversation/input-area/user-mention-hud/mention-hud-container.js
  shared/chat/inbox/container/filtered.js
  shared/chat/inbox/container/normal.js
  shared/chat/inbox/container/remote.js
  shared/chat/inbox/row/big-teams-divider/container.js
  shared/chat/inbox/row/teams-divider/container.js
  shared/constants/types/fs.js
  shared/desktop/remote/sync-avatar-props.desktop.js
  shared/fs/common/open-hoc.js
  shared/fs/destination-picker/container.js
  shared/package.json
  shared/react-native/android/build.gradle
  shared/team-building/container.js
  shared/util/file.desktop.js
  shared/util/file.js.flow
  shared/util/file.native.js
  shared/util/memoize.js
  shared/util/memoize.js.flow
  shared/yarn.lock
Due: eslint, flow

WIP
  shared/actions/chat2/inbox.js
  shared/actions/chat2/index.js
Due: eslint, flow

make work on node 10+
  packaging/desktop/package.json
  packaging/desktop/yarn.lock
Due: none

make work on node 10+ (#15170)
  packaging/desktop/package.json
  packaging/desktop/yarn.lock
Due: none

MetaContext conversion in Preamble
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_devel.go
Due: none

Cleanup
  go/stellar/stellarsvc/frontend.go
Due: none

Remove s.mctx
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
Due: none

Fix Preamble err return position
  go/stellar/stellarsvc/frontend.go
  go/stellar/stellarsvc/service.go
  go/stellar/stellarsvc/service_devel.go
  go/stellar/stellarsvc/service_production.go
Due: none

use the better impteamname string
  go/chat/teams.go
Due: none
