Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

eslint:
  name: eslint
  entry: shared/node_modules/.bin/eslint
  language: node
  args:
  - --quiet

flow:
  name: flow
  entry: sh
  language: system
  args:
  - -c
  - cd shared && node_modules/.bin/flow

folder_branch_ops: implement Node.GetFS-based, read-only browsing
  libkbfs/data_types.go
  libkbfs/folder_block_ops.go
  libkbfs/folder_branch_ops.go
  libkbfs/interfaces.go
  libkbfs/kbfs_ops_test.go
  vendor/gopkg.in/src-d/go-billy.v4/memfs/memory.go
  vendor/gopkg.in/src-d/go-billy.v4/memfs/storage.go
  vendor/vendor.json
Due: none

data_types: "overflow" -> "negatives"
  libkbfs/data_types.go
Due: none

Allow specifying identifyBehavior for filePreview
  shared/actions/fs-gen.js
  shared/actions/fs/index.js
  shared/actions/fs/platform-specific.desktop.js
  shared/actions/json/fs.json
Due: eslint, flow

Allow specifying identifyBehavior for filePreview (#14020)
  shared/actions/fs-gen.js
  shared/actions/fs/index.js
  shared/actions/fs/platform-specific.desktop.js
  shared/actions/json/fs.json
Due: eslint, flow

libgit: autogit browses git repos directly, without a checkout
  kbpagesd/main.go
  libgit/autogit_manager.go
  libgit/autogit_manager_test.go
  libgit/autogit_node_wrappers.go
  libgit/autogit_node_wrappers_test.go
  libgit/browser.go
  libgit/repo_test.go
  libgit/rpc.go
  libgit/util.go
  libkbfs/folder_branch_ops.go
  libkbfs/node_cache.go
  libpages/root.go
Due: none

autogit: use passed-in `ctx` for making handle
  libgit/autogit_node_wrappers.go
Due: none

autogit: option of replacing "/" with ":" in branch names
  libgit/autogit_node_wrappers.go
  libgit/autogit_node_wrappers_test.go
Due: none

libgit: support for browsing branches
  libgit/autogit_node_wrappers.go
  libgit/autogit_node_wrappers_test.go
  libgit/browser.go
  libgit/browser_test.go
Due: none

node_cache: add and implement AllNodeChildren function
  libkbfs/interfaces.go
  libkbfs/mocks_test.go
  libkbfs/node_cache.go
  libkbfs/node_cache_test.go
Due: none

node_cache: rlock during AllNodeChildren
  libkbfs/node_cache.go
Due: none

folder_branch_ops: avoid identify during migration
  libkbfs/folder_branch_ops.go
Due: none

autogit: invalidate all AG nodes associated with an updated repo
  libgit/autogit_manager.go
  libgit/autogit_node_wrappers.go
Due: none

node_cache: don't wrap big lists of nodes
  libkbfs/interfaces.go
  libkbfs/node_cache.go
Due: none

folder_branch_ops: add InvalidateNodeAndChildren
  libkbfs/folder_block_ops.go
  libkbfs/folder_branch_ops.go
  libkbfs/interfaces.go
  libkbfs/kbfs_ops.go
  libkbfs/mocks_test.go
Due: none

autogit: tag all autogit contexts with a new AGID tag
  libgit/autogit_manager.go
  libgit/autogit_node_wrappers.go
Due: none

improve the attachment save option on mobile CORE-9012 (#14015)
  go/chat/server.go
  go/protocol/chat1/extras.go
  go/protocol/chat1/local.go
  protocol/avdl/chat1/local.avdl
  protocol/json/chat1/local.json
  shared/actions/chat2-gen.js
  shared/actions/chat2/index.js
  shared/actions/json/chat2.json
  shared/actions/platform-specific/index.native.js
  shared/chat/conversation/messages/attachment/file/container.js
  shared/chat/conversation/messages/attachment/image/container.js
  shared/constants/types/chat2/message.js
  shared/constants/types/rpc-chat-gen.js.flow
  shared/reducers/chat2.js
Due: eslint, flow

use cache dir for download temps
  go/chat/server.go
Due: none

Switch places that used RPC payment ID to opaque type
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/wallets/transaction-details/container.js
  shared/wallets/transaction/container.js
Due: eslint, flow

add accountID and paymentID to chat1.UIPaymentInfo
  go/protocol/chat1/chat_ui.go
  go/stellar/loader.go
  protocol/avdl/chat1/chat_ui.avdl
  protocol/json/chat1/chat_ui.json
  shared/constants/types/rpc-chat-gen.js.flow
Due: flow

add to ChatPaymentInfo and add opaque PaymentID to wallet types
  shared/constants/chat2/message.js
  shared/constants/types/chat2/message.js
  shared/constants/types/wallets.js
Due: eslint, flow

nav to tx details page and WIP load tx details without shooting ourselves in the foot
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/reducers/wallets.js
  shared/wallets/transaction-details/container.js
Due: eslint, flow

store payments in accID -> paymentID -> payment
  shared/constants/types/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

make PaymentID a string
  go/client/chat_cli_rendering.go
  go/protocol/stellar1/common.go
  go/protocol/stellar1/extras.go
  go/protocol/stellar1/local.go
  go/stellar/loader.go
  go/stellar/stellar.go
  go/stellar/stellargregor/stellargregor.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/common.avdl
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/common.json
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

add onSeeDetails to view
  shared/chat/conversation/messages/message-popup/payment/container.js
  shared/chat/conversation/messages/message-popup/payment/index.js
  shared/chat/conversation/messages/message-popup/payment/index.stories.js
Due: eslint, flow

fix payments getters to not create new lists every time
  shared/constants/wallets.js
  shared/wallets/wallet/container.js
Due: eslint, flow

update reducers and mapping fcns
  shared/actions/json/wallets.json
  shared/actions/wallets-gen.js
  shared/actions/wallets.js
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

fix payments loading state and sort txs in the view
  shared/constants/wallets.js
  shared/wallets/wallet/container.js
Due: eslint, flow

Don't use notSetValue
  shared/reducers/wallets.js
Due: eslint, flow

clear existing pending payments when we get new ones
  shared/constants/wallets.js
  shared/reducers/wallets.js
Due: eslint, flow

undo formatting changes in chat_cli_rendering (CI)
  go/client/chat_cli_rendering.go
Due: none

add loading state to account list
  shared/wallets/transaction-details/index.js
  shared/wallets/wallet-list/index.js
Due: eslint, flow

make page.oldestUnread a ptr
  go/protocol/stellar1/local.go
  go/stellar/stellarsvc/frontend.go
  protocol/avdl/stellar1/local.avdl
  protocol/json/stellar1/local.json
  shared/constants/types/rpc-stellar-gen.js.flow
Due: flow

transform paymentID -> txID for loader
  go/stellar/loader.go
  go/stellar/stellarsvc/frontend.go
Due: none

another paymentID -> txID
  go/client/chat_cli_rendering.go
Due: none

WIP
  shared/common-adapters/markdown.desktop.js
Due: eslint, flow

Allow navigation to "new wallet" dialogs from tx details
  shared/wallets/routes.js
Due: eslint, flow

Path conditions:
  eslint: any of: \.js$
  flow: any of: \.(js|flow)$
