Repository keybase/client: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, flow

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: shared/node_modules/.bin/eslint
        language: node
        files: \.js$
        args: [
            '--quiet'
        ]
    -   id: flow
        name: flow
        entry: sh
        language: system
        files: \.(js|flow)$
        args: [-c, cd shared && node_modules/.bin/flow]
-   repo: https://github.com/keybase/pre-commit-golang.git
    sha: b3408a42cc77ece991924d5f477ee3ae94371f9a
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

story fixes
  shared/chat/conversation/input-area/normal/index.stories.js
Due: eslint, flow

use showWalletsIcon on desktop too
  shared/chat/conversation/input-area/normal/platform-input.desktop.js
Due: eslint, flow

small screens too
  shared/chat/conversation/input-area/normal/platform-input.native.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/wrapper/index.js
  shared/chat/conversation/messages/wrapper/long-pressable/index.desktop.js
Due: eslint, flow

WIP
  shared/common-adapters/overlay/parent-hoc.js
Due: eslint, flow

linkify KBFS paths in chat messages
  shared/actions/fs/index.js
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/text/container.js
  shared/chat/conversation/messages/text/index.js
  shared/chat/conversation/messages/text/index.stories.js
  shared/common-adapters/markdown/index.js.flow
  shared/common-adapters/markdown/index.stories.js
  shared/common-adapters/markdown/react.js
  shared/common-adapters/markdown/shared.js
Due: eslint, flow

linkify KBFS paths in chat bigteam info-panel
  shared/chat/conversation/info-panel/header.js
  shared/chat/conversation/info-panel/index.stories.js
  shared/chat/conversation/list-area/normal/index.stories.js
  shared/chat/conversation/messages/text/container.js
  shared/chat/conversation/messages/text/index.js
  shared/chat/conversation/messages/text/index.stories.js
  shared/common-adapters/markdown/index.js.flow
  shared/fs/common/open-in-files-tab-hoc.js
Due: eslint, flow

WIP on OPENSWEEP
  go/protocol/keybase1/teams.go
  go/teams/handler.go
  go/teams/service_helper.go
  go/teams/teams.go
  protocol/avdl/keybase1/teams.avdl
  protocol/json/keybase1/teams.json
  shared/constants/types/rpc-gen.js.flow
Due: flow

retire kex1 constants
  go/libkb/constants.go
Due: none

update running ios docs
  shared/docs/ios/running.md
Due: none

dont need to repoll here probably
  go/chat/teams.go
Due: none

WIP
  shared/chat/conversation/messages/index.js
  shared/chat/conversation/messages/set-channelname/container.js
  shared/chat/conversation/messages/set-channelname/index.js
  shared/chat/conversation/messages/text/container.js
  shared/chat/conversation/messages/wrapper/container.js
  shared/chat/conversation/messages/wrapper/exploding-height-retainer/index.types.js.flow
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/react-button/index.js
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

tx details shows 'Cancelable' when status='claimable'
  shared/wallets/transaction-details/index.js
Due: eslint, flow

dont need to repoll here probably (#14879)
  go/chat/teams.go
Due: none

WIP
  shared/chat/conversation/messages/system-added-to-team/index.js
  shared/chat/conversation/messages/wrapper/container.js
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

simple markdown for all
  shared/util/feature-flags.desktop.js
Due: eslint, flow

Fix dismissing Git and Devices badges on mobile
  shared/actions/devices.js
  shared/actions/git.js
  shared/constants/devices.js
  shared/constants/git.js
Due: eslint, flow

unused import
  shared/actions/git.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/set-description/container.js
  shared/chat/conversation/messages/set-description/index.js
  shared/chat/conversation/messages/system-joined/container.js
  shared/chat/conversation/messages/system-joined/index.js
Due: eslint, flow

retire kex1 constants (#14882)
  go/libkb/constants.go
Due: none

Fix dismissing Git and Devices badges on mobile (#14885)
  shared/actions/devices.js
  shared/actions/git.js
  shared/constants/devices.js
  shared/constants/git.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/system-added-to-team/container.js
  shared/chat/conversation/messages/system-added-to-team/index.js
  shared/chat/conversation/messages/system-left/container.js
  shared/chat/conversation/messages/system-left/index.js
  shared/chat/conversation/messages/wrapper/container.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/set-description/index.js
  shared/chat/conversation/messages/system-added-to-team/container.js
  shared/chat/conversation/messages/system-added-to-team/index.js
  shared/chat/conversation/messages/system-invite-accepted/container.js
  shared/chat/conversation/messages/system-invite-accepted/index.js
  shared/chat/conversation/messages/system-joined/index.js
  shared/chat/conversation/messages/wrapper/container.js
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/wrapper/container.js
  shared/chat/conversation/messages/wrapper/index.js
Due: eslint, flow

WIP
  shared/chat/conversation/messages/placeholder/index.js
  shared/constants/chat2/message.js
Due: eslint, flow

kbfsfuse: allow journaling control in docker file
  kbfsfuse/kbfsfuse.sh
Due: none

journal_md_ops: don't check server for unmerged TLF heads
  libkbfs/journal_md_ops.go
Due: none

folder_branch_ops: check sync connectivity against mdserver
  libkbfs/folder_branch_ops.go
Due: none

WIP
  shared/actions/wallets.js
  shared/wallets/send-form/note-and-memo/index.js
Due: eslint, flow
